app-cpu-burst {
    .cpu-burst-container {
        height: calc(100vh - 220px);
        overflow: scroll;
        .customInput {
            border: none;
            width: 13vw;
            padding-left: 23px;
            background-color: #ffffff;
            margin-top: 2px;
            border-bottom: 1px solid #1d5290;
            border-radius: 0;
        }
        .input-label {
            padding: 5px 10px 5px 0px;
        }
        .ui-card {
            padding: 0px;
        }
        .card-header {
            padding: 12px;
            font-size: 14px;
            border-bottom: 1px solid #d7d7dd;
            font-weight: 700;
            i {
                color: #1d5290;
                font-size: 20px;
            }
        }
        .target-header {
            padding: 5px;
            .target-label {
                font-size: 14px;
                font-weight: 600;
                color: #1d5290;
            }
            i {
                color: #1d5290;
                font-size: 20px;
            }
        }
        .duration-card {
            .dropdown {
                .ui-dropdown {
                    min-width: 10px;
                }
            }
            app-chart .chart-container .chart-header {
                border-bottom: none;
            }
            app-chart .chart-container {
                border: none;
            }
        }
        .ui-chips-input-token {
            display: none;
        }
        .custom-chip {
            padding: 5px 16px;
            margin: 10px 4px;
            border-radius: 20px;
            cursor: pointer;
            &.selected {
                border: 1px solid #1d5290;
                color: #fff;
                background-color: #1d5290;
            }
            &.non-selected {
                border: 1px solid #1d5290;
                color: #1d5290;
            }
        }
    }
}

body.theme-1 .owl-dt-popup.cdk-overlay-pane {
    top: 130px !important;
}