::ng-deep .sidebar-content {
    .sidebar-content-dropdown {
        .content-dropdown-1 {
            padding: 20px 0px;
        }


        .content-dropdown-2 {
            display        : flex;
            justify-content: space-between;

            .edit {
                float: right;

                img {
                    width: 35px;
                }
            }

        }

        .ui-g-12 {
            padding-left: 0;
        }

        .ui-radiobutton-label {
            margin   : 0 0 0 1.5em;
            color    : #393737;
            font-size: 16px;
        }

    }
}