app-label.widget-container {
  overflow: hidden;

  .widget-body-no-hide {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border-radius: 0;
    cursor: default;
    .widget-menu {
      position: absolute;
      right: 4px;
      top: 4px;
      cursor: pointer;
    }
  }

  .label-text {
    display: block;
    font-size: 14px;
    // font-weight: 600;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
  }
  .clicIco{
    position: relative;
    z-index: 99;
    display:inliine-block;
    }
}
