<div class="widget-body-no-hide labelClass_{{widget.widgetIndex}}" [ngStyle]="{backgroundColor: widget?.settings?.types?.text?.bgColor}" (click)="select()">

    <!-- <div class="p-grid">
        <div class="p-col-12" style="height: 20px;">

            <div class="widget-menu"   [ngStyle]="{ color: widget?.settings?.types?.text?.iconColor}" >
                <ng-container *ngIf="dashboard.mode =='EDIT'">
                    <i style="display: inline-block;" pTooltip= 'Clone Widget' class="icons8 icons8-copy" (click)='dashboard.copyWidget(widget);' style="margin-right: 5px;"></i>
                </ng-container>
                <i style="display: inline-block;" pTooltip= 'Text Rotate' class="icons8 las-undo-alt-solid" (click)='changeRotationProperty();'></i>
                <app-widget-menu *ngIf="visiblityMenu == undefined && !visiblityMenu" [widget]="this"></app-widget-menu>
            </div>
        </div>
        <div class="p-col-12">
            <div class="labelTextHeader  labelTextClass_{{widget.widgetIndex}}">
                <div class="labelSpan labelSpanClass_{{widget.widgetIndex}}" [ngClass]="{'clickable': hasLink()}"
                    (click)="(hasLink() && goToLink())" [style.color]="widget?.settings?.types?.text?.fontColor"[style.fontWeight]= "widget?.settings?.types?.text?.bold == 'bold' ? 'bold' : 'normal' " [style.fontFamily]= "widget?.settings?.types?.text?.fontFamily == 'Select Font Family' ? 'Poppins,sans-serif' : widget?.settings?.types?.text?.fontFamily" [style.fontSize]= "widget?.settings?.types?.text?.fontSize + 'px'" [style.fontStyle]="widget?.settings?.types?.text?.italic == 'italic' ? 'italic' : 'normal' " [style.textDecoration]="widget?.settings?.types?.text?.underline == 'underline' ? 'underline' : 'normal'">{{widget.settings.types.text.text}}</div>
            </div></div>
    </div> -->

    <div class="widget-menu"   [ngStyle]="{ color: widget?.settings?.types?.text?.iconColor}" >
        <ng-container *ngIf="dashboard.mode =='EDIT'">
            <i pTooltip= 'Clone Widget' class="icons8 icons8-copy clicIco clickable" (click)='dashboard.copyWidget(widget);' style="margin-right: 5px;"></i>
        </ng-container>
        <i pTooltip= 'Text Rotate' class="icons8 las-undo-alt-solid clicIco" (click)='changeRotationProperty();'></i>
        <app-widget-menu *ngIf="visiblityMenu == undefined && !visiblityMenu" [widget]="this"></app-widget-menu>
    </div>
    <div class="labelTextHeader labelTextClass_{{widget.widgetIndex}} mt-4">
        <div class="labelSpan labelSpanClass_{{widget.widgetIndex}}" [ngClass]="{'clickable': hasLink()}"
            (click)="(hasLink() && goToLink())" [style.color]="widget?.settings?.types?.text?.fontColor"[style.fontWeight]= "widget?.settings?.types?.text?.bold == 'bold' ? 'bold' : 'normal' " [style.fontFamily]= "widget?.settings?.types?.text?.fontFamily == 'Select Font Family' ? 'Poppins,sans-serif' : widget?.settings?.types?.text?.fontFamily" [style.fontSize]= "widget?.settings?.types?.text?.fontSize + 'px'" [style.fontStyle]="widget?.settings?.types?.text?.italic == 'italic' ? 'italic' : 'normal' " [style.textDecoration]="widget?.settings?.types?.text?.underline == 'underline' ? 'underline' : 'normal'">{{widget.settings.types.text.text}}</div>


</div>