app-top-transaction {
    .top-transaction-container {
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        .transaction-table {
            padding: 10px;
        }
        .filter-search-icon {
            font-size: 20px;
            color: #1d5290;
            margin-left: 7px;
            cursor: pointer;
        }
        .ui-multiselect {
            border: none;
            padding: 12px;
            background-color: transparent;
            .ui-helper-hidden-accessible {
                display: none;
            }
            .ui-multiselect-label-container {
                display: none;
            }
            .ui-multiselect-trigger {
                background-color: transparent;
                .ui-multiselect-trigger-icon {
                    font-size: 1.5em;
                }
            }
        }
        // .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon {
        //     top: 50%;
        //     left: 50%;
        //     margin-top: -0.2em;
        //     margin-left: -0.5em;
        //     position: absolute;
        //     font-size: 1.45em;
        // }
    }
}