.container1{
    width: 50%; /* set width to 50% of page width */
    float: left; /* Make the element go to the left */
}

.container2{
    width: 50%;
    float: right;
}

.main-block{display: flex;align-items: stretch!important;}
.child-block{padding: 15px; background-color: #0c3b6f; color: #fff; width: 50%;}
.child-block:nth-child(2){background-color: #06264c;}
h1, h2{font-weight: 300; text-align: center; margin: 5px 0px; position: relative;}
h1>small, h2>small{display: block; font-weight: 500; margin-top: 10px;}
h2{text-align: left;}
.info-ico{font-style: normal;font-size: 12px;font-weight: 500;background-color: #fff;width: 15px;height: 15px;
    display: inline-block;border-radius: 50%;color: #000;margin-top: 7px; position: absolute;margin-left: 10px;}

.accord-arrow-align{margin-left: 18px;margin-top: -14px; height: 22px;}