app-node-diagnostics {
  .cluster-wrapper {
    overflow: hidden;
    .content-body {
      overflow: auto;
      padding-bottom: 5px;
      height: calc(100% - 100px);
      background-color: #ffffff;
      .panel-title {
        cursor: pointer;
      }
      .ph-0 {
        padding-left: 0;
        padding-right: 0;
      }
      .pr-0 {
        padding-right: 0;
      }
      .ui-panel {
        .ui-panel-content {
          padding: 5px;
          border: none;
          background-color: #f7f7ff;
          color: #333333;
          border-top: 0 none;
          border-radius: 0px;
        }
      }
      .search-section {
        .w-80-p {
          width: 80%;
        }
      }
      .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .routing-buttons {
          display: inline;
          vertical-align: middle;
          button {
            margin: 0 5px;
            .ui-button-text {
              padding: 0.529em 1.5em;
            }
          }
        }
        .action-icons {
          display: inline;
          vertical-align: middle;
          button {
            padding: 0 5px;
            color: #1d5290;
          }
        }
      }
      .dashboard-panel {
        .img-svg {
          text-align: center;
        }
        padding: 5px 5px;
      }
      .statistics-panel {
        padding: 5px 5px;
        .statistics-card {
          background-color: #ffffff;
          border: 1px solid #cecece;
          border-radius: 3px;
          margin: 5px 7px;
          padding: 10px;
          label {
            display: block;
            padding: 5px 0;
            text-align: center;
          }
          .value {
            font-size: 17px;
          }
        }
      }
      .summary-panel {
        .health-table {
          .status {
          }
        }
      }
    }
  }
  .edit-settings {
    .setting-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
