app-repeated-callout-details{
    .repeated-callout-container{
        .loader-container {
            .pi-spinner.pi {
              font-size: 24px;
              margin-right: 10px;
            }
            span {
              font-size: 24px;
              vertical-align: middle;
            }
          }
        .icons-group{
            display: flex;
            flex-direction: row-reverse;
            color: #1d5290;
            cursor: pointer;
            margin: 0 10px;
            //font-size: 1.5em;
            .ui-multiselect {
              border: none;
              padding: 0 17px;
              .ui-helper-hidden-accessible {
                display: none;
              }
              .ui-multiselect-label-container {
                display: none;
              }
              .ui-multiselect-trigger {
                background-color: transparent;
                .ui-multiselect-trigger-icon {
                  font-size: 1.5em;
                  margin-top: 0px;
                }
              }
            }
        }
        .icons-group i{margin: 0 10px;font-size: 1em;}
        .backPage{
          font-size: 14px;
          cursor: pointer;
          line-height: 40px;
          i{
            color:  #1d5290;
          }
      }
      .repeated-call-table{
        .ui-table-scrollable-body{
          overflow-x: hidden;
        }
      }
    }
    body.theme-1 .ui-button.ui-icon-button {
      width: 25px;
    }
    body.theme-1 .ui-table .ui-table-thead > tr > th,
    body.theme-1 .ui-table .ui-table-tbody > tr > td,
    body.theme-1 .ui-treetable .ui-treetable-thead > tr > th,
    body.theme-1 .ui-treetable .ui-treetable-thead > tr > th
    {
      overflow: hidden; white-space: nowrap;
    }
    .p-col-2 {
      width: 41%;
    }
    .repeated-callout-alert-group {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .toggle-check {
          font-size: 1.6em;
      }
      .filter-icon {
          font-size: 1.5em;
      }
      .ui-multiselect {
          border: none;
          padding: 12px;
          background: transparent;
          .ui-helper-hidden-accessible {
              display: none;
          }
          .ui-multiselect-label-container {
              display: none;
          }
          .ui-multiselect-trigger {
              margin-top: 1px;
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                  font-size: 1.5em;
              }
          }
      }
  }

}
body.theme-2 .ui-menu.ui-shadow {
  margin-top: 20px;
  margin-left: -95px;
}
