app-ready{
    .ready-container{
            .ui-card{
                width: 70%;
                margin: 0 auto;
            }
            .block-main{
                width: 20%;
            }
            .block{
                padding: 20px 5px;
            }
            .icon-block{
                float: right;
                background: #fff;
                height: 60px;
                width: 60px;
                text-align: center;
                border-radius: 10px;
                border: 1px solid #1d5290;
                .icons8{
                    color: #1d5290;
                    font-size: 32px;
                    line-height: 60px;
                }
            }
    }
}