app-top-transaction {
  .transaction-jacket {
    .sidebar-header {
      padding: 15px;
      top: 0px;
      z-index: 1;
      background-color: #ffffff;
      border-bottom: 1px solid #dbdbdb;
      .sidebar-title {
        span {
          font-size: 16px;
          vertical-align: middle;
          font-weight: 600;
          text-transform: uppercase;
          color: #333333;
        }
        i.icons8 {
          vertical-align: middle;
          padding-right: 5px;
          font-size: 1.5em;
        }
      }
    }
    .top-trans-body {
      height: calc(100vh - 228px);
      background-color: #ffffff;
      .action-icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10px;
        .ui-button.ui-icon-button {
          color: #1d5290;
          &:hover {
            color: #1d5290;
          }
        }
        .ui-multiselect {
          border: none;
          padding: 12px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label-container {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            height: 22px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
      .ui-table .ui-table-tbody > tr > td:first-child {
        text-align: left;
      }
    }
  }
}
