app-alert-baseline {
    .template-container {
        .ui-secondary-toolbar .ui-toolbar {
            .ui-dropdown {
                background: #1d5290;
                border: 1px solid #1d5290;
                color: #ffffff;
                min-width: 150px;
                .ui-dropdown-label {
                    color: #ffffff;
                    background: #1d5290;
                }
                .ui-dropdown-trigger {
                    background-color: #1d5290;
                    width: 2em;
                    line-height: 2em;
                    text-align: center;
                    padding: 0;
                    color: #ffffff;
                }
            }
        }
        .ui-table {
            .columnwidth {
                width: 40px;
            }
            .slide-columnwidth {
                width: 60px;
            }
            .icons8 {
                font-size: 1.5em;
                color: #1d5290;
            }
        }
        .action-container {
            .input-field-search {
                width: 80%;
                padding: 5px;
                // margin-left:12px;
            }
            .labels {
                margin: 0px 10px;
            }
            input[type="text" i] {
                padding-left: 30px;
            }
            .search-div-css {
                position: relative;
                padding: 5px;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 12px;
                    left: 13px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    // margin-top: 8px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .add-checkpoint {
                margin-right: 20px;
            }
            .global-search-block {
                width: 40%;
            }
            .column-filter {
                font-size: 1.5em !important
            }
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 1.25em;
        }
        .column-icon {
            font-size: 1.5em;
            color: #1d5290;
            margin: 0 10px;
        }
        .ui-paginator-current {
            float: left;
        }
        .columnwidth {
            width: 40px;
        }
        .ui-table-scrollable-body.ng-star-inserted {
            overflow-x: hidden !important;
        }
        .icons-container {
            display: flex;
            flex-direction: row-reverse;
        }
        .mh-5 {
            margin: 0 5px;
        }
    }
}