.configHelpFile{
    margin: 5px;
    padding: 2px 4px 4px;
    border: 1px #d6d6d6 solid;
    border-radius: 2px;
  }
  .configHelp h3{
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px #bfbfbf solid;
      padding: 0px 0px 15px;
  }

 .configHelpSubHeading {
    padding: 0 0 0 5px;
    font-size: 12px;
    font-weight: 500;
}
.configHelpSubHeading i {
    font-size: 6px;
}
.configHelpSubHeadText{
    padding: 0 0 0 26px;
    margin: 8px 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

.headerborder{
    border: 1px #bbb solid;
    border-radius: 3px;
    padding: 5px;
    margin: -10px -2px -16px -2px;
    background: #e8e8e87a;
}
.accordHeader .ui-accordion-header.ui-state-default.ui-corner-all.ui-state-active {
    margin-top: 7px;
}
