app-schedules {
  .schedules-container {
    .ui-buttonset.ui-button-secondary {
      .ui-button.ui-state-default {
        color: #ffffff;
        background-color: #1d5290;
        border: 2px solid #1d5290;
      }

      .ui-button.ui-state-default:enabled:hover,
      .ui-button.ui-state-default:enabled:active {
        color: #ffffff;
        background-color: #1d5290;
        border: 2px solid #1d5290;
      }
    }

    .ui-splitbutton .ui-button.ui-splitbutton-menubutton {
      width: 2em;
      vertical-align: middle;
    }

    .overlay-menu {
      width: 300px;

      .overlay-menu-body {
        max-height: 300px;
        overflow: auto;
        padding: 5px;

        .event-group {
          padding: 5px 0px 5px 0;
          margin-bottom: 2px;
          background-color: #f4f7fb;

          &:last-child {
            padding-bottom: 0;
          }

          .event-group-title {
            font-size: 12px;
            padding: 3px 3px 6px 3px;

            .date {
              float: right;
              color: #7a7a7a;
            }

            .icon i {
              font-size: 15px;
              color: #1d5290;
              margin: 0px 10px;
            }
          }

          ul,
          ul li {
            margin: 0;
            padding: 0;
            list-style: none;
          }
        }
      }
    }

    .action-container {
      .input-field-search {
        padding: 0.429em 0.429em 0.429em 2em;
        width: 100%;
      }
      .filter-icon-css {
        color: #245793;
        cursor: pointer;
        margin-right: 7px;
        margin-left: 7px;
        z-index: 100000;
      }
      .labels {
        margin: 0px 10px;
      }
      i.filter-icon {
        font-size: 2em;
        color: #1d5290;
        margin: 0 10px;
      }

      .search-div-css {
        position: relative;
        width: 80%;

        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          top: 5px;
          left: 5px;
        }
      }

      .ui-multiselect {
        border: none;
        padding: 12px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }

      .icons-container {
        display: inline-flex;
      }
    }

    .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
      font-size: 1.25em;
    }

    .column-icon {
      font-size: 1.5em;
      color: #1d5290;
      margin: 0 10px;
    }

    .ui-table {
      tr > td {
        .p-text-bold{
          font-weight: 700;
        }

        a.row-action-btn-next{
          position: absolute;
          right: 8px;
          background-color: #56ab5f;
          color: #fff;
          margin-top: -7px;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          border: none;
          &:enabled:hover {
            background-color: #56ab5f;
            color: #fff;
          }

          i{
            font-size: 2.3em;
            color: #ffffff;
            vertical-align: middle;
            padding-bottom: .1em;
          }
          .columnwidth {
            width:25px;
          }
        }
      }

      tr.bg-color {
        background-color: #c1e7d3 !important;
        border: 3px solid #67b871;

        td {
          border-right: 1px solid #67b871;
        }
      }

      .ui-table-scrollable-body {
        overflow-x: hidden;
      }

    
    }
  }
}
