.config_auto-discover-margin{
    margin-top: 21px;
    margin-left: 50px
}
textarea { resize: none; }

.config_auto-discover-agent{
    margin-top: 25px;
    margin-left: 50px
}

.config_auto_discover-agenttype {
    margin-left: 6px;
    padding: 0;
}

.mln-116{margin-left: -116px;}
.pr-120{padding-right: 120px;}

/* --for .hidden-validator css--------- */
div[class^="p-col-"], div[class^="ui-g-"] {position: relative;}
:host>>>div[class^="p-col-"]>.hidden-validator,
:host>>>div[class^="ui-g-"]>.hidden-validator{height: 0px !important;
    padding: 0px !important;
    position: absolute;
    top: 19px;
    opacity: 0 !important;}