app-test-report{
    .add-test-container{
        .action-container {
            .input-field-search {
                width: 80%;
                padding-left: 25px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 5px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
            }
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 1.25em;
        }
        .ui-paginator-current {
            float: left;
        }
        .edit-row {
            color: #1d5290;
        }
        .add-template{margin-left: 15px;}
        .global-search-block{width: 40%;}
        .active-td{cursor: pointer;}
    }
}