app-transactions-trend {
    .transaction-trend-container {
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        .min-pad {
            .ui-card {
                box-shadow: none;
            }
        }
        .m-l-12 {
            margin-left: -12px;
        }
        .m-r-5 {
            margin-right: 5px;
        }
        .m-l-5 {
            margin-left: 5px;
        }
        .m-l-20 {
            margin-left: -20px;
        }
        .div-elipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 350px;
        }
        .ui-inputgroup {
            .ui-inputtext {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        .filter-group {
            padding-left: 15px;
            display: flex;
            align-items: center;
            .ui-button.ui-button-secondary {
                border: 1px solid #245793;
            }
            .ui-inputgroup {
                width: 20%;
            }

            input.search-box.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
                width: 250px;
                padding-right: 1.9em;
            }

            .transaction-trend-search-box {
                padding-left: 30px;
                width: 250px;
            }
        }
        .padding-button {
            padding: 5px;
        }
        .filter-icon-css {
            font-size: 18px;
            color: #245793;
            cursor: pointer;
        }
        .specified-drop-down {
            border: 1px solid #1d5290;
            border-radius: 3px;
            .slidemenu-icon {
                font-size: 17px;
                color: #1d5290;
            }
        }
        .filter-search-icon {
            font-size: 17px;
            color: #1d5290;
            margin-left: 5px;
            cursor: pointer;
        }
        .alert-group {
            display: flex;
            color: #1d5290;
            align-items: center;
            justify-content: flex-end;
            .right-margin {
                margin-right: 15px;
            }
            .mh-10 {
                margin-left: 10px;
                margin-right: 10px;
            }
            .mh-5 {
                margin-left: 5px;
                margin-right: 5px;
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background-color: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label-container {
                    display: none;
                }
                .ui-multiselect-trigger {
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
        }
        .filter-button-group {
            display: flex;
            align-items: center;
            .filter-buttons {
                cursor: pointer;
                padding: 0.529em 1.5em;
                margin: 0 5px;
                border: 2px solid;
                border-radius: 15px;
                color: #1d5290;
            }
        }
        .down-arrow {
            font-size: 20px;
            color: #1d5290;
        }
        .row-css {
            flex-flow: row-reverse;
            margin: 5px;
        }
        .margin-right5 {
            margin-right: 12px;
        }
        .box-stretched,
        body {
            height: 67vh;
            width: 26%;
            font-size: 16px;
            margin-left: 1%;
            border: 1px solid #cecece;
            .img-svg {
                padding: 5%;
            }
        }
        .example-viewport {
            height: 52vh;
        }
        .example-dt {
            height: 30px;
            font-weight: bold;
        }
        .example-dd {
            height: 30px;
        }
        .transaction-trend-table {
            .ui-table-frozen-view{
                .ui-table-thead{
                    tr{
                        th{
                            line-height: 16px;
                        }
                    }
                    .filterTr{
                        height: 49px;
                    }
                }
                .ui-table-tbody{
                    tr{
                        td{
                            padding: 0.671em 0.857em;
                            line-height: 15px;
                            .icons8-menu-vertical{cursor: pointer;}
                        }
                    }
                }
            }
            .ui-table-unfrozen-view{
                .ui-table-thead{
                    border-left: none;
                }
                .ui-table-tbody{
                    border-left: none;
                }
            }
            
            width: 72%;
            .drill-button {
                cursor: pointer;
                float: right;
                font-size: 1.5em;
            }
            .drill-button:enabled:hover {
                background: none;
            }
            .ui-table-thead {
                > tr {
                    > th {
                        padding-top: 12px;
                    }
                }
            }
            .ui-paginator-current {
                float: left;
            }
            .legend-group {
                display: inline-block;
                margin: 5px 0;
                .paginator-legend {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin: 0 5px;
                }
            }
            .ui-table-scrollable-body {
                overflow-x: scroll;
            }
        }
        .box {
            background-color: #fff;
            text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;
            border-radius: 4px;
            height: auto;
            font-size: 16px;
            border: 1px solid #cecece;
            // height: 100vh;
            .img-svg {
                padding: 5%;
            }
        }
        .ui-multiselect-trigger {
            background-color: transparent;
            .ui-multiselect-trigger-icon {
                font-size: 1.5em;
            }
        }
        .ui-button.ui-button-custom {
            border: 1px solid #1d5290;
            background: #fff;
            color: #333333;
            &:enabled:hover {
                color: #333333;
                border: 1px solid #1d5290;
            }
        }
        .transaction-trend-table {
            padding: 0px;
            // TODO: to be moved to a generic css set for tables with icons on row selection
            // .ui-table-scrollable-body,
            // .ui-table-scrollable-header {
            //     padding: 0px 25px;
            // }
            .ui-card {
                background-color: #f7f7f7 !important;
                border: none !important;
            }
            body.theme-1 .ui-table .ui-table-tbody > tr:first-child {
                border-top: none;
            }
            .ui-paginator {
                border-bottom: 1px solid #c8c8c8;
                border-left: 1px solid #cecece;
                border-right: 1px solid #cecece;
                //margin: 0px 32px 0px 25px;
                box-shadow: none;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            .ui-table-thead,
            .ui-table-tbody {
                border: 1px solid #cecece;
                border-bottom: none;
                background-color: white;
            }
            .ui-button-text-only .ui-button-text{
                font-size: 10px;
                padding: 0 10px;
            }
            .menu-item{
                display: none;
            }
            a.activeLink,
                a.activeLink {
                    color: blue;
                    cursor: pointer;
                }
        }
    }
}

