app-file-import {
  .widget-header {
    .widget-options {
      i {
        color: #1d5290;
        cursor: pointer;
      }
    }
    .widget-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .ui-inputtext {
        padding: 0px 0.429em;
      }
    }
  }
  .widget-body {
    padding: 10px;
  }
}

app-file-import.widget-container.selected .widget-header .widget-title input {
      display: block !important;
  }
  
  app-file-import.widget-container .widget-header .widget-title input {
      display: none !important;
  }
  
