<div class="p-grid p-align-center p-justify-between py-5">
    <div class="ui-toolbar-group-left" style="text-align: left">
      <div *ngIf="showWarning">
        <button pButton type="button" icon="icons8-error"></button>
        <label>
          <b>Showing for top {{commonService.formatter(maxFlowPath)}} Slowest Flowpath(s).To see more or less apply filter
            Settings.</b>
        </label>
      </div>
    </div>
      <div  class="ui-toolbar-group-right" style="text-align: right">
        <button type="button" *ngIf="showDownLoadReportIcon" class="btn-icon mx-3" (click)='downloadReportForInd("word")' title="Download as Word Report"><i class ="icons8 icons8-doc"></i></button>
        <button type="button" *ngIf="showDownLoadReportIcon" class="btn-icon mx-3" (click)='downloadReportForInd("excel")' title="Download Excel file"><i class ="icons8 icons8-spreadsheet-file"></i></button>
        <button type="button" *ngIf="showDownLoadReportIcon" class="btn-icon mx-3" (click)='downloadReportForInd("pdf")' title="Download PDF file"><i class ="icons8 icons8-pdf-2" ></i></button>
        <button pButton icon="icons8 icons8-menu" class="btn-icon mr-2" (click)="toggleColumnFilterForIP()"
        pTooltip="{{toggleFilterTitleForIP}}"></button>
        <!-- <button pButton icon="icons8 icons8-search" class="btn-icon mr-2" 
        pTooltip="Search"></button> -->
        <!-- <i class="icons8 icons8-menu" title={{toggleFilterTitleForIP}} (click)="toggleColumnFilterForIP()" style=' cursor:pointer'></i> -->
        <!-- <i class="icons8 icons8-search" style="margin:4px 4px 0 0"></i> -->
        <input pInputText type="text" placeholder="Search " (input)="ip.filterGlobal($event.target.value, 'contains')" />
      </div>
    </div>

  <p-table #ip class="all-tables" [value]="actualAggIPInfo" [scrollable]="true" scrollHeight="180px" [style]="{'height':'180px','font-size':'12px'}"
  resizableColumns="true" reorderableColumns="true" [rows]="10" [paginator]="showPagination" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40,50]"
   [globalFilterFields]="visibleCols">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <ng-container *ngFor="let col of colsForAGGIP">
          <col  *ngIf = "col.action" [style]="{'width': col.width+'px'}" >
        </ng-container>
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor = "let col of colsForAGGIP">
          <th style="text-overflow: inherit; white-space:normal;" *ngIf="col.action" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
      <tr *ngIf="isEnabledColumnFilterForIP">
        <ng-container *ngFor="let col of colsForAGGIP">
            <th *ngIf="col.action">
                <input class="w-100-p" pInputText type="text" (input)="ip.filter($event.target.value, col.field, 'contains')">
            </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-node>
        <tr>
          <ng-container *ngFor = "let col of colsForAGGIP">
            <td *ngIf = "col.action">
              <div>
                <span [style]="{'margin-right':'5px'}">
                  <i class="icon ddrui-icon-selected-fp-page-instance" style="cursor:pointer;" title='View Flowpath Report By Backend Name' (click)="openFPByIntegrationReport(node, 'FPByID')"></i> 
                </span>
                <span [style]="{'margin-right':'5px'}">
                  <i class="icon ddrui-icon-method-timing" style="cursor:pointer;" title='View Flowpath Report By Backend Res. Time' (click)="isIPByResp(node)"></i>
                </span>
              </div>
              <span *ngIf = "(col.field == 'backendType')" class ="ddr-table-left" title="View IP Individual Info" >
                <a class="activeLink" (click)="openIndIpInfoPopUp(node)">
                {{node[col.field]}}</a>
              </span>
              <span *ngIf = "(col.field == 'renamebackendIPname' || col.field == 'actualbackendIPname')" title="{{node[col.field]}}">
                {{node[col.field]}}
              </span>
              <span class="right" *ngIf = "!(col.field == 'renamebackendIPname' || col.field == 'actualbackendIPname' || col.field == 'backendType' )">
                {{node[col.field]}}
              </span>
              <!-- <div *ngIf="col.field == 'backendType'">
                <span class ="ddr-table-left" title="View IP Individual Info" (click)="openIndIpInfoPopUp(node)">{{node[col.field]}}</span>
              </div> -->
            </td>
          </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="colsForAGGIP.length + 1" class="text-center">
              <span>No Records Found</span>
          </td>
      </tr>
  </ng-template>
</p-table>

  <!-- <p-dataTable class="scen-table scrollable-div2 " [value]="actualAggIPInfo" [globalFilter]="gbCall" scrollHeight="180px" [style]="{'height':'180px','font-size':'12px'}" resizableColumns="true"
      reorderableColumns="true" [rows]="10" [paginator]="showPagination" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40,50]" >
      <div *ngFor = "let col of colsForAGGIP">
          <p-column *ngIf = "col.action" [field] = "col.field" [header] = "col.header" [filter] = "col.filter" [sortable] = "col.sortable" [style]="{'width': col.width+'px','text-align': col.align}" (sortFunction)="sortAggIPTable($event,actualAggIPInfo)">
          <ng-template let-col let-node="rowData" *ngIf="col.field == 'action'" pTemplate type="body">
            <span [style]="{'margin-right':'5px'}">
              <i class="icon ddrui-icon-selected-fp-page-instance" style="cursor:pointer;" title='View Flowpath Report By Backend Name' (click)="openFPByIntegrationReport(node, 'FPByID')"></i> 
            </span>
            <span [style]="{'margin-right':'5px'}">
              <i class="icon ddrui-icon-method-timing" style="cursor:pointer;" title='View Flowpath Report By Backend Res. Time' (click)="isIPByResp(node)"></i>
              </span>
          </ng-template>   
          <ng-template let-col let-node="rowData" *ngIf="col.field == 'backendType'" pTemplate type="body">
              <span class ="ddr-table-left" title="View IP Individual Info" (click)="openIndIpInfoPopUp(node)">{{node[col.field]}}</span>
          </ng-template>
        </p-column>
      </div>
    </p-dataTable> -->

  <p-dialog class="secondary-dialog foterDialog" [style]="{width: '60vw'}" header="Integration Points Individual Info {{ipName}}" [(visible)]="showIndIPInfo" [resizable]="false" modal="modal" [resizable]=false autoAlign="true">
      <div >
        <p-table class="all-tables" [value]="indIPInfo"  [style]="{'overflow':'unset'}" [resizableColumns]="true" [scrollable]="true" scrollHeight="250px"
        reorderableColumns="true" resizableColumns="true" [rows]="10" [paginator]="showPaginationIP" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40,50]" [(selection)]="selectedRowInfo">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <ng-container *ngFor="let col of colsForIndIP">
                <col  *ngIf = "col.action" [style]="{'width': col.width+'px'}" >
              </ng-container>
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <ng-container *ngFor = "let col of colsForIndIP">
                  <th style="text-overflow: inherit; white-space:normal;" *ngIf="col.action" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </ng-container>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-node>
            <tr>
              <td *ngFor = "let col of colsForIndIP">
                <span *ngIf="(col.field == 'queries')" class = "break-text" title="View Query" style="cursor:pointer">
                  <a class="activeLink" (click)="showRowInfo(node)">
                  {{node[col.field]}}</a>
                </span>
                <span *ngIf="(col.field == 'callOutType')">
                  {{node[col.field]}}
                </span>
                <span class="right" *ngIf="!(col.field == 'queries' || col.field == 'callOutType')">
                  {{node[col.field]}}
                </span>
              </td>
            </tr>
          </ng-template>
      </p-table>
<!-- <p-dataTable class="scen-table scrollable-div2 auto-table-layout" [value]="indIPInfo"  [style]="{'overflow':'unset'}" resizableColumns="true"
      reorderableColumns="true" [rows]="10" [paginator]="showPaginationIP" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30,40,50]" [(selection)]="selectedRowInfo">
      <div *ngFor = "let col of colsForIndIP">
          <p-column *ngIf = "col.action" [field] = "col.field" [header] = "col.header" [filter] = "col.filter" [sortable] = "col.sortable" [style]="{'width': col.width+'px','text-align': col.align}" (sortFunction)="sortIndIPTable($event,indIPInfo)">
            <ng-template let-col let-node="rowData" pTemplate type="body" *ngIf="(col.field == 'queries')">
              <span  class = "break-text" style="cursor:pointer;color:blue;" title="View Query" (click)="showRowInfo(node)">{{node[col.field]}}</span>
            </ng-template> 
          </p-column>
      </div> 
    </p-dataTable> -->
</div>
    <div>
      <textarea pInputTextarea rows="2" style="width:100%;resize:none;" readonly>Query : {{fullQueryName}}</textarea>
    </div>
</p-dialog>
<p-dialog  class="secondary-dialog" [style]="{width: '50vw'}" [(visible)]="isIPByRespTime"  [responsive]='true' [resizable]='false' [positionTop]='140'>
  <p-header>Integration Point By Response Time</p-header>
   <div>
<span style="text-align:center"> Response Time >=</span>
<span> <input id="input" (keypress)="validateQty($event)" type="text" size="5" pInputText [(ngModel)]="responseTime" style='float:right'> </span>	
    </div>
   <p-footer>
    <div class="p-grid p-justify-end sevbtn py-12">
      <button pButton type="button" (click)="isIPByRespTime=false" label="Cancel" class="ui-button-rounded ui-button-secondary"></button>
      <button pButton type="button" (click)="openFPByIntegrationReport(resData, 'FPByResTime')" label="Apply" class="ui-button-rounded"></button>
          </div>
      </p-footer>
</p-dialog>
