app-command-list {
    .alert-config-container {
        .vertical-container {
            .ui-panel {
                padding: 0;
                border: 0 none;
                /* border: 1px solid #cecece; */
                .ui-panel .ui-panel-titlebar {
                    border: none;
                    padding: 10px;
                    background-color: #c9efd4;
                    color: #333333;
                    border-radius: 3px;
                    font-weight: 600;
                    cursor: pointer;
                    margin: 0px 7px;
                }
            }
            .lable-size {
                font-size: 14px;
                font-weight: 600;
                margin-left: 10px;
            }
            .ui-secondary-toolbar .ui-toolbar {
                .ui-dropdown {
                    background: #1d5290;
                    border: 1px solid #1d5290;
                    color: #ffffff;
                    min-width: 80px;
                    .ui-dropdown-label {
                        color: #ffffff;
                        background: #1d5290;
                    }
                    .ui-dropdown-trigger {
                        background-color: #1d5290;
                        width: 2em;
                        line-height: 2em;
                        text-align: center;
                        padding: 0;
                        color: #ffffff;
                    }
                }
            }
            .action-container {
                .lable2-size {
                    font-size: 14px;
                    font-weight: 300;
                    margin-left: 10px;
                }
                .spacing {
                    margin-left: 10px;
                }
                .addgraph {
                    font-size: 1.5em;
                    margin-top: -2px;
                }
                .input-field-search {
                    width: 80%;
                    padding-left: 25px;
                }
                .labels {
                    margin: 0px 10px;
                }
                i.filter-icon {
                    font-size: 1.5em;
                    color: #1d5290;
                    margin: 0 10px;
                    line-height: 30px;
                }
                .search-div-css {
                    position: relative;
                    i {
                        font-size: 1.5em;
                        position: absolute;
                        color: #1d5290;
                        top: 7px;
                        left: 7px;
                    }
                }
                .ui-multiselect {
                    border: none;
                    padding: 12px;
                    background: transparent;
                    .ui-helper-hidden-accessible {
                        display: none;
                    }
                    .ui-multiselect-label {
                        display: none;
                    }
                    .ui-multiselect-trigger {
                        margin-top: 1px;
                        background-color: transparent;
                        .ui-multiselect-trigger-icon {
                            font-size: 1.5em;
                        }
                    }
                }
                .icons-container {
                    display: flex;
                    flex-direction: row-reverse;
                    i {
                        font-size: 1.5em;
                    }
                }
            }
            .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
                font-size: 1.25em;
            }
            .ui-paginator-current {
                float: left;
            }
            .edit-row {
                color: #1d5290;
                font-size: 15px;
            }
            .add-template {
                margin-right: 15px;
            }
            .global-search-block {
                width: 40%;
            }
            .custom-button {
                border-radius: 20px;
            }
            .ui-accordion .ui-accordion-header a {
                padding: 0.571em 1em;
            }
            .ui-panel {
                .icon-button.ui-button {
                    margin: 0;
                }
            }
            .cav-panel-content {
                justify-content: space-between;
                width: 100%;
            }
            .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                width: 100%;
                .ui-dropdown {
                    min-width: 100px;
                }
            }
            .inline {
                display: inline-flex;
            }
            .custom-min-width {
                .ui-dropdown {
                    min-width: 130px;
                }
            }
            .less-min-width {
                .ui-dropdown {
                    min-width: 50px;
                }
            }
            .right {
                .icon-button.ui-button.no-shadow {
                    margin-top: -9px;
                }
            }
        }
    }
}