// This css will change when we add the actual components/charts to be used
app-dashboard-page {
  .charts-wrapper {
    .dashboard-options {
      margin: 0px;
      height: calc(100vh - 138px);
      width: 45px;
      padding: 0;
      background-color: #efefef;
      border-radius: 0px;
      border: 1px solid #cecece;
      box-shadow: 0 0 9px -4px rgb(0 0 0 / 20%);
      z-index: 888;

      .highlight-dashboard {
        transform-origin: 0 0;
        transform: rotate(-90deg);
        position: absolute;
        left: 10px;
        bottom: -20px;
        padding: 0;
        font-weight: 700;
        font-size: 14px;
          color: #53b771;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: calc(
            100vh - 563px
          ); //will have to update if the left panel has more options
          height: 30px;
          min-width: 100px;
          div{display: inline;}
        small {
          font-size: 11px;
          color: #333333;
          position: absolute;
          left: 0px;
          top: 15px;
       
        }
      }

      .icon-button.ui-button {
        width: 30px;
        height: 30px;
        margin: 3px;
      }

      .vertical-menu {
        text-align: center;
      }

      .vertical-menu-separator {
        border-bottom: 1px solid #e1e1e1;
        margin: 10px 5px;
      }
    }

    .dashboard-container {
      height: calc(100vh - 157px);
      width: calc(100% - 50px);

      .no-padding {
        padding: 0;
      }

      .top-padding {
        padding: 5px 0 0;
      }

      .no-top-padding {
        padding-top: 0;
      }
      .dashboard-lower-panel-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
body[tv-mode] {
  .dashboard-options {
    height: calc(100vh - 24px);
  }
  .dashboard-container {
    height: calc(100vh - 19px);
  }
}
