app-add-custom-metrices{
    .custom-dialog{
        .ui-dialog .ui-dialog-titlebar{
            background-color: #f7f7ff;
            color: #333333;
            .ui-dialog-title{
                width: 100%;
            }
            .action-buttons i{
                cursor: pointer;
            }
        }
        .ui-dialog-content{
            padding: 2em 2em 2em;
            label{
                color: #333333;
            }
        }
        
    }
   
}

