app-logstab {
  .bread-crum{color: #1d5290;padding-left: 25px;}
  .vertical-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 190px);
    
    .key-label{
      // margin-right: 20px;
      line-height: 20px;
      
      }
    .icon-button.ui-button.no-shadow .ui-button-text {
      background: #fff;
      visibility: visible;
      border-radius: 4px;
      padding: 0.31em 1em;
      border: 1px solid#ccc;
    }
    
    .icon-button.ui-button.menu-button {
      margin: 0;
      float: right;
      font-size: 1.35em;
    }
    .selected-label {
      line-height: 30px;
    }
    .ui-chips > ul.ui-inputtext {
      width: 70vw;
      padding: 0px;
      height: 30px;
      border: 1px solid #b0b0b0;
    }
    .ui-chips > ul.ui-inputtext .ui-chips-token:nth-child(odd) {
      padding: 0.2145em 0.429em;
      margin: 0em 0.3em;
      background-color: #c9efd4;
      color: #1d5290;
    }
    .ui-chips > ul.ui-inputtext .ui-chips-token:nth-child(even) {
      padding: 0.2145em 0.429em;
      margin: 0em 0.3em;
      background-color: #b0b0b0;
      color: #1d5290;
    }
    .ui-chips > ul.ui-inputtext:not(.ui-state-disabled):hover {
      border: 1px solid #b0b0b0;
    }
    .item-icon {
      margin: 0 1.2em 0 1em;
      vertical-align: middle;
    }
    .tabs-data {
      margin-top: -18px;
    }
    .tabs-expand-button {
      padding: 0.35em;
      font-size: 1.5em !important;
      margin: 0px !important;

      .icons8 {
        font-size: 1.5em;
      }
    }
    .data-collapse {
      float: right;
    }
    .ui-tabmenu .ui-tabmenu-nav {
      padding: 0;
    }
  
    .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
      border-bottom: none;
    }
    // .ui-tabmenu-nav {
    //   width: 95%;
    // }
    .tab-content {
      border: 1px solid #7b7b7b80;
    }
    .no-padding {
      padding: 0.5em 0;
    }
    .ui-autocomplete-panel {
      border: none;
    }
    .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
      background-color: #c3d7ea30;
      color: #333333;
      border-bottom: 3px solid #ffffff;
      font-size: 12px;
      padding: 0.629em 0.857em;
      transition: background-color 0.2s, box-shadow 0.2s;
    }
    .ui-autocomplete-panel
      .ui-autocomplete-items
      .ui-autocomplete-list-item:last-child {
      border: 1px solid #dbdbdb;
      color: #1d5290;
      box-shadow: 1px 1px 1px #ccc;
    }
    span.badge {
      font-size: 13px;
      padding: 0.25em 0.75em;
      margin: 3px 3px;
      border-radius: 4px;
      display: inline-flex;
    }

    .bg-green {
      background-color: #355070;
      color: #ffffff;
    }

    .bg-pink {
      background-color: #6D597A;
      color: #ffffff;
    }

    .bg-yellow {
      background-color: #B56576;
      color: #ffffff;
    }

    .bg-voilet {
      background-color: #E56B6F;
      color: #ffffff;
    }
    .bg-red {
      background-color: #EAAC8B;
      color: #ffffff;
    }

    .ui-overlaypanel .ui-overlaypanel-content {
      padding: 1em 2em;
      box-shadow: 0px 14px 25px #00000033;
      font-size: 15px;
    }
    .row-extra {
      //margin-top: -40px;
      span {
        font-size: 25px !important;
        color: #1d5290;
        cursor: pointer;
      }
    }
    .sub-row {
      cursor: pointer;
    }

    .ui-table .ui-table-tbody > tr > td {
      white-space: break-spaces;
    }
  }
  .all-tables .ui-table-thead>tr>th:first-child{width: 150px;}
  .all-tables .ui-table-thead>tr>th:last-child{width: 190px;}
  .all-tables .ui-table-tbody>tr>td{vertical-align: top;}

  app-visual-chart{
    app-chart{
      .chart-container{border: none;}
    }
  
  }

  .srcbar{
    position: relative;
    z-index: 999;
    .input-field-search {
      width: 100%;
      z-index: 0;
    }
    .ui-autocomplete .ui-autocomplete-input {
      padding-left: 25px;
      z-index: 0;
      width: 100%;
      padding-right: 28px;
    text-overflow: ellipsis;
    }
    i.filter-icon {
      font-size: 1.5em;
      color: #1d5290;
      margin: 0 10px;
      background: #fff;
      border-radius: 4px;
      padding: 0.21em 0.429em 0.45em 0.429em;
      border: 1px solid#ccc;
      cursor: pointer;
    }
    .search-div-css {
      i.icons8-search {
        color: #1d5290;
        z-index: 99;
      }
      i.icons8-edit-2 {
        margin: 9px 40px 0 -60px;
        color: #1d5290;
        cursor: pointer;
        position: absolute;
      }
      .ui-autocomplete{width: 100%;}
      .ui-autocomplete-dropdown {
        background-color: transparent;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        position: absolute;
        right: 5px;
        .ui-button-icon-left {
          background-color: #1d5290;
          color: #ffffff;
          border-radius: 5px;
          width: 20px;
        }
      }
  
      .right10{position: absolute; right: 10px;}
    }
    .hitsCount{display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;}
  }

  .colWidth12>col{min-width: 200px !important; width: auto;} 
  .colWidth12>col:first-child{width: 100px !important; min-width: 100px !important;}
  .colWidth12>col:last-child{width: 60px !important; min-width: 60px !important;}



}





