app-manage-controller {
  .manage-controller-container {
    .no-padding {
      padding: 0;
    }

    .border-left{
      border-left: 1px solid #cccccc;
    }

    .left-panel {
      background-color: #ffffff;
    }

    .right-panel {
      padding: 10px;
    }

    .action-container {
      .input-field-search {
        padding: 0.429em 0.429em 0.429em 2em;
        width: 100%;
      }

      .mh-10 {
        margin: 0 10px;
      }

      .search-div-css {
        position: relative;
        width: 80%;

        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          top: 5px;
          left: 5px;
        }
      }

      .ui-multiselect {
        border: none;
        padding: 12px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }

      .icons-container {
        display: inline-flex;
      }

      .manage-alert-group {
        padding-right: 17px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .ui-table {
      .columnwidth {
        width: 40px;
      }

      .ui-table-scrollable-body {
        overflow-x: hidden;
      }
    }
  }
}
