app-audit-logs {
  .audit-logs-container {
    .loading {
      i {
        font-size: 2em;
        margin-right: 5px;
      }
      span {
        font-size: 2em;
        line-height: 2;
      }
    }
    .ui-button-secondary {
      .ui-button.ui-state-default {
        color: #ffffff;
        background-color: #1d5290;
        border: 2px solid #1d5290;
      }
      .ui-button.ui-state-default:enabled:hover,
      .ui-button.ui-state-default:enabled:active {
        color: #ffffff;
        background-color: #1d5290;
        border: 2px solid #1d5290;
      }
    }
    .ui-splitbutton .ui-button.ui-splitbutton-menubutton {
      width: 2em;
      vertical-align: middle;
    }
    .ui-table-globalfilter-container {
      .global-search {
        position: absolute;
        top: -55px;
        left: 53px;
        width: 250px;
        padding: 0.429em 0.429em 0.429em 2em;
      }
      i {
        position: absolute;
        top: -49px;
        left: 58px;
        z-index: 99;
        font-size: 1.5em;
      }
    }
    .ui-paginator-current {
      float: left;
    }
    .user-panel {
      .ui-button.ui-button-secondary {
        background-color: #1d5290;
        color: #ffffff;
        margin-right: 15px;

        .btn-icon {
          float: right;
          margin-top: 7px;
          margin-right: -8px;
          font-size: 15px;
        }
        .icons8-clock,
        .icons8-user {
          float: left;
          line-height: 30px;
        }
        .signal-icon {
          color: #8cf811;
          position: absolute;
          right: 13px;
          top: 4px;
        }
        .icons8-expand-arrow{
          position: absolute;
          right: 0px;
          top: 3px;
        }
      }
      .ui-button.ui-button-secondary:hover {
        background-color: #1d5290;
        color: #ffffff;
      }
      .ui-button.ui-button-text-only .ui-button-text {
        padding: 0.529em 2em 0.5em 0.5em;
      }
      .session-panel {
        .ui-overlaypanel:after {
          right: 1.25em;
          left: 90%;
        }
        
        .ui-overlaypanel:before {
          border-bottom-color: transparent;
        }
        .ui-overlaypanel {
          left: 63% !important;
        }
      }
      .ui-overlaypanel {
        z-index: 1000;
        .overlay-menu {
          width: 300px;
          .overlay-menu-body {
            max-height: 300px;
            overflow: auto;
            padding: 5px;
            .event-group {
              padding: 5px 0px 5px 0;
              margin-bottom: 2px;
              background-color: #f4f7fb;
              &:last-child {
                padding-bottom: 0;
              }
              .event-group-title {
                font-size: 12px;
                padding: 3px 3px 6px 3px;
                .date {
                  float: right;
                  color: #7a7a7a;
                }
                .icon i {
                  font-size: 15px;
                  color: #1d5290;
                  margin: 0px 10px;
                }
              }
              ul,
              ul li {
                margin: 0;
                padding: 0;
                list-style: none;
              }
            }
          }
        }
      }
    }
    .action-container {
      .input-field-search {
        padding: 0.429em 0.429em 0.429em 2em;
        width: 100%;
      }
      .filter-icon-css {
        color: #245793;
        cursor: pointer;
        margin-right: 7px;
        margin-left: 7px;
        // z-index: 100000;
      }
      .labels {
        margin: 0px 10px;
      }
      i.filter-icon {
        font-size: 1.5em;
        color: #1d5290;
        padding: 6px;
      }
      .search-div-css {
        position: relative;
        width: 80%;
        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          top: 5px;
          left: 5px;
        }
      }
      .ui-multiselect {
        border: none;
        padding: 12px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }
      .icons-container {
        display: inline-flex;
        i {
          color: #1d5290;
          font-size: 1.5em;
        }
      }
    }
    .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
      font-size: 1.25em;
    }
    .column-icon {
      font-size: 1.5em;
      color: #1d5290;
      margin: 0 10px;
    }
    .ui-table {
      tr > td {
        .p-text-bold {
          font-weight: 700;
        }
        a.row-action-btn-next {
          position: absolute;
          right: 8px;
          background-color: #56ab5f;
          color: #fff;
          margin-top: -7px;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          border: none;
          &:enabled:hover {
            background-color: #56ab5f;
            color: #fff;
          }
          i {
            font-size: 2.3em;
            color: #ffffff;
            vertical-align: middle;
            padding-bottom: 0.1em;
          }
        }
      }
      tr.bg-color {
        background-color: #c1e7d3 !important;
        border: 3px solid #67b871;
        td {
          border-right: 1px solid #67b871;
        }
      }
      .ui-table-scrollable-body {
        overflow-x: hidden;
      }
    }
    .ui-table {
      .ui-table-thead {
        tr {
          background-color: #ddd;
        }
      }
      .ui-table-tbody {
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
        tr {
          &:nth-child(even) {
            background-color: #fff;
          }
          &:nth-child(odd) {
            background-color: #eee;
          }
          td > {
            border-right: solid 1px #ccc !important;
          }
          div {
            overflow: visible;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 0.65em;
            width: 100%;
          }
        }
      }
    }
  }
}
