app-graph-panel {
  .ui-panel .ui-panel-titlebar{
    background-color: green;
  }
  .box,
  .sample-layout > div {
    background-color: #fff;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
  }

 .box-stretched,
  body {
    height: 100%;
    font-size: 16px;
    border: 1px solid #cecece;
  
    .img-svg {
      text-align: center;
      padding: 5%;
    }
  }
  
  .vertical-container {
    margin: 0;
    height: 100vh;
    border-radius: 4px;
  }
}

