<p-dialog #dialog  header=" Save Catalogue " class="secondary1-dialog" [(visible)]="isVisible1" [resizable]="false" closeIcon="icons8-delete" [draggable]="false" [modal]="true" [closable]="true" [baseZIndex]="100001000110" [style]="{width: '500px'}">
    <div class="catalogue-container">
        <div class="p-grid p-align-center">
            <div class="p-col-4">Catalogue Name</div>
            <div class="p-col-8 pr-15">
                <input class="w-100-p" type="text" pInputText [(ngModel)]="name" maxlength="32">
            </div>
            </div>
            <div class="p-grid p-align-center">
                <div class="p-col-4">Catalogue Description</div>
                <div class="p-col-8 pr-15">
                    <input class="w-100-p" type="text" pInputText [(ngModel)]="description" maxlength="60">    
                </div>
            </div>
            <p-footer>
                <div class="button-element">
                    <button type="button" pButton icon="icons8 icons8-checkmark" class="ui-button ui-button-rounded" label="Save Catalogue" style="margin-right:6px;" (click)="saveCatalogue()"></button>
                    <button type="button" pButton icon="icons8 icons8-delete" label="Close" class="ui-outline-button ui-button-secondary"  (click)="closeDialog()"></button>
                </div>
            </p-footer>
</div>
<div id="centerpoint1">
    <p-confirmDialog class="conform-dialog"  key="saveCatByName"  acceptLabel="Ok" rejectLabel="Cancel" ></p-confirmDialog>
</div>
</p-dialog>





