.test{
    font-style: normal;
}

.secondary1-dialog {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1em;
  overflow: auto;
}
    // transform: translateX(-50%) translateY(-50%);

#centerpoint1{
    top: 50%;
    left: 50%;
    .ui-dialog {
      width: 26vw;
      height: 30%;
    }
    .ui-dialog-title {
      display: inline-block;
      margin-top: 5px;
    }
    .ui-dialog-content {
      padding: 2em;
      font-size: 14px;
    }
}
.button-element{
  float: left;
  position: relative;
  right: -42%;
  padding: 10px ;
  margin-right: 6px;

}

