app-monitors {
    .monitors-container {
        // .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        //   font-size: 1.25em;
        // }
        p-sidebar {
            .icons8-delete {
                color: #1d5290;
                cursor: pointer;
            }
            .sidebar-header {
                padding: 10px;
                background-color: #ececec;
            }
            .ui-sidebar {
                top: 90px;
                height: calc(100vh - 90px);
                overflow: scroll;
                color: #000;
            }
            .panel-container {
                padding: 10px;
                .detail-section {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #e6e6e6;
                }
                .error-title {
                    font-weight: 700;
                    padding: 15px;
                    padding-bottom: 0px;
                }
            }
            .title {
                font-weight: 700;
                padding: 5px;
            }
            .description {
                padding: 5px;
                color: #635e5e;
                .error {
                    color: red;
                    padding: 2px;
                }
                .running {
                    color: green;
                    padding: 2px;
                }
            }
        }
        .content-body {
            // overflow: auto;
            // height: calc(100vh - 90px);
            background-color: #fff;
            .path {
                font-size: 14px;
                font-weight: 600;
                border-bottom: 1px solid #e6e6e6;
                .status {
                    color: #9f9f9f;
                }
                .ui-menuitem-text {
                    vertical-align: middle;
                    margin-left: -13px;
                    margin-right: -11px;
                }
            }
            .status-cards {
                // padding: 16px 5px;
                border-bottom: 1px solid #e6e6e6;
                .all-container {
                    border-style: solid;
                    border-width: 1px !important;
                    border-radius: 5px;
                    i {
                        font-size: 2em;
                        padding: 5px 10px;
                        color: #000000;
                    }
                    .status {
                        font-size: 1.2em;
                        font-weight: 700;
                        color: #000000;
                        padding-bottom: 5px;
                    }
                    .server-count {
                        color: #898181;
                    }
                }
                .running-container {
                    border: 1px solid #07a907;
                    border-radius: 5px;
                    i {
                        font-size: 2em;
                        padding: 5px 10px;
                        color: #07a907;
                    }
                    .status {
                        font-size: 1.2em;
                        font-weight: 700;
                        color: #07a907;
                        padding-bottom: 5px;
                    }
                    .server-count {
                        color: #898181;
                    }
                }
                .failed-container {
                    border: 1px solid #9d0000;
                    border-radius: 5px;
                    i {
                        font-size: 2em;
                        padding: 5px 10px;
                        color: #9d0000;
                    }
                    .status {
                        font-size: 1.2em;
                        font-weight: 700;
                        color: #9d0000;
                        padding-bottom: 5px;
                    }
                    .server-count {
                        color: #898181;
                    }
                }
                .disabled-container {
                    border: 1px solid #e6e6e6;
                    border-radius: 5px;
                    i {
                        font-size: 2em;
                        padding: 5px 10px;
                    }
                    .status {
                        font-size: 1.2em;
                        font-weight: 700;
                        padding-bottom: 5px;
                    }
                    .server-count {
                        color: #898181;
                    }
                }
            }
            .monitors-block {
                padding: 10px 0px;
            }
            .input-field-search {
                width: 80%;
                padding-left: 25px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    left: 48px;
                    line-height: 32px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 16px 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icon-button.ui-button {
                margin: 0 2px;
            }
            .icons-container {
                display: flex;
                justify-content: flex-end;
                .reportbtn {
                    margin-right: 5px;
                }
            }
            .check {
                font-size: 1.5em;
            }
            .tier {
                padding: 10px;
                p-panel {
                    width: 100%;
                    .ui-panel {
                        .ui-panel-titlebar {
                            background-color: #eaf1f8;
                            padding: 5px;
                            P-header {
                                padding: 5px;
                                .edit {
                                    float: right;
                                }
                            }
                            .ui-panel-titlebar-toggler {
                                float: left;
                            }
                        }
                    }
                    .ui-panel .ui-panel-content {
                        padding: 0px;
                        .section-title {
                            padding: 5px;
                            background-color: #e6e6e6;
                        }
                        .panel-conent {
                            padding: 5px;
                            background-color: #f9fafc;
                            div {
                                padding: 4px;
                            }
                        }
                    }
                }
                .sub-panel {
                    padding: 10px;
                }
            }
            .loading-indicator {
                position: fixed;
                z-index: 999;
                height: 2em;
                width: 2em;
                overflow: show;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                }
                
                /* Transparent Overlay */
                .loading-indicator:before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.53);
                }
        }
        .ui-paginator .ui-paginator-current {
            float: left;
        }
        .columnwidth {
            width: 40px;
        }
        .icons8-search {
            font-size: 16px;
        }
        .ui-table {
            .column-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                // float: right;
            }
            .action-icon {
                float: right;
                color: #1d5290;
                i {
                    font-size: 1.5em;
                    color: #1d5290;
                    margin: 0 5px;
                }
            }
            tr.bg-color {
                background-color: #c1e7d3 !important;
                border: 2px solid #67b871;
                td {
                    border-right: 1px solid #67b871;
                }
            }
            .ui-table-scrollable-body {
                overflow-x: hidden;
            }
            .error {
                color: #ff0000;
                .column-icon {
                    color: #ff0000;
                }
            }
            .running {
                color: #008000;
                .column-icon {
                    color: #008000;
                }
            }
        }
    }
}

.ui-sidebar-mask {
    background-color: transparent;
}