<div class="h-100-vh db-setting-container">
    <div class="p-grid p-col-12">
        <p-card>
            <p-fieldset legend="DB Settings"> 
                <div class="p-grid p-col-6 p-align-center">
                    <div class="p-grid p-col-12 p-align-center">
                        <!-- <div class="p-col-7"> -->
                            Query Timeout <input type="text" class="customInput" value="300" pInputText /> Seconds
                        <!-- </div> -->
                    </div>                                     
                </div>            
            </p-fieldset>           
            <p-footer>
                <div class="p-grid p-align-center p-justify-end pv-30">
                    <div class="">
                        <p-checkbox name="groupname" value="saveConfigFile" class="mh-10" label="Save In Config file" [(ngModel)]="selectedValues"></p-checkbox>
                    </div>
                    <div class="">
                        <button
                        pButton
                        type="button"
                        class="ui-button-secondary ui-button-rounded mh-10"
                        label="Cancel"
                      ></button>
                      <button
                        pButton
                        type="button"
                        class="ui-button ui-button-rounded mh-10"
                        label="Apply"
                      ></button>
                    </div>
                </div>
            </p-footer>
        </p-card>
    </div>  
</div>
