app-event-definition{
    .event-definition-container{
        .action-container {
            .input-field-search {
                width: 90%;
                padding: 6px;
                margin-left: 0px;
              }
              .search-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 5px;
                }
                .ui-dropdown{
                    min-width: 100px;
                    width: 10%;
                }
                input[type="text" i] {
                    padding-left: 30px;
                }
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .global-search-block{
                width: 35%;
                margin-left: 5px;
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
                .add-template{margin-left: 5px;}
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                .btn-margin {
                    margin-left: 1em;
                }
                .create-btn {
                    padding: 0.529em 1em;
                }
            }
            .event-container-left {
                display: flex;
                flex-direction: row-reverse;
                margin: 0 6px;
                i {
                    font-size: 1.5em;
                }
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                .event-dropdown{
                    margin: 0 6px;
                }
            }

            .event-container-right {
                display: flex;
                flex-direction: row-reverse;
                margin: 0 6px;
                i {
                    font-size: 1.5em;
                }
                
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                .ui-button.ui-button-text-only .ui-button-text {
                    padding: 0.529em 1em;
                }
                input[type="text"] {
                    margin: 0 6px;
                }
            }

            .content-body{
                .ui-card{
                    margin: 0px 10px;
                } 
            }
            .empty-table-message
            {
                margin-left: 12px;
            }
        } 
    }
}