body{
    .time-filter {
      .sidebar-header{
        .sidebar-title{
          i.icons8-delete {
            float: right;
            font-size: 20px;
            cursor: pointer;
        }
        }
      }
        .p-field {
          label{
            padding-bottom: 3px;
            display: inline-block;
          }
          .ui-button-secondary {
            padding: 4px;
            margin: 3px 0px;
            display: flex;
            justify-content: space-between;
            .ui-text {
              text-align: left;
              display: inline-block;
              vertical-align: text-top;
              width: 100px;
            }
          }
          .filter-value {
            font-weight: 800;
            font-size: 14px;
            padding: 3px 0px;
          }
    
          input{
            padding: 4px;
            border: 2px solid #1d5290;
            border-radius: 3px;
          }
        }
      } 
}
