.mrb{
margin-right: 20px;
}
.header-text{
    text-overflow: ellipsis;
    overflow: hidden;
}
div[class^="p-col-"], div[class^="ui-g-"] {position: relative;}
:host>>>div[class^="p-col-"]>.hidden-validator,
:host>>>div[class^="ui-g-"]>.hidden-validator{height: 0px !important;
padding: 0px !important;
position: absolute;
top: 19px;
opacity: 0 !important;}

:host>>>.secondary-dialog .ui-dialog-content.ui-widget-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}