.ts-alert-main{border-bottom: solid 1px #bbb;}
.ts-alerts{flex:  1 1 33.333%; width: 33.333%; height: 10px; margin: 5px 0px;}
.ts-alert-crit, .ts-crit-alert-dot{background-color: #ff7979;}
.ts-alert-maj, .ts-maj-alert-dot{background-color: #ffb37b;}
.ts-alert-min, .ts-min-alert-dot{background-color: #fff577;} 

.material-icons{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
}
/* --------------------- */

