app-alert{
    .alert-container{
         .font-size{
          font-size: 2em;
         }
         .display-flex{
           display: inline-flex;
         }
        .action-container {
            .global-search-block{
                width: 40%;
            }
            .input-field-search {
                padding-left: 25px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
                cursor: pointer;
            }
            .search-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 5px;
                }
                .ui-dropdown{
                    min-width: 100px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 2px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
                .icon-button.ui-button.no-shadow {
                  width: 2em;
                }
                .add-template{margin-left: 5px;}
            }

            .severity-group {
              display: flex;
              align-items: center;

              .ui-inputgroup {
                width: 100%;
              }
            }

            .severity-button-group {
              display: flex;
              align-items: center;

              .severity-buttons {
                cursor: pointer;
                padding: 0.1em 1em;
                margin: 0 2px;
                border: 2px solid;
                border-radius: 15px;
                color: #1d5290;
              }
            }

            .legend-group {
              display: inline-block;
              margin: 5px 0;
              .paginator-legend {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin: 0 5px;
              }
            }

            .paginator-center{
              display: inline-block;
              padding-left: 26em;
              text-align: center;
              .timer-bold{
                font-weight: bold;
              }
            }
        }
        .columnwidth{
            width: 40px;
        }
        .ruleNamehover:hover{
          cursor: pointer;
          text-decoration: underline;
          font-weight: 500;
          font-size: 1.1em;
        }


    .ui-table {
      .columnwidth {
        width: 40px;
      }

      .severity-condition-badge{
          padding: 0.25em 1em;
          border-radius: 3px;
          width: 6em;
      }
    }

    .blinking {
        -webkit-animation: 1.25s blink ease infinite;
        -moz-animation: 1.5s blink ease infinite;
        -ms-animation: 1.25s blink ease infinite;
        -o-animation: 1.25s blink ease infinite;
        animation: 1.25s blink ease infinite;
      }

      @keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-moz-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-webkit-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-ms-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-o-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
  }
}
