<!-- <p-blockUI [blocked]="loading"></p-blockUI>
<img *ngIf="loading" class="loadingIcon1" src="./images/loading.gif" /> -->
	<div class="ddr-box" style="overflow:auto; height: calc(50vh - 40px);">
         <p-accordion class="ddr-accordion">
              <p-accordionTab  header="Compared Query Stat- Query : {{queryName}}" title="Query : {{Completequery}}" [selected]="true">
                  <div class="p-grid p-align-center p-col-12">
            <p-card class="p-col-3">
                   <!-- <chart [options]="options"></chart> -->
                   <highcharts-chart [Highcharts] = "highcharts" style="width: 100%; display: block; overflow: hidden;" [options] = "options"></highcharts-chart>
                 <!--div  class="ddr-graphpanel">
                    
                 </div-->
            </p-card>
                  <p-card class="p-col-3">
                     
                        <!-- <chart [options]="options1"></chart> -->
                        <highcharts-chart [Highcharts] = "highcharts" style="width: 100%; display: block; overflow: hidden;" [options] = "options1"></highcharts-chart>
                    
                  </p-card>
                  <p-card class="p-col-3">
                      <div  class="ddr-graphpanel">
                        <!-- <chart [options]="options2"></chart> -->
                        <highcharts-chart [Highcharts] = "highcharts" style="width: 100%; display: block; overflow: hidden;" [options] = "options2"></highcharts-chart>
                      </div>
                  </p-card>
                  <p-card class="p-col-3">
                      <div  class="ddr-graphpanel">
                        <!-- <chart [options]="options3"></chart> -->
                        <highcharts-chart [Highcharts] = "highcharts" style="width: 100%; display: block; overflow: hidden;" [options] = "options3"></highcharts-chart>
                      </div>
                  </p-card>
            
                  </div>
             </p-accordionTab>
         </p-accordion>
        <p-accordion class="ddr-accordion">
    <p-accordionTab  header="Tabular View" [selected]="true"> 
         
      <div class="p-grid p-justify-end p-align-center">
        <button type="button" class="btn-icon mx-3" (click)='downloadReports("word")' title="Download as Word Report"><i class ="icons8 icons8-doc"></i></button>
        <button type="button" class="btn-icon mx-3" (click)='downloadReports("excel")' title="Download Excel file"><i class ="icons8 icons8-spreadsheet-file"></i></button>
        <button type="button" class="btn-icon mx-3" (click)='downloadReports("pdf")' title="Download PDF file"><i class ="icons8 icons8-pdf-2" ></i></button>
    </div>
        
          <p-table class="auto-table-layout all-tables" [value]="queryObjArr" resizableColumns="true">
            <ng-template pTemplate="header">
              <tr>
                <th rowspan="2">Query</th>
                <th colspan="3">Count</th>
                <th colspan="3">Avg Time(ms)</th>
                <th colspan="3">Cum Time(ms)</th>
                <th colspan="3">Error Count</th>
              </tr>
              <tr>
                <th>FP1</th>
                <th>FP2</th>
                <th>Changes(%)</th>
                <th>FP1</th>
                <th>FP2</th>
                <th>Changes(%)</th>
                <th>FP1</th>
                <th>FP2</th>
                <th>Changes(%)</th>
                <th>FP1</th>
                <th>FP2</th>
                <th>Changes(%)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-node>
              <tr>
                  <td>
                      <div class ="ddr-table-left" title="View details"  pTooltip={{(node.query)}} tooltipPosition="bottom">
                        <a>
                          <span>
                            <a [ngClass]="'activeLink'" (click)="showQueryrelatedData(node)">
                              {{node.query}}
                            </a>
                        </span>
                        </a>
                        </div>
                  </td>
                  <td>
                    <div style="text-align: right ;">{{node.counts_FP1}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.counts_FP2}} </div>
                  </td>
                  <td>
                    <div style="text-align: right ;">{{node.counts_Changes}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.avg_FP1}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.avg_FP2}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.avg_Changes}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.cumTime_FP1}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.cumTime_FP2}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.cumTime_Changes}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.errCounts_FP1}} </div>
                  </td>
                  <td>
                      <div style="text-align: right ;">{{node.errCounts_FP2}} </div>
                  </td>
                  <td>
                    <div style="text-align: right ;">{{node.errCounts_Changes}} </div>
                  </td>
              </tr>
          </ng-template>
          </p-table>
    <!-- <p-dataTable  class="auto-table-layout" [value]="queryObjArr" resizableColumns="true">
    <p-headerColumnGroup>
        <p-row>
            <p-column header="Query" rowspan="2" [style]="{'width':'300px'}">
            </p-column>
            <p-column header="Count" colspan="3" [style]="{'width': '300px'}"></p-column>
             <p-column header="Avg Time(ms)" colspan="3" [style]="{'width': '300px'}"></p-column>
              <p-column header="Cum Time(ms)" colspan="3" [style]="{'width': '300px'}"></p-column>
              <p-column header="Error Count" colspan="3" [style]="{'width': '300px'}"></p-column>
        </p-row>
        <p-row>
            <p-column header="FP1" ></p-column>
            <p-column header="FP2"></p-column>
             <p-column header="Changes(%)" ></p-column>
            <p-column header="FP1"></p-column>
             <p-column header="FP2" ></p-column>
            <p-column header="Changes(%)"></p-column>
             <p-column header="FP1" ></p-column>
            <p-column header="FP2"></p-column>
             <p-column header="Changes(%)" ></p-column>
            <p-column header="FP1"></p-column>
             <p-column header="FP2" ></p-column>
            <p-column header="Changes(%)"></p-column>
        </p-row>
    </p-headerColumnGroup>
    
    <p-column field="query">
          <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div class ="ddr-table-left" title="View details" (click)="showQueryrelatedData(node)" pTooltip={{(node[col.field])}} tooltipPosition="bottom">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="counts_FP1">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="counts_FP2">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="counts_Changes">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="avg_FP1">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="avg_FP2">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="avg_Changes">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
     <p-column field="cumTime_FP1">
          <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style ="text-align: right ;" >
                    {{node[col.field]}} </div>
                 </ng-template>
     </p-column>
    <p-column field="cumTime_FP2">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="cumTime_Changes">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="errCounts_FP1">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="errCounts_FP2">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
    <p-column field="errCounts_Changes">
         <ng-template let-col let-node="rowData" pTemplate type="body">
                      <div style="text-align: right ;">
                    {{node[col.field]}} </div>
                 </ng-template>
    </p-column>
</p-dataTable> -->

</p-accordionTab>
</p-accordion>

	</div>
