<p-blockUI [blocked]="loading"></p-blockUI>
<img *ngIf="loading" class="loadingIcon1" src="./images/loading.gif" />
	<div class= "ddr-box">
 <!-- COMMON TOOLBAR -->
<div class="ddr-toolbar">
<div class="ddr-progressbar">
      <mat-progress-bar *ngIf="isActive" mode="indeterminate" [color]="primary"></mat-progress-bar>
   </div>

    <div>
        <p-toolbar  [style]="{'margin-left': '10px','margin-right': '10px','margin-top':'20px'}">
            <div class="ui-toolbar-group-left" >
              Tier:
              <p-dropdown [options]="tiers"  pTooltip="{{selectedTierVal}}" tooltipPosition="bottom" appendTo='body' [(ngModel)]="selectedTierVal" [filter]='true' [style]="{'width':'130px'}" (onChange)="getServerValue(selectedTierVal)"></p-dropdown>
              Server:
              <p-dropdown [options]="servers" pTooltip="{{selectedServerVal}}" tooltipPosition="bottom" appendTo='body' [(ngModel)]="selectedServerVal" [filter]="true" [style]="{'width':'130px'}" ></p-dropdown>
              <button pButton type="button" title="Download GC file from Server" label="Download GC File" (click)="GetGcFileFromServer()"></button>
            </div>
           <div class="ui-toolbar-group-right">
              <button pButton type="button" title="Remove Selected GC Files" icon="fa fa fa-trash-o" class="w20" [disabled]="disableSelectedRemove" (click)="RemoveSelectedFiles()"></button>
           </div>
          </p-toolbar>
</div>
<!-- COMMON BOX SCROLLLBAR -->
<div class="ddruiscroll" [ngStyle]="{'height': screenHeight+'px'}" id='divForScroll'  style="overflow:auto;">
 <div *ngIf="errorStatus && _ddrData.isBlack" style="padding:100px;text-align:center;font:16px bold;color:white;">
    {{errorStatus}}
    </div>
      <div *ngIf="errorStatus && !_ddrData.isBlack" style="padding:100px;text-align:center;font:16px bold;color:black;">
         {{errorStatus}}
   </div>
<div *ngIf="!errorStatus">
  <p-accordion [multiple]="true" class="ddr-accordion">
     
    <p-accordionTab [selected]="true">
      <p-header>
       GC log(s) {{GCHeader}}
      </p-header>

      <div>
        <p-dataTable class="ddr-table scrollableSchedule" [value]="gcDumpList" sortField="timestamp" [sortOrder]="-1" (onHeaderCheckboxToggle) = "onHeaderCheckboxToggle($event)"  [(selection)]="selectedGcFileInfo"  [scrollable]="true" scrollwidth="40px" scrollheight="240px" [style]="{'font-size':'12px','overflow':'unset'}"
        resizableColumns="true" reorderableColumns="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,30,40,50]" (onRowSelect)="onRowSelect($event.data)" (onRowUnselect)="onRowUnselect($event.data)">
        <p-column [style]="{'width':'5px'}" selectionMode="multiple"></p-column>
        <p-column field="tierName" header="Tier" [sortable]="true" [style]="{'width':'15px','text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="{{node[col.field]}}" tooltipPosition="bottom" tooltipEvent="hover">{{node[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column field="serverName" header="Server" [sortable]="true" [style]="{'width':'15px','text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="{{node[col.field]}}" tooltipPosition="bottom" tooltipEvent="hover">{{node[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column field="timestamp" header="Time" sortable="custom" (sortFunction)="Customsort($event,gcDumpList)" [style]="{'width':'35px','text-align':'right'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="Time at which HeapDump is started successfully" tooltipPosition="bottom" tooltipEvent="hover">{{node[col.field]}}</a>
          </ng-template> 
        </p-column>
        <p-column field="userName" header="UserName" [sortable]="true" [style]="{'width':'40px','text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="{{node[col.field]}}" tooltipPosition="bottom" tooltipEvent="hover">
              {{node[col.field]}}</a>
            </ng-template>
        </p-column>
        <p-column field="location" header="File Path at Server" [sortable]="true" [style]="{'width':'40px','text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="{{node[col.field]}}" tooltipPosition="bottom" tooltipEvent="hover">
              {{node[col.field]}}</a>
           </ng-template>
        </p-column>
        <p-column field="filePath" header="File Path at NDE" [sortable]="true" [style]="{'width':'50px','text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="{{node[col.field]}}" tooltipPosition="bottom" tooltipEvent="hover">
              {{node[col.field]}}
            </a>
          </ng-template>
        </p-column>
        <p-column field="fileName" header="File Name" [sortable]="true" [style]="{'width':'40px','text-align':'left'}">
          <ng-template let-col let-node="rowData" pTemplate type="body">
            <a pTooltip="{{showFileName(node[col.field])}}" tooltipPosition="bottom" tooltipEvent="hover">{{showFileName(node[col.field])}}</a>
          </ng-template>
        </p-column>
        <p-column field="action" header="Actions" [style]="{'width':'30px','text-align':'left'}">
          <ng-template pTemplate="header">
            <a pTooltip="Actions" tooltipPosition="bottom" tooltipEvent="hover">Actions</a>
          </ng-template>
          <ng-template let-col let-node="rowData" pTemplate="body">
            <button pButton type="button" title="Remove Gc File" icon="fa fa-trash-o" (click)="assignNodevalueToDelete(node)" class="icon-width"></button>
            <button pButton type="button" title="Analyze GC file" icon="fa fa-pie-chart" (click)="analyzeGCFile(node)" class="icon-width"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
      </div>
      <p-toolbar>
         <div class="ui-toolbar-group-right">
        <div class="ui-toolbar-group-right" *ngIf="showDownLoadReportIcon">
                        <span title="Download Word Report"><i class = 'icon ddrui-icon-word'  style=' cursor:pointer' (click)='downloadReport("word")' ></i></span>
                        <span title="Download Excel Report"><i class = 'icon ddrui-icon-excel'  style=' cursor:pointer' (click)='downloadReport("excel")' ></i></span>
                        <span title="Download PDF Report"><i class = 'icon ddrui-icon-pdf'  style=' cursor:pointer' (click)='downloadReport("pdf")' ></i></span>
        </div>
         </div>
      </p-toolbar>
    </p-accordionTab>
   



  </p-accordion>
</div>
</div>



<p-growl life=5000 [value]="message"></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="300" appendTo ="body"></p-confirmDialog>

</div>
<p-footer class="footer-element">
  <div style="text-align: center" >
    <span>
      <p-fileUpload mode="advanced" [url]="uploadUrl" accept=".log" auto="true"
              chooseLabel="Analyze GC Log From Local" (onUpload)="onUpload($event)"
              class="ddrfileupload ddr-button-bar ddrfile-content ddrupload-ui"> </p-fileUpload>
</span>
  </div>
</p-footer>
</div>

<p-dialog class="ddr-dialog" header="Delete Confirmation" [(visible)]="confirmationPopup"  [resizable]="false" width="400" [responsive]="true">
    <label>Do you want to delete current Gc File from NDE box?</label>
    <p-footer>
      <div>
        <button pButton type="button" label="Yes" (click)="removeFile()"></button>
        <button pButton label="No" (click)="confirmationPopup = false" type="button"></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog class="ddr-dialog" header="Enter file name with absolute path" modal="modal" appendTo="body" [(visible)]="showDialog" width="350" [resizable]="false" [responsive]="true">
    <div class="ui-dialog-content">
      <div>
       <label>File Name(required)</label>
        <input class="heap-dump-text-box" type="text" mdInput minlength="1" maxlength="256" placeholder="Path" [(ngModel)]="fileNameWithPath" style="width: 90%">
  
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-footer" style="padding: 5px">
        <button pButton type="button" label="OK" (click)="downloadGcFile()"></button>
        <button pButton (click)="close()" label="Cancel" type="button"></button>
      </div>
    </p-footer>
  </p-dialog>
