app-log-table {
  .ui-table {  

    .ui-table-tbody > tr > td {
      white-space: break-spaces !important;
      .columndata{
        display: flex;
        padding: 0.5em;
        white-space: break-spaces;
        text-overflow: inherit;
      }
      .key-label{
        // margin-right: 20px;
        line-height: 20px;
        }
    }
   

    .ui-table-tbody > tr > td:last-child .icon-button.ui-button.no-shadow {  
      background-color: #ffffff; 
      border: 1px solid #ccc;         
    }
    
  }
 
  span.badge {
    font-size: 13px;
    padding: 0.25em 0.75em;
    margin: 3px 3px;
    border-radius: 4px;
    display: inline-flex;
  }

  .bg-green {
    background-color: #355070;
    color: #ffffff;
    }
    
    .bg-pink {
    background-color: #6D597A;
    color: #ffffff;
    }
    
    .bg-yellow {
    background-color: #B56576;
    color: #ffffff;
    }
    
    .bg-voilet {
    background-color: #E56B6F;
    color: #ffffff;
    }
    .bg-red {
    background-color: #EAAC8B;
    color: #ffffff;
    }
    
  .ui-overlaypanel .ui-overlaypanel-content {
    padding: 1em 2em;
    box-shadow: 0px 14px 25px #00000033;
    font-size: 15px;
  }
  .all-tables .ui-table-thead>tr>th:first-child{width: 150px;}
  .all-tables .ui-table-thead>tr>th:last-child{width: 190px;}
  .all-tables .ui-table-tbody>tr>td{vertical-align: top;}
  .text-full{white-space: pre-wrap; line-height: 20px;}
  .colWidth12>col:first-child{width: 100px !important;}
  .colWidth12>col:last-child{width: 60px !important;}
}
