body.theme-1, body.theme-2{
  // Below css is added for handling issue of radiobutton/Checkbox click.
  position: fixed;
  width: 100vw;
  height: 100vh;
  .ui-inputtext{
  font-size: 12px;
  }
  input[type=text], input[type=password], input[type=number], .inpbox{
  height: calc(1.5em + .35rem + 2px);
  padding: .25rem .55rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  } 
  .input-lg{height: calc(1.75em + .35rem + 2px) !important;}
  .ui-dropdown{
  padding: 0px;
  .ui-dropdown-label-container{width: calc(100% - 21px);
    display: inline-flex;
    align-items: center;
    text-align: left;
    height: 25px;
  .ui-dropdown-label{
  overflow: hidden;
  text-overflow: ellipsis;
  // height: calc(1.5em + .45rem + 0px);
  // padding:0px 0px 0px .429em;
}
  }
  // .ui-dropdown-trigger{font-size: 10px;margin-right: 2px;}

  }
  // .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{font-size: 1.5em;}
  // .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon{font-size: 15px;}
  .ui-multiselect{height: calc(1.625em + .35rem + 2px);
  display: inline-flex;
  align-items: center;}

  .ui-button{
  transition: background-color 0.2s, box-shadow 0.2s;
  height: calc(1.5em + .35rem + 2px);
  padding: .25rem .55rem;
  font-size: 13px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  }
  .ui-button.ui-button-text-only{
  .ui-button-text{
  padding: 0px .25rem;
  }
  }
  .ui-button-icon-only{height: calc(1.5em + .35rem + 2px); width: calc(1.5em + .35rem + 2px);}
  .all-tables, .all-tables table{border-collapse: collapse;}
  .all-tables .ui-table-thead>tr>th,
  .all-tables .ui-treetable-thead>tr>th
  {font-size:12px;text-align:center;
  height: calc(1.5em + .75rem + 2px);
  padding: .25rem .55rem;}

  .all-tables .ui-table-tbody>tr>td,
  .all-tables .ui-treetable-tbody>tr>td{font-size:12px;
  height: calc(1.5em + .75rem + 2px);
  padding: .25rem .55rem;
  overflow: hidden;
  text-overflow: ellipsis; white-space: nowrap;}



.ui-sortable-column .ui-sortable-column-icon.pi.pi-fw.pi-sort-alt:before{
  content:"\e90b";color:var(--color_3);opacity:.7;font-weight:700;font-family: 'cavisson-icon';font-size:12px;
  opacity: 0; transition: all 300ms ease;
}

.ui-sortable-column:hover .ui-sortable-column-icon.pi.pi-fw.pi-sort-alt:before{
  content:"\e90b";color:var(--color_3);opacity:.7;font-weight:700;font-family: 'cavisson-icon';font-size:12px
}

.ui-sortable-column .ui-sortable-column-icon.pi.pi-fw.pi-sort-amount-down:before{
  content:"\f114";color:var(--color_3);opacity:.7;font-weight:700;font-family:'Cavisson';font-size:15px
}

.ui-sortable-column .ui-sortable-column-icon.pi-sort-amount-up-alt:before{
  content:"\f115";color:var(--color_3);opacity:.7;font-weight:700;font-family:'Cavisson';font-size:15px
}


  // .all-tables .ui-table-thead>tr>th .ui-sortable-column-icon.pi.pi-fw.pi-sort-alt::before,
  // .all-tables .ui-treetable-thead>tr>th .ui-sortable-column-icon.pi.pi-fw.pi-sort-alt::before
  // {content:"\e90b";opacity:0; transition: all 300ms ease;}

  // .all-tables .ui-table-thead>tr>th:hover .ui-sortable-column-icon.pi.pi-fw.pi-sort-alt::before,
  // .all-tables .ui-treetable-thead>tr>th:hover .ui-sortable-column-icon.pi.pi-fw.pi-sort-alt::before
  // {content:"\e90b";color:var(--color_3);opacity:.7;font-weight:700;font-family: 'cavisson-icon';font-size:12px}

  // .all-tables .ui-table-thead>tr>th .ui-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt::before,
  // .all-tables .ui-treetable-thead>tr>th .ui-sortable-column-icon.pi.pi-fw.pi-sort-amount-up-alt::before
  // {content:"\f115";color:var(--color_3);opacity:.7;font-weight:700;font-family:'Cavisson';font-size:15px}

  // .all-tables .ui-table-thead>tr>th .ui-sortable-column-icon.pi.pi-fw.pi-sort-amount-down::before,
  // .all-tables .ui-treetable-thead>tr>th .ui-sortable-column-icon.pi.pi-fw.pi-sort-amount-down::before
  // {content:"\f114";color:var(--color_3);opacity:.7;font-weight:700;font-family:'Cavisson';font-size:15px}


  .show-in-graph-tree-container .tree-node .icons8-sync-settings ~ span{color: #7abb15;}
  .show-in-graph-tree-container .tree-node .icons8-view-all ~ span{color: #800080;}
  .show-in-graph-tree-container .tree-node .icons8-combo-chart ~ span{color: #0000ff;}
  .show-in-graph-tree-container .tree-node .icons8-ssd ~ span{color: #ffa500;}
  .show-in-graph-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label:hover{
  background-color: #53b771;
  .tree-node span, .icons8{color: #FFF;}
  }
  .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight{
  background-color: #53b771;
  .tree-node i,.tree-node span{color: #FFF;}
  }

  // .red ~ .ui-treenode-label{color: #ff0000;}
  // .ui-tree-toggler{color: #1d5290;}

  .ui-tooltip-right .ui-tooltip-arrow {
  top: 50%;
  left: -6px;
  margin-top: -0.75em;
  border-width: 0.75em 0.75em 0.75em 0;}
  .ui-tooltip-right .ui-tooltip-arrow::after{content: "";
  top: 53%;
  left: 3px;
  margin-top: -6px;
  position: absolute;
  z-index: 5;
  width: 11px;
  height: 11px;
  transform: rotate(
  45deg
  );}

  .ui-contextmenu .ui-menuitem-active > .ui-submenu > .ui-submenu-list{bottom: unset !important;}
  .textElipse{overflow: hidden;text-overflow: ellipsis; display: inline-block;}
  .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container{overflow: auto;}
  .ui-autocomplete-panel{overflow: auto;}


  .confirmdialog{
  >div{
  top: 0;left: 0;width: 100%;height: 100%;pointer-events: auto; background-color: rgba(0, 0, 0, 0.4); position: fixed;
  display: flex; align-items: center; justify-content: center;
  }
  }

  div[class^="p-col-"], div[class^="ui-g-"] {position: relative;}
  div[class^="p-col-"]>.hidden-validator,
  div[class^="ui-g-"]>.hidden-validator{height: 0px ;padding: 0px;position: absolute;top: 19px; opacity: 0;}
  .elipseText{display: inline-block;max-width: 100%;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
  .word-break{word-break: break-all;}
  .btn-icon{outline: none;padding: 0px;border: none;background: transparent;cursor: pointer;}
  .dropdown-panel-left .ui-autocomplete-panel,
  .dropdown-panel-left .ui-multiselect-panel{left: auto !important; right: 0px}
  .analysis-mode .scrollVertical{height: calc(100vh - 400px) !important;}

  .helpHeader{display:flex;align-items:center;width:500 px;justify-content:space-between;height:38px;font-size:14px;background-color:#25a75d;color:#fff;margin:0;padding:0 20px}
  .helpBody{height:calc(100vh - 90px);overflow:auto;color:#333}
  .help-gray-bg{background-color:#f9f9f9}
  .seaarchInputs{position:relative;display:block;padding:15px 20px;background-color:#f9f9f9}
  .searchBox{width:100%;border:none;height:30px;box-shadow:0 0 5px #ccc;padding:6px 10px 6px 26px}
  .seaarchInputs>.searchIc{position:absolute;color:#999;left:27px;top:22px}
  .helpSearch{position:absolute;background-color:#fff;z-index:999;left:20px;right:20px;box-shadow:0 0 3px #ccc;top:35px;display:block;padding:6px;max-height:250px;overflow:auto}
  .helpSearchShow{display:block}
  .helpSearch>li>a{color:#1863c9;text-decoration:underline}
  .helpSearch>li{color:red;font-size:12px;margin:.25em 0}
  .helpLitbigbtn{background-color:#f9f9f9;list-style:none;margin:0;padding:0px 10px 15px 20px;display:flex;flex-wrap:wrap}
  .helpLitbigbtn>li{display:inline-flex;align-items:center;justify-content:center;padding:15px 10px;background-color:#FFF;border-radius:10px;margin:1%;flex:1 1 31.333%;min-width:31.333%;max-width:31.333%;cursor:pointer;font-size:12px;font-weight:500;box-shadow:0 0 2px #ddd}
  .helpHead{border-bottom:solid 1px #d2d2d2;padding-bottom:3px;display:flex;width:100%;align-items:center;justify-content:space-between;margin-top:15px;margin-bottom:10px}
  .helpHead>.h2{font-weight:600;font-size:14px;margin:0}
  .helpHead>.smbTne{font-weight:500;cursor:pointer;margin:0}
  .subHead{font-size:14px;font-weight:600;border-bottom:solid 1px #d2d2d2;margin-top:15px!important;padding-bottom:3px;margin-bottom:10px!important}
  .content_body{font-size:.75rem;padding:15px;line-height:22px}
  .content_body p{line-height:22px!important}
  .content_body strong{font-weight:600}
  .newGuiTable{border-collapse:separate;border-spacing:0 3px}
  .newGuiTable tr th,.newGuiTable tr td{padding:.5em!important;border:none;font-size:12px;background-color:#FFF;border-top:solid 1px #eee;text-align:left;border-bottom:solid 1px #eee}
  .newGuiTable tr th{background-color:#bdd3f2}
  .newGuiTable tr td:first-child{border-left:solid 5px #bdd3f2}
  .newGuiTable tr td:last-child{border-right:solid 1px #eee}
  .newGuiTable tr{border:solid 1px #eee;background-color:#FFF;border-radius:5px}
  .newGuiTable tr th:first-child,.newGuiTable tr td:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px}
  .newGuiTable tr th:last-child,.newGuiTable tr td:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px}
  .input-chips > .ui-chips{display: block;}
  .input-chips > .ui-chips > ul.ui-inputtext {display: flex; align-items: center; border:solid 1px;flex-wrap: wrap;
    max-height: 112px;
    overflow: auto;}
  .input-chips .ui-chips > ul.ui-inputtext .ui-chips-token{font-size: 12px;
    padding: 0.25em 0.429em;
    margin: .10em;
    border-radius: 3px; word-break: break-all; white-space: break-spaces;}
    .input-chips .ui-chips > ul.ui-inputtext .ui-chips-input-token input{font-size: 12px; height: 20px;}
    .input-chips .ui-chips > ul.ui-inputtext .ui-chips-input-token{padding: 0px;}
    .input-chips .ui-chips-token .ui-chips-token-label{min-height: 13px;}

  .custom-upload{display:flex; position: relative;}
  .upload-btn-wrapper input[type=file] {position: absolute; left: 0; right: 0;top: 0;opacity: 0; bottom: 0px; width: 100%;}
  .main-container .ui-tabview.ui-widget.ui-widget-content {height: calc(90vh - 100px);overflow: auto;}
  .btn-link{margin: 0px;
  padding: 0px;
  border: none;
  display: inline-flex;
  align-items: center;
  background: transparent; font-weight: 500; cursor: pointer;
  outline: none; font-family: 'Poppins', sans-serif;}
  .ui-contextmenu{min-width: 170px;}
  .psitionSetMenu, .positionSetMenu{right: 0px;left: auto !important;top: 40px !important;}

    //These changes are for reports dropdown.
.panelWidth ul.ui-dropdown-items {
      max-width: 290px !important;
      min-width: 290px !important;
      overflow-x: hidden;
      text-overflow: ellipsis;
  }

  .panelParameterWidth ul.ui-dropdown-items {
    max-width: 200px !important;
    min-width: 200px !important;
    max-height: 200px !important;
    overflow: auto;
    text-overflow: ellipsis;
  }

  .tabWauto{
    .ui-tabview.ui-tabview-top .ui-tabview-nav li{width: auto;}
  }
  .sessionTab .ui-tabview-panels {
    float: left;
    width: 100%;
}

  .foterDialog .ui-dialog-content.ui-widget-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon-button .ui-multiselect{border: none; background-color: transparent;}
.icon-button .ui-multiselect-label{display: none;}
.icon-button .ui-multiselect-label-container{width: 20px;}
.pageLoading{position: fixed;left: 0;right: 0;top: 80px;bottom: 0;z-index: 9; display: flex;align-items: center;justify-content: center;}

.toggler-panel{
  .ui-panel-titlebar{padding: 6px;}
}

.type-search{display: flex; align-items: center; width: 100%; position: relative;
 input{padding-left: 20px;}
 .left-icon{position: absolute; left: 3px;}
 .right-icon{position: absolute; right: 3px; top:5px}

}

.column-multiselect {background-color: transparent !important; border:none !important;
  width: 2.357em;
  margin: 0px !important;
    .ui-multiselect-trigger.ui-state-default.ui-corner-right {
      width: auto;
      margin-right: 14px;
      margin-top: 2px;
  }
}

.ui-multiselect-trigger {
  background-color: transparent;
  .ui-multiselect-trigger-icon {
      font-size: 1.6em;
  }
}
.ui-multiselect .ui-multiselect-panel{min-width: 150px;}
.checkbox-label{margin-left: 6px;}
.filepath>div{display: flex; align-items:center; width: 100%; padding: 10px 0px;}
.filepath1>.p-justify-start.p-align-center.p-grid.my-5{display: flex; align-items:center; width: 100%;}

.mat-primary {
  .navbar {
    padding: 8px 22px;
    position: relative;
    cursor: move;
    > a {
      font-size: 13px;
      white-space: nowrap;
      display: inline-block;
      padding: 4px 8px;
      text-transform: uppercase;
      font-weight: 400;
    }
    .nav-active {
      font-weight: 600;
      &::before {
        content: "";
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        bottom: -8px;
      } 
    } 
  }

  .example-custom-placeholder {
    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 36px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    text-align: center;
    justify-content: center;
  }
  // .mat-tab-link-container{margin-right: 20px;}
}

.confirm-dialog {
  .ui-dialog {
    .ui-corner-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .ui-dialog-content {
      height: 90px;
      padding: 1.5em 1em !important;
      position: relative;
      display: flex;
      align-items: center;

      .ui-confirmdialog-icon{
        margin-top: -6px;
      }
    }
    .ui-dialog-footer {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .sevbtn{
      position: absolute;
      right: 16px;
      bottom: 70px;
    }
    .notes{
      display: flex;
      text-align: left;
     font-size: 11px;
     line-height: 16px;
       }
   
  }
}

.btn-icon.ui-button.ui-widget.ui-state-default.ui-button-icon-only {
  min-width: unset;
  height: unset;}

.side-bar-wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;

    .sidebar-nav{
      min-width: 250px;
      max-width: 250px;
      transition: all 0.3s;
      border: solid 1px #ccc;
      border-radius: 3px 0px 3px 3px;
      padding: 6px;
      position: relative;

      .sidebar-toggler{
        background-color: #FFF;
        border: solid 1px #ccc;
        font-size: 14px;
        width: 18px;
        padding: 0px;
        height: 30px;
        position: absolute;
        top: -1px;
        right: -18px;
        display: inline-flex;
        align-items: center;
        cursor: pointer; 
        
      }
      &.active {
        margin-left: -260px;
    }
    }
    .side-bar-content {
      padding:0px 0px 0px 15px;
      width: 100%;
      min-height: calc(100vh - 125px);
      max-height: calc(100vh - 125px);
      transition: all 0.3s;
      overflow: auto;
      margin-top: -5px;
  }
}
.no-border .ui-message{ border: none;}
.ui-calendar {position: relative;display: flex;}
app-datasource-navigation{
  .ui-orderlist-list{
      height: auto;
  }
}
// -------------------

input[type=color] {
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  outline: none;
  box-shadow: none;
  padding: 0px;
  border-radius: 3px;
  border:none;
}
input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type=color]::-webkit-color-swatch {
  border-radius: 3px;
}
.ui-treetable .ui-treetable-toggler {top: 10%;}
// ----------------
.ui-fileupload .ui-progressbar {
  height: 10px;
}

.custom-carousel {
  .ui-carousel-items-container .ui-carousel-item{
    .card-container {
      width: auto !important;
      .tech-title {
        border-bottom: none !important;
      }
    }
  }
  .ui-carousel-content {
    padding: 0em;
    .ui-carousel-dots-container {
      display: none;
    }
  }
}
.w-auto{width: auto;}
.hide-messages-icon .ui-messages-icon{display: none;}
.mat-menu-item{
    line-height: 36px;
    height: 36px;
}

.calendar{
  .ui-calendar{
    input{
      width: 100%;
        }
  }
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
  li{list-style: none;}
}


}

.cdk-global-scrollblock{overflow-y: hidden;}




































