/* You can add global styles to this file, and also import other style files */
@import "./styles/helper.scss";

// Variables for default theme
:root {
  --global-login-bg-color: #fff;
  --global-primary-action-bg: #ff9f1c;
  --global-primary-action-fg: #fff;
  --global-primary-text-color: #1d5290;
  --global-placeholder-color: #8eb7db;
}

body {
  margin: 0px;
}
