.ui-panel .ui-panel-content {
    overflow: auto;
    height: 300px;
}

:host>>>.secondary-dialog .ui-dialog-content.ui-widget-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}