app-add-remove-capabilities{
    .add-remove-user-container{
      .search-div-css {
        position: relative;
  
        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          left: 10px;
          line-height: 17px;
        }
      }
      .icon-list{
        display:flex;
        flex-direction: row-reverse;
      }
      .columnwidth {
        width: 40px;
      }
      .form-buttons {
        float: right;
        display: flex;
        flex-direction: row-reverse;
        .ui-button-right {
          margin-left: 10px;
        }
      }
      .add-remove-user-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action-buttons {
          i {
            //padding: 0 5px;
            margin: 0 5px;
            cursor: pointer;
            color: #1d5290;
          }
        }
      }
      .table-body{
       //   margin-top:20px!important;
      }

      .search-section{
         // margin-top: 15px;
      }
      .ui-multiselect {
        border: none;
        padding: 18px 15px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }
      .ui-paginator .ui-paginator-current{float: left;}
      .widget-menu{
    top:56px!important;
    left:644px!important;
    width:90px;

      }
    //   .secondary-dialog .ui-dialog .ui-dialog-content {
    //     border-bottom-left-radius: 0;
    //     border-bottom-right-radius: 0;
    //     min-height: 40vh;
    //     padding: 1em;
    // }
    
}
}