app-machine-agent {
    .machine-agent-container {
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 1.25em;
        }
        .ui-paginator .ui-paginator-current {
            float: left;
        }
        .columnwidth {
            width: 40px;
        }
        .add-report {
            margin-right: 15px;
        }
        .global-search-block {
            width: 40%;
        }
        .column-filter {
            font-size: 1.5em !important
        }
        .text-left {
            text-align: left;
        }
    }
}