app-add-configure{
    .add-configure-dialog{
          .icons{
           font-size: 1.5em;
            } 
            .modal-header{
                width: 750px;
                margin: auto;
            }
            .block{
                width: 10px;
            }
            .label{
                margin-left: 0.5em;
            }
            .label1{
                margin-left: -0.8em;
            }
    }
}
