app-indices {
    .vertical-container {
        padding-top: 20px;
        .line-height {
            line-height: 30px;
        }
        p-card .ui-card {
            height: 70vh;
            width: 25vw;
            padding: 0px !important;
            border: 1px solid #ceceec !important;
            margin: 0px;
            border-radius: 20px !important;
            .ui-card-header {
                background-color: #ededed;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: 15px 13px;
                border-bottom: 1px solid #ceceec;
                p-header {
                    .btn-right {
                        float: right;
                    }
                }
                .selected-label {
                    font-size: 1.1em;
                    font-weight: 600;
                    line-height: 30px;
                }
            }
            .ui-card-body {
                height: 100%;
            }
            .ui-card-content {
                height: 60vh;
                overflow: auto;
                padding: 0;
            }
        }
        .ui-dropdown {
            min-width: 90px;
            width: 90px;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 15px;
        }
        .ui-orderlist-list {
            height: 53vh;
        }
        .header-checkbox{margin-right: 15px;}
       
    }
}