app-funnel-details {
  .filterDiv {
    margin: 0px 5px 0px 5px;
    padding: 8px 0px;
  }
  .sessions-link {
    cursor: pointer;
    color: #1d5290;
  }
  .funnel-chart {
    background-color: #fff;
    //height: 98%;
    .action-header-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px #ccc;
      position: sticky;
      top: -2px;
      background: white;
      z-index: 10;

      .header-section-button {
        display: flex;
        .ui-button.ui-button-text-only .ui-button-text {
          padding: 0.529em 1.3em;
          font-weight: 600;
        }
        button {
          margin: 0 5px;
        }
      }
    }
    .chart-section {
      width: 100%;
      //height: calc(100% - 200px);
      overflow: auto;
      padding: 15px 0 15px 15px;
      .funnel-section {
        width: 100%;
        height: 100%;
        margin: auto;
        .p {
          background: linear-gradient(90deg, rgba(243, 247, 251, 1) 59%, rgba(255, 255, 255, 1) 50%);
          margin-bottom: 2px;
          border: 2px solid #fff;
          .title {
            align-items: center;
            label {
              text-overflow: ellipsis;
              width: 100%;
              overflow: hidden;
              padding: 0 8px;
              font-weight: 600;
              line-height: 16px;
            }
          }
          .page {
            display: flex;
            height: 30px;
            margin: auto;
            position: relative;
            .entry-page {
              background-color: #6297c7;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-weight: 600;
              border: solid 3px #fff;
              border-radius: 15px;
              margin-right: -15px;
              position: relative;
              padding-left: 7px;
              > span {
                white-space: nowrap;
              }
              .less5Percent {
                position: absolute;
                left: -66px;
                color: #6297c7;
                font-size: 11px;
                font-weight: 700;
              }
            }
            .exit-page {
              background-color: #f38889;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-weight: 600;
              font-weight: 600;
              border: solid 3px #fff;
              border-radius: 15px;
              z-index: 1;
              padding-left: 15px;
              > span {
                white-space: nowrap;
              }
              .less5Percent {
                position: absolute;
                right: -38px;
                font-size: 11px;
                font-weight: 700;
                color: #f38889;
              }
            }

            .no-record {
              width: 100%;
              background-color: gainsboro;
              justify-content: center;
              align-items: center;
              display: flex;
              flex-direction: column;
              border-radius: 15px;
              border: 3px solid #fff;
            }
          }

          .view-page-detail-compare-mode {
            padding: 2px;
          }

          &.selected {
            border: 2px solid #57b771;
            background: linear-gradient(90deg, #f3f7fb 0%, white 0%);
          }
        }
      }
      app-chart {
        .chart-container {
          border: unset;
        }
      }

      .funnel-conversion-section {
        .ui-card {
          height: 150px;
          overflow: hidden;

          .ui-card-title {
            padding: 0;
            font-size: 14px;
          }
        }
      }
    }
    label.subtitle {
      font-size: 15px;
      color: #1d5290;
      font-weight: 600;
    }
  }
}
