.ddr-custom-tree .ul.ui-treenode-children {
    width:99%
}
.ddr-custom-tree .ui-tree .ui-tree-container{
    overflow: hidden;
}
.ddr-custom-tree .ui-tree.ui-widget{
    width:100%;
}

.ui-tree.ui-widget.ui-widget-content.ui-corner-all {
    overflow-x: hidden;
}

.ddr-transform{
    transform: rotate(180deg);
}

 .ddr-page-dump {
   overflow:auto;
   max-height: 45vh;
 }
 .loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}
.ddr-parameter-toolbar
{
    margin-bottom:5px;
}
.ddr-page-dump-toolbar {
    display: flex;
}
.rowsCountClass{
    /* color: black;
     float: right;
     font-size: 12px;
     font-weight: 500;
     margin: -22px 28pc 0px 0px;
 
     width: 100%;
     position: fixed;
     left: 50%;
     margin-left: 6.5%;
     margin-top: -21px;*/
 
 
      color: #000;
     width: 100%;
     position: relative;
     display: block;
     /* z-index: 1; */
     height: 17px;
     left: 50%;
     margin-left: 8.5%;
     margin-top: -24px;
     padding-left: 10px;
 }

 input.ng-invalid{
    border: 1px solid red;
 }
 :host>>> .drop-menu-up .ui-dropdown-panel{top: auto !important; bottom: 20px !important}

