:host>>>.jtk-surface{min-height: calc(100vh - 130px); width: 100%;}

.exec-wrapper{
    display: flex;
    width: 100%;
    align-content: stretch!important;
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 78px);
}
    .exec-sidebar{
        min-width: 300px;
        max-width: 300px;
        transition: all 0.3s;
        border: solid 1px #ccc;
        padding: 6px;
        position: relative;
        box-shadow: 0px 0px 4px #ccc;
        background-color: #f8f8f8;
        border-left: none;} 





      /* .exec-sidebar.active {
        margin-right: 0px;
    } */

    .exec-sidebar.in-active {
        margin-right: -305px;
    }

    .exec-content {
        width: 100%;
        transition: all 0.3s;
        overflow: hidden;
        border: solid 1px #ccc;
        background-color: #fff;
        position: relative;
  }
  .btn-n{
    border: solid .12em #1f5290 !important;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px; 
    position: absolute; 
    right: 8px;
    top: 8px;
}
.btn-n .show{display: inline;}
.btn-n .hide{display: none;}

.show-dashboard{max-height: calc(100vh - 65px);
    overflow-y: auto;
    overflow-x: hidden;}