app-percentile {
    .percentile-container {
      height: calc(100vh - 180px);
      overflow: auto;
      p-card {
        width: 100%;
  
        .mh-10 {
          margin: 0 10px;
        }
  
        .customInput {
          width: 60px;
          margin: 0 10px;
        }

        .customDropdown {
          .ui-dropdown {
            border: none;
            border-bottom: 1px solid #1d5290;          
          }
          .ui-corner-all{
              border-radius: none;
          }
        }
      }
    }
.secondary-dialog .ui-dialog-content.ui-widget-content {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }
  }
  