app-net-havoc{
    .net-havoc-container{
        .p-0{
            padding: 0;
        }
        .global-search-block{width: 30%;}
        .action-container {
            .input-field-search {
                width: 100%;
                padding-left: 25px;
            }
            .labels {
                margin: 0px 10px;
            }
            .search-div-css {
                position: relative;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 5px;
                    left: 5px;
                }
            }
           
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
               button{
                   margin-right: 10px;
               }
            }
        }
        .first-section{
            .ui-card{
                padding: 0;
            }
            .ui-card-header{
                padding: 5px 10px;
                border-bottom: 1px solid #cecece;   
            }
        }
        p-header{
            .buttons-container{
                display: flex;
                .title{
                    font-weight: 600;
                }
                .ui-button.ui-button-text-only .ui-button-text{
                    padding: 0.25em 0.5em;
                   // font-weight: 100;
                }
                .btn-success {
                    color: #53b771;
                    background-color: #ffffff;
                    border: 2px solid #53b771;
                  }
                  .btn-success:enabled:hover {
                    color: #53b771;
                    background-color: #ffffff;
                    border: 2px solid #53b771;
                  }
            }
        }
        .info-block{
            width: 18%;
            height: 110px;
            padding: 10px 5px;
            border-radius: 3px;
            margin: 5px;
            .count{
                font-size: 17px;
                font-weight: 600;
            }
        }
        .chart-section{
            width: 49%;
            float: left;
            margin-right: 7px;
        }
        p-table{
            .ui-table-tbody > tr > td{
                border: none !important;
            }
            .ui-button.ui-button-text-only .ui-button-text{
                padding: 0.25em 1em;
            }
            .icons8-ok{
                color: #53b771;
            }
        }
        .chart-container .chart-header{
            padding: 5px 10px;
        }
    }
}