app-machine-configuration {
  .machine-config-container {
    .vertical-container {
      height: 100vh;
      overflow: auto;
      .customInput {
        border: none;
        border-bottom: 1px solid #1d5290;
        border-radius: 0;
        width: 100%;
        
        .ui-dropdown{
            border: none;
        }
      }
      .label{
          font-size: 14px;
      }
    }
  }
}
