app-graph-setting {
    .graph-setting-container {
      height: calc(100vh - 180px);
      overflow: auto;
      p-card {
        width: 100%;
  
        .mh-6 {
          margin: 0 6px;
        }

        .p-0 
        {
          padding: 0;
        }
  
        .customInput {
          width: 60px;
          margin: 0 10px;
        }

        .customDropdown {
          .ui-dropdown {
            border: none;
            border-bottom: 1px solid #1d5290;          
          }
          .ui-corner-all{
              border-radius: none;
          }
        }

        .ui-slider
        {
          width: 190px;
        }
      }
    }
  }
  