.saveDialogBox .mat-dialog-title {
    padding: 8px;
    height: 21px;
    font-size: 15px;
    color: white;
    background-color: #282828;
}

.closeIcon {
    float: right;
    margin-right: -3px;
}

.MatDialog {
    width: 100%;
    margin-top: 22px;
}

.mdInputContainer1 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.mdInputContainer2 {
    width: 100%;
    margin-top: 31px
}

.footer {
    margin-top: 20px;
    margin-left: 135px;
    margin-bottom: 10px;
}

.btn1 {
    background: #0e0e0e;
}

.btn2 {
    background: #0e0e0e;
    margin-left: 10px;
    margin-right: 10px;
}
