app-alert-configuration {
    .alert-config-container {
        .vertical-container {
            padding: 1em;
            height: calc(100vh - 130px);
            overflow: auto;
            .custom-button {
                border-radius: 20px;
            }
            .ui-accordion .ui-accordion-header a {
                padding: 0.571em 1em;
            }
            .ui-panel {
                .icon-button.ui-button {
                    margin: 0;
                }
            }
            .cav-panel-content {
                justify-content: space-between;
                width: 100%;
            }
            .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                width: 100%;
                .ui-dropdown {
                    min-width: 100px;
                }
            }
            .inline {
                display: inline-flex;
            }
            .custom-min-width {
                .ui-dropdown {
                    min-width: 160px;
                }

            }
            .multi-select-tag{
                div {
                    &:nth-child(3){
                        width: 0em;
                        span {
                            margin-left: -1.1em;
                        }
                    }
                }
            }
            .metric-dropdown {
                div {
                    &:nth-child(2){
                        overflow: auto;
                        span{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    max-width: 185px;
                    .ui-dropdown-items{
                        min-width: 260px;
                    }
                }
            }
            .group-content{
                display: contents;
            }
            .less-min-width {
                .ui-dropdown {
                    min-width: 90px;
                }
            }
            .right {
                .icon-button.ui-button.no-shadow {
                    margin-top: -9px;
                }
            }
            .severity-operation-block {
                background-color: #1d5290;
                width: 100%;

                .white-bg {
                    background-color: #ffffff;
                    border-radius: 5px;
                    color: #1d5290;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white {
                    color: #ffffff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white-op {
                    color: #cdddff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .no-padding {
                    padding: 0;
                }
            }
            .derived-graph-bucket {
                max-height: 125px;
                overflow: auto;
                padding: 0;
                background: #f4f7fb;
                padding: 2px; width: 100%;
                border-radius: 3px;
                margin-top: 5px;
                .graph-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px;
                    background: #f4f7fb;
                    margin: 3px 0;
                    border: 1px solid transparent;
                    cursor: pointer;
                    .graph-section-1 {
                        display: flex;
                        align-items: center;
                        width: 95%;
                        .token {
                            padding: 0.25rem 0.5rem;
                            display: inline-flex;
                            margin: 0 0.25rem;
                            background-color: #f4f8fb;
                            // color: #a79e9e;
                            border: 1px solid #cecece;
                            // font-size: 14px;
                            border-radius: 3px;
                        }

                        .auto{
                          display: inline-block;
                          flex: 1 1;
                        }
                    }
                    .token-icon {
                        display: flex; align-items: center;
                    }

                    .varible-text{ padding: 0.5rem 0.5rem;
                        display: inline-flex;
                        margin: 0 0.25rem;
                        border: 1px solid #dadbdc;
                        border-radius: 3px;
                        strong{margin: 0px 2px;}
                    }
                }
                .token-index {
                    border-radius: 50%;
                    text-align: center;
                    background-color: chocolate;
                    color: #fff;
                    font-size: 13px;
                    min-width: 26px;
                    min-height: 26px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
                .insSelected{border: 1px solid #cecece; padding: 4px 15px; border-radius: 3px; margin: 0px 10px;}

                .selected {
                    background-color: #c9efd4;
                    border: 1px solid #57b771;
                }
            }
            .generated-graph {
                .img-svg {
                  padding: 1em 1em;
                  text-align: center;
                }
                .highcharts-container {
                  height: 205px !important;
                  width: 1295px !important;
                }
            }
            .mail-custom-fields-subject-mail {
                .ui-menu {
                  top: 39px !important;
                  left: 70em !important;
                }
            }
            .mail-custom-fields-pre-post {
                .ui-menu {
                  top: 39px !important;
                  left: 250px !important;
                }
            }
        }
    }
    .ui-panel .ui-panel-titlebar{padding: 5px !important;}
    .opc7{opacity: .7;}
    .threshold{border-top: solid 1px #ddd;
        padding-top: 5px !important; margin-top: 10px !important;}
        .addvanceSetting{margin: 0px;
            padding: 0px;
            border: none;
            display: inline-flex;
            align-items: center;
            background: transparent; font-weight: 500; cursor: pointer;
            outline: none; font-family: 'Poppins', sans-serif;}
            .advance{background-color: #f5f5f5;border-bottom: solid 2px #c9efd4;border-radius: 3px;
                >div{border-width: 2px 2px 0px 2px; border-style: solid; border-color: #c9efd4;border-radius: 3px;}
            }

            hr.hrLine {
                border: 1px solid #cecece;
                border-bottom: none;
                margin: 6px 0px;
            }
            button.bdr-5.ui-button-rounded{    border: none !important;
                border-radius: 5px !important;
                margin: 0px 5px !important;}
                .oprator{color: #759fde; display: inline-block; margin: 0px 3px;}
                .color-5{color: var(--color_5);}

.my-panel{
    .ui-panel{border:none; margin-bottom: 5px;}
    .ui-panel .ui-panel-titlebar{background-color: #f4f7fb; border-width: 2px 2px 2px 6px;border-style: solid;}
    .panel-title{display: flex;align-items: center;margin-top: 2px;}
}

.repeatPanel{
    .w-100-p:nth-child(1){
    .http-reports-panel{
        .my-panel{
            .ui-panel-titlebar{border-color: #ff4646;}
        }
    }
}
.w-100-p:nth-child(2){
    .http-reports-panel{
        .my-panel{
            .ui-panel-titlebar{border-color: #ffb5b5;}
        }
    }
}
.w-100-p:nth-child(3){
    .http-reports-panel{
        .my-panel{
            .ui-panel-titlebar{border-color: #ffdbdb;}
        }
    }
}
}


.thro_brdb{
    >div{
        label{font-weight: 600;width: 75%;display: block;padding: 5px 0px; margin-left: 5px;}
    }
    >div:nth-child(2){
        label{border-bottom: solid 4px #ff4646;}
      }
    >div:nth-child(3){
        label{border-bottom: solid 4px #ffb5b5;}
    }
    >div:nth-child(4){
        label{border-bottom: solid 4px #ffdbdb;}
    }
}
.p-offset-150{margin-left: 150px;}

.add-action-bg{background-color: var(--background_color_4); margin-top: 15px; margin-right: -5px; margin-bottom: -5px; margin-left: -5px;}

.add-actionBg{
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0px 0px 3px #c8c8c8;
    .compare-data-title{
        border-bottom: 1px solid #c8c8c8;
        background-color: #f7f7ff;
        color: var(--color_4);
        padding: 1em;
        font-weight: 600;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        .action-buttons {
            i {
                cursor: pointer;
                color: #1d5290;
            }
        }
    }
}
.input-chips .ui-inputtext{

    > .ui-chips-input-token{
        width: 100%;
        > input{
            width: 100%;
        }
    }
}
textarea{
    min-width: 10em;
    min-height: 4em;
    }
}

.chipclass > .ui-chips > ul.ui-inputtext{
    background-color: white;
    width: 50em;
    > .ui-chips-token{
        color: black !important;
        background-color: rgb(147, 200, 238) !important;
        font-size: 12px !important;
        margin: 0.1em 0.1em !important;

        > .ui-chips-token-icon{
            display: none !important;
        }

        > .ui-chips-token-label{
            margin: 0em !important;
        }
    }
}
