app-hotspot {
  .hotspot-container {
    p-card {
      width: 100%;

      p-panel{
          width: 100%;
      }

      .mh-10 {
        margin: 0 10px;
      }
    }
  }
.secondary-dialog .ui-dialog-content.ui-widget-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
}
