app-file-manager {
    .secondary-dialog {
      .ui-dialog-title {
        display: block;
        width: 100%;
      }
      .compare-data-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .action-buttons {
          i {
            //padding: 0 5px;
            margin: 0 5px;
            cursor: pointer;
            color: #1d5290;
          }
        }
      }
    }
    .div-background {
      background-color: #f1f1f1;
      padding: 5px 10px;
    }
    .ui-inputgroup {
      display: flex;
      background-color: white;
    }
    .ui-button.ui-button-text-only .ui-button-text {
      padding: 5px !important;
    }
    .div-margin-top {
      margin-top: 10px;
    }
    .file-manager-dialog {
      max-width: 70vw;
      .ui-dialog-content {
        min-height: 50vh;
        .file-table {
          tr {
            td {
              .pi {
                vertical-align: middle;
                margin-right: 0px;
                color: #666;
                font-size: 16px;
              }
            }
            &.clickable {
              td {
                .pi {
                  color: #333;
                }
              }
            }
          }
        }
        .file-search {
          padding: 10px 0px;
        }
        .pl-0 {
          padding-left: 0;
        }
        .pr-0 {
          padding-right: 0;
        }
        .px-1 {
          .ui-button-text {
            padding: 0.529em 0em !important;
          }
        }
      }
    }
    input.p-col-2.ui-inputtext.ui-corner-all {
      width: 187px;
    }
    button.w-100-p.px-1.ui-button.ui-corner-all.ui-button-text-only {
      border-radius: 25px;
    }
    .file-label {
      display: flex;
      justify-content: flex-end;
    }
    .file-manager-dialog .ui-dialog-content {
      min-height: 20vh;
    }
    .all-tables {
      .ui-table-scrollable-body {
        min-height: 300px;
      }
    }
    .columnWidth {
      width: 40px;
    }
    .plusIcon {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #25a75d;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      margin-left: 10px;
      cursor: pointer;
    }
    .backbutton {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: transparent;
      border: solid 2px #1d5290;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #1d5290;
      margin-left: 3px;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .flex_main {
      margin: 10px 0px;
      display: flex;
      .flex_auto {
        flex: 1 1 auto;
      }
      .nowarp_flex {
        flex-wrap: nowrap;
        margin: 0px -5px;
        display: flex;
        align-items: center;
        .ui-button {
          margin: 0px 5px;
          min-width: 90px;
        }
      }
    }
    .ui-inputgroup {
      .ui-inputgroup-addon:first-child {
        display: inline-flex;
        align-items: center;
      }
    }
    .yellow {
      color: #eed202;
    }
    .blue {
      color: #327aba;
    }
    .file-upload-dialog {
      .ui-dialog {
        width: 400px;
        box-shadow: none;
      }
      .ui-fileupload {
        .ui-fileupload-buttonbar {
          .ui-button {
            min-width: 100px;
          }
        }
      }
    }
    .header-color {
      border: solid 1px #1d5290;
    }
    .inputWidth {
      width: 82%;
    }
    #centerpoint {
      top: 50%;
      left: 50%;
      .ui-dialog {
        width: 26vw;
        height: 30%;
      }
      .ui-dialog-title {
        display: inline-block;
        margin-top: 5px;
      }
      .ui-dialog-content {
        padding: 2em;
        font-size: 14px;
        border-radius: initial;
      }
      .ui-dialog-footer button {
        width: 83px !important;
      }
    }
    .elipseText {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      padding-right: 20px;
      text-overflow: ellipsis;
    }
  }
  