.config-ui-auto {
    padding-top: 175px
}

.unInstrumentation-css {
    background-color: #D84315 !important;
    border: 1px solid #D84315 !important;
}
.bdr-gray{border: 1px solid lightgray}

.ui-panel-contents {
    overflow: auto;
    height: 400px;
}

:host>>>.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label{
width: auto !important;
}