.icon-sm {
    font-size: 18px;
    padding: 4px 0 0 0px;
    color: white;
    }
    



 

    

 
 
    .timewidth1{
    width:81px;
    min-width: 14%;
    }

    .setdisplay{
        display: inline;

    }
    
    .seticonposition{
        position: relative;
        top: 2px;
    }


    

.dashboard-elapsed-time-icon {
    line-height: 24px;
    font-size: 18px;
    color: white;
    padding-left: 5px;
}

.dashboard-elapsed-time-icon-chk {
    line-height: 24px;
    font-size: 18px;
    color:white;
    padding-left: 5px;
}


	*{
     font-size:12px; 
    }
       


        
   
	


  .imageDiv {
    float: left;
    height: 40px;
    border: 1px #c00 solid; 
    text-align: center;
    background: #E0F7FA;
  }






.setOverflow {
  white-space: nowrap;
  overflow: scroll;
    /* overflow-wrap: initial; */
    /* width: 1000px; */
  height: 305px;
}





.setDivHeight {
    min-height: 26vh !important;
    max-height: 26vh !important;
}

.setUpperDiv {
    min-height: 55vh !important;
    max-height: 55vh !important;
}


.dashboard-elapsed-time-icon {
    line-height: 24px;
    font-size: 18px;
    color: white;
    padding-left: 5px;
}

.numericRight {
    text-align: right;
    float: right;
  }


  .service {
    text-align: left;
    float: left;
    word-break: break-word;
}

.dashboard-elapsed-time-icon {
    line-height: 24px;
    font-size: 13px;
    color: white;
}

.setColoring {
    color: white;
    position: relative;
    top: 5px;
}
 

.setFontSize {
    font-size: 15px;
}

.setleft {
    margin-left: 291%;
}


.setPositioning {
    margin-left: 91%;
    /* margin-bottom: 0%; */
    margin-top: -26%;
    font-weight: bold;
    font-family: monospace;
}


.closeDialog {
    margin-top: -28px;
    margin-left: 97%;
    float:left;
    font-size: large;
    float:left;
  }
  
  
  .titlebar{
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    background: #282828;
    color: white;
  }

  
  
  
  .dialogHeader {
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
  }
  
  
  .dialogData {
   height: 450px;
   overflow-x: auto;
  }
  
  
  .setheadingCenter {
    margin-left: 43%;
  }
  
  .alignData {
    margin-top: -40px;
  }
  
  .zoomImage {
    width:150px;
    height:153px;
  }
  
  .note {
    list-style-type:disc;
  }
  
  .layers {
    width:20px;
    height:20px;
    margin-bottom:25px;
  }
  
  .divOverflow {
    overflow: hidden;
  }
  
  .inputAntena {
    width:18px;
    height:20px;
    margin-bottom:10px;
  }
  
  .closeIcon {
    height:0px;
  }
  
  .pointer {
    cursor: pointer;
  }