<p-sidebar
  #sidebar
  position="right"
  [styleClass]="classes"
  [(visible)]="visible"
  [showCloseIcon]="false"
  baseZIndex="10000"
  blockScroll="true"
  appendTo="body"
  styleClass="time-filter"
  [baseZIndex]="100"
  [style]="{width:'50em'}"
>
  <div class="sidebar-header">
    <div class="sidebar-title p-grid p-justify-between">
      <div>
        <span>Configuration Process : Cmon</span>
      </div>
      <div>
        <i
        class="icons8 icons8-installing-updates"
        style="cursor: pointer"
      ></i>
      <i
        class="icons8-delete icons8"
        style="cursor: pointer"
        (click)="closeClick()"
      ></i>
      </div>
    </div>
  </div>

  <div class="sidebar-content">
   
  </div>
</p-sidebar>
