
app-overview{
    .overview{
        height: 78vh;
        overflow-y: scroll;
    
    .no-padding{
        padding: 0;
    }
    .line-height{
        line-height: 30px;
    }
    .chart-container{
        .chart-header{
            display: none;
        }
    }
    .ui-carousel-dots-container{display: none;}
    .ui-carousel-items-container .ui-carousel-item{margin: 5px;overflow: hidden;}
    ul.project-details{
        li{
            list-style: none;
            //float: left;
        }
    }
    .top-section{
        margin: 10px 0 0;
        .labels-container{
            display: flex;
        }
    }
    .action-container {
        .global-search-block{
            width: 30%;
            .input-field-search {
                width: 100%;
                padding-left: 25px;
            }
        }
        
        .labels {
            margin: 0px 10px;
        }
        i.filter-icon {
            font-size: 1.5em;
            color: #1d5290;
            margin: 0 10px;
            line-height: 30px;
        }
        .search-div-css {
            position: relative;
            i {
                font-size: 1.5em;
                position: absolute;
                color: #1d5290;
                top: 7px;
                left: 5px;
            }
        }
        .ui-multiselect {
            border: none;
            padding: 12px;
            background: transparent;
            .ui-helper-hidden-accessible {
                display: none;
            }
            .ui-multiselect-label {
                display: none;
            }
            .ui-multiselect-trigger {
                margin-top: 1px;
                background-color: transparent;
                .ui-multiselect-trigger-icon {
                    font-size: 1.5em;
                }
            }
        }
        .icons-container {
            display: flex;
            flex-direction: row-reverse;
            i {
                font-size: 1.5em;
            }
        }
    }
}
}