app-alert-configure {
    .alert-config-container {
        .vertical-container {
            padding: 1em;
            height: calc(100vh - 120px);
            overflow: auto;
            .custom-button {
                border-radius: 20px;
            }
            .ui-accordion .ui-accordion-header a {
                padding: 0.571em 1em;
            }
            .ui-panel {
                .icon-button.ui-button {
                    margin: 0;
                }
            }
            .cav-panel-content {
                justify-content: space-between;
                width: 100%;
            }
            .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                width: 100%;
                .ui-dropdown {
                    min-width: 100px;
                }
            }
            .spacing {
                margin-left: 20px;
            }
            .allalerts {
                background-color: #f7f7f7;
            }
            .inputspace {
                margin: 0px 5px;
                max-width: 70px;
            }         
            .input {
                margin: 0px 5px;
                width: 97px;
            } 
            .icons{
               font-size: 1.5em;
            } 
            .move{
                margin-top: 0.5em;
            }
            .move1{
                margin-top: 0.3em;
            }
            .move2{
                margin-top: 0.5em;
            }
            .modal-header{
                width: 750px;
                margin: auto;
            }
            .block{
                width: 10px;
            }
            .autoclear {
                margin-left: 30px;
            }
            .alertdisplay {
                margin-left: 25px;
            }
            .allnotification {
                padding: 15px;
                margin-top: 10px;
                padding-left: 35px;
            }
            .inline {
                display: inline-flex;
            }
            .custom-min-width {
                .ui-dropdown {
                    min-width: 130px;
                }
            }
            .less-min-width {
                .ui-dropdown {
                    min-width: 50px;
                }
            }
            .right {
                .icon-button.ui-button.no-shadow {
                    margin-top: -9px;
                }
            }
            .severity-operation-block {
                background-color: #1d5290;
                width: 100%;
                font-size: 2em;
                .white-bg {
                    background-color: #ffffff;
                    border-radius: 5px;
                    color: #1d5290;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white {
                    color: #ffffff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white-op {
                    color: #cdddff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .no-padding {
                    padding: 0;
                }
            }
            
            .label{
                margin-left: 0.5em;
            }
            .label1{
                margin-left: -0.8em;
            }
            
            .derived-graph-bucket {
                max-height: 125px;
                overflow: auto;
                padding: 0;
                border: solid 1px #d2d2d2;
                border-radius: 3px;
                margin-top: 5px;
                .graph-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px;
                    background: #f4f7fb;
                    margin: 3px 0;
                    border: 1px solid transparent;
                    cursor: pointer;
                    .graph-section-1 {
                        display: flex;
                        align-items: center;
                        .token-index {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            padding: 7px 10px;
                            background-color: chocolate;
                            color: #fff;
                            font-size: 15px;
                        }
                        .token {
                            padding: 0.25rem 0.5rem;
                            display: inline-flex;
                            margin: 0 0.25rem;
                            background-color: #f4f8fb;
                            color: #333333;
                            border: 1px solid #cecece;
                            font-size: 14px;
                        }
                    }
                    .token-icon {
                        color: #1d5290;
                    }
                }
                .selected {
                    background-color: #c9efd4;
                    border: 1px solid #57b771;
                }
            }
        }
    }
}

