app-create-task {
  .create-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .secondary-dialog .ui-dialog .ui-dialog-content {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 100%;

    .schedule-container {
      .schedule-container-body {
        width: 100%;
        height: 100%;
        .directory-path {
          border: none;
          border-bottom: 1px solid;
          border-radius: unset;
          background-color: transparent;
        }

        .ui-card {
          padding: 0px;
          border-radius: 20px;
          height: 100%;
          .ui-card-header {
            background-color: #ededed;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 10px 15px;
            border-bottom: 1px solid #ceceec;
            .selected-label {
              font-size: 1.2em;
              font-weight: 600;
              line-height: 30px;
            }
          }

          .ui-card-content {
            padding: 10px 15px;
            .report-type {
              float: left;
              margin-right: 10px;
            }
            .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
              font-size: 15px;
            }
            .margin-top-10p {
              margin-top: 10px;
            }
            .customInput {
              border: none;
              width: 13vw;
              padding-left: 23px;
              margin-top: 2px;
              border-bottom: 1px solid #1d5290;
              border-radius: 0;
            }
            .input-css {
              width: 91px;
            }
            .ui-dropdown {
              min-width: 100px;
            }
            .search-div-css {
              position: relative;
              i.icons8-calendar {
                font-size: 1.5em;
                position: absolute;
                color: #1d5290;
                left: 0px;
                line-height: 35px;
                z-index: 99;
              }
            }
            .icon-block {
              height: 70px;
              width: 80px;
              border: 1px solid lightgrey;
              border-radius: 2px;
              margin-right: 40px;
              i {
                font-size: 35px;
                color: #1d5290;
                line-height: 40px;
              }
              .top-padding {
                padding-top: 0;
              }
            }
          }
        }

        .hourly-input-css {
          border: none;
          width: 100%;
          border-bottom: 1px solid #1d5290;
          border-radius: 0;
        }
        .ui-tabview .ui-tabview-panels {
          background-color: #ffffff;
        }
        .ui-tabview .ui-tabview-title {
          vertical-align: middle;
          color: rgb(77, 75, 75);
        }
        .ui-tabview.ui-tabview-left {
          border: 1px solid rgb(226, 225, 225);
          padding: 0px;
          .ui-tabview-nav {
            margin: 0px;
            height: auto;
            li.ui-state-active {
              background-color: #53b7714f;
              border: 1px solid #53b771;
              color: #000000;
              margin: 0px;
            }
            li {
              margin-bottom: 0px;
              width: 100%;
            }
          }
        }
        .ui-corner-left {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        .weekly-div-container {
          margin-top: 13px;
          .search-div-css {
            position: relative;
            span {
              padding: 7px 0.429em;
              right: 0px;
              color: #3d3c3c;
              position: absolute;
              border-radius: 4px;
              font-size: 15px;
              border: 1px solid #1d5290;
              margin: 0px;
              cursor: pointer;
              // border-top-left-radius: 2px;
              // border-bottom-left-radius: 2px;
            }
            .input-field-search {
              width: 100%;
            }
          }
          .ui-button.ui-button-secondary {
            color: #000000;
            background-color: #ffffff;
            border: 1px solid #1d5290;
            border-top-color: rgb(29, 82, 144);
            border-right-color: rgb(29, 82, 144);
            border-bottom-color: rgb(29, 82, 144);
            border-left-color: rgb(29, 82, 144);
          }
          .ui-button.ui-outline-button {
            border-radius: 6px;
            margin-left: -20px;
          }
          button.ui-button {
            padding: 1px 0px;
          }
          .ui-button.ui-button-text-only .ui-button-text {
            padding: 3px 8px;
            font-weight: 500;
          }
        }
        .monthly-container {
          padding-bottom: 15px;
          .monthly-css {
            margin-top: 15px;
            .ui-button.ui-button-secondary {
              color: #000000;
              background-color: #ffffff;
              border: 1px solid #1d5290;
              border-top-color: rgb(29, 82, 144);
              border-right-color: rgb(29, 82, 144);
              border-bottom-color: rgb(29, 82, 144);
              border-left-color: rgb(29, 82, 144);
            }
            .ui-button.ui-outline-button {
              border-radius: 3px;
              margin-bottom: 10px;
            }
            button.ui-button {
              padding: 1px 0px;
            }
            .ui-button.ui-button-text-only .ui-button-text {
              padding: 5px 10px;
              font-weight: 500;
            }
            button {
              margin: 0 7px;
            }
          }
        }
      }
    }
  }
}
