app-long-value{
  .string-show{
    cursor: pointer;
  }
  
}
.form-buttons{
  float: right;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  button{
    margin-left: 10px;
  }
}
