<p-dialog [(visible)]="showModel" header="Filter" [draggable]="false" class="secondary-dialog" [resizable]="true"
    closeIcon="icons8-delete" [modal]="true">

    <div class="p-col-12">
        <span class="string-show" [(ngModel)]="selectedFilter">{{ selectedFilter }}</span>
    </div>
    <div class="fixed-footer">
        <div class="p-col-12 form-buttons">
            <button pButton type="button" [cdkCopyToClipboard]="selectedFilter" (click)="close()"
                class="ui-button ui-button-rounded" label="Copy"></button>
        </div>
    </div>

</p-dialog>
<p-dialog [(visible)]="showModel1" header="Filter" [draggable]="false" class="secondary-dialog" [resizable]="true"
    closeIcon="icons8-delete" [modal]="true">

    <div class="p-col-12">
        <span class="string-show" [(ngModel)]="selectedFilter1">{{ selectedFilter1 }}</span>
    </div>
    <div class="fixed-footer">
        <div class="p-col-12 form-buttons">
            <button pButton type="button" [cdkCopyToClipboard]="selectedFilter1" (click)="close()"
                class="ui-button ui-button-rounded" label="Copy"></button>
        </div>
    </div>

</p-dialog>
<p-dialog [(visible)]="showModel2" header="Filter" [draggable]="false" class="secondary-dialog" [resizable]="true"
    closeIcon="icons8-delete" [modal]="true">

    <div class="p-col-12">
        <span class="string-show" [(ngModel)]="selectedFilterr">{{ selectedFilterr }}</span>
    </div>
    <div class="fixed-footer">
        <div class="p-col-12 form-buttons">
            <button pButton type="button" [cdkCopyToClipboard]="selectedFilterr" (click)="close()"
                class="ui-button ui-button-rounded" label="Copy"></button>
        </div>
    </div>

</p-dialog>

