<div class="h-100-vh flowpath-container">
  <div class="p-grid p-col-12">
    <p-card>
      <div class="p-grid p-col-12">
        <div class="p-col-6 p-align-center">
          <div class="p-grid p-col-12">
            <div class="p-col-4">
              <span class="label">Flowpath Instrumentation(%)</span>
            </div>
            <div class="p-grid p-col-5">
              <input type="text" value="95" pInputText />
            </div>
          </div>
          <div class="p-grid p-col-12">
            <div class="p-col-4">
              <span class="label">Http Header Name for CorrelationID</span>
            </div>
            <div class="p-grid p-col-5">
              <input type="text" value="Corelation ID" pInputText />
            </div>
          </div>         
          <div class="p-grid p-col-12">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Capture call stacks of all offending business transaction(s)" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div>
          <div class="p-grid p-col-12 ">
            <div class="p-col-3">
              <span class="label">CPU Profiling</span>
            </div>
            <div class="p-col-6">
                <p-radioButton name="groupname" label="Disabled" class="mh-10" value="val1"></p-radioButton>
                <p-radioButton name="groupname" label="Business Transaction Level" value="val2"></p-radioButton>
            </div>
          </div>
          <div class="p-grid p-col-12 p-align-center">
            <div class="p-col-3">
              <span class="label">Capture Time Breakdown</span>
            </div>
            <div class="p-col-6">
                <p-radioButton name="groupname" label="Disabled" class="mh-10" value="val1"></p-radioButton>
                <p-radioButton name="groupname" label="Business Transaction Level" value="val2"></p-radioButton>
            </div>
          </div>
          <div class="p-grid p-col-12">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Optimize Flowpath Data size" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div>
          <div class="p-grid p-col-12">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Method Response time filter" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div>
          <div class="p-grid p-col-12 p-align-center">
            <div class="p-col-4 p-grid p-align-center">
                <span class="label">Flowpath Instrumentation(%)</span>
            </div>
            <div class="p-col-1">
                <input  type="text" class="w-100-p" value="1" pInputText>
            </div>
            <div class="p-col-4 p-grid p-align-center">
              <span class="label">Slow very slow method response time</span>
            </div>
            <div class="p-col-1">
                <input  type="text" class="w-100-p" value="1" pInputText>
            </div>
            </div>
          <div class="p-grid p-col-12">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Capture Flowpath method stack trace" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div>
        </div>
        <div class="p-grid p-col-6 p-align-center">
          <div class="p-grid p-col-12">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Merge Thread Callout" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div>
          <div class="p-grid p-col-12">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Capture Method Thread ID" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div>
          <div class="p-grid p-col-12 p-align-center">
            <div class="p-col-4">
              <span class="label">Child thread filter threshold</span>
            </div>
            <div class="p-grid p-col-5">
              <input type="text" value="Corelation ID" pInputText />
            </div>
          </div> 
          <div class="p-grid p-col-12 p-align-center">
            <div class="p-col-8">
                <p-checkbox name="groupname" value="selectAll" label="Capture call stacks of all offending business transaction(s)" [(ngModel)]="selectedValues"></p-checkbox>
            </div>            
          </div> 
          <div class="p-grid p-col-12">            
            <div class="p-col-6">
                <p-radioButton name="groupname" label="Method and Business Transaction Level"  value="val1"></p-radioButton>               
            </div>
            <div class="p-col-6">
              <p-checkbox  value="val1" label="Include child flow path"></p-checkbox>
            </div>
          </div> 
          <div class="p-grid p-col-12">            
            <div class="p-col-6">
                <p-radioButton name="groupname" label="Method and Business Transaction Level"  value="val1"></p-radioButton>               
            </div>
            <div class="p-col-6">
              <p-checkbox  value="val1" label="Include child flow path"></p-checkbox>
            </div>
          </div>  
          <div class="p-grid p-col-12 p-align-center">
            <div class="p-col-5">
                <p-checkbox name="groupname" value="selectAll" label="Enable GC Notification(s) having threshold" [(ngModel)]="selectedValues"></p-checkbox>
            </div> 
            <div class="p-col-2">
              <input type="text" class="w-100-p" value="1000" pInputText />
            </div>  
            <div class="p-col-1">
              <span class="label">Ms</span>
            </div>           
          </div>              
        </div>
      </div>
      <p-footer>
        <div class="p-grid p-align-center p-justify-end pv-30">
          <div class="">
            <button
              pButton
              type="button"
              class="ui-button-secondary ui-button-rounded mh-10"
              label="RESET TO DEFAULT"
            ></button>
            <button
              pButton
              type="button"
              class="ui-button-secondary ui-button-rounded mh-10"
              label="RESET"
            ></button>
            <button
              pButton
              type="button"
              class="ui-button ui-button-rounded mh-10"
              label="SAVE"
            ></button>
          </div>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>
