app-add-report-settings {
  .add-report-setting-container {
    .vertical-container {
      background: #ffffff;
      padding-top: 6px;

     


      .line-height {
        line-height: 30px;
      }
      .threeButtons {
        padding-top: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 530px;
        align-self: auto;
        margin: 20px auto;
      }

      .twoButtons {
        padding-top: 12px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3px;
      }
      .horizontal-container {
        height: 76vh;
        width: 100%;
        overflow: auto;
        display: flex;

        .panel-card {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          overflow-y: scroll;
          overflow-x: scroll;
        }
      }

      p-card{width: calc(20% - 10px); margin: 5px;}
      p-card.pcard-padding .ui-card .ui-card-content {
        padding: 10px 15px;
      }
     
   

      p-card.report-sets .ui-card {
        .ui-card-content {
          padding: 10px 10px;
          padding-right: 0px;
        }
      }

      p-card .ui-card {
        height: 60vh;
        width: 100%;
        padding: 0px;
        border: 1px solid #ceceec;
        // margin: .5vw;
        border-radius: 10px;

        .ui-card-header {
          background-color: #ededed;
          height: auto;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 10px 15px;
          display: flex;
          border-bottom: 1px solid #ceceec;

          p-header {
            width: 100%;
            padding: 0px;

            .btn-right {
              float: right;
            }
          }

          .selected-label {
            font-size: 1.2em;
            font-weight: 600;
            line-height: 30px;
          }

          .cross-button {
            color: #1d5290;
            margin: 0 0 0 20px;
            font-size: 1.25em;
            font-weight: 700;
          }
        }

        // .ui-card-body {
        //   height: 380px;
        //   overflow: auto;
        // }

        .ui-card-content {
          height: calc(100vh - 296px);
          overflow-y: hidden;
          position: relative;
          padding: 7px 0;
        }
        .ui-listbox.ui-inputtext.ui-widget.ui-widget-content.ui-corner-all{
          width: auto;
          border-width: 0;
        }
        .ui-dropdown-label-container{
          overflow:auto
        }
        .add-temp-btn {
          margin-top: calc(100vh - 380px);
          text-align: right;
          margin-right: 15px;
        }
      }

      .metric-group {
        .ui-orderlist .ui-orderlist-list .ui-orderlist-item {
          background-color: #ffffff;
        }

        .ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-highlight {
          background-color: #c9efd4;
        }
      }

      .metrics {
        .ui-orderlist .ui-orderlist-list .ui-orderlist-item {
          background-color: #ffffff;
        }
        .ui-orderlist .ui-orderlist-list .ui-orderlist-item.ui-state-highlight {
          background-color: #c9efd4;
        }
        .ui-listbox .ui-listbox-list .ui-listbox-item{
          display: flex !important;
        }
        input.ui-inputtext.ui-widget.ui-state-default {
          width: calc(100% - 28px);
          margin-left: 28px;
          padding-left: 20px;
          }
          .ui-orderlist-filter-container{
            .ui-orderlist-filter-icon{left: 40px;}
          }
          .metricCheckbox{position: absolute;
            top: 21px;
            left: 12px;
            z-index: 9;}
      }

      .delete-icon {
        float: right;
        color: #1d5290;
      }

      // .ui-button.ui-button-text-only .ui-button-text {
      //   padding: 3px 1em;
      //   font-weight: 600;
      //   font-size: 1em;
      // }

      .line-height {
        line-height: 30px;
      }

      .ui-dropdown {
        min-width: 106%;
        width: 106%;
      }
      .ui-dropdown .ui-dropdown-label {
        padding-right: 1em;
        border: none;
        text-overflow: ellipsis;
        color: var(--secondary-button-text-color);
    }
      .ui-multiselect{ 
        min-width: 106%;
        width: 106%;}
        .ui-multiselect-close {
          position: absolute;
         right: 0.000em;
          top: 0.375em;
          display: block;
          border: 0 none;
          cursor: pointer;
      }
      .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        font-size: 15px;
      }

      .margin-top {
        margin-top: 15px;
      }

      .ui-orderlist-list {
        height: 41vh;
        width: 100%;
        overflow-y: scroll;
        position: relative;
      }

      .report-name {
        line-height: 20px;
      }
      .text-left {
        text-align: left ;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
  .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon{font-size: 15px;}
  .checkbox-list{display: flex; align-items: center; list-style: none; margin: 8px; padding: 0px; flex-wrap: wrap;}
  .checkbox-list>li{margin: 5px;
    display: inline-flex;
    align-items: center;
    width: 60px;}
    .secondary-dialog .ui-dialog{box-shadow: none;}
    .buttons-link{background: transparent; display: inline-flex; align-items: center;
      outline: none;
      border: none;
      font-weight: 500;
      cursor: pointer;}
      .buttons-link>i{margin: 0px 5px;}

      .ui-listbox .ui-listbox-list-wrapper{height: calc(52vh - 50px);}
      .reportset .ui-listbox .ui-listbox-list-wrapper{height: calc(52vh - 21px);}
      .set-detail-wraper{height: calc(52vh - 50px);
         overflow: auto; 
         padding-right: 5px;}
      .search-width100 .ui-listbox-header{
      padding: 6px 6px !important;
    }
      .listbox-pr6 .ui-listbox-header{
      padding-right:6px !important;
    }
      .search-width100 .ui-listbox-header .ui-listbox-filter-container {
        width: 100% !important;
    }
   .ui-listbox .ui-listbox-list .ui-listbox-item{
      display: flex !important;
    }




}

.padding-class {
  padding-top: 3px;
}

.cursor-class {
  cursor: pointer;
}

.margin-left-class {
  margin-left: 8px;
}

.note-color-class {
  color: darksalmon;
  margin: 5px 0px;
}
.confirmdialog{
  >div{
    top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;background-color: rgba(0, 0, 0, 0.4); position: fixed;
    display: flex; align-items: center; justify-content: center;
 }
}
.note{
  margin-left: 5px;
  color: darksalmon;
  margin-top: 1px;
}
.dashboard-report-pattern-exp-text-div {
  padding-left: 5px;
  padding-top: 10px;
  width: 100%;
  text-align: left ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .ui-widget:disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: context-menu;
    width: 99%;
}
}
.ui-inputtext {
  font-size: 14px;
  width: 100%;
}
.tooltipStyle{
  word-break: break-all;
  width:20%;
}

.ui-table-scrollable-body.ng-star-inserted {
  overflow-x: hidden;
}
.deleteStyle{
  cursor: pointer;
}