app-indices-shards {
  .shard-wrapper {
    .search-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .ui-button.ui-icon-button {
          color: #1d5290;
          &:hover {
            color: #1d5290;
          }
        }
        .ui-multiselect {
          border: none;
          padding: 12px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label-container {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .shard-table {
    }
  }
}
