app-catalogue-management {
    .secondary-dialog .ui-dialog .ui-dialog-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 1em;
        overflow: auto;
    }
    .catalogue-container {
        .ui-tabview.ui-tabview-top .ui-tabview-nav li {
            width: 22%;
            padding: 2px;
            background-color: #ededed;
        }
        .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
            font-weight: normal;
        }
        .ui-tabview.ui-tabview-top .ui-tabview-nav li a,
        .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a {
            font-size: 12px;
        }
        .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover,
        .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
        .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover {
            padding: 2px;
        }
        .line-height {
            line-height: 30px;
        }
        .category-type-css {
            width: 45%;
        }
        .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
            width: 100%;
            background-color: #53b771;
            border: 2px solid #53b771;
            margin-bottom: 5px;
            height: 27px;
            color: #ffffff;
            &:not(.ui-state-highlight) {
                &:hover {
                    background-color: #53b771;
                    border: 2px solid #53b771;
                    color: #ffffff
                }
            }
        }
    }
}
#centerpoint1 {
    top: 50%;
    left: 50%;
    .ui-dialog {
      width: 26vw;
      height: 30%;
    }
    .ui-dialog-title {
      display: inline-block;
      margin-top: 5px;
    }
    .ui-dialog-content {
      padding: 2em;
      font-size: 14px;
    }
    // transform: translateX(-50%) translateY(-50%);
}