app-business-view {
    .business-view-wrapper {
        // .size {
        //   font-size: 35px;
        // }
        .business-view-content-body {
            display: flex;
            flex-direction: column;
            height: calc(100% - 42px);
            padding: 10px;
            .component-view {
                background-color: #ffffff;
                .prv {
                    position: absolute;
                    left: 0;
                    top: 50%;
                }
                .nxt {
                    position: absolute;
                    right: 0;
                    top: 50%;
                }
                .action-buttons {
                    .icons8 {
                        font-size: 2.25em;
                    }
                }
                .slider-component {
                    margin: 0 55px;
                    height: calc(100% - 30px);
                    overflow: auto;
                }
            }
            .v-dash {
                position: absolute;
                left: 41%;
                bottom: 9px;
            }
            .view-dashboard-btn {
                color: #5cb771;
                border: 2px solid #5cb771;
                padding: 0em 2em;
                border-radius: 15px;
                background-color: #ffffff;
                margin: 0;
                font-size: 13px;
                transition: background-color 0.2s, box-shadow 0.2s;
                display: inline-block;
                position: relative;
                text-decoration: none;
                cursor: pointer;
                text-align: center;
                overflow: visible;
            }
            .view-dashboard-btn:hover {
                color: #5cb771;
                border: 2px solid #5cb771;
                padding: 0em 2em;
                text-decoration: none;
            }
            .view-dashboard-btn.ui-button.ui-button-text-only .ui-button-text {
                padding: 0.529em 2em;
                color: #5cb771;
            }
        }
    }
}