app-configure-maintenance {
    .configure-maintenance-dialog {
        .configure-maintenance-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
        .dialog-content {
            .input-field-border-none {
                width: 100%;
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .ui-dropdown .ui-dropdown-label {
                padding-right: 0em;
            }

            .desc-height {
                padding-bottom: 3em;
            }
            .test-button
            {
                background-color: #1d5290;
                border: none;
            }
            .customInput {
                border: none;
                width: 13vw;
                padding-left: 2em;
                background-color: #ffffff;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .customInputTime {
                border: none;
                width: 100%;
                background-color: #ffffff;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .label-align {
                margin-top: 1em;
                padding-left: 0px;
            }
            .radiobutton1-align {
                margin-top: 0.7em;
            }
            .radiobutton2-align {
                margin-top: 1em;
            }
            .spacing {
                margin-top: -0.5em;
            }
            .timerOnly{
               .ui-datepicker{
                min-width: 7.3em;
                .ui-timepicker{
                    font-size: 0.85em;
                    padding: 0.5em;
                    div{
                        margin-left: 0em;
                        }
                    }
               }
            }
            .search-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 4px;
                    left: 4px;
                }
                .ui-dropdown{
                    min-width: 100px;
                    width: 10%;
                }
            }
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 1em;
        }
        .disabled
        {
            pointer-events: none;
            /* for "disabled" effect */
            opacity: 0.5;
        }
    }
    
}
.cdk-overlay-container {
    z-index: 2147483647 !important;
}
.custom-dropdown .ui-widget .ui-widget-content  {
    max-height : 140px;
}
