app-business-transaction {
    .business-transaction-container {
        .vertical-container {
            .btn-display {
                display: flex;
                align-items: center;
            }
            .lable-size {
                font-size: 14px;
                font-weight: 600;
                margin-left: 10px;
            }
        }
    }
}