<div class="h-100-vh business-transaction-container">
    <div class="vertical-container overflow">
        <div class="p-col-12">
            <div class="p-grid p-col-12 p-justify-between p-align-center action-grid w-100-p">
                <div class="p grid btn-display">
                    <div class="p-field-radiobutton p-5">
                        <p-radioButton name="city" value="globalconfig" [(ngModel)]="settings" inputId="agent_setting">
                        </p-radioButton>
                        <label class="lable-size">Global Configration</label>
                    </div>
                    <div class="p-field-radiobutton p-5">
                        <p-radioButton name="city" value="patternconfig" [(ngModel)]="settings" inputId="ndc_setting">
                        </p-radioButton>
                        <label class="lable-size">Pattern Configration</label>
                    </div>
                </div>
                <div class="p-grid">
                    <button pButton label="save" class="ui-button ui-button-rounded ui-button-secondary"></button>
                </div>
            </div>
        </div>
        <app-pattern-configuration></app-pattern-configuration>
    </div>
</div>