app-git-configuration {
    .control-input {
        width: 100%;
    }
    .form-buttons {
        display: contents;
        float: right;
        .btn-display {
            padding: 0px 20px 0px 20px;
            border-radius: 15px;
        }
        .close-btn {
            padding: 0px 20px 0px 20px;
            border-radius: 15px;
            background-color: white;
            border: 2px solid #1d5290;
            color: #1d5290;
        }
        .ui-button-right {
            margin-left: 10px;
        }
    }
    .p-grid.p-col-12 {
        padding-top: 10px;
    }
    .action-buttons {
        i {
            margin: 0 5px;
            cursor: pointer;
            color: #1d5290;
        }
    }
    .dialog-content {
        padding-top: 15px;
        .input-field-border-none {
            width: 100%;
            border: none;
            border-bottom: 1px solid #1d5290;
            border-radius: 0;
        }
        .config-display {
            display: flex;
        }
        .btn-padding {
            padding-left: 25px;
        }
        .gitlable {
            font-size: 10px;
        }
    }
    .secondary-dialog .ui-dialog .ui-dialog-content {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 1em;
    }
    .add-check-condition {
        width: 34%;
    }

    .warningInputField {
        color: red;
    }

    #centerpoint {
        top: 50%;
        left: 50%;
        .ui-dialog {
            width: 26vw;
            height: 30%;
        }
        .ui-dialog-title {
            display: inline-block;
            margin-top: 5px;
        }
        .ui-dialog-content {
            padding: 2em;
            font-size: 14px;
            border-radius: initial;
        }
    }

    .ui-dialog {
        .ui-dialog-titlebar {
            .ui-dialog-title {
                width: 100%;
            }
        }
    }
}
