.loadingIconAgentInfo {
    color: white;
    height: 14px;
    margin: 0px 2px -2px 0px;
}

.runningtestrun {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    padding-top: 8px;
}