app-settings{
    .settings-page{
        .content-body{
            background-color: #fff;
            height: calc(100vh - 105px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 15px 25px;

            .settings-card p-card{
                margin: 0px 20px;
                .ui-card{
                    padding:0px;
                    .ui-card-title{
                        background-color: #327aba;
                        color: #fff;
                        font-size: 15px;
                    }
                    .ui-card-content{
                        padding: 8px;
                        background-color: #f7f7ff;

                        .sub-cards p-card{
                            .ui-card-title{
                                background-color: #fff;
                                color: #000;
                                font-size: 15px;
                                border-bottom: 1px solid #f1f1f1;
                                text-transform: capitalize;
                            }
                            .ui-card-content{
                                padding: 8px;
                                background-color: #fff;
                            }
                        }
                    }
                }
                .icons8-user{font-size: 45px;}
                
                .button-container{
                    margin: 40px 0px 15px 0px;
                }
                p-checkbox{margin-right: 5px;}
                .radio-group{margin-top: 20px;}
            }
            .ui-button.ui-button-tertiary{
                color: #53b771;
                border: 2px solid #53b771;
                background-color: #fff;
                &:enabled:hover{
                    color: #53b771;
                border: 2px solid #53b771;
                background-color: #fff;
                }
            }
            .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{font-size: 15px;}
            .password{
                border: none;
                border-bottom: 1px solid;
                border-radius: 0;
            }
            .control-input{width: 100%;}
        }
    }
    .form-buttons {
        float: right;
        display: flex;
        flex-direction: row-reverse;
        .ui-button-right {
            margin-left: 10px;
        }
    }

    #centerpoint {
        top: 50%;
        left: 50%;
        .ui-dialog {
          width: 26vw;
          height: 30%;
        }
        .ui-dialog-title {
          display: inline-block;
          margin-top: 5px;
        }
        .ui-dialog-content {
          padding: 2em;
          font-size: 14px;
          border-radius: initial;
        }
        }
}