app-indices-administration {
  .administration-wrapper {
    .container {
      height: calc(100% - 175px);

      .download-data {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .body {
        background-color: #fff;
        padding: 1em;
        border: 1px solid #ccc;
        margin: 1em;
        height: calc(100% - 50px);
        overflow: auto;
        .info-card {
          background-color: #f4f7fb;
          margin: 5px 0;
          .btn {
            div {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #c3d7ea;
              color: #333333;
              border: none;
              border-radius: 3px;
              cursor: pointer;
              height: 100%;
              font-size: 16px;
              text-align: center;
              padding: 5px;
            }
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
