<div class="administration-wrapper h-100-vh">
  <div class="p-grid container">
    <div class="p-col-12">
      <div class="download-data">
        <button
          pButton
          icon="icons8 icons8-installing-updates"
          class="ui-icon-button"
          pTooltip="Download"
        ></button>
      </div>
    </div>
    <div class="body">
      <div class="p-col-12 info-card">
        <div class="p-grid">
          <div class="p-col-1 btn">
            <div (click)="IndicesFlush.show()">Flush Index</div>
          </div>
          <div class="p-col-11">
            <p>
              The flush process of an index frees memory from the index by
              flushing data to the index storage and clearing the internal
              transaction log. By default, NFDB uses memory heuristics in order
              to automatically trigger flush operations as required in order to
              clear memory.
            </p>
          </div>
        </div>
      </div>
      <div class="p-col-12 info-card">
        <div class="p-grid">
          <div class="p-col-1 btn">
            <div (click)="IndicesClearCache.show()">Clear Cache</div>
          </div>
          <div class="p-col-11 pl-5">
            <p>
              The flush process of an index frees memory from the index by
              flushing data to the index storage and clearing the internal
              transaction log. By default, NFDB uses memory heuristics in order
              to automatically trigger flush operations as required in order to
              clear memory.
            </p>
          </div>
        </div>
      </div>
      <div class="p-col-12 info-card">
        <div class="p-grid">
          <div class="p-col-1 btn">
            <div (click)="IndicesOptimize.show()">Optimize Index</div>
          </div>
          <div class="p-col-11 pl-5">
            <p>
              The flush process of an index frees memory from the index by
              flushing data to the index storage and clearing the internal
              transaction log. By default, NFDB uses memory heuristics in order
              to automatically trigger flush operations as required in order to
              clear memory.
            </p>
          </div>
        </div>
      </div>
      <div class="p-col-12 info-card">
        <div class="p-grid">
          <div class="p-col-1 btn">
            <div (click)="IndicesRefreshed.show()">Refresh Index</div>
          </div>
          <div class="p-col-11 pl-5">
            <p>
              The flush process of an index frees memory from the index by
              flushing data to the index storage and clearing the internal
              transaction log. By default, NFDB uses memory heuristics in order
              to automatically trigger flush operations as required in order to
              clear memory.
            </p>
          </div>
        </div>
      </div>
      <div class="p-col-12 info-card">
        <div class="p-grid">
          <div class="p-col-1 btn">
            <div>Close Index</div>
          </div>
          <div class="p-col-11 pl-5">
            <p>
              The flush process of an index frees memory from the index by
              flushing data to the index storage and clearing the internal
              transaction log. By default, NFDB uses memory heuristics in order
              to automatically trigger flush operations as required in order to
              clear memory.
            </p>
          </div>
        </div>
      </div>
      <div class="p-col-12 info-card">
        <div class="p-grid">
          <div class="p-col-1 btn">
            <div>Delete Index</div>
          </div>
          <div class="p-col-11 pl-5">
            <p>
              The flush process of an index frees memory from the index by
              flushing data to the index storage and clearing the internal
              transaction log. By default, NFDB uses memory heuristics in order
              to automatically trigger flush operations as required in order to
              clear memory.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Indices Clear Cache Dialog -->
<app-indices-clear-cache
  #IndicesClearCache
  [indices]="this"
></app-indices-clear-cache>

<!-- Indices Flushed Dialog -->
<app-indices-flush #IndicesFlush [indices]="this"></app-indices-flush>

<!-- Indices Optimize Dialog -->
<app-indices-optimize #IndicesOptimize [indices]="this"></app-indices-optimize>

<!-- Indices Refreshed Dialog -->
<app-indices-refresh #IndicesRefreshed [indices]="this"></app-indices-refresh>
