app-custom-data {
    .custom-data-container{
        .action-container {
            .input-field-search {
                width: 90%;
                padding: 6px;
                margin-left: 0px;
              }
              .search-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 5px;
                }
            }
            .search2-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 12px;
                    left: 10px;
                }
            }
            .no-padding {
                padding: 0;
            }
            .ui-radiobutton-label {
                margin: 0 0.5em 0 0.5em;
            }
            .ui-paginator .ui-paginator-current{float: left;}
            input[type="text" i] {
                padding-left: 30px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .global-search-block{
                width: 35%;
                margin-left: 5px;
            }
            .ui-multiselect {
                border: none;
                padding: 18px 15px;
                background: transparent;
                .ui-helper-hidden-accessible {
                  display: none;
                }
                .ui-multiselect-label {
                  display: none;
                }
                .ui-multiselect-trigger {
                  margin-top: 1px;
                  background-color: transparent;
                  .ui-multiselect-trigger-icon {
                    font-size: 1.5em;
                  }
                }
              }
            .icons-container {
                display: flex;
                i {
                    font-size: 1.5em;
                }
                .add-template{margin-left: 5px;}
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                .btn-margin {
                    margin-left: 1em;
                }
            }
            .content-body{
                .ui-card{
                    margin: 0px 10px;
                }
                .edit-icon{
                    color: #1d5290;
                    cursor: pointer;
                    font-size: 18px;
                } 
            }
            .empty-table-message
            {
              margin-left: 12px;
            }
        } 
        .ui-tabview.ui-tabview-top .ui-tabview-nav li {
            width: 200px;
            text-align: center;
        }
        .ui-tabview .ui-tabview-title {
            vertical-align: middle;
            font-size: 12px;
        }
        .ui-tabview .ui-tabview-panels {
            width: calc(100vw - 70px);
            height: calc(100vh - 274px);
        }
        .margin {
            margin-left: 7em;
            //margin-top: 1em;
        }
        .ui-table .ui-table-caption {
            background-color: #e0dbdb;
            color: #1d5290;
            border: 1px solid transparent;
            padding: 0.471em 1em;
            text-align: left;
            border-bottom: 0 none;
            font-weight: 700;
            font-size: 14px;
            color: #333333;
        }
    }
  }
  