.ui-panel-contents {
    overflow: auto;
    height: 370px;
  }

  :host>>>.secondary-dialog .ui-dialog-content.ui-widget-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}