app-business-process{
    .business-process-container{
            .action-container {
                .global-search-block{
                    width: 40%;
                }
                .input-field-search {
                    width: 60%;
                    padding-left: 25px;
                }
                .labels {
                    margin: 0px 10px;
                }
                i.filter-icon {
                    font-size: 1.5em;
                    color: #1d5290;
                    margin: 0 10px;
                    line-height: 30px;
                    cursor: pointer;
                }
                .search-div-css {
                    position: relative;
                    display: flex;
                    i {
                        font-size: 1.5em;
                        position: absolute;
                        color: #1d5290;
                        top: 7px;
                        left: 5px;
                    }
                    .ui-dropdown{
                        min-width: 100px;
                    }
                }
                .ui-multiselect {
                    border: none;
                    background: transparent;
                    .ui-helper-hidden-accessible {
                        display: none;
                    }
                    .ui-multiselect-label {
                        display: none;
                    }
                    .ui-multiselect-trigger {
                        margin-top: 1px;
                        background-color: transparent;
                        .ui-multiselect-trigger-icon {
                            font-size: 1.5em;
                        }
                    }
                }
                .icons-container {
                    display: flex;
                    flex-direction: row-reverse;
                    i {
                        font-size: 1.5em;
                    }
                    .add-template{margin-left: 5px;}
                }
            }
    
        .ui-table {
          .columnwidth {
            width: 40px;
          }
          .row-extra{
            float: right;
            color: #1d5290;
          }
        }
      
    }
}