p.node-label {
    top: 22px;
    position: absolute;
    white-space: nowrap;
    left: 8px;
}
#svg #majorInner{
    /* / stroke-dashoffset: 20; / */
    transition: stroke-dashoffset 1s linear;
    stroke: orange;
    stroke-width: 0.2em;
    }
    #svg #normalInner{
    /* / stroke-dashoffset: 30; / */
    transition: stroke-dashoffset 1s linear;
    stroke: yellow;
    stroke-width: 0.2em;
    }
    
    /* #svg #criticalInner {
    transition: stroke-dashoffset 1s linear;
    stroke: #FB3737;
    stroke-width: 0.2em;
    }  */

    .tooltip-alert-main{
        width:152px;
        display:none;
        background:linear-gradient(to bottom, #ccffcc 0%, #ffffff 100%);
        font-size:11px;
        border-radius:5px;
        padding:5px;
        position:absolute;
        color: black !important;
      }
      
      .label-tooltip{
        float:right;
        margin-right:13%
      }
      .label-tooltip-val{
          margin-left:13%
      }
      .tooltip-alert-div{
        height:15px
      }
      .ts-tooltip{
          display: block;
      }
      
.output-node{
  border: 2px solid #f76258 !important;
}