.fontClass {
    padding: 0 5px 0 0;
}

.alertTableClass {
    padding: 0px 5px 0px 5px;
    margin-top: 5px;
}

.fieldClass {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.entityfieldClass {
    cursor: pointer;
    display: inline-block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.divClass {
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
    padding: 0.5em .75em;
    border-width: 0 0 1px 0;
}

.headerDiv {
    border-radius: 3px;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}

.mainDivClass {
}

.spanAlertIconClass {
    float: right;
    font-size: 14px;
}

.marginClass {
    margin-top: 3px;
}

.gKpiLoadingIcon {
    position:absolute;
    top:45%;
    left:48%;
    color: white;
 } 
