<form #form="ngForm" ngNativeValidate>
    <div class="tabsincontent">
        <div class="header p-grid p-justify-between p-align-center">
	    <span class="configui-float-css my-6">
                <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedDLValues" binary="true" *ngIf="isProfilePerm" [disabled]="isProfilePerm"></p-checkbox>
                <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedDLValues" binary="true" *ngIf="!isProfilePerm" [disabled]="saveDisable"></p-checkbox>
                Dynamic Logging 
            </span>
            <div class="pull-right my-6"> 
                <button type="button" class="ui-button-sucess mr-6" pButton icon="icons8 icons8-synchronize" *ngIf="isProfilePerm" [disabled]="saveDisable" label="Reset to Default"></button>
                <button type="button" class="ui-button-sucess mr-6" pButton icon="icons8 icons8-synchronize" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordsDataToDefault()" label="Reset to Default"></button>
                <button type="button" class="ui-button-sucess mr-6" pButton icon="icons8 icons8-synchronize" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="resetKeywordValue()" label="Undo All"></button>
                <button type="submit" class="ui-button-sucess mr-6" pButton icon="icons8 icons8-save" *ngIf="!isProfilePerm" [disabled]="saveDisable" (click)="saveDynamicLoggingDataonFile()" label="Save"></button>
            </div>
        </div>
        <p-panel class="hideheader">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid configui-hideheader">
                <div class="ui-g">
                    <div class="ui-g-12 p-align-center">
                        <div class="ui-g-2">
                            <label>Fully Qualified Class</label>
                        </div>
                        <div class="ui-g-5">
                            <p-dropdown name="selectedFQC" placeholder="--select--" (onChange)="getFqmList()" dropdownIcon="icons8 icons8-expand-arrow"
                                [(ngModel)]="selectedFQC" [disabled]="isNoInstanceSelected" [style]="{'width':'100%'}" [options]="fqcList"></p-dropdown>
                        </div>
                    </div>
                    <br><br>
                    <div class="ui-g-12">
                        <p-header class="my-6">
                            <div class="my-6">Dynamic Logging</div>
                        </p-header>
                        <p-table class="nde-ui config-ui all-tables" [value]="tableValues">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Fully Qualified Method Name</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-dlData>
                                <tr>
                                    <td title="{{dlData.fqm}}">{{dlData.fqm}}</td>
                                    <td>
                                        <span>
                                            <button pButton style="width: 30%;" (click)="dynamicLoggingNavigator(dlData)" type="button" title="View" label="View"></button>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <!-- <p-dataTable  [value]="tableValues">
                        <p-header>
                            <span class="configui-float-css">Dynamic Logging</span>
                        </p-header>
                        <p-column class="tableCss" [style]="{'width':'80%'}" field="fqm" header="Fully Qualified Method Name" [sortable]="true">
                            <ng-template let-col let-dlData="rowData" pTemplate>
                                <span title="{{dlData[col.field]}}">{{dlData[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="action" header="Action" [style]="{'text-align': 'center'}">
                            <ng-template let-col let-dlData="rowData" pTemplate>
                                <span>
                                    <button pButton style="width: 30%;" (click)="dynamicLoggingNavigator(dlData)" type="button" title="View" label="View"></button>
                                </span>
                            </ng-template>
                        </p-column>
                    </p-dataTable> -->
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</form>

<app-dynamic-logging *ngIf="showCommonDLComponent" (closeDLGui)="closeDynamicLogging($event)" [DynamicLoggingData]="argsForDynamicLogging"></app-dynamic-logging>
