app-add-baseline {
    .addbaseline {
        .compare-data-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    //padding: 0 5px;
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
        .dialog-content {
            .box {
                margin: 0px 10px;
            }
            .columnwidth {
                width: 40px;
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    // margin-top: 8px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .configure-days {
                //padding: 20px 15px 150px 15px;
                //background-color: #efefef;
                // margin: 15px;
                .bold {
                    font-size: 15px;
                }
                .event-day {
                    display: flex;
                    margin: 5px;
                    .btn-add {
                        padding: 0px 10px 0px 10px;
                    }
                }
            }
            .config-display {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .input-field-border-none {
                width: 100%;
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .line-height {
                line-height: 30px;
                padding-left: 20px;
            }
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 1em;
        }
    }
}