app-logs-visualization{
    .logs-visualization-container {
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
          font-size: 1.25em;
        }
    
        .action-container {
          .input-field-search {
            width: 80%;
            padding-left:40px;
          }
          input[type="text" i] {
            padding-left: 30px;
        }
          .labels {
            margin: 0px 10px;
          }
          i.filter-icon {
            font-size: 1.5em;
            color: #1d5290;
            margin: 0 10px;
            line-height: 30px;
          }
    
          .search-div-css {
            position: relative;
            margin-left:4px;
    
            i {
              font-size: 1.5em;
              position: absolute;
              color: #1d5290;
              left: 8px;
              line-height: 32px;
            }
          }
    
          .ui-multiselect {
            border: none;
            background: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label {
              display: none;
            }
            .ui-multiselect-trigger {
          
              background-color: transparent;
             
            }
          }
          .icon-button.ui-button {
            margin: 0 2px;
          }
          .icons-container {
            display: flex;
            flex-direction: row-reverse;
          }
          .check {
            font-size: 1.5em;
          }
    
          .action-button button {
            margin-right: 10px;
          }
        }
        .ui-paginator .ui-paginator-current {
          float: left;
        }
        .columnwidth {
          width: 40px;
        }
        .add-report{margin-right: 15px;}
        .global-search-block{width: 40%;}
        .column-filter{font-size:1.5em !important}
      }
}