app-auto-genarage-color-management {
  .auto-genarage-color-management-container {
    .mh-10 {
      margin: 0 10px;
    }
    .left-panel-container {
      height: calc(100vh - 110px);
      border-right: 1px solid #cccccc;

      .ui-orderlist-list {
        height: calc(100vh - 210px);
        overflow: auto;
      }
      .list {
        display: flex;
        align-items: center;
      }
      .color-box {
        height: 30px;
        width: 30px;
        border: 1px solid #cccccc;
        margin: 2px 10px;
      }
    }
    .color-checkbox-container {
      height: calc(100vh - 125px);
      overflow: auto;

      .color-checkbox-block {
        padding: 0.5em;
        display: flex;
        align-items: center;

        .color-box {
          height: 30px;
          width: 30px;
          border: 1px solid #cccccc;
          margin: 2px 10px;
          position: relative;
        }
        .list-name {
          font-size: 15px;
        }
      }
      .color-checkbox-block.active {
        border: 1px solid #cccccc;

        .color-box::after{
          content: '✓';
          font-size: 20px;
          color: #ffffff; 
          left: 7px; 
          top: 4px;   
          position: absolute;     
        }
      }
    }

    .pallet-container {
      background-color: #ffffff;
      height: calc(100vh - 125px);
      overflow: auto;

      .color-pallet-container {
        // display: flex;
        .color-checkbox-block {
          padding: 0.25em;
          display: flex;
          .color-label {
            width: 100px;
            display: flex;
            align-items: center;
            label{
              font-size: 13px;
              color: #1d2590;
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .color-box {
            height: 30px;
            width: 30px;
            border: 1px solid #cccccc;
            margin: 2px 10px;
            position: relative;
          }
        }
        .color-checkbox-block.active {
          .color-box::after {
            content: "✓";
            font-size: 29px;
            color: #ffffff;
            left: 3px;
            position: absolute;
          }
        }
      }
    }
  }
}
