app-scatter-map {
  display: none;
  height: 300px;
  //   padding: 10px 15px 10px;
  background-color: #fff;
  box-shadow: 4px -2px 9px -4px rgba(0, 0, 0, 0.2);
  z-index: 15;
  border: 1px solid #cecece;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  &.open {
    display: block;
  }
  .scatter-map-container {
    height: 100%;
    .header {
      padding: 10px;
      background-color: #e6e6e6e6;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: 1px solid #cecece;
      .widget-title {
        font-size: 15px;
        font-weight: 600;
      }
      .max-onload {
        input {
          width: 60px;
        }
      }
      .dropdowns {
        .ui-dropdown {
          min-width: 115px;
        }
      }
      .close-click {
        color: #1d5290;
        cursor: pointer;
        font-size: 15px;
      }
    }
    .map-content {
      height: 100%;
      .chart-container {
        border: none;
      }
      .chart-header {
        border: none;
      }
      .chart-body {
        border: none;
      }
    }
  }
}
