app-business-transaction-jacket{
  .business-transaction-jacket-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    .startTime{
      float: right;
    }
    .loader-container {
      .pi-spinner.pi {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span {
        font-size: 24px;
        vertical-align: middle;
      }
    }
    .businessTran{margin: 2px 5px;}
    .box-stretched,
    body {
      font-size: 16px;
      width: 100%;
      background: #fff;
      .list span {
        font-size: 12px;
      }
      .ui-orderlist-caption {
        color: #393737;
        box-shadow: none;
        text-align: left;
      }
      .ui-orderlist-list{
        height: calc(100vh - 170px);
      }
      .close-search{
        text-align: right;
        cursor: pointer;
        color: #1d5290;
        margin-top: -15px;
        .icons8-menu{
          margin-right: 10px;
        }
      }
      .search-title{
        margin: 5px 0 0 15px;
        font-size: 16px;
      }
     
    }
   
      .sort-info{
        width: 50%;
        float: left;
        margin-bottom: 10px;
      }
      .form-buttons{
        text-align: end;
      }
      .ui-button.ui-button-text-only .ui-button-text{
        padding: 4px 12px;
        font-size: 12px;
      }
     .ui-button-secondary{margin-right: 5px;}
     
  }
  .ui-orderlist .ui-orderlist-caption {
    text-align: left;
  }
  .left-margin img {
    margin: 0 5px;
    height:16px;
  }
  .right-margin{
    font-size: 12px;
    margin-right:5px; 
  }
  .top-margin{
    margin-top:2px; 
    padding: 2px;
  }
  .rightfloat{
    float: right;
  }
  .displayInline{
    display:inline-block;
  }

}
