app-log-integration{
    .log-integration-container{
      position: sticky;
      top:1px;
        .ui-card {
            padding: 0px;
            //border-radius: 6px;
            margin-bottom: 10px;
            height: calc( 100vh - 210px);

            .ui-card-header {
              padding: 1px 15px;
              font-size: 16px;
              border-bottom: 1px solid #b0b0b0;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
            }
            .ui-card-body{
              .main-content{
                  padding: 10px;
                  height: 14vh;
              }
              .fields-content{
                  height: 400px;
              }
            }
          }
          .selected-label{
            font-size: 13px;
            font-weight: bold;
          }
          .child-block{
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid #dbdbdb;
              align-items: stretch;
              
              .divide1{
                    border-right: 1px solid #dbdbdb;
                  
                .child-text{
                    line-height: 16px;
                    padding: 6px;
                    display: inline-block;
                    word-break: break-all;
                }
              }
              .icon-block {
                padding-left: 15px;
              
              i{
                border: 1px solid #1d5290;
                margin: 5px 5px;
                color: #1d5290;
                padding: 3px;
            }
        }     
          }
          .child-btn{
              padding: 10px;
            .ui-button,.ui-button:hover{
                color:#53b771;
                background: #fff;
            }
          }
          .ui-table .ui-table-tbody > tr.bg-color
          {
              border-top: none;
             td{
                padding: 0;
                border-top: none;
              }
          }
          .addbutton {
            position: absolute;
            right: 4px;
            top: 2px;
            transition: all 500ms ease;
            opacity: 0;
          }
            
          .ui-table .ui-table-tbody td:hover .addbutton{
            opacity: 1;
            }
          
        
    }
    
}
