app-compare-data{
  .compare-data {
  .ui-button-custom {
  background-color: #ffffff !important;
  color: #1d5290 !important;
  border: 1px solid #1d5290 !important;
  width: 100%;
  height: calc(1.75em + 0.50rem + 2px);padding: .25rem 0rem;font-size: 12px;line-height: 1.5;display: inline-flex;
  align-items: center;
  
  i {
  font-size: 1.5em;
  }
  }
  .label-name {
  white-space: nowrap;
  margin-left: 1px;
  margin-right:20px;
  }
  .viewBy{
    white-space: nowrap;
    margin-left: 1px;
    margin-right:10px;
  }
  .label-name2{
    white-space: nowrap;
  margin-left: 1px;
  margin-right: 6px;
  }
  .label-name-1 {
  line-height: 20px;
  }
  .measur-label{font-size: 12px;}
  .ui-inputtext {
  width: 100%;
  font-size: 12px;
  }
  .ui-dropdown {
  min-width: 100%;
  }
  .form-buttons {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  .ui-button-right {
  margin-left: 10px;
  }
  }
  .slideMenu{
    width: 100%;
  }
  .slideMenuViewBy{
    width:204px;
    margin: 0.5em;
    margin-left: 5px;
  }
  .test{
  width: 90px;
  margin-left: 5px;

  }
  .test3{
  width:105px;
  }
  .test2{
  margin-left: 30px;
  width:40px;
  }
  .filter-group {
  justify-content: flex-end;
  padding-left: 14px;
  display: flex;
  align-items: center;
  .btn-icon {
  float: right;
  font-size: 20px;
  margin-top: 4px;
  margin-right: 10px;
  }
  .padding-check {
  padding: 1px 0px;
  }
  }
  .row-color {
  width: 20px;
  height: 20px;
  margin: -5px 0px;
  }
  .measure-color{
  height: 20px;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  }
  .measure-color .ui-colorpicker-preview{
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  border-radius: 0px !important;
  }
  .compare-data-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .action-buttons {
  i {
  //padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
  color: #1d5290;
  }
  }
  }
  
  .secondary-dialog.compare-data .ui-dialog .ui-dialog-content {
  overflow: hidden;
  }
  .ui-dialog .ui-dialog-content{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow-x: hidden;
  }
  .p-3{padding: 6px 0;}
  .customInput {
  border: none;
  border-bottom: 1px solid #1d5290;
  border-radius: 0;
  padding-left: 15px;
  }
  .search-div-css {
  position: relative;
  i.icons8-calendar {
  font-size: 1.5em;
  position: absolute;
  color: #1d5290;
  left: 0px;
  line-height: 35px;
  z-index: 99;
  }
  }
  }
  .ui-table-hide-on-sm{
    @media (max-width: 767px) {
      .ui-table-hide-on-sm{
          display: none !important;
      }
  }
}
  .headerClass{
  background-color: #90381d;
  }
  .ui-dropdown .ui-dropdown-label .inputSelect{
    padding-right: 1em;
  }
  .inputDropdown{height: calc(1.75em + 0.5rem + 2px);padding: .25rem .5rem;font-size: 12px;line-height: 1.5;display: inline-flex;
  align-items: center;
  }
  
  .inputSelect{
  .ui-dropdown-label-container{
  height: calc(1.25em + 0.5rem + 2px);padding: .25rem .0rem;font-size: 12px;line-height: 1.5;display: inline-flex;
  align-items: center;
}
  }
  .inputSelect1{
  .ui-dropdown-label-container{
  height: calc(1em + 0.25rem + 2px);
  padding: 0.25rem 0rem;
  font-size: 11px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  overflow: hidden;}
  }
  
  .inputDropdown1{
  height: calc(1.1em + 0.5rem + 2px);
  padding: 0.25rem 0rem;
  font-size: 11px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  overflow: hidden;}
  
  .mrl-5em{margin-left: .5em; margin-right: .5em;}
  .ml-5em{margin-left: .5em; margin-right: 0.0em;}
  .pl15{padding-left: 15px;}
  .mr25{margin-right: 25px;}
  // .mr15{margin-right: 15px;}
  
  .gridChange{
  width: 360px;
  }
  .dropClass{
  width: 30px;
  }
  .disable-td{
  pointer-events: none;
  }
  .fieldset{border: solid 1px #cecece; border-radius: 3px;}
  .checkBox{zoom: .85;} 

//   .confirmdialog {
  
//     .ui-dialog {
//       width: 26vw;
//       height: 30%;
//       box-shadow: none;
//     }
//     .ui-dialog-title {
//       display: inline-block;
//       margin-top: 5px;
//     }
//     .ui-dialog-content {
//       padding: 2em;
//       font-size: 14px;
//     }
//     // transform: translateX(-50%) translateY(-50%);
// }
.deletedrop{
  cursor: pointer;
}

  .comparecheck{
    .ui-dropdown-panel .ui-dropdown-items-wrapper{
      overflow: auto;
    max-width: 133px;
  }
}


// #dialog {
//     position: relative;

//     width: 600px;
//     margin-left: -300px;

//     height: 400px;
//     margin-top: -50px;
// }
  // .label-name{ 
  // line-height: 30px;
  // }
  // .label-name-1{
  // line-height: 20px;
  // }
  // .ui-inputtext{
  // width: 100%;
  // }
  // .ui-dropdown{
  // min-width: 100%;
  // }
  // .form-buttons {
  // float: right;
  // display: flex;
  // flex-direction: row-reverse;
  // .ui-button-right {
  // margin-left: 10px;
  // }
  // }
  // .filter-group {
  // justify-content: flex-end;
  // padding-left: 14px;
  // display: flex;
  // align-items: center;
  // .btn-icon {
  // float: right;
  // font-size: 20px;
  // margin-top: 4px;
  // margin-right: 10px;
  // }
  // .padding-check {
  // padding: 1px 0px;
  // }
  // }
  // .row-color{
  // width: 15px;
  // height: 15px;
  // }
  // .measure-color .ui-colorpicker-preview{
  // width: 10px;
  // height: 10px;
  // margin-right: 3px;
  // border-radius: 0px !important;
  // }
  
  // .compare-data-title{
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // .action-buttons{
  // i{
  // //padding: 0 5px;
  // margin: 0 5px;
  // cursor: pointer;
  // color: #1d5290;
  // }
  // }
  // }
  // p-checkbox{margin-right: 5px;}
  // .secondary-dialog.compare-data .ui-dialog .ui-dialog-content{
  // overflow: hidden;
  // }
  
  // .ui-button-secondary {
  // padding: 4px;
  // margin: 3px 0px;
  // display: flex;
  // justify-content: space-between;
  // .ui-text {
  // text-align: left;
  // display: inline-block;
  // vertical-align: text-top;
  // width: 128px;
  // }
  // }

  }
  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }
    
    /* Transparent Overlay */
    .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.53);
    }