app-widget-setting{
    .secondary-dialog .ui-dialog {
        max-height: 99%;
    .ui-dialog-content{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 523px;
      }
       
    }
    .top-padding{padding-top: 25px;}
    .field-label{line-height: 20px;}
    .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{font-size: 15px;}
}
