<div #menuNavSide class="app-sidenav"><!-- we are not using materirial component--->

    <!-- Drawing Navigation Menu Here. -->
    <ul class="cav-menu-ul ndegui_left"> 
        <li *ngFor="let ngMenu of navMenuArray" routerLinkActive="active" style="width: 100%; text-align: center;">
            <a class="iconCss config-ui" routerLink="{{ngMenu.route}}" routerLinkActive="active" pTooltip="{{ngMenu.tooltip}}" tooltipPosition="right">
                <button pButton class="icon-button no-shadow" icon="icon {{ngMenu.icon}}">
                    <!-- <i class=""></i> -->
                    <!-- <img src="{{ngMenu.src}}" style="width:30px"> -->
             </button>
            </a>
        </li>
    </ul>
</div>
