.cav-menu-ul{display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;}
:host>>>.cav-menu-ul .icon-button.ui-button.no-shadow {
        width: 2.557em}
    .cav-menu-ul li.active {
        background-color: var(--panel-header-color)
    }
