app-method-timing {
  .loader-container {
    .pi-spinner.pi {
      font-size: 24px;
      //vertical-align: top;
      margin-right: 10px;
      margin-bottom: 250px;
    }
    span {
      font-size: 24px;
      //vertical-align: top;
      margin-bottom: 250px;
    }
  }
  .icon-button.ui-button.no-shadow {
    margin-right: 5px;
    background: none;
  }
  .menu-button .ui-button {
    margin: 5px 30px;
  }
  .ui-paginator .ui-paginator-current {
    float: left;
  }
  a.activeLink,
  a.activeLink:hover {
      color: blue !important;
      cursor: pointer !important;
  }

  // a.activeLink,
  // a.activeLink:hover {
  //   color: blue;
  //   cursor: pointer;
  // }
  .severity-color {
    width: 6px;
    height: 30px;
    position: relative;
    margin-left: -10px;
    margin-top: -9px;
    margin-bottom: -10px;
    float: left;
  }
  .method-timing-alert-group {
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: flex-end;
    .ui-multiselect {
      border: none;
      background: transparent;
      padding: 8px;
      margin-right: 10px;
      .ui-helper-hidden-accessible {
        display: none;
      }
      .ui-multiselect-label-container {
        display: none;
      }
      .ui-multiselect-trigger {
        background-color: transparent;
        .ui-multiselect-trigger-icon {
          font-size: 1.5em;
          margin-left: -0.5em;
        }
      }
    }
  }
  .poniter {
    cursor: pointer;
  }

  .ui-button-icon-left {
    color: #1d529e;
  }

  .vertical-container {
    overflow-y: auto;
    height: calc(100vh - 200px);
    .hotspot-summary-panel {
      //margin: 15px 20px;
      .collapsed {
        .ui-panel .ui-panel-titlebar {
          background-color: #fff;
          padding: 1px;
          height: 43px;
          // padding: 10px;
        }
      }
      .uncollapsed {
        .ui-panel .ui-panel-titlebar {
          background-color: #c9efd4;
          padding: 1px;
          height: 43px;
        }
      }
      .ui-panel .ui-panel-content {
        padding: 1px;
        border: none;
        background-color: #fff;
        color: #333333;
        border-top: 0 none;
        border-radius: 3px;
      }

      .cav-panel-header {
        .cav-panel-content {
          justify-content: space-between;
          width: 100%;
          .ui-multiselect {
            border: none;
            padding-bottom: 6px;
            background: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label-container {
              display: none;
            }
            .ui-multiselect-trigger {
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}
