app-rbu-access-logs{
    .rbu-access-logs-container{
        .action-container {
            .input-field-search {
                width: 90%;
                padding: 6px;
                margin-left: 0px;
              }
              .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                padding-left: 30px;
                padding-bottom: 5px;
                background-color: transparent;
                }
              .search-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 5px;
                }
                .ui-dropdown{
                    min-width: 100px;
                    width: 10%;
                }
                input[type="text" i] {
                    padding-left: 30px;
                }
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .global-search-block{
                width: 35%;
                margin-left: 5px;
            }
            .table-icons{
                color: #1d5290;
                cursor: pointer;
                font-size: 18px;
            }
            .icons8-checkmark{
                color: green;
            }
            .icons8-exclamation-mark {
                color: red;
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
                .add-template{margin-left: 5px;}
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                .btn-margin {
                    margin-left: 1em;
                }
                .create-btn {
                    padding: 0.529em 1em;
                }
            }
            .rbu-access-logs-container-left {
                display: flex;
                margin: 0 6px;
                i {
                    font-size: 1.5em;
                }
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                .ui-dropdown {
                    display: inline-flex;
                    position: relative;
                    cursor: pointer;
                    min-width: 150px;
                }
                span.label {
                    margin: 0 12px;
                }
            }

            .rbu-access-logs-container-right {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
                
                .icon-button.ui-button.no-shadow {
                    width: 1.5em;
                }
                input[type="text"] {
                    margin: 0 6px;
                }
                button.ui-button.ui-button-secondary.ui-button-rounded.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
                    margin: 0 4px;
                }
            }

            .content-body{
                .ui-card{
                    margin: 0px 10px;
                }
            }
            .empty-table-message
            {
                margin-left: 12px;
            }
        } 
    }
}
