app-image.widget-container {
  .widget-header {
    .widget-options {
      i {
        color: #1d5290;
        cursor: pointer;
      }
      label {
        .upload-image-input {
          display: none;
        }
      }
    }
    .widget-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .ui-inputtext {
        padding: 0px 0.429em;
      }
    }
  }
  .widget-body {
    .uploded-image {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  width: 100%;
}

app-image.widget-container.selected .widget-header .widget-title input {
      display: block !important;
   }
  
  app-image.widget-container .widget-header .widget-title input {
      display: none !important;
  }
  
