app-auto-monitor {
    .auto-monitor-container {
        .content-body {
            // height: calc(100vh - 90px);
            overflow: auto;
            height:543px;
            padding: 10px 20px;
            background-color: #fff;
            .form-section {
                input {
                    width: 100%;
                }
                .tier-label {
                    float: right;
                }
            }
            .buttonCont{display: flex;text-align: right;justify-content: flex-end;width: 100%;}
            .ui-button-right {
                margin-left: 10px;
                margin: 0 10px;
            }
            .path {
                font-size: 14px;
                font-weight: 600;
                margin-left: -20px;
                margin-right: -17px;
                margin-top: -24px;
                .status {
                    color: #9f9f9f;
                }
                .ui-menuitem-text {
                    vertical-align: middle;
                    margin-left: -13px;
                    margin-right: -11px;
                }
            }
            .columnwidth {
                width: 55px;
            }
            // .server-list-container {
            //     //border: 1px solid #e6e6e6;
            //     border-radius: 3px;
            //     height: calc(100vh - 170px);
            //     overflow: auto;
            // }
            .loading-indicator {
                position: fixed;
                z-index: 999;
                height: 2em;
                width: 2em;
                overflow: show;
                margin: auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                }
            .card-container {
                border: 1px solid #e6e6e6;
                border-radius: 3px;
                position: relative;
                .show {
                    display: block;
                }
                .hide {
                    display: none;
                }
                .add-monitor-button {
                    position: absolute;
                    .ui-button {
                        font-size: 10px;
                    }
                }
                .tech-logo {
                    .tech-title {
                        color: #6299ca;
                        font-weight: 600;
                    }
                }
                .monitors {
                    cursor: pointer;
                    .section-header {
                        border-bottom: 1px solid #e6e6e6;
                    }
                    .monitor-header {
                        font-size: 14px;
                        color: #1d5290;
                        font-weight: 600;
                    }
                    .count {
                        font-weight: 600;
                        font-size: 14px;
                    }
                    .title {
                        font-size: 14px;
                    }
                    .monitor-active {
                        padding: 2px 5px;
                        .count {
                            color: rgb(4, 156, 4);
                            border-bottom: 1px solid rgb(4, 156, 4);
                        }
                        i {
                            color: rgb(4, 156, 4);
                        }
                    }
                    .monitor-failed {
                        padding: 2px 5px;
                        .count {
                            color: rgb(156, 4, 4);
                            border-bottom: 1px solid rgb(156, 4, 4);
                        }
                        i {
                            color: rgb(156, 4, 4);
                        }
                    }
                    .monitor-disabled {
                        padding: 2px 5px;
                    }
                }
                .p-0 {
                    padding: 0px;
                }
                .instance-circle {
                    border: 1px solid;
                    border-radius: 50%;
                    padding: 15px;
                    color: #fff;
                    height: 75px;
                    width: 75px;
                    background-color: #215f96;
                    .instance-count {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}