.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}
.ForToolTip{
    text-align: left;
    cursor: pointer;
    display:block;
    width:270px;
}
a.activeLink,
a.activeLink:hover {
    color: #1D5290 !important;
    cursor: pointer !important;
}