app-dashboards {
  .dashboard-container {
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      .search-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        input.search-box.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
          padding-left: 25px;
        }
        i.dashboard.icons8.icons8-search {
          position: absolute;
          padding: 8px;
          color: #1d5290;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
          font-size: 1.25em;
        }
      }
      .icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
    .float-right {
      float: right;
    }
    .ui-paginator .ui-paginator-current {
      float: left;
    }
    .ui-multiselect {
      border: none;
      padding: 18px 15px;
      background: transparent;
      .ui-helper-hidden-accessible {
        display: none;
      }
      .ui-multiselect-label {
        display: none;
      }
      .ui-multiselect-trigger {
        margin-top: 1px;
        background-color: transparent;
        .ui-multiselect-trigger-icon {
          font-size: 1.5em;
        }
      }
    }
    .content-body {
      .table-icon-field {
        button {
          color: #1d5290;
        }
      }
    }
    .columnwidth {
      width: 40px;
    }
    .treeTableTextDiv {
      display: flex;
      align-items: center;
      .treeTableText{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }
      .text-right{
        text-align: right; 
        display: inline-block;
        width: 100%;
      }
          }
      
          .row-accessories {
              background-color: rgba(0,0,0,0.02) !important;
          }
          .ui-state-disabled {
              cursor: default !important;
              pointer-events: none;
          }
          .ui-state-disabled.showTooltip{
              pointer-events: all;
          }
          .right-align{
          margin-right: 10px;
          }
          #centerpoint {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
        }
  }
}
