app-db-queries {
    .db-queries-container {
        overflow-y: auto;
        height: calc(100vh - 200px);
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        span {
            font-size: 11px;
            vertical-align: middle;
        }
    }
    .min-pad {
        .ui-card {
            box-shadow: none;
        }
    }
    .ui-inputgroup {
        .ui-inputtext {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    .filter-group {
        display: flex;
        align-items: center;
        .ui-inputgroup {
            width: 70%;
        }
    }
    .filter-icon-css {
        font-size: 20px;
        color: #6197c7;
    }
    .ui-icon-button {
        color: #1d529e;
    }
    a.activeLink,
    a.activeLink:hover {
        color: blue !important;
        cursor: pointer !important;
    }
    .db-queries-alert-group {
        display: flex;
        padding-right: 10px;
        align-items: center;
        justify-content: flex-end;
        color: #1d5290;
        .filter-icon span {
            font-size: 1.2em;
        }
        .ui-multiselect {
            border: none;
            background: none;
            padding: 12px;
            margin-top: 3px;
            .ui-helper-hidden-accessible {
                display: none;
            }
            .ui-multiselect-label-container {
                display: none;
            }
            .ui-multiselect-trigger {
                background-color: transparent;
                .ui-multiselect-trigger-icon {
                    font-size: 1.5em;
                }
            }
        }
    }
    .empty-table-message {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #cecece;
        font-size: 20px;
        height: calc(100vh - 55vh);
    }
    body {
        height: 100vh;
        width: 26%;
        font-size: 16px;
        padding: 10px;
        margin-left: 1%;
        border: 1px solid #cecece;
        background: #fff;
        .img-svg {
            padding: 7%;
        }
        .ui-orderlist-list {
            height: 26em !important;
        }
        .list span {
            font-size: 12px;
        }
        .ui-orderlist .ui-orderlist-caption {
            color: #393737;
            box-shadow: none;
            text-align: left;
        }
    }
    .db-queries-table {
        width: 100%;
        padding: 0px;
        .ui-card {
            padding: 0px;
        }
        .drill-button {
            cursor: pointer;
            float: right;
            font-size: 1.5em;
        }
        .drill-button:enabled:hover {
            background: none;
        }
        .filterinfo {
            line-height: 30px;
        }
        .icon-button.ui-button {
            margin-top: 0;
            background: none;
        }
        .ui-paginator-current {
            float: left;
        }
        .legend-group {
            display: inline-block;
            margin: 5px 0;
            .paginator-legend {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
}
body.theme-1 .ui-table .ui-table-thead > tr > th,
body.theme-1 .ui-table .ui-table-tbody > tr > td,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th
{
  overflow: hidden; white-space: nowrap;
}