.ui-button-custom {
  background-color: #ffffff !important;
  margin: 10px 0 !important;
  color: #1d5290 !important;
  border: 1px solid #1d5290 !important;

  i {
    font-size: 1.5em;
  }
}

.sidebar-content {
  height: calc(100% - 115px);
  overflow: overlay;
}

.ui-accordion-content{
  height: 300px;
  overflow: auto !important;
}

.chips-list {
  list-style: none;
  padding-left: 0;
  display: block;
  margin: 10px 0;
  width: 100%;
  padding: 0;

  .chips-item {
    color: #1d5290;
    font-size: 13px !important;
    padding: 0.429em 1em;
    border: 1px solid #1d5290;
    border-radius: 13px;
    width: 10em;
    margin: 10px;
    position: relative;

    i {
      position: absolute;
      right: 7px;
    }
  }
}

.ui-listbox {
  min-width: 21em !important;
  border: none !important;
  padding: 0.629em !important;
  background-color: #f4f7fb !important;
  border-radius: 10px !important;

  .ui-listbox-list {
    background-color: #f4f7fb !important;

    .ui-listbox-item {
      margin: 5px 0px !important;
      color: #1d5290 !important;
      background-color: #ffffff !important;
      border-radius: 15px !important;

      :active {
        color: #ffffff !important;
        background-color: #1d5290 !important;
      }

      .icon {
        color: #333333 !important;
      }
    }
  }

  .ui-listbox-list-wrapper {
    .ui-chkbox {
      display: none !important;
    }

    .icon {
      float: right;
    }
  }
}
