.dashboard-container {
  .action-header {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #cccccc36;
    .header-label {
      padding: 0 10px;
    }
  }
}
