app-ip {
    .ip-container {
      
      .ui-table-globalfilter-container{
        .global-search{
          position: absolute;
          top: -55px;
          left: 53px;
          width: 250px;
          padding: 0.429em 0.429em 0.429em 2em;
        }
  
        i{
          position: absolute;
          top: -49px;
          left: 58px;
          z-index: 99;
          font-size: 1.5em;
        }
      }
  
      .action-container {
        .input-field-search {
          padding: 0.429em 0.429em 0.429em 2em;
          width: 100%;
        }
        .search-div-css {
          position: relative;
          width: 80%;
  
          i {
            font-size: 1.5em;
            position: absolute;
            color: #1d5290;
            top: 5px;
            left: 5px;
          }
        }
  
        .ui-multiselect {
          border: none;
          padding: 12px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
  
        .icons-container {
          display: inline-flex;
        }
  
        .ip-alert-group {
          padding-right: 17px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
      
      .column-icon {
        font-size: 1.5em;
        color: #1d5290;
        margin: 0 10px;
      }
  
      .ui-table {
        .columnwidth {
          width: 40px;
        }
  
        .ui-table-scrollable-body {
          overflow-x: hidden;
        }
      }
    }
  }
  