app-flow-path {
    .flow-path-container {
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        .flow-path-button {
            margin-left: 10px;
        }
        .min-pad {
            .ui-card {
                box-shadow: none;
            }
        }
        .icon-button.ui-button.no-shadow {
            width: 2em;
            margin: 5px 8px;
        }
        .ui-inputgroup {
            .ui-inputtext {
                width: 50px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        .filter-group {
            justify-content: flex-end;
            padding-left: 14px;
            display: flex;
            align-items: center;
            .btn-icon {
                float: right;
                margin-top: 7px;
                margin-right: 10px;
            }
            .padding-check {
                padding: 1px 0px;
            }
        }
        .flow-path-filter-button-group {
            padding-right: 45px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            .ui-button.ui-button-secondary {
                margin-left: 5px;
            }
            .ui-button.ui-button-text-only .ui-button-text {
                // padding: 0.429em 2.5em;
                padding: 0.429em 1em;
                width: 107px;
            }
            .ui-inputgroup {
                width: 231px;
            }
            .flowpath-search-box {
                width: 198px;
            }
            .text-right.ph-5 {
                color: #327aba;
            }
            .icons8.icons8-delete {
                padding-top: 10px;
            }
        }
        .flow-path-alert-group {
            padding-right: 17px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .toggle-check {
                font-size: 1.6em;
            }
            .filter-icon {
                font-size: 1.5em;
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label-container {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
        }
        .empty-table-message {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #cecece;
            font-size: 20px;
            height: calc(100vh - 42vh);
        }
        .flow-path-table {
            .ui-table {
                overflow-x: auto;
            }
            padding: 0px 15px;
            // TODO: to be moved to a generic css set for tables with icons on row selection
            // .ui-table-scrollable-body,
            // .ui-table-scrollable-header {
            //     margin: 0px 25px;
            // }
            .ui-card {
                background-color: #f7f7f7;
                border: none;
            }
            body.theme-1 .ui-table .ui-table-tbody>tr:first-child {
                border-top: none;
            }
            .ui-paginator {
                border-bottom: 1px solid #c8c8c8;
                border-left: 1px solid #cecece;
                border-right: 1px solid #cecece;
                padding: 5px 10px;
                //margin: 0px 32px 0px 25px;
                box-shadow: none;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            .ui-table-thead,
            .ui-table-tbody {
                border: 1px solid #cecece;
                border-bottom: none;
                background-color: white;
            }
            .row-action-btn-next.ui-button {
                position: absolute;
                right: 10px;
                background-color: #56ab5f;
                color: #fff;
                margin-top: -18px;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                border: none;
                &:enabled:hover {
                    background-color: #56ab5f;
                    color: #fff;
                }
            }
            .row-action-btn-prev.ui-button {
                position: absolute;
                left: 10px;
                background-color: #56ab5f;
                color: #fff;
                margin-top: -18px;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                border: none;
                &:enabled:hover {
                    background-color: #56ab5f;
                    color: #fff;
                }
            }
            .columnwidth {
                width: 40px;
            }
            .drill-button {
                cursor: pointer;
                float: right;
                font-size: 1.5em;
            }
            .drill-button:enabled:hover {
                background: none;
            }
            .ui-table-thead {
                >tr {
                    >th {
                        padding-top: 12px;
                    }
                }
            }
            .ui-paginator-current {
                float: left;
            }
            a.activeLink,
            a.activeLink:hover {
                color: blue;
                cursor: pointer;
            }
            .menu-item{
                display: none;
            }
        }
    }
}

.flow-path-checkbox-info {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.flow-path-form-buttons {
    text-align: end;
}

.flow-path-severity-color {
  width: 6px;
  height: 28px;
  position: relative;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
  float: left;
}

input.search-box.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
    width: 225px;
    padding-right: 1.9em;
}
