<div class="h-100-vh wrapper">
    <div class="header">
        <app-header></app-header>
    </div>
    <p-toolbar class="ui-secondary-toolbar">
        <div class="p-grid p-justify-between p-align-center pl-5 pr-5">
            <div class="p-grid p-align-center">
                <a routerLink="/end-to-end/graphical-tier">
                    <i class="icons8 icons8-left toolbar-icon-color"></i>
                </a>
                <div class="p-col ui-toolbar-text">END TO END TIER</div>
            </div>
            <div class="p-grid p-align-center">
                <div class="p-col">
                    <div class="clock" (click)="timeBar.timeFilterOpen(false)">
                        <i class="icons8 icons8-clock"></i>
                        <span>Last Sample Time: 12/31/1989 18:00:00</span>
                        <span>(Last 10 mins)</span>
                    </div>
                </div>
                <div>
                    <button pButton type="button" class="ui-button ui-button-rounded" label="Detailed" [routerLink]="['/end-to-end/detailed']"></button>
                </div>
            </div>
        </div>
    </p-toolbar>
    <div class="breadcrumbs">
        <p-breadcrumb [model]="breadcrumb"></p-breadcrumb>
    </div>

    <div class="action-container no-padding" *ngIf="data">
        <div class="p-grid no-padding p-col-12 p-justify-between p-align-center action-grid">
            <div class="p-grid no-padding p-col-2 sub-div">
                <div class="p-grid no-padding">
                    <i class="icons8 icons8-left" [routerLink]="['/end-to-end/graphical-tier']"></i>
                    <label class="label-css">Solar Perf1</label>

                </div>

            </div>
            <div class="p-col-7 autocomplete-display-end">
                <div class="p-grid p-align-center">
                    <i class="icons8 icons8-search custom-search "></i>
                    <p-autoComplete [(ngModel)]="selectedNodes" [suggestions]="filteredNodes" (completeMethod)="filterNodes($event)" field="name" placeholder="Select Nodes" [minLength]="1"></p-autoComplete>
                </div>
            </div>

            <div class="p-col-3 p-grid p-justify-end icon-css">
                <div class="p-grid div-margin">
                    <i pTooltip="Pause" class="icons8 icons8-pause"></i>
                    <!-- <i pTooltip="Save" class="icons8 icons8-save" (click)="menu.toggle($event)"></i>
                    <i pTooltip="Settings" class="icons8 icons8-settings" (click)="op.toggle($event)"></i> -->
                </div>
                <button pButton type="button" class="ui-button-secondary ui-button-rounded" label="DOWNLOAD"></button>
                <button pButton type="button" (click)="showLegends = true" class="ui-button-secondary ui-button-rounded" label="LEGENDS"></button>
            </div>
            <div *ngIf="showLegends && data.endToEndLegend" class="legends-section">
                <div class="p-grid p-align-center p-justify-end">
                    <!-- <i class="icons8 icons8-delete" (click)="showLegends = false"></i> -->
                    <button pButton class="icon-button no-shadow left" icon="icons8 icons8-delete" (click)="showLegends = false"></button>
                </div>
                <p-carousel [value]="data.endToEndLegend" [numVisible]="10">
                    <ng-template let-legend pTemplate="item" class="template">
                        <div class="p-grid p-dir-col p-justify-center p-align-center">
                            <i class="icons8 {{ legend.icon }} p-col"></i>
                            <div class="p-col text-center">{{ legend.name }}</div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <!-- <p-overlayPanel styleClass="overlay-container" #op appendTo="body" [dismissable]="true" [style]="{width: '30vw'}" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'">
                <ng-template pTemplate>
                    <div class="p-col-12 overlay-container">
                        <div class="p-grid">
                            <div class="p-col-4">
                                <label class="control-label ">Show Calls</label>
                            </div>
                            <div class="p-col-8">
                                <p-dropdown [options]="data.options.calls" dropdownIcon="icons8-expand-arrow">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-4">
                                <label class="control-label ">Value</label>
                            </div>
                            <div class="p-col-8">
                                <p-dropdown [options]="data.options.value" dropdownIcon="icons8-expand-arrow">
                                </p-dropdown>
                            </div>


                        </div>
                        <div class="p-grid p-col-12">
                            <div class="p-col-9">
                            </div>
                            <div class="p-col-3 p-justify-end">
                                <button pButton type="button" class="ui-button-rounded right" (click)="op.hide()" label="APPLY"></button>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-overlayPanel>
            <p-menu appendTo="body" #menu [popup]="true" [model]="items"></p-menu> -->

            <p-overlayPanel styleClass="overlay-container" [style]="{width: '20vw'}" #op1 appendTo="body" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'">
                <ng-template pTemplate>
                    <div class="p-col-12">
                        <input type="text" pInputText placeholder="Name" style="border:none;border-bottom:1px solid #686767" />
                    </div>
                    <div class="p-col-12">
                        <p-checkbox name="running" label="Running" value="val1"></p-checkbox>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-5"></div>
                        <div class="p-col-3">
                            <button pButton type="button" class="ui-button-rounded m-r-10 button-class" label="SAVE" (click)="op1.hide()"></button>
                        </div>
                    </div>
                </ng-template>
            </p-overlayPanel>

        </div>
    </div>

    <div class="p-grid loader-container vertical-container h-100-vh" *ngIf="loading">
        <div class="p-col p-col-align-center text-center">
            <div><i class="pi pi-spin pi-spinner"></i> <span>Loading</span></div>
        </div>
    </div>

    <div class="p-grid vertical-container" *ngIf="error">
        <div class="p-col p-col-align-center text-center">
            <p-message severity="error" text="{{ error.msg }}"></p-message>
        </div>
    </div>

    <div class="p-grid vertical-container" *ngIf="empty">
        <div class="p-col p-col-align-center text-center">
            <p-message severity="normal" text="No Data"></p-message>
        </div>
    </div>

    <div class="graph-container">

        <div class="p-col-12 no-padding">
            <div class="">
                <div class="p-col-12">
                    <div class="img-svg text-center">
                        <img src="assets/icons/wip.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<app-time-bar #timeBar></app-time-bar>