app-end-to-end-tier-level {
    .wrapper {
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        .ui-autocomplete .ui-autocomplete-input {
            width: 170px;
            padding-left: 22px;
            color: #000;
        }
        p-toolbar.ui-secondary-toolbar .ui-toolbar {
            margin-bottom: 0px;
        }
        .clock {
            display: inline-block;
            color: #fff;
            cursor: pointer;
            padding: 0px 10px;
            i {
                margin-top: 10px;
                margin-right: 3px;
            }
        }
        .autocomplete-display-end {
            display: flex;
            flex-direction: row-reverse;
        }
        .no-padding {
            padding: 0 5px;
        }
        .clock {
            display: inline-block;
            color: #fff;
            padding: 0px 10px;
        }
        .ui-dropdown {
            min-width: 120px;
        }
        .custom-search {
            margin-right: -22px;
            z-index: 1;
            margin-left: 14px;
            padding-left: 10px;
        }
        .label-css {
            font-size: 13px;
            margin: 1px;
            padding-left: 5px;
            color: #535151;
        }
        .ui-button.ui-button-text-only .ui-button-text {
            padding: 4px;
            font-weight: 600;
        }
        .action-container {
            position: relative;
            background-color: #ffffff;
            .action-grid {
                span.labels {
                    padding: 0px 8px;
                }
                .ui-button {
                    margin: 0px 5px;
                }
                .icon-css {
                    color: #1d5290;
                    font-size: 18px;
                    cursor: pointer;
                }
                .sub-div {
                    div {
                        margin-right: 7px;
                    }
                }
            }
            .div-margin {
                margin-top: 5px;
                i {
                    margin-right: 2px;
                }
            }
            .legends-section {
                background-color: #fff;
                position: absolute;
                z-index: 1;
                top: 0px;
                border: 1px solid #eee;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
                .p-grid {
                    position: relative;
                    button.icon-button {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        cursor: pointer;
                    }
                }
                .ui-carousel-items-container .ui-carousel-item {
                    overflow: hidden;
                }
                .ui-carousel-dots-container {
                    display: none;
                }
                .ui-carousel-container {
                    margin-top: 15px;
                }
                .ui-carousel-next,
                .ui-carousel-prev {
                    font-size: 10px;
                }
                .ui-carousel-next-icon,
                .ui-carousel-prev-icon {
                    font-size: 1.5em;
                }
            }
        }
        .content-body {
            height: calc(100vh - 165px);
            overflow-y: auto;
            overflow-x: hidden;
            background-color: rgb(160, 156, 156);
            .work-in-progress {
                background-color: #fff;
                text-align: center;
                padding-top: 1em;
                padding-bottom: 1em;
                border-radius: 4px;
                height: 73vh;
                font-size: 16px;
                border: 1px solid #cecece;
            }
        }
        .search-div {
            border: 1px solid #1d5290;
            // margin-top: 20px;
            padding: 6px;
            border-radius: 3px;
            // width: 100%;
            margin-bottom: 10px;
        }
        .input-field-border-none {
            border: none;
            background-color: transparent;
        }
        .div-border {
            border: 1px solid #1d5290;
            border-radius: 3px;
            padding-left: 5px;
            margin-left: 5px;
        }
        .input-css {
            width: 150px;
        }
        .input-back {
            border: none;
            background-color: blue;
            border-bottom: 1px solid gray;
            ;
        }
        .p-10-p {
            padding: 10px;
        }
        .button-class {
            padding: 0px;
        }
    }
}

.ui-overlaypanel .ui-overlaypanel-content {
    padding: 10px 5px 0px 5px;
    box-shadow: none;
}