app-add-custom-ux-report{
    .custom-ux-container{
        .vertical-container{
            height: 500px;
            overflow-y: auto;
            padding: 10px 20px;
            background: #fff;
            .custom-input-css {
                border: none;
                width: 100%;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                background: none;
            }
            .heading{
                font-weight: bold;
            }
            .line-height{
                line-height: 30px;
            }
            .p-top{
                padding-top: 0px;
            }
            .p-bottom{
                padding-bottom: 0;
            }
            .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
                font-size: 15px;
            }
            .radio-type{
                margin-right: 20px;
                line-height: 30px;
            }
            .ui-accordion .ui-accordion-content{
                border-bottom: none;
            }
            .dimension-block{
                width: 20%;
            }
            .dimension-dropdown{
                .ui-dropdown{
                width: 130px;
                min-width: 130px;
                margin-left: 25px;
                }
            }
            .filters-dropdown{
                .ui-dropdown{
                width: 130px;
                min-width: 130px;
                margin-right: 25px;
                }
            }
        }
        
    }
}