app-add-user-defined-command {
    .alert-config-container {
        .vertical-container {
            padding: 1em;
            height: calc(100vh - 130px);
            overflow: auto;
            .action-container {
                .dropdowndisplay {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // padding: 10px 0;
                    .display2 {
                        justify-content: flex-end;
                        align-items: center;
                        .label-size {
                            font-size: 15px;
                            font-weight: 400;
                        }
                        .btn-margin {
                            margin: 20px 3px 0px 3px;
                        }
                    }
                    .lable-size {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .lable2-size {
                        font-size: 14px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }
                .spacing {
                    margin-left: 10px;
                }
                .addgraph {
                    font-size: 1.5em;
                    margin-top: -2px;
                }
                .input-field-search {
                    width: 80%;
                    padding-left: 25px;
                }
                .labels {
                    margin: 0px 10px;
                }
                i.filter-icon {
                    font-size: 1.5em;
                    color: #1d5290;
                    margin: 0 10px;
                    line-height: 30px;
                }
                .search-div-css {
                    position: relative;
                    i {
                        font-size: 1.5em;
                        position: absolute;
                        color: #1d5290;
                        top: 7px;
                        left: 7px;
                    }
                }
                .global-search-block {
                    width: 40%;
                }
                .ui-multiselect {
                    border: none;
                    padding: 12px;
                    background: transparent;
                    .ui-helper-hidden-accessible {
                        display: none;
                    }
                    .ui-multiselect-label {
                        display: none;
                    }
                    .ui-multiselect-trigger {
                        margin-top: 1px;
                        background-color: transparent;
                        .ui-multiselect-trigger-icon {
                            font-size: 1.5em;
                        }
                    }
                }
                .icons-container {
                    display: flex;
                    flex-direction: row-reverse;
                    i {
                        font-size: 1.5em;
                    }
                }
            }
            .label-size {
                margin-top: 6px;
            }
            .custom-button {
                border-radius: 20px;
            }
            .ui-accordion .ui-accordion-header a {
                padding: 0.571em 1em;
            }
            .ui-panel {
                .icon-button.ui-button {
                    margin: 0;
                }
            }
            .cav-panel-content {
                justify-content: space-between;
                width: 100%;
            }
            .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                width: 100%;
                .ui-dropdown {
                    min-width: 100px;
                }
            }
            .inline {
                display: inline-flex;
            }
            .custom-min-width {
                .ui-dropdown {
                    min-width: 130px;
                }
            }
            .less-min-width {
                .ui-dropdown {
                    min-width: 50px;
                }
            }
            .right {
                .icon-button.ui-button.no-shadow {
                    margin-top: -9px;
                }
            }
            .severity-operation-block {
                background-color: #1d5290;
                width: 100%;
                font-size: 2em;
                .white-bg {
                    background-color: #ffffff;
                    border-radius: 5px;
                    color: #1d5290;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white {
                    color: #ffffff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white-op {
                    color: #cdddff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .no-padding {
                    padding: 0;
                }
            }
            .derived-graph-bucket {
                max-height: 125px;
                overflow: auto;
                padding: 0;
                border: solid 1px #d2d2d2;
                border-radius: 3px;
                margin-top: 5px;
                .graph-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px;
                    background: #f4f7fb;
                    margin: 3px 0;
                    border: 1px solid transparent;
                    cursor: pointer;
                    .graph-section-1 {
                        display: flex;
                        align-items: center;
                        .token-index {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            padding: 7px 10px;
                            background-color: chocolate;
                            color: #fff;
                            font-size: 15px;
                        }
                        .token {
                            padding: 0.25rem 0.5rem;
                            display: inline-flex;
                            margin: 0 0.25rem;
                            background-color: #f4f8fb;
                            color: #a79e9e;
                            border: 1px solid #cecece;
                            font-size: 14px;
                        }
                    }
                    .token-icon {
                        color: #1d5290;
                    }
                }
                .selected {
                    background-color: #c9efd4;
                    border: 1px solid #57b771;
                }
            }
        }
    }
}