<div class="add-ip-dialog">
    <p-dialog [(visible)]="visible" [closable]="false" [baseZIndex]="10000100011" [resizable]="true" [modal]="true"
        class="secondary-dialog" [draggable]="false" [style]="{width: '45vw'}">
        <p-header>
            <div class="compare-data-title">
                <div>Add IP for Client </div>
                <div class="action-buttons">
                    <i class="icons8 icons8-delete" (click)="closeDialog()"></i>
                </div>
            </div>
        </p-header>
        <div class="dialog-content">
            <div class="p-grid p-col-12">
                <div class="p-grid p-col-6">
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">IP Version</span>
                        </div>
                        <div class="p-col-6">
                            <p-dropdown [options]="options" class="custom-dropdown" [(ngModel)]="selectedOptions"
                                dropdownIcon="icons8 icons8-expand-arrow"></p-dropdown>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Network ID</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Start IP</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Number of IP</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Interface</span>
                        </div>
                        <div class="p-col-6">
                            <p-dropdown [options]="options" class="custom-dropdown" [(ngModel)]="selectedOptions"
                                dropdownIcon="icons8 icons8-expand-arrow"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Vlan ID</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Netbits</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">End IP</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                    <div class="p-grid p-col-12">
                        <div class="p-col-4 p-grid p-align-center">
                            <span class="label">Gateway</span>
                        </div>
                        <div class="p-col-6">
                            <input id="firstname3" class="w-100-p" type="text" pInputText>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="p-col-12 form-buttons right">
                <button pButton type="button" label="Auto Fill" class="ui-button-rounded"
                    (click)="closeDialog()"></button>
                <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-secondary"
                    (click)="closeDialog()"></button>
                <button pButton type="submit" label="OK" class="ui-button-rounded"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>