app-add-ip {
  .add-ip-dialog {
    .compare-data-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .action-buttons {
        i {
          margin: 0 5px;
          cursor: pointer;
          color: #1d5290;
        }
      }
    }
    .secondary-dialog .ui-dialog .ui-dialog-content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 1em;
    }
    .form-buttons {
      display: flex;
      justify-content: flex-end;
    }
    .custom-dropdown{
        .ui-dropdown{
            min-width: 100%;
        }
    }
  }
}
