body {
  .page-sidebar.dashboard-fav-manager.ui-sidebar {
    .sidebar-header {
      .sidebar-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action-icons {
          i {
            font-size: 20px;
            padding-left: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .sidebar-content {
      position: relative;
      overflow-y: auto;
      height: calc(100% - 85px);
      button.clear-button {
        position: absolute;
        right: 15px;
        top: 20px;
        color: #1d5290;
        z-index: 999999;
      }
      button.options-button {
        position: absolute;
        right: 10px;
        top: 20px;
        color: #1d5290;
        z-index: 999999;
      }
      p-tree {
        .ui-tree {
          .ui-tree-filter-container {
            // width: calc(100% - 35px);
            // width: 90%;
            position: relative;
          }
          .tree-node {
            width: 100%;
            position: relative;
          }
          .ui-tree-filter-container .ui-tree-filter-icon{
            width: 10px;
          }
        }
      }
     
    }
    .flex-fill{ flex: 1 1 49%; margin: .5%;}
    .editIcon{
      position: absolute;
      right: 5px;
      top: 2px;
      opacity: 0;
    }
  }

}

.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.ui-treenode-selectable .ui-treenode-label:not(.ui-state-highlight):hover .editIcon{
  opacity: 1;
}

