app-pattern-matching {
    .ui-slider.ui-slider-horizontal {
        margin-top: 8px
    }
    .line-height {
        line-height: 20px;
    }
    .action-buttons {
        display: flex;
        margin-left: 15px;
        margin-top: 25px;
        .ui-button {
            margin-right: 10px;
        }
    }
    .button-group {
        display: flex;
        flex-direction: row-reverse;
        .ui-button {
            margin-right: 10px;
        }
    }
    .comparecheck{
        .ui-dropdown-panel .ui-dropdown-items-wrapper{
          overflow: auto;
        max-width: 133px;
      }
    }
    .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
        width: 100%;
        background-color: #53b771;
        border: 2px solid #53b771;
        margin-bottom: 6px;
        height: 27px;
        color: #ffffff;
        &:not(.ui-state-highlight) {
            &:hover {
                background-color: #53b771;
                border: 2px solid #53b771;
                color: #ffffff
            }
        }
    }
    .category-type-css {
        width: 45%;
    }
    .selected-graph-span {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #centerpoint{
        top: 50%;
        left: 50%;
        .ui-dialog {
          width: 26vw;
          height: 38%;
        }
        .ui-dialog-title {
          display: inline-block;
          margin-top: 5px;
        }
        .ui-dialog-content {
          padding: 2em;
          font-size: 14px;
        }
    }

.slider-toltip{position: absolute;
    padding: 4px 10px;
    border-radius: 4px;
    top: -12px;
    background-color: #53b771;
    margin-left: -14px;
    color: #FFF;
    font-weight: 600;
    // &::after{content: ""; position: absolute;
    // border-left: solid 5px transparent;
    // border-right: solid 5px transparent;
    // border-top: solid 5px #53b771;
    // top: 19px;
    // left: 20px;
    // z-index: 99;}
    }
    .loading-indicator {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        }
        
        /* Transparent Overlay */
        .loading-indicator:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.53);
        }
}