app-dynamic-logging{
.dynamic-logging-container{
    height: 500px;
    padding: 5px;
    overflow-y: scroll;
    .no-padding{padding: 0}
    .title{margin: 13px 0;}
    .ui-button.ui-button-secondary-border{
        color: #53b771;
        background-color: #ffffff;
        border: 2px solid #53b771;
    }
    .ui-button.ui-button-secondary-border:hover{color: #53b771;}
    .second-section{
        margin-top: 15px;
        margin-bottom: 20px;
        height: 270px;
        .ui-card{
            padding: 10px;
        }
        ul.list{
            list-style: decimal;
            padding-inline-start: 15px;
            li p{
                line-height: 30px;
            }
        }
    }
    .ui-tabview{
        padding-top: 0;
    }
    .ui-tabview.ui-tabview-top .ui-tabview-nav li{
      width: 25%;
      padding: 2px ;
      background-color: #ededed;
    }
    .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
        font-weight: normal;
    }
    .ui-tabview.ui-tabview-top .ui-tabview-nav li a,.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a{
      font-size: 12px;
    }
    .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover,
    .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
    .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover{
        padding: 2px;
    }
    .icons-group{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .ui-tabview .ui-tabview-panels .ui-tabview-panel{
        height: 130px;
        overflow-y: scroll;
    }
    .source-title{
        margin-top: 0;
    }
    
    .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a,
    .ui-accordion .ui-accordion-content,.ui-accordion .ui-accordion-header a{
        background-color: #fff;
        border-bottom: none;
    }
    .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a{background-color: #fff;}
    .ui-accordion .ui-accordion-header{margin-bottom: 0;}
    .img-svg img{height: 150px;}
    .indexNo{
        //border-right: 1px solid #ccc;
        margin: 5px 10px;
    }
    .ui-orderlist .ui-orderlist-list .ui-orderlist-item{
        padding: 0.529em 0.857em;
    }
    .ui-card{padding: 0}
    .ui-orderlist .ui-orderlist-list{
        height: 20em;
    }
    .btn-group{
        button{
            margin-right: 5px;
        }
    }
}

}
