app-sequence-diagram {
  .sequence-diagram-container {
    height: calc(100vh - 208px);
    .loader-container {
      .loader {
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .empty-container {
      font-size: 17px;
    }
  }
}
