app-get-file-data {
  .control-input {
    width: 70%;
  }
  .ui-dialog .ui-dialog-content {
    height: 100%;
    .h-60-p{
      height: 60%;
    }
  }

  .file-upload-dialog {
    .ui-dialog {
      width: 400px;
      box-shadow: none;
    }

    .ui-fileupload {
      .ui-fileupload-buttonbar {
        .ui-button {
          min-width: 100px;
        }
      }
    }
  }
}

.mw400 {
  width: 400px;
  .mw100 {
    width: 400px;
    .ui-button {
      min-width: 100px;
    }
  }
}

.form-buttons {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  .ui-button-right {
    margin-left: 10px;
  }
}
