.inpSearch{position: absolute; left: 3px;}
.inpSearch1{position: absolute;right: 3px;top: 5px;}
.radioClass{padding-right:100px}
.content-area{max-height: calc(100vh - 168px);padding-bottom: 45px;}
.footerButton{position: fixed;bottom: -6px; background-color:var(--background_color_1); box-shadow: 0px 0px 2px var(--background_color_8);}
.permissions-height{max-height: 113px; overflow: auto;}