app-add-report {
  .add-reports-container {
    background-color: #ffffff;

    .upload-btn {
      .ui-button.ui-button-secondary {
        margin-right: 10px;
      }
    }

    .upload-btn-upload{
      display: contents;
    }

  //   .upload-btn-upload {
  //       padding: 0.529em 1em 0.529em 37px;
  // font-weight: 600;
  // display: inline-block;
  // overflow: hidden;
  // width: 90px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  //   }

    .vertical-container-main {
      overflow: auto;
      height: calc(100vh - 124px);
      float: left;
      margin: 0px;
      width: 100%;
      background-color: #FFF;
      // position: relative;

      .mb-20 {
        margin-bottom: 20px;
      }

      .font-report-settings {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        // font-family: 'Product Sans', sans-serif;
      }

      .selected-label {
        font-size: 15px;
        font-weight: 600;
        margin: 10px 0px;
      }

      .panel-card {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 10px 10px;

        .report-type {
          float: left;
          margin-right: 20px;
        }

        // .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        //   font-size: 15px;
        // }

        .customInput {
          border-radius: 4px;
          padding-left: 18px;
          height: 27.1px;
          width: 268px;

        }

        .ui-dropdown {
          //min-width: 100px;
          width: 55px;
        }

        // .ui-dropdown-label{
        //   text-overflow: ellipsis;
        // }

        .ui-dropdown-label-container {
          overflow: auto;
          text-align: left;


        }

        .icon-block {
          height: 55px;
          width: 66px;
          border: 1px solid lightgrey;
          border-radius: 2px;
          margin-right: 10px;
          display: inline-flex;
          align-items: center;
          flex-direction: column;

          i {
            font-size: 24px;
            color: #1d5290;
            line-height: 36px;
          }

          .top-padding {
            padding-top: 0;
          }
        }
      }

      .search-div-css {
        position: relative;

        i.icons8-calendar {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          left: 2px;
          line-height: 29px;
          z-index: 99;
        }
      }
    }

    .noteText{opacity: .7;
      position: absolute;
      top: 18px;
      white-space: nowrap;
      left: 25px;}
      
    .w-15-p{width: 15%;}
    .w-10-p{width: 10%;}

// .searhHide{
//   .ui-multiselect-close{display: none;}
// }
// @media(max-width:1300px){
//   .searhHide{
//     .ui-multiselect-header .ui-multiselect-filter-container{width: 60%;
//     .ui-inputtext{padding-right: .429em;}
//     .ui-multiselect-filter-icon{display: none;}
//     }
//     .ui-multiselect-close{display: none;}
//   }
// }

    .ui-paginator-current {
      float: left;
    }

    .h-35 {
      height: 35px;
    }

    .columnwidth {
      width: 40px;
    }

    .btn-group {
      button {
        margin-top: 37px;
        margin-left: 10px;
      }
    }
  }
  .displayNone .ui-multiselect{border: none;}

}

.classHighlighted{
  background-color: lightgrey;
}

.changeStyleReportSetting{
  // padding: 1px 5px 4px 7px;
  padding: 2px 3px 2px 20px;
}

.report-setting-icon{
// position: relative;
cursor: pointer;
}

.displayNone .ui-multiselect {
  border: none;
  padding: 12px;

  .ui-multiselect-label {
    display: none;
  }

  .ui-multiselect-trigger {
    margin-top: 1px;
    background-color: transparent;

    .ui-multiselect-trigger-icon {
      font-size: 1.5em;
    }
  }
}
.dashboard-report-save-template-button-div {
  margin-top: 10px;
  float: right;
  padding-right: 12px;
  margin-left: 80%;
}
.size-class{
  font-size: 1.8em;
  cursor: pointer;
}
.confirmdialog{
  >div{
    top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;background-color: rgba(0, 0, 0, 0.4); position: fixed;
    display: flex; align-items: center; justify-content: center;
 }
}
// .displayNone .ui-multiselect{border: none;}
.uploadStyle{
  margin-bottom:10px;
}
.iconClass{
  margin-left: 350px;
  cursor: pointer;
}
.dialogStyling{
  >div{
    top: 0;left: 0;width: auto;height: auto;pointer-events: none; position: fixed;
    display: flex; align-items: center; justify-content: center;
 }

}

.boxStyle{
  resize: none;
}

// .changeSliderStyle{
//   position: absolute;
//   top: -112px;
//   left: 1px;
//   z-index: 12;
// }

// .changeSliderViewByStyle{
//   position: absolute;
//   top: -112px;
//   left: 1px;
//   z-index: 12;
// }
// .changeComparePresetStyle {
//   position: absolute;
//   top: -455px;
//   left: -219px;
//   z-index: 12;
// }
// .changeCompareViewByStyle {
//   position: absolute;
//   top: -455px;
//   left: -854px;
//   z-index: 12;
// }
.ng-tns-c77-40.ui-dropdown-label.ui-inputtext.ui-corner-all.ng-star-inserted {
  text-overflow: ellipsis;
}
.report-float-right {
  float: right;
}
.panelWidthAddReport ul.ui-dropdown-items {
  max-width: 290px !important;
  min-width: 290px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 190px;

}
body.theme-2 .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
  padding: 0.899em 0.999em;
}