app-analyze-thread-dump {
  .analyze-thread-dump-container {
    .content-body {
      height: 100%;
    }
  }
}
.stack-text {
    overflow: auto;
    border: 1px #666 solid;
}
.tab-adjust-left .ui-tabview.ui-tabview-top .ui-tabview-nav {
  flex-flow: wrap;
}
.tab-adjust-left .ui-tabview.ui-tabview-top .ui-tabview-nav li {
  width: auto !important;
}