app-show-cmon {
    .show-cmon {
        .show-cmon-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
        .dialog-content {
            .action-buttons {
                i {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            padding: 1em;
        }
    }
}


