.divPad {
    padding: 0;
    width:100%;
    }

:host>>>.table-input2 table tr td{position: relative; height: 24px;}        
:host>>>.table-input2 table tr td .ui-cell-editor{
    display: block;
    position: absolute;
    top: 1px;
     right: 1px;
    left: 1px;
    bottom: 1px;}    
:host>>> .monitor-dialog .ui-dialog-resizable .ui-dialog-content{overflow: unset !important;}

.tableScroll{height: calc(100vh - 80px);overflow: auto;}

.loading-indicator {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    }


    .required-mark::after {content: "*"; color:red;}