.minWidth140{min-width: 140px; white-space: nowrap; margin-right: 5px;}
.flexnowrap{flex-wrap: nowrap;}
.flexfull{flex: 1 1 100%;padding: 0px 5px;}
.pageScroll{overflow-y: auto;height: calc(100vh - 155px);
    margin-top: 10px;
    overflow-x: hidden;
}
.textageaHeight{height: calc(100vh - 500px);}


