app-graph-data{
  .secondary-dialog .ui-dialog .ui-dialog-content{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  .no-padding{padding: 0;}
  .details-table{
      border: 1px solid #cecece;
      .pl-0{
          padding-left: 0;
      }
      .table-icons{
       
      .icons-group{
          display: flex;
          flex-direction: row-reverse;
          //margin-left: -8px;
          justify-content: flex-end;
          position: absolute;
          left: 0;
          z-index: 5;
          .filter-icon{
            font-size: 1.5em;
          }
          .ui-multiselect {
            border: none;
            padding: 0 8px;
            background-color: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label-container {
              display: none;
            }
            .ui-multiselect-trigger {
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                font-size: 1.5em;
                margin-top: 2px;
              }
            }
          }
      }
      
  }
      .captions-label{
          text-align: center;
          padding: 1px;
          background-color: #c9efd4;
      }
      // .ui-table-scrollable-body{
      //     overflow-x: hidden;
      // }
      .ui-paginator {
          margin-right: 5px !important;
  }


}
.ui-dialog{
  max-height: 99%;
}
.ui-dialog .ui-dialog-content{
  overflow: hidden;
}

// .left-200 .ui-multiselect-panel {left: auto !important; right: 0px;}
// .textElipse{max-width: 83%; min-width: 100px;}
// .all-tables .ui-table-tbody>tr>td{text-align: right !important;}
// .all-tables .ui-table-tbody>tr>td:first-child{text-align: left !important;}
.menuPosition{left: auto !important;top: 30px !important;width: 110px;}


}