app-flowmaps-management {
  .wrapper {
    .loader-container {
      .pi-spinner.pi {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span {
        font-size: 24px;
        vertical-align: middle;
      }
    }
    p-toolbar.ui-secondary-toolbar .ui-toolbar {
      margin-bottom: 0px;
    }
    .action-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      .action-dropdowns {
        display: flex;
        align-items: center;
        div {
            padding: 0 5px;
        }
      }
      .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .ui-button.ui-icon-button {
          color: #1d5290;
          &:hover {
            color: #1d5290;
          }
        }
        .ui-multiselect {
          border: none;
          padding: 12px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label-container {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }

    p-card .ui-card {
      padding: 15px;
    }
    .columnwidth {
      width: 40px;
    }
    .m-r-15 {
      margin-right: 15px;
    }
    .ui-paginator-current {
      float: left;
    }
  }
}
