@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
.ui-widget {
    font-size: 12px !important;
    font-family: "Open Sans", sans-serif !important;
}

.btn-select,
.btn-upload,
.btn-add-folder {
    color: #fff;
    background: #4c4c4c;
    font-size: 12px;
    margin-left: 6px;
    line-height: 24px;
}

.file-browser-icon {
    height: 12px;
    width: 17px;
    color: #4b60d6;
}

.folder-browser-icon {
    color: #ffc107;
    height: 12px;
    width: 17px;
}

.loadingClass1 {
    /* position: absolute; */
    position: relative;
    left: 50%;
    /* top: 50%; */
    margin-left: -32px;
    /* margin-top: -32px; */
    pointer-events: none;
    color: #6e6e6e;
}
