app-add-template {
  .add-template-container {
    .block100{display: block; width: 100%; float: left;}
    .accord-container{   overflow-y: auto;
      height: calc(84vh - 0px);}
    .topbtn {
      text-align: right;
    }
    .vertical-container{
      // overflow: auto;
      height: fit-content;
    }
    .vertical-container-temp {
      background-color: #fff;
      overflow-y: auto;
      height: calc(100vh - 150px);
      .panel-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-y: scroll;
        overflow-x: scroll;
      }
      .add-temp-data {
        padding-left: 27px;
        .span-css {
          line-height: 40px;
          margin-right: 15px;
          margin-left: 8px;
        }
      }

      .line-height {
        line-height: 30px;
      }
      p-card.report-sets .ui-card {
        .ui-card-content {
          padding: 0px;
        }
      }
      p-card.metric-group .ui-card {
        .ui-card-content {
          padding: 0px;
          .ui-orderlist {
            .ui-orderlist-filter-container{
                margin: 10px 0;
            }
          .ui-orderlist-list .ui-orderlist-item{
            background-color: #fff;
          }
            .ui-orderlist-list .ui-orderlist-item.ui-state-highlight{
                background-color: #c9efd4;
            }
        }
        }
      }
      p-card {
        width: 20%;
        .ui-card {
          padding: 0px;
          border: 1px solid #ceceec;
          margin: 0px;
          border-radius: 20px;
          .ui-card-header {
            background-color: #c9efd4;
            height: auto;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 15px 25px;
            display: flex;
            border-bottom: 1px solid #ceceec;
            p-header {
              width: 100%;
              padding: 0px;
              .btn-right {
                float: right;
              }
            }
            .selected-label {
              font-size: 1.2em;
              font-weight: 600;
              line-height: 30px;
            }
            .cross-button {
              color: #1d5290;
              margin: 0 0 0 20px;
              font-size: 1.25em;
              font-weight: 700;
            }
          }
          .ui-card-body {
            height: 100%;
          }
          .ui-card-content {
            height: calc(100vh - 250px);
            padding: 15px 10px;
            overflow: auto;
            .ui-table .ui-table-tbody > tr > td {
              border-right: none;
            }
          }
          .empty-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 27px);
          }
          .loader-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100% - 27px);
          }
          .add-temp-btn{
            margin-top: calc(100vh - 380px);
            text-align: right;
            margin-right: 15px;
        }
          
        }
      }

      .ui-button.ui-button-text-only .ui-button-text {
        padding: 3px 1em;
        font-weight: 600;
        font-size: 1em;
      }
      .ui-dropdown {
        min-width: 100%;
        width: 100%;
      }
      .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
        font-size: 1.25em;
      }
      .margin-top {
        margin-top: 15px;
      }
      .ui-orderlist-list {
        height: 53vh;
        width: 100%;
      }

     
      .add-template {
        padding: 10px 29px;
      }
      .p-field-checkbox.ng-star-inserted {
        display: inline;
        padding: 10px;
      }

      label.catlabel {
        padding-left: 16px;
      }

      .pdrop {
        margin-top: 10px;
      }

      .add-template-panel {
        margin: 15px 34px;
        .collapsed {
          .ui-panel .ui-panel-titlebar {
            background-color: #fff;
            padding: 10px;
          }
        }
        .uncollapsed {
          .ui-panel .ui-panel-titlebar {
            background-color: #c9efd4;
            padding: 10px;
          }
        }
        .cav-panel-header {
          .cav-panel-content {
            justify-content: space-between;
            width: 100%;
            .ui-multiselect {
              border: none;
              padding-bottom: 6px;
              background: transparent;
              .ui-helper-hidden-accessible {
                display: none;
              }
            }
          }
        }
      }
      .ui-panel .ui-panel-content {
        margin-top: 13px;
        display: flex;
        padding-left: 5px;
      }
      .add-temp-dropdown .ui-dropdown {
        margin-top: 10px;
      }
      .list-icon-content {
        text-align: right;
      }
      .indices {
        padding: 0px 0px 15px 10px;
      }
      .list-content {
        line-height: 25px;
      }
      .list-label-content {
        float: left;
      }

      .icons8.icons8-delete-trash {
        color: #1d529e;
      }

      .applybtn {
        padding: 2px 10px;
        //margin-right: 20px;
      }

      .add-panel {
        background-color: #fff;
      }
    }
  }
  .dashboard-report-threshold-text{
    width: 50px;
    margin: 5px;
  }
  .dashboard-reports-threshold-text.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
    width: 60px;
}
.ng-tns-c77-17.ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  width: 110px;
}
.ng-tns-c77-12.ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  width: 146px;
}
.ng-tns-c77-13.ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  width: 146px;
}
.ng-tns-c117-15.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
  width: 146px;
}
// .p-col-5 {
//   width: 35.6667%;
// }
.pt-15 {
  padding-top: 0px;
}
.ng-tns-c77-18.ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  width: 110px;
}
}
.confirmdialog{
  >div{
    top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;background-color: rgba(0, 0, 0, 0.4); position: fixed;
    display: flex; align-items: center; justify-content: center;
 }
}