app-add-action{
    .add-action-dialog{
        .mail-custom-fields-subject-mail {
            .ui-menu {
                  top: 39px !important;
                  left: 55em !important;
                }
        }
        .mail-custom-fields-pre-post {
            .ui-menu {
                  top: 39px !important;
                  left: 170px !important;
                }
        }
        .compare-data-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    //padding: 0 5px;
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }

        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 1em;
            overflow: auto;
            max-height: 85vh;
        }
        // .form-buttons {
        //     display: flex;
        //     justify-content: flex-end;
        // }
        .ui-inputswitch {
            margin-right: 10px;
        }
        .line-height{line-height: 30px;}
        .switch-btn{
            display: flex;
            flex-direction: row;
            align-items: center;
            label{
                line-height: 20px;
            }
        }

        .customInput {
            width: 50px;
        }
        .customInput2 {
            width: 60px;
        }
        .test-button {
            background-color: #1d5290;
            border: none;
        }
    }






.green-fieldset{
    width: 100%;
    padding: 0px 15px;
    .aco-label{
        display: inline-flex; align-items: center; color: #38a25d; font-weight: 600; cursor: pointer; text-transform: uppercase;
        font-size: 12px;
    }
    .normal-inner{
        border: solid 1px #ddd;
        background-color: #FFF;
        border-radius: 4px;
        margin: 5px 0px;
        padding: 10px;
    }
}

.normal-fieldset{
    width: 100%;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 5px;
    >label{
        display: inline-flex; align-items: center; font-weight: 600; cursor: pointer; text-transform: uppercase;
        font-size: 12px;
    }
    .normal-inner{
        border: solid 1px #ddd;
        border-radius: 4px;
        margin: 10px 0px;
        padding: 10px;
    }
}

.innerbg{background-color: var(--background_color_8);border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;
padding: 10px 0px;}

.icons-block{
    display: flex;
    flex-direction: row;
    .btn-icon{
        position: absolute;
        right: -28px;
    }
}
.sizeHeight{
	    min-height:50px;
	    resize: vertical;
	}
}
