
    input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    /* background-color: #eee; */
  }
  
  .no-outline:focus {
    outline: none;
  }

 /* component css goes here */
.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}


.ddr-custom-div {
    text-align:left;
    box-sizing:border-box;
    padding:.5em .75em;
    }
.ddr-custom-tab {
    text-align:center;
    margin-top:100px;
    min-height: 400px;
}

.ddr-progressbar {
    height: 1px;
}

.w20{width: 20px; line-height: 16px;}

