app-sub-indices {
      .sub-indices-wrapper {
        overflow: hidden;
        .content-body {
          overflow: hidden;
          padding-bottom: 5px;
          .bg-white {
            background-color: #ffffff;
          }
          .panel-title {
            cursor: pointer;
          }
          .ph-0 {
            padding-left: 0;
            padding-right: 0;
          }
          .action-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .routing-buttons {
              display: flex;
              align-items: center;
              button {
                margin: 0 5px;
                .ui-button-text {
                  padding: 0.529em 1.5em;
                }
              }
            }
            .action-icons {
              display: inline;
              vertical-align: middle;
              button {
                padding: 0 5px;
                color: #1d5290;
              }
            }
          }
        }
      }
    }
    