app-agent-info {
    .agent-info-page {
        .no-padding {
            padding: 0;
        }
        .action-container {
            .search-div-css {
                position: relative;
                margin-left: 4px;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    left: 8px;
                    line-height: 32px;
                }
            }
            .input-field-search {
                width: 80%;
                padding-left: 40px;
            }
            input[type="text" i] {
                padding-left: 30px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .ui-multiselect {
                border: none;
                padding: 18px 15px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icon-button.ui-button {
                margin: 0 2px;
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
            }
            .check {
                font-size: 1.5em;
            }
            .action-button button {
                margin-right: 10px;
            }
        }
    }
}