app-exception {
    .loader-container {
        .pi-spinner.pi {
            font-size: 24px;
            vertical-align: middle;
            margin-right: 10px;
        }
        span {
            font-size: 24px;
            vertical-align: middle;
        }
    }
    .ui-panel .ui-panel-titlebar{padding: 0 !important;}
    .ui-panel-titlebar {
        background-color: #c9efd4;
        padding: 10px;
    }
    .ui-button-icon-left {
        color: #1d529e;
    }
    .ui-paginator .ui-paginator-current {
        float: left;
    }
    .menu-button .ui-button {
        margin: 5px 30px;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .srcvarcontainer {
        width: 80%;
        height: 200px;
        background: aqua;
        margin: auto;
        padding: 10px;
    }
      
    .srccode {
        width: 15%;
        height: 200px;
        background: red;
        float: left;
    }
      
    .varargs {
        margin-left: 15%;
        height: 200px;
        background: black;
    }
    a.activeLink,
    a.activeLink:hover {
        color: blue !important;
        cursor: pointer !important;
    }
    .vertical-container {
        overflow-y: auto;
        height: calc(100vh - 200px);
        .exception-panel {
            margin: 8px 8px;
            .collapsed {
                .ui-panel .ui-panel-titlebar {
                    background-color: #fff;
                    padding: 10px;
                }
            }
            .uncollapsed {
                .ui-panel .ui-panel-titlebar {
                    background-color: #c9efd4;
                    padding: 10px;
                }
            }
            .cav-panel-header {
                .cav-panel-content {
                    justify-content: space-between;
                    width: 100%;
                    .ui-multiselect {
                        border: none;
                        padding-bottom: 6px;
                        background: transparent;
                        .ui-helper-hidden-accessible {
                            display: none;
                        }
                        .ui-multiselect-label-container {
                            display: none;
                        }
                        .ui-multiselect-trigger {
                            background-color: transparent;
                            .ui-multiselect-trigger-icon {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
.my-flex{display: flex;
    .source-code-half,
    .exception-panel{flex: 1 1 100% !important;}

    .pre-height{min-height: 250px; max-height: 300px; width: 100%; overflow: auto}
    .max-50-p{max-width: 50% !important; min-width: 50% !important}
}


}
body.theme-1 .ui-table .ui-table-thead > tr > th,
body.theme-1 .ui-table .ui-table-tbody > tr > td,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th
{
  overflow: hidden; white-space: nowrap;
}