/* .loadingIconAgentInfo {
    color: white;
    height: 14px;
    margin: 0px 2px -2px 0px;
}

.runningtestrun {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    padding-top: 8px;
} */

.width110{width: 110px; display: inline-block; padding-left: 2em;}
.mb10{margin-bottom: 10px;}
.mt10{margin-top: 10px;}


:host>>>.my-select .ui-multiselect-label{padding: .12em;}
:host>>>.my-select span.ui-multiselect-trigger-icon {margin-top: -.65em !important;}
:host>>>.my-select .ui-dropdown-label, :host>>>.my-spiner .ui-spinner-input{padding: .4em;}
:host>>>.my-select .ui-dropdown-trigger, :host>>>.my-select .ui-multiselect-trigger {background-color: #fff;}
:host>>>.my-select .ui-dropdown, :host>>>.my-spiner .ui-spinner-input{border-color: #bcbcbc;}
:host>>>.my-select .ui-multiselect{background-color: #fff;}



:host ::ng-deep .ui-multiselected-item-token,
        :host ::ng-deep .ui-multiselected-empty-token {
            padding: .25em;
            margin: 0 0.286em 0 0;
            display: inline-block;
            vertical-align:middle;
        }

        :host ::ng-deep .ui-multiselected-item-token {
            background: #007ad9;
            color: #ffffff;
        }

        :host ::ng-deep .ui-multiselected-empty-token {
            background: #d95f00;
            color: #ffffff;
           
        }