.ddr-iframe {
    overflow:auto !important;
}

split-area > div {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .iframe-hider {
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }