app-indices-filter {
}

.sidebar-header {
  border-bottom: 1px solid #ccc;
  .inline {
    display: inline;
  }
}
.sidebar-content {
  .info-button {
    display: flex;
    align-items: center;
    .cache-button {
      .ui-button.ui-button-text-only .ui-button-text {
        padding: 0.529em 3px;
        font-weight: 400;
      }
    }
    .ui-button.ui-button-text-only .ui-button-text {
      padding: 0.529em 10px;
      font-weight: 400;
    }

    button {
      margin: 0 5px;
    }
  }
}
.sidebar-footer {
  position: sticky;
  bottom: 2px;
  display: flex;
  justify-content: space-evenly;
}
