app-add-settings {
    .compare-data-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action-buttons {
            i {
                //padding: 0 5px;
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
            }
        }
    }
    .dialog-content {
        .input-field-border-none {
            width: 100%;
            border: none;
            border-bottom: 1px solid #1d5290;
            border-radius: 0;
        }
        .line-height {
            line-height: 30px;
            padding-left: 20px;
        }
        input {
            margin-bottom: 15px;
        }
    }
    .secondary-dialog .ui-dialog .ui-dialog-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 1em;
    }
}