.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}
a.activeLink,
a.activeLink:hover {
    color: #1D5290 !important;
    cursor: pointer !important;
}
 chart {
        display: block;
      }

/*:host>>>.ui-accordion-content{padding-bottom: 60px;}*/

.alignNoRight{
  text-align: right;

}


table, td, th {
  border: 1px solid black;
  padding: 3px;
}

:host>>>.ui-multiselect{
  background-color: transparent !important; 
}