app-favourite-setting {
  .favourite-container {
    p-card {
      width: 100%;

      .mh-10 {
        margin: 0 10px;
      }

      .customInput {
        width: 60px;
        margin: 0 10px;
      }
    }
  }
}
