.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}

.group-left {
    float: left;
    padding-top: 4px;
}

.group-right {
    float: right;
    padding-top: 4px;
}

.ddr-box {
    margin: 10px 8px;
    min-height: 82vh;
    padding: 2px 4px;
    /* box-shadow: 0 0 6px 2px #565656; */
    border-radius: 4px;
}
a.activeLink,
    a.activeLink:hover {
        color: #1d5290  !important;
        cursor: pointer !important;
        text-align: right;
    }