<!-- <p-blockUI [blocked]="loading"></p-blockUI>
<img *ngIf="loading" class="loadingIcon1" src="./images/loading.gif" /> -->
<div class="p-grid loader-container vertical-container h-100-vh" *ngIf="loading">
    <div class="p-col p-col-align-center text-center">
        <div><i class="pi pi-spin pi-spinner font-25"></i> <span class="font-25">Loading</span></div>
    </div>
  </div>
<div class="ddr-box">
    <!-- COMMON TOOLBAR -->
    <div class="ddr-toolbar">
        <!-- <p-toolbar> -->
            <!--<div class="reportInfo">
                <label class="headerInfo"><b>{{reportHeader}}</b></label>
            </div>-->
           <div  class="p-grid p-justify-between p-align-center p-6">
            <div>
                <!--<label class="headerInfo"><b>Filter criteria : </b></label>-->
                <!-- <span title="{{completeTier}}">{{filterTierName}}</span>
                <span title="{{completeServer}}">{{filterServerName}}</span>
                <span title="{{completeInstance}}">{{filterInstanceName}}</span>
                <span title="{{CompleteURL}}">{{URLstr}}</span>
                <span title="{{completeGroupBy}}">{{filterGroupByStr}}</span>
                <span title="{{completeOrderBy}}">{{filterOrderByStr}}</span> 
                <label class="headerInfo">{{headerInfo}}</label> -->

            </div>
            <div>
                <p-menu #menu [popup]="true" styleClass="widget-menu" appendTo="body" [model]="downloadOptions" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-menu>
                <button pButton icon="icons8 icons8-download" class="ui-icon-button" (click)="menu.toggle($event);" pTooltip="Download"></button>
            </div>
        </div>

        <!-- </p-toolbar> -->
    </div>
    <!-- COMMON BOX SCROLLLBAR -->
    <div class="ddruiscroll" style="overflow:auto; height: 500px;">
            <p-accordion class="ddr-accordion">
	    <!-- <p-growl life=5000 [(value)]="msgs"></p-growl> -->
        <p-toast></p-toast>
                    <p-accordionTab [selected]='false' header="Flowpath Stats"> 
                        <div class = 'ui-g' style="overflow:auto">
                                <div *ngIf="showBarChart == true" class="ddr-graphpanel" >
                                    <!-- <chart [options]="chartOptions" (click)= "clickHandler($event)"></chart> -->
                                    <highcharts-chart [Highcharts] = "highcharts" (click)= "clickHandler($event)" [options]="chartOptions"></highcharts-chart>
                                </div>
                            <div *ngIf="showBarChart == false" style="text-align:center;">No Bar Chart found based on current Filter Settings.</div>       
                        </div>
                    </p-accordionTab>
                </p-accordion>
        <p-dialog class="ddr-dialog" [(visible)]="loader" width="500" height="75" [closable]="false" [resizable]="false" modal="modal" [responsive]="true">
            <div *ngIf="loader">
                <p-progressBar [value]="value"></p-progressBar>
            </div>
        </p-dialog>

            <p-accordion class="ddr-accordion dynamic-column-width-acc">
                    <p-accordionTab [selected]= 'true' header="Flowpath Summary">
  
                <div class="p-grid p-justify-end p-align-center mb-3">
                    <div>
                        <input #searchInput type="text" [value]="" class="w-100-p" pInputText size="50" placeholder="Search" *ngIf="isShowSearch" (input)="fpGroupBy.filterGlobal($event.target.value, 'contains')" class="search-box" />
                        <button pButton icon="icons8 icons8-search" (click)="isShowSearch = !isShowSearch" class="icon-button no-shadow"></button>
                    </div>
                    <p-multiSelect title="Show/Hide columns" [options]="columnOptions" class="icon-button no-shadow" (onChange)="showHideColumn($event)"
                    [(ngModel)]="visibleCols" [displaySelectedLabel]="false" dropdownIcon="icons8 icons8-columns" [panelStyle]="{ minWidth: '200px' }">
                    </p-multiSelect>
                    <button pButton icon="icons8 icons8-search-property" class="icon-button no-shadow" (click)="toggleFilters()" pTooltip="{{filterTitle}}"></button>
                       <img src="./images/showall.png" *ngIf="showAllOption" height="21px" width="21px" title="Show all data" style="float:right;cursor:pointer;"
                           (click)="showAllData()">
                                        
                </div>

                         
            <div style="overflow:unset">

                <p-table #fpGroupBy class="scen-table all-tables" [value]="flowpathData" scrollHeight="340px" [style]="{'height':'auto','font-size':'12px'}"
                resizableColumns="true" reorderableColumns=" true"  [globalFilterFields]="globalFilterFields" (sortFunction)="sortColumnsOnCustom($event)" [customSort]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <ng-container *ngFor="let col of column">
                                <th *ngIf="col.action" pResizableColumn pReorderableColumn  [pSortableColumn]="col.field" >
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container *ngIf="isEnabledColumnFilter">
                                <th *ngFor="let col of column" [ngSwitch]="col.header">
                                    <div>
                                        <input class="w-100-p" pTooltip="Will filter metric names which contains given text." *ngSwitchCase="col.header" pInputText type="text" (input)="
                                        fpGroupBy.filter($event.target.value,col.field, 'contains' ) " />
                                    </div>
                                </th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-node>
                        <tr>
                            <ng-container *ngFor="let col of column">
                                <td *ngIf="col.action">
                                <span *ngIf="(col.header == 'Flowpath Count' )">
                                    <a class="activeLink" title="View Flowpath Report" (click)="openFlowpath(node)" >{{node[col.field]}}</a>
                                </span>
                                <span *ngIf="!(col.header == 'Flowpath Count')">
                                    {{ node[col.field] }}
                                </span>
                            </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td class="text-center">
                                <span *ngIf="error">Error while loading data</span>
                                <span *ngIf="loading">Loading</span>
                                <span *ngIf="searchInput && searchInput.nativeElement.value.length  ">Nothing found matching
                                    "{{searchInput.nativeElement.value}}"</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <!-- <p-dataTable class="scen-table"  [value]="flowpathData" [globalFilter]="gbFlowpath" scrollHeight="340px" [style]="{'height':'auto','font-size':'12px'}" resizableColumns="true" reorderableColumns="true">
                  <div *ngFor="let col of cols" >
                        <p-column *ngIf = "col.action" [filter] = "col.filter" [field]="col.field" [header]="col.header"  [style]="{'width': dynamicWidthColumn +'px' ,'text-align': col.align}" (sortFunction)= "sortColumnsOnCustom($event, flowpathData)"  [sortable]="col.sortable">
                    <ng-template let-col let-node="rowData"  *ngIf="col.field == 'fpCount'" pTemplate type="body"> 
                        <span class = 'ddr-table-right' title="View Flowpath Report" (click)="openFlowPathCount(node)">
                            {{formatter(node[col.field])}} </span>  </ng-template>
                            <ng-template let-col let-node="rowData" pTemplate="header" *ngIf="col.field == 'fpCount'">
                                <span pTooltip="Flowpath Count"  tooltipPosition="bottom" tooltipEvent="hover">Flowpath Count</span>
                             </ng-template>
                           
                        </p-column>
                    </div>
                </p-dataTable> -->
                <div *ngIf="!showAllOption"> {{fpOffset+1}} - {{fpOffset+fpLimit}} of {{fpTotalCount}} </div>
                <div *ngIf="showAllOption"> 1 - 1 of 1</div>
		<div *ngIf="showPagination">            
                <p-paginator rows="50" [totalRecords]="fpTotalCount" [rowsPerPageOptions]="[50,100,200,400]" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
		</div>
            </div>
        </p-accordionTab>
    </p-accordion>
    </div>
    <!-- <div class="section" *ngIf="showDownLoadReportIcon">
        <label style="font-size: 12px;padding-left: 6px;">Download Reports as: </label>
        <span title="PDF Report"><img border='0' width='13' height='14' style='margin-bottom: -3px; cursor:pointer' (click)='downloadReports("pdf")' src='./images/iconPDF.gif'></span>
        <span title="Word Report"><img border='0' width='13' height='14' style='margin-bottom: -3px; cursor:pointer' (click)='downloadReports("word")' src='./images/iconWord.gif'></span>
        <span title="Excel Report"><img border='0' width='13' height='14' style='margin-bottom: -3px; cursor:pointer' (click)='downloadReports("excel")' src='./images/iconExcel.gif'></span>
    </div> -->
</div>
  <p-dialog class="ddr-dialog"   appendTo="body" [(visible)]="isCancelQuery" modal="modal" [resizable]='false'[responsive]="true" height="120" width="600" > 
  <p-header>
      <i class="icons8 icons8-help" style="color:red"></i>
      <span>&nbsp;&nbsp;&nbsp;Query load process</span>
  </p-header>  
  <span style="font-size:14px">{{this.commonService.cancelationMessage}} </span>
  <p-footer>
  <button type="button" pButton icon="icons8 icons8-clock" (click)="waitQuery();" label="Wait" style="height: 25px;"></button>
  <button type="button" pButton icon="icons8 icons8-delete" (click)="onCancelQuery();" [disabled]="isCancelQuerydata" label="Cancel" style="height: 25px;"></button>
  </p-footer>
</p-dialog>
