app-add-remove-user{
    .add-remove-user-container{
      .search-div-css {
        position: relative;
  
        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          left: 10px;
          line-height: 17px;
        }
      }
      .icon-list{
        display:flex;
        flex-direction: row-reverse;
      }
      .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{font-size: 1.25em;}
        .columnwidth {
            width: 40px;
          }
          .form-buttons {
            float: right;
            display: flex;
            flex-direction: row-reverse;
            .ui-button-right {
              margin-left: 10px;
            }
          }
          .add-remove-user-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
              i {
                //padding: 0 5px;
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
              }
            }
          }
          .table-body{
              // margin-top:20px!important;
          }

          .search-section{
              // margin-top: 15px;
          }
          .ui-multiselect {
            border: none;
            padding: 18px 15px;
            background: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label {
              display: none;
            }
            .ui-multiselect-trigger {
              margin-top: 1px;
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                font-size: 1.5em;
              }
            }
          }
          .ui-paginator .ui-paginator-current{float: left;}
          .widget-menu{
        top:56px!important;
        left:644px!important;
        width:90px;
          }
         
    //       .derived-metric-indices {
    //         .ui-dialog {
    //           transition: none;
    //           transform: none;
    //           width: 50vw !important;
    //           max-height: 50%;
    //           height: 50%;
    //           left: 0px !important;
    //           top: 0px !important;
      
    //           .ui-dialog-titlebar {
    //             border: none;
    //             // background-color: #1d5290;
    //             color: #fff;
    //             .p-grid {
    //               display: flex;
    //               align-items: center;
    //               justify-content: space-between;
    //               .derived-title {
    //                 cursor: pointer;
    //                 font-size: 15px;
    //               }
    //               .action-buttons {
    //                 button {
    //                   padding: 0 5px;
    //                   margin: 0px 10px;
    //                 }
    //               }
    //             }
    //           }
      
    //           .ui-dialog-content {
    //             height: 100%;
    //             overflow: hidden;
    //             .left-panel {
    //               .indices-operations {
    //                 padding: 10px;
    //                 background-color: #f7f7ff;
    //                 border: 1px solid #cecece;
    //                 height: 100%;
    //                 border-radius: 3px;
    //                 .ph-0 {
    //                   padding-left: 0;
    //                   padding-right: 0;
    //                 }
    //                 .test-button {
    //                   position: absolute;
    //                   bottom: 5%;
    //                   left: 12%;
    //                 }
    //               }
    //             }
    //             .right-panel {
    //               .table-section {
    //                 .ui-treetable {
    //                   position: relative;
    //                   border: 1px solid #cecece;
    //                   border-radius: 3px;
    //                 }
    //               }
    //             }
    //           }
    //         }
    // }
}
}