app-monitor-menu{
.overlay-menu.monitor {
    width: 300px;

    .overlay-menu-body {
        max-height: 300px;
        overflow: auto;

        ul,
        ul li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul {
            li {

                .monitor-item-meta {
                    padding: 10px;
                    text-align: right;
                }
                .monitor-item-body {
                    background: #efefef;
                    padding: 10px;
                    border-radius: 5px;
                    margin: 5px;
                    word-break: break-all;
                    cursor: default;
                    display: block;
                    width: calc(100% - 10px);
                    float: left;

                    &:hover {
                        background: #1d5290;
                        color: #fff;
                    }
                }
            }
        }
    }
    
}
  .overlay-menu .overlay-menu-header span {
    color: #1d5290;
  }
}