<button pButton class="icon-button ui-button-rounded header-icon-width" icon="icons8 icons8-computer" pTooltip="Monitors"
(click)="navigateTo()">
    <div class="badge" *ngIf="data && data.count">{{data.count}}</div>
</button>
<p-overlayPanel #menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'">
    <div class="overlay-menu monitor">
        <div class="overlay-menu-header">
            <span>MONITOR</span>
        </div>
        <div class="overlay-menu-body">
            <div class="loader-container spinner small" *ngIf="loading">
                <i class="pi pi-spin pi-spinner"></i>
            </div>
            <div class="empty-container" *ngIf="empty">
                No data.
            </div>
            <ul *ngIf="data">
                <li *ngFor="let item of data.items;">
                    <div class="monitor-item-meta">
                        {{item.date}}
                    </div>
                    <div class="monitor-item-body">
                        {{item.msg}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="overlay-menu-footer">
            <a pButton class="ui-outline-button ui-button-secondary" (click)="navigateTo()"   label="View Monitor Status" [class.disabled]="isDisabled"></a>
        </div>
    </div>
</p-overlayPanel>
