
.example-icon{
    cursor: pointer;
}
.example-spacer { 
  flex: 1 1 auto;
}
.lblCommonClass{
    /* font-weight: 600; */
    font-size: 14px;
}
.ts-icons {
    font-size: 1.5em;
    cursor: pointer;
}
.lbl-mid-menu{
    margin-right: 1em;
    margin-left: 2em;
    line-height: 18px;
}
.ts-icons-mid{
    font-size:1em;
}
.ts-disabled-metrics{
    cursor: default;
}
.ts-enabled-metrics{
    cursor: default;    
}
.ts-enabled-metrics img{
    position: absolute;    
}

.ts-mid-menu {
    /* display: inline-flex; */
    float: left;
    position: relative;
}
/* drop down */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    right: 0px;
    top: auto;
    position: absolute;
    background-color: var(--background_color_1);
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
    z-index: 3;
    border-radius: 4px;
}
.edit-current-flowmap{
    padding: 8px;
    min-width: 160px;
    cursor: pointer;
    transition: all 300ms ease;
    white-space: nowrap;
}


.edit-current-flowmap:hover{
        transition: all 300ms ease;
        background-color:var(--menu-item-hover-color);
        color: var(--color_5)
}
.edit-current-flowmap:hover a{ color: var(--color_5)}

.ts-settings{
    border-bottom:none;
}
/* .dropdown-content div:hover {} */

.dropdown:hover .dropdown-content {display: block;}


.ts-right-panel-icons{
    padding-right: 4px;
}


.ts-left-icons{
    display:inline-grid;
}
td{
    white-space: nowrap;
}
.header-icon {
    margin: -4px 0;
    width:16px;
    height:16px;    
}
.tier-icon {
    margin: -1px 0;
}
.ip-icon {
    margin: -2px 0;
}
.header-sorting-icon {
    margin: -5px 5px;
}
.toggle-icon {
    cursor: pointer;
}

/* -----------------12-Jun------------- */
.ui-toolbar-group-right .btn-icon{
    border: solid .12em #1f5290 !important;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}


.flowmapPanelHeader{display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: solid 1px #ccc;
    background-color: #f7f7ff;}
    .ui-group-right-font,  .ts-left-menu{
        padding: 0px;
        display: flex;
        align-items: center;
        height: 30px;
    }
.edit-current-flowmap>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
