.dialog-scroll{max-height:70vh;overflow:auto}
:host>>>.ui-picklist .ui-picklist-buttons button{margin-bottom:5px}
.tier-info-content{padding:0 0 0 15px;width:100%;min-height:calc(100vh - 300px);max-height:calc(100vh - 300px);transition:all .3s;overflow:auto;margin-top:-5px}
.img-mx{width:16px;height:16px;margin:0 10px;display:inline-block}
.top10Transactions{width:600px;display:none;border-radius:5px;position:absolute;opacity:.9;box-shadow:0 5px 5px 2px grey}
.bg-gray{background-color:var(--background_color_7);border:solid 3px var(--background_color_7)}
:host>>> .bg-gray exec-dashboard-hchart div{width:100%!important}
:host>>> .scenmodal .ui-dialog-content{height:500px;overflow:auto}
.border-right{border-right:solid 1px var(--background_color_7);overflow:hidden}
.list{display:inline-block; margin: 0px 10px; position:relative; list-style: none;}
/* .normal:after,.major:after,.critical:after{position:absolute;left:0;width:12px;height:12px;content:""} */
.normal{color: #6ad35c;}
.majaor{color: #ffb37b;}
.critcal{color: #ff7979;}
.server-info{background-color:var(--background_color_12)}
.serverwigets{background-color:var(--background_color_1);width:24%;margin:.5%;padding:5px;box-shadow:0 0 3px var(--background_color_7)}
.instance-name{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.aHover{text-decoration:none;cursor:pointer;padding:3px}
.aHover:hover{background-color:var(--background_color_12);text-decoration:none;cursor:pointer}
.line-graph{max-height:422px;overflow:auto}
.layoutmasonry{column-count:4}
.card{position:relative;border:solid 1px var(--background_color_7);background:var(--background_color_1);width:100%;margin-bottom:10px;-webkit-column-break-inside:avoid;break-inside:avoid;page-break-inside:avoid}
.card>div{padding:5px}
.instanceName{ align-content: stretch!important; display: flex; flex-wrap: wrap;
    height: 30px;
    align-items: stretch; justify-content: center;
    line-height: 30px;
    margin-bottom: 10px;}

:host>>>.ui-confirmdialog .ui-dialog-content{border-bottom: none !important;}
:host>>>.ui-confirmdialog .ui-dialog-footer{flex-flow: row-reverse; padding-bottom:20px !important; display: flex;}
.disabledClass{opacity: .5; pointer-events: none;}
.closbtn{position: absolute; z-index: 999;right: -10px;
    top: -17px;
    border-radius: 15px !important;}
    .legend_txt{position: absolute;
        right: 10px;
        bottom: 20px;
        z-index: 99;
        cursor: pointer;
        font-weight: 700;
        font-size: 13px;}
:host>>>.ui-picklist.ui-picklist-responsive .ui-picklist-buttons{
    text-align: center;
}
:host>>>.ui-confirmdialog-message{line-height: 20px;}
:host>>>.overlayLabel{background-color: #d2e7f0;
    padding: 2px;
    border-radius: 5px;
    opacity: .8;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    white-space: nowrap;}
    