app-flowpath-analyzer {
  .loader-container {
    text-align: center;
    font-size: 24px;
    .pi-spinner.pi {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      font-size: 24px;
      vertical-align: middle;
    }
  }
  .button-section {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #cecece;
    .button-group {
      margin-right: 20px;
      .patternno {
        margin-right: 5px;
      }
      p-menu {
        text-align: left;
      }
      .pattern {
        width: 4%;
        margin-right: 15px;
      }
      .ui-icon-button {
        color: #1d5290;
      }
      .ui-button-rounded {
        margin-right: 10px;
      }
    }
  }
  .flowpath-analyzer-wrapper {
    height: 75vh;
    padding: 15px;
    overflow: auto;
    padding-bottom: 75px;
    .ui-table .ui-table-thead {
      >tr {
          >th {
              padding-top: 12px;
              border-top: 1px solid #f2f2f2;
          }
      }
  }
    p-toolbar.ui-secondary-toolbar .ui-toolbar {
      margin-bottom: 0px;
    }
    .pi-search {
      margin: 4px 4px 0 0;
    }
    .search-box {
      width: 20%;
    }
    .collapsed .ui-panel .ui-panel-titlebar {
      background-color: #fff;
      padding: 10px;
    }
    .http-reports-panel {
      margin: 15px 20px;
      .cav-panel-header {
        .cav-panel-content {
          justify-content: space-between;
          width: 100%;
          .ui-icon-button {
            color: #1d5290;
          }
        }
      }
      a.activeLink,
      a.activeLink:hover {
         color: blue !important;
         cursor: pointer !important;
      }
    }
    .ui-paginator-current {
      float: left;
    }
    .ui-panel-content {
      display : flex;
    }
  }
}
body.theme-1 .ui-table .ui-table-thead > tr > th,
body.theme-1 .ui-table .ui-table-tbody > tr > td,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th
{
  overflow: hidden; white-space: nowrap;
}
body.theme-2 .ui-menu.ui-shadow {
  margin-top: 20px;
  margin-left: -85px;
}

