// body {
app-global-drilldown-filter {
  .page-sidebar.dashboard-layout-manager.ui-sidebar {
    .sidebar-content {
      position: relative;
      overflow-y: auto;
      height: calc(100% - 55px);
      button.clear-button {
        position: absolute;
        right: 40px;
        top: 25px;
        color: #7f8388;
        z-index: 999999;
      }
    }
  }

  .icon-right {
    float: right;
    font-size: 18px;
  }
  .label-margin {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: black;
  }

  .ui-dropdown-label {
    color: #000000;
  }
  .ui-accordion-content {
    padding: 0px;
    border-bottom: none;
  }

  .ui-accordion.ui-accordion-header a {
    border-bottom: 0px;
  }

  .bottom-border {
    border-bottom: 2px solid #f1f0f1;
  }

  .slidemenu-icon {
    // margin: -5px;
    // font-size: 25px;
    color: #1d5290;
    padding-right: 0px;
  }

  .sidepanel-footer {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid gray;
  }
}

.dd-slide-menu{
  display: flex;
  padding: 5px;
  span{
    width: 100%;
  }
}
