app-topology-management {
  .topology-management-container {
    .no-padding {
      padding: 0;
    }
    .p-15 {
      padding: 15px;
    }
    .border-right {
      border-right: 1px solid #cccccc;
    }
    .custom-color {
      color: #1d5290;
    }
    .mh-10 {
      margin: 0 10px;
    }
    .right-panel {
      background-color: #ffffff;
      height: calc(100vh - 115px);
      overflow: auto;
    }
    .pv-30 {
      padding: 30px;
    }
    .custom-icon-size {
      i {
        font-size: 2em;
      } 
    }
   
    .action-container {
      padding: 15px;
      border-bottom: 1px solid #cccccc;

      .input-field-search {
        width: 100%;
        padding-left: 25px;
      }
      .search-div-css {
        position: relative;
        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          top: 7px;
          left: 7px;
        }
      }

      .icons-container {
        display: flex;
        flex-direction: row-reverse;
        i {
          font-size: 1.5em;
        }
      }
    }
  }
}
