app-auto-discover {
  .app-auto-discover-container {
    .box {
      padding: 60px 20px;
      background-color: #cccccc;
    }
  }
  .open-container {
    .pv-20 {
      padding: 20px 10px;
    }
    p-panel {
      width: 100%;
    }
    .head-box {
      width: 20%;
      border: 1px solid #1d5290;
      padding: 10px;
      text-align: center;
      margin: 10px 0;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .mh-10 {
    margin: 0 10px !important;
  }
}
