.marginTopClass {
    margin-top: 10px;
}

.marginRight{
    margin-right: 5px;
}

.loadingClass{
    color: #000;
    z-index: 100;
}

.marginGridTopClass{
   /* margin-top: 1%;*/
}

.marginClassMultiDC {
    margin-top: 1%;
}

.blockedUI {
    position: absolute;
    top: 0%;
    left: 0px;
}

.kpiloadingIcon {
    /* float: right; */
    margin-right: 5px;
    margin-top: 2.5%;
    font-size: 20px;
    color: #F24A3E;
    font-weight: 800;
}
.ed-kpi {
    height:90vh;
    display: inline-grid;
    width: 100%;
}

/* Media Query for KPI*/

/* For standard mobiles*/
@media (max-width: 320px) and (max-width: 480px) {
   .ed-kpi {
        /* width: 100%; */
        height: 215vh;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
   .ed-kpi {
        /* width: 100%; */
        height: 270vh;
    }
}

/* Iphone 5 Landcape*/
@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) 
and (orientation : landscape) {
    .ed-kpi {
        /* width: 100%; */
        height: 270vh;
    }
}

/* Iphone 6 landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width: 667px) 
    and (-webkit-device-pixel-ratio: 2) and (width : 667px)
    and (height : 375px)
{ 
    .ed-kpi {
        /* width: 100%; */
        height: 270vh;
    }
}
/* Iphone 6 Plus landscape*/
@media screen and (min-device-width : 414px) 
    and (-webkit-device-pixel-ratio: 3) {

    .ed-kpi {
        /* width: 100%; */
        height: 270vh;
    }
}

/* Ipad Portrait*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .ed-kpi {
        /* width: 100%; */
        height: 100vh;
    }
}

.kpigrid .ui-datatable .ui-datatable-thead>tr>th {
    font-weight: 400;
    font-size: 11px;
}