.enb-dis-margin {
  margin-top: "3px";
}
app-alert-rules {
  .alert-rules-container {
    .action-container {
      .input-field-search {
        width: 90%;
        padding: 6px;
        margin-left: 0px;
      }
      .search-div-css {
        position: relative;
        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          top: 7px;
          left: 5px;
        }
      }
      .col-search-search-div-css {
        position: relative;
        i {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          top: 7px;
          margin-left: 6px;
        }
      }

      input[type="text" i] {
        padding-left: 30px;
      }
      th{
        input[type="text"] {
          padding-left: 10px;
        }
      }

      i.filter-icon {
        font-size: 1.5em;
        color: #1d5290;
        margin: 0 10px;
        line-height: 30px;
      }

      .global-search-block {
        width: 35%;
        margin-left: 5px;
      }

      .ui-multiselect {
        border: none;
        padding: 18px 2px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }
      .ml-10 {
        margin-left: 10px;
      }
      .icon-button.ui-button {
        margin: 0 2px;
      }
      .icons-container {
        display: flex;
        flex-direction: row-reverse;
      }
      
    }

    .derived-graph-bucket {
                max-height: 152px;
                overflow: auto;
                padding: 0;
                background: #f4f7fb;
                padding: 2px; width: 100%;
                border-radius: 3px;
                margin-top: 5px;
                .graph-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px;
                    background: #f4f7fb;
                    margin: 3px 0;
                    border: 1px solid transparent;
                    cursor: pointer;
                    .graph-section-1 {
                        display: flex;
                        align-items: center;                       
                        .token {
                            padding: 0.25rem 0.5rem;
                            display: inline-flex;
                            margin: 0 0.25rem;
                            background-color: #f4f8fb;
                            // color: #a79e9e;
                            border: 1px solid #cecece;
                            // font-size: 14px;
                            border-radius: 3px;
                        }
                    }
                    .token-icon {
                        display: flex; align-items: center;
                    }                   
                    .varible-text{ padding: 0.5rem 0.5rem;
                        display: inline-flex;
                        margin: 0 0.25rem;
                        border: 1px solid #dadbdc;
                        border-radius: 3px;
                        strong{margin: 0px 2px;}
                    }
                }
                .token-index {
                    border-radius: 50%;
                    text-align: center;
                    background-color: chocolate;
                    color: #fff;
                    font-size: 13px;
                    min-width: 26px;
                    min-height: 26px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
                .insSelected{border: 1px solid #cecece; padding: 4px 15px; border-radius: 3px; margin: 0px 10px;}                
                .selected {
                    background-color: #c9efd4;
                    border: 1px solid #57b771;
                }
            }

    .ui-table {
      /* .columnwidth {
        width: 40px;
      }
      .slide-columnwidth{
          width: 70px;
      } */
      .condiExp:hover{
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
      }
      .icons8{
          font-size: 1.5em;
          color: #1d5290;
      }
    }
   
  }

}
