app-call-details {
  .secondary-dialog {
    .ui-dialog {
      .ui-dialog-content {
        border-bottom: none;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }
    }
  }

  .btn-icon {
    margin-right: 5px;
    color: #1d5290;
    cursor: pointer;
    font-size: 1.6em;
  }
  .label-css {
    font-weight: 600;
    color: #000000;
    margin-right: 5px;
  }
  .button-row-position {
    display: flex;
    flex-direction: row-reverse;
    button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .button-text-margin {
    margin: 4px;
  }
}
