.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}
.hotstack
{
    height: 200px;
    overflow: auto;
    background: white;
    border: 1px #DEDEDE solid;
}
#stack_text
{
    height: auto;
    max-height: 170px;
    overflow: auto;
    overflow-y: none;
    background: white;
    border: 1px #DEDEDE solid;
}
#stack_text1
{
    height: auto;
    max-height: 500px;
    overflow: auto;
    overflow-y: none;
    background: white;
    border: 1px #DEDEDE solid;
}