app-add-dashboard {
  .dialog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .action-buttons {
      color: #1d2590;
      cursor: pointer;
    }
  }
  .content-body {
    .p-formgroup-inline {
      display: flex;
      align-items: center;
    }
  }
  .secondary-dialog .ui-dialog .ui-dialog-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1em;
}

  .w-100{
    width: 100%;
  }

  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }
    
    /* Transparent Overlay */
    .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.53);
    }
    #centerpoint {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
  }
}
