app-graph {
  .widget-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .widget-body {
    visibility: visible;
    text-align: center;
    highcharts-chart {
      display: inline-block;
    }
  }

  // for hiding reset zoom
  .highcharts-button {
    display: none;
  }
}

//for blinking icons like delay time
.blinking {
  -webkit-animation: 1.25s blink ease infinite;
  -moz-animation: 1.5s blink ease infinite;
  -ms-animation: 1.25s blink ease infinite;
  -o-animation: 1.25s blink ease infinite;
  animation: 1.25s blink ease infinite;
}

