<p-fieldset>
    <div class="ui-g">
        <div class="ui-g-12">
            <input pInputText placeholder="Enter New Password" class="w-100-p" type='password'
                [(ngModel)]="newPassword">
        </div>
        <div class="ui-g-12">
            <input pInputText placeholder=" Re-enter New Password" class="w-100-p" type='password'
                [(ngModel)]="confirmPassword">
        </div>
    </div>

    <div class="p-grid p-align-center p-justify-end my-10">
        <button type="button" pButton label="Ok" icon="icons8 icons8-checkmark" class="mx-3"
            (click)=validateNewPassword()></button>
        <button type="button" pButton label="Cancel" icon="icons8 icons8-delete" class="mx-3 ui-button-secondary"
            (click)=closePassworddialog(false)></button>
    </div>

</p-fieldset>