app-themes-menu {
  .overlay-menu.theme {
    width: 200px;

    .overlay-menu-body {
      max-height: 300px;
      overflow: auto;

      ul,
      ul li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      ul {
        width: 100%;

        li {
          cursor: pointer;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid transparent;
          margin: 5px 0;

          &:last-child {
            margin-bottom: 0;
          }

          &.selected {
            border: 1px solid #999;
          }

          &:hover {
            background: #efefef;
          }

          .color-frame {
            display: inline-block;
            width: 34px;
            height: 34px;
            line-height: 0;
            vertical-align: middle;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid #fff;

            > div {
              display: inline-block;
              width: 16px;
              height: 16px;
            }
          }

          .theme-title {
            display: inline-block;
            padding: 0 10px;
          }
        }
      }
    }
  }
  .overlay-menu .overlay-menu-header span {
    color: #1d5290;
  }

  .config-tier {
    .ui-submenu-list {
      left: -150px !important;
    }
  }

//   p-tieredmenu {
//     p-tieredmenusub{
//         .ui-submenu-list{
//             max-height: 300px;
//             overflow-y: auto;
//         }
//     }
//   }
}
