app-scripted-field-box{
    
}

.text-label {
    padding-left: 15px;
}
.label {
    padding-left: 15px;
}



.abc.p-field-checkbox {
    padding-bottom: 10px;
    margin-top: 10px;
}
.hjk.p-field-checkbox {
    margin: 13px 0px;
    padding: 10px 0px 10px 20px;
    // padding: 10px 5px 5px 5px;
    background-color: #F7F7FF;
}
.jk.p-field-checkbox {
    margin: 5px 0px;
    padding: 10px 0px 10px 20px;
    // padding: 10px 5px 5px 5px;
    background-color: #F7F7FF;
}
.cd.p-field-checkbox {
    margin: 5px 0px;
    padding: 10px 0px 10px 20px;
    // padding: 10px 5px 5px 5px;
    background-color: #F7F7FF;
}

.p-col-12.form-buttons {
    display: flex;
    flex-direction: row-reverse;
}

.kt.p-field-checkbox {
    margin-top: 16px;
}

.p-col-12.form-buttons {
    display: flex;
    flex-direction: row-reverse;
}