app-user-menu {
  .overlay-menu.user-menu {
    .overlay-menu-body {
      width: 300px;
      padding-bottom: 0;
      // background-color: #c3d7ea;
      .ui-slidemenu .ui-menuitem-link {
        width: 400px;
      }
      .ui-slidemenu .ui-menuitem-link{ 
        // background-color: #c3d7ea;
        .ui-menuitem-text {
        color: black;
        font-weight: 600;
      }
    }
    }
    .overlay-menu-footer{
      padding: 5px 40px;
    }
  
  // .ovarlay-menu-name .name {
  //   padding-left: 45px;
  //   padding-bottom: 10px;
  // }

  // .overlay-menu .overlay-menu-footer {
  //   padding: 5px 0;
  //   margin: 0px 40px;
  // }
  .ui-button-secondary{
    width: 100%;
  }
}
.overlay-menu .overlay-menu-header
{
  text-align: center;
  background-color: #1d5290;
  .user-profile{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #fff;
    color:#1d5290;
    .icons8-user{
      font-size: 4em;
      line-height: 1.2;
    }
  }
}
}
