<div class="h-100-vh add-server">
    <div class="header">
        <app-header></app-header>
    </div>

    <p-toolbar class="ui-secondary-toolbar">
        <div class="p-grid p-justify-between p-align-center pl-5 pr-5">
            <a routerLink="/net-diagnostics-enterprise/servers">
                <span class="icons8 icons8-left toolbar-icon-color"></span>
            </a>
            <div class="p-col ui-toolbar-text">ADD SERVER</div>
            <div>
                <button pButton type="button" class="ui-button ui-button-rounded" label="SAVE"></button>
            </div>
        </div>
    </p-toolbar>
    <div class="mh-10">
        <p-card class="content-body">
            <div class="p-grid p-col-12 no-padding">
                <div class="p-grid p-col-6 ">
                    <div class="p-col-4 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Server Name</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <input type="text" pInputText />
                    </div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-3 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Server Type</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <p-dropdown class="w-100-p" placeholder="Linux" dropdownIcon="icons8 icons8-expand-arrow"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col-12 no-padding">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Installation Directory</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <input type="text" pInputText />
                    </div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-3 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Java Home</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <input type="text" pInputText />
                    </div>
                </div>
            </div>
            <div class="p-grid p-col-12 no-padding">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Agentless</span>
                    </div>
                    <div class="p-grid p-col-3">
                        <p-dropdown class="w-100-p" placeholder="No" dropdownIcon="icons8 icons8-expand-arrow"></p-dropdown>
                    </div>
                    <div class="p-grid p-col-1 p-align-center p-justify-end">
                        <span class="pl-10">port</span>
                    </div>
                    <div class="p-grid p-col-2">
                        <input type="text" pInputText />
                    </div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-3 p-grid p-align-center p-justify-end">
                        <span class="pl-10">SSH Available</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <p-dropdown class="w-100-p" placeholder="Yes" dropdownIcon="icons8 icons8-expand-arrow"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col-12 no-padding">
                <div class="p-grid p-col-6">
                    <div class="p-col-4 p-grid p-align-center p-justify-end">
                        <span class="pl-10">User Name</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <input type="text" pInputText />
                    </div>
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-3 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Password</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <input type="text" pInputText />
                    </div>
                </div>
            </div>
            <div class="p-grid p-col-12 no-padding">
                <div class="p-grid p-col-6">
                  
                </div>
                <div class="p-grid p-col-6">
                    <div class="p-col-3 p-grid p-align-center p-justify-end">
                        <span class="pl-10">Confirm Password</span>
                    </div>
                    <div class="p-grid p-col-6">
                        <input type="text" pInputText />
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>