app-add-server{
    .add-server{
        .content-body{
            padding: 15px;
        }
        .ui-inputtext{
            width: 100%;
        }
        .no-padding{
            padding: 0;
        }
        .ui-dropdown{
            min-width: 130px;
        }
    }
}