app-reports{
    .line-height{
        line-height: 20px;
    }
    .button-group{
        display: flex;
        flex-direction: row-reverse;
        .ui-button{
            margin-right: 10px;
        }
    }
    .top-padding{
        padding-top: 30px;
    }
}