app-events-menu{
.overlay-menu.events {
    width: 300px;

    .legend-group {
        display: inline-block;
        margin: 5px 0;
        .paginator-legend {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin: 0 5px;
        }
      }

    .overlay-menu-body {
        max-height: 300px;

        .events {
            .event-group {
                padding: 0 0 25px 0;

                &:last-child {
                    padding-bottom: 0;
                }

                .event-group-title {
                    // font-size: 13px;
                    padding: 10px;

                    .date {
                        float: right;
                    }
                }

                ul,
                ul li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                ul {
                    li {
                        background: #ccc;
                        padding: 10px;
                        border-radius: 5px;
                        margin: 5px;
                        word-break: break-all;
                        cursor: default;
                        display: block;
                        width: calc(100% - 10px);
                        float: left;

                        &[severity="LOW"] {
                            background: #FFDBDB;
                            color: #222;
                        }

                        &[severity="MEDIUM"] {
                            background: #FF8484;
                            color: #fff;
                        }

                        &[severity="HIGH"] {
                            background: #FF4646;
                            color: #fff;
                        }

                        &[severity="INFO"] {
                            background: rgb(183, 216, 183);
                            color: #fff;
                        }

                        &:hover {
                            background: #1d5290;
                            color: #fff;
                        }

                    }
                }
            }
        }
    }
}
.overlay-menu .overlay-menu-header span {
    color: #1d5290 !important;
}

.alert-badge{
    top: -7px !important;
    right: -5px !important;
    width: 24px !important;
    height: 20px !important;
    font-size: 9px !important;
}
}