body {
  .page-sidebar.search-sidebar.ui-sidebar {
    .sidebar-header {
      .sidebar-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action-icons {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
    .sidebar-content {
      padding: 0;
      height: 80%;
      overflow: hidden;
      .ui-tabview {
        height: 100%;
        .ui-tabview-panels {
          height: calc(100% - 22px);
        }
      }
      .ui-multiselect {
        .ui-multiselect-trigger {
          background-color: transparent;

          .ui-multiselect-trigger-icon {
            top: 50%;
            left: 50%;
            margin-top: -0.5em;
            margin-left: -0.5em;
            position: absolute;
            font-size: 2em;
          }
        }
      }
      .right {
        color: #1d5290;
      }
      .button-position {
        position: fixed;
        bottom: 10px;
      }
      .control-input {
        width: 100%;
        font-size: 12px;
        padding: 6px;
        border-radius: 3px;
        border: 1px solid #1d5290;
      }
      .search-label {
        width: 30%;
        label {
          line-height: 30px;
        }
      }
      .search-input {
        width: 70%;
        font-size: 14px;
      }
      .columnwidth {
        width: 40px;
      }
      .ui-dropdown .ui-dropdown-label .ui-placeholder {
        color: #000000;
      }
      .no-padding {
        padding: 0px;
      }
     
      .icons-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        i {
          color: #1d5290;
          cursor: pointer;
          margin-right: 5px;
        }
        .ui-multiselect {
          .ui-multiselect-trigger {
       
            .ui-multiselect-trigger-icon {
              font-size: 15px;
              margin-top: -10px;
              position: absolute;
              margin-left: -6px;
            }
          }
        }
      }
    }
  }
}
