app-database {
  .database-container {
      height: calc(100vh - 170px);
      overflow: auto;

      .no-padding {
        padding: 0;
      }
      .pl-pr {
        padding: 0 2px;
      }

    .action-container {
      .filter-icon-button{
        margin: 0px 5px;
      }
      .global-search-block{
        width: 35%;
      }
      .input-field-search {
        width: 60%;
        padding: 6px;
      }
      .search-div-css {
        position: relative;
        display: flex;
        // i {
        //     font-size: 1.5em;
        //     position: absolute;
        //     color: #1d5290;
        //     top: 7px;
        //     left: 50px;
        // }
        .ui-dropdown{
            min-width: 100px;
            width: 10%;
        }
        // input[type="text" i] {
        //     padding-left: 30px;
        // }
      }

      .ui-multiselect {
        border: none;
        // padding: 12px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          background-color: transparent;

        }
      }

      .icons-container {
        display: flex;
        i {
          font-size: 1.5em;
        }
        .ui-button.ui-button-text-only .ui-button-text {
          padding: 0.529em 1em;
        }
       .icon-button.ui-button.no-shadow {
        width: 1.5em;
        }
        .rewind-icon {
          font-size: 1.5em;
          top: 17px;
        }
      }
    }

    .column-icon {
      font-size: 1.5em;
      color: #1d5290;
      margin: 0 10px;
    }
    .ui-table {
      .columnwidth {
        width: 40px;
      }

      .action-olumnwidth {
        width: 180px;
      }

      .switch-column {
        width: 60px;
      }

      // .ui-table-scrollable-body {
      //   overflow-x: hidden;
      // }

      .icons8 {
        color: #1d5290;
      }
    }

    .mh-10 {
      margin: 0 10px;
    }
    p-panel {
      width: 100%;
    }

    app-chart .chart-container .chart-body {
      height: calc(100% - 30px);
    }
  }
}
