app-business-summary-view {
    .ui-card-content {
        display: flex;
    }
    .content {
        .title {
            color: #1d5290;
            font-size: 17px;
            font-weight: 700;
            margin: 6px;
        }
        .loaded-data {
            border: 2px solid;
            border-radius: 10px;
            width: 30%;
            height: 165px;
            .heading {
                text-align: center;
                font-size: 16px;
                font-weight: 500px;
                padding: 8px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom: 1px solid gainsboro;
            }
            .description {
                padding: 10px;
                text-align: center;
                font-size: 13px;
                .mainlabel {
                    font-size: 16px;
                    font-weight: 400px;
                }
                .label1 {
                    font-size: 14px;
                    font-weight: 400px;
                    padding: 5px;
                }
                .label2 {
                    border-bottom: 1px solid gainsboro;
                    font-size: 14px;
                    font-weight: 400px;
                    color: gray;
                    padding: 5px;
                }
                .labe3 {
                    font-size: 8px;
                    color: gray;
                    padding: 15px 5px;
                }
            }
        }
        .loaded-data2 {
            border: 2px solid;
            border-radius: 10px;
            width: 22%;
            height: 285px;
            .heading {
                text-align: center;
                font-size: 16px;
                font-weight: 500px;
                padding: 8px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom: 1px solid gainsboro;
            }
            .description {
                padding: 10px;
                text-align: center;
                font-size: 13px;
                .mainlabel {
                    font-size: 16px;
                    font-weight: 400px;
                }
                .label1 {
                    font-size: 14px;
                    font-weight: 400px;
                    padding: 50px 50px 20px 50px;
                }
                .label2 {
                    border-bottom: 1px solid gainsboro;
                    font-size: 14px;
                    font-weight: 400px;
                    color: gray;
                    padding: 20px 50px 60px 50px;
                }
                .labe3 {
                    font-size: 8px;
                    color: gray;
                    padding: 5px;
                }
            }
        }
    }
}