app-editsearch{
    .edit-search-page{
    .selected-label{
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
        margin-left: 20px;
    }
    .main-content .ui-orderlist .ui-orderlist-list {
        height: 100%;
        .ui-orderlist-item{
            padding: 0.729em 0.857em;
        }
    }
    .no-padding{
        padding: 0;
    }
    .ui-card{padding: 0;height: 81vh;}
    }
}