

app-custom-metrics {
  width: 100%;
  .custom-metrics-container {
    .p-0 {
      padding: 0;
    }
    .pr-0 {
      padding-right: 0;
    }
    .pl-0 {
      padding-left: 0;
    }
    .pt-0 {
      padding-top: 0;
    }
    .pb-0 {
      padding-bottom: 0;
    }
    .right {
      float: right;
      .icons8-menu-vertical{
        font-size: 1em;
      }
    }
    .ui-card {
      padding: 0;
      .ui-card-header {
        padding: 5px;
        border-bottom: 1px solid #1d5290;
        .level-option {
          padding: 15px 0px;
        }
        .card-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .heading {
            padding: 5px 0px;
            i {
              font-size: 1.25em;
              color: #1d5290;
            }
            span {
              font-size: 14px;
              margin-left: 5px;
            }
          }
          .action-icons {
            i {
              font-size: 17px;
              padding-left: 5px;
              cursor: pointer;
              color: #1d5290;
            }
          }
        }
        .ui-dropdown {
          min-width: 93px;
        }
      }
      .ui-card-content {
        .drill-breadcrumb {
          .ui-breadcrumb-header {
            .ui-breadcrumb {
              background-color: #f7f7ff;
            }
            .ui-breadcrumb-chevron {
              display: none;
            }
            li {
              margin-right: 15px !important;
              .ui-menuitem-link {
                display: block;
                float: left;
                height: 35px;
                background: #ffffff;
                padding: 10px 10px 0px 10px;
                position: relative;
                border-bottom: 4px solid #1d5290;
                color: #1d5290 !important;
                font-weight: 600;
                :after {
                  content: "";
                  border-top: 12px solid transparent;
                  border-bottom: 12px solid transparent;
                  border-left: 12px solid #ffffff;
                  position: absolute;
                  right: -10px;
                  top: 4px;
                }
              }
            }
          }
        }
        .card-content {
          .custom-metrics-tree {
            position: sticky;
            top: 115px;
            z-index: 1;
            //height: calc(100vh - 201px);
            p-tree {
              .ui-tree {
                width: 100%;
                .ui-tree-container {
                  height: calc(100vh - 250px);
                  overflow: auto;
                  padding: 0 5px;
                  .ui-treenode {
                    padding: 0;
                    .ui-chkbox{
                      height: 15px;
                     .ui-chkbox-box{
                      width: 15px;
                      height: 15px;
                    }
                  }
                  .ui-treenode-content {
                  .ui-treenode-label.ui-state-highlight{
                    background-color: #53b771;
                    line-height: 10px;
                    .icons8-folder, .icons8-view-all{
                      color: #fff;
                    }
                  }
                  .ui-tree-toggler{
                    padding-bottom: 0;
                    font-size: 1.2em;
                  }
                }
              }
                }
                .ui-treenode-children {
                  padding: 0;
                }
                .ui-tree-filter-container {
                  width: 100%;
                  position: relative;

                }
                .tree-node {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  position: relative;
                }
                .icons8-folder,
                .icons8-view-all {
                  color: #005b9f;
                  font-size: 1.2em;
                }
              }
              .ui-tree
                .ui-tree-container
                .ui-treenode
                .ui-treenode-content
                .ui-treenode-icon {
                vertical-align: middle;
                margin: 0 0.143em 0 0;
                color: #005b9f;
                padding: 5px 0;
              }
            }
            .action-buttons {
              text-align: center;
              padding: 10px 0;
              button{
                margin: 0 2px;
              }
              .ui-button.ui-button-text-only .ui-button-text{
                padding: 0.4em 2.7em;
              }
            }
          }
        }
      }
    }
  }

  #centerpoint {
    top: 50%;
    left: 50%;
    .ui-dialog {
      width: 26vw;
      height: 30%;
    }
    .ui-dialog-title {
      display: inline-block;
      margin-top: 5px;
    }
    .ui-dialog-content {
      padding: 2em;
      font-size: 14px;
    }
    }
}
