.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}

.group-left{
    float:left;
    padding-top: 4px;
}
.group-right{
    float:right;
    padding-top: 4px;
}
.columnwidth {
  width: 40px;
}

.paginatorfix{    position: fixed;
    left: 50%;
    margin-left: -100px;
    bottom: 30px;}
.ddr-ico-fnt{font-size:1.8em; margin:0px .10em; cursor:pointer;}
.ddr-ico-fnt1{font-size:1.7em; margin:0px .10em; cursor:pointer;}
.ddr-ico-fnt2{font-size: 2.2em; margin-top: -2px; margin-right: .10em; cursor:pointer;}

.circleText{
display:inline-flex;
width:18px;
height:18px;
background-color:var(--danger);
color:var(--white);
font-weight:500;justify-content:center;align-items:center;
border-radius:50%}

.circleTextBlue{
    display:inline-flex;
    width:18px;
    height:18px;
    background-color:var(--darkBlue);
    color:var(--white);
    font-weight:500;justify-content:center;align-items:center;
    border-radius:50%}

    .ui-multiselect {
        border: none;
        padding: 16px 12px;
        background: transparent;
    }
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
        }
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
    
      .icon-button.ui-button {
        margin: 0 2px;
      }

      a.activeLink,
    a.activeLink:hover {
        color: #1d5290 !important;
        cursor: pointer !important;
    }

    
    .ui-panel-contents {
      overflow: auto;
      height: 300px;
    }
    :host>>>.ui-multiselect{
      background-color: transparent !important; 
    }
    .ui-toolbar-header {
      background-color: #eee;
      padding: 6px;
     
    }
.ddr-paginator{position: fixed;
  background-color: #FFF;
  width: 100%;
  right: 0px;
  padding: 4px;}    