app-run-command {
    .runcommand-dialog {
        .control-input {
            width: 100%;
        }
        .form-buttons {
            display: flex;
            flex-direction: row-reverse;
            .btn-display {
                padding: 0px 20px 0px 20px;
                border-radius: 15px;
            }
            .close-btn {
                padding: 0px 15px 0px 15px;
                border-radius: 15px;
                background-color: white;
                border: 2px solid #1d5290;
                color: #1d5290;
               
            }
            .ui-button-right {
                margin-left: 10px;
            }
        }
        .p-grid.p-col-12 {
            padding-top: 10px;
        }
        .action-buttons {
            i {
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
            }
        }
        .dialog-content {
            .input-field-border-none {
                width: 100%;
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .content {
                padding: 20px 15px 150px 15px;
                background-color: #efefef;
                margin: 15px;
            }
            .config-display {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
            }
            .bold {
                font-weight: 400;
            }
            .outputmsgspacing {
                padding-top: 15px;
            }
            .outputmsg {
                padding-top: 15px;
            }
            .btn-padding {
                padding-left: 25px;
            }
            .gitlable {
                font-size: 10px;
            }
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            padding: 1em;
        }
        .add-check-condition {
            width: 34%;
        }
    }
}