.rc-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -22px;
    margin-right: 9px;
    align-self: self-end;
    position: relative;
    width: 100px;
    float: right; 
}
