app-kpi {
  .ui-chkbox-label {
    cursor: pointer;
  }
  .loader-container {
    .pi-spinner.pi {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      font-size: 24px;
      vertical-align: middle;
    }
  }
  .content-body {
    height: calc(100vh - 105px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .autoplay {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .detailed-header {
    background-color: #ffffff;
    padding: 0 0.5em;
    box-shadow: 0px 3px 6px #00000029;
    margin: 5px 0px;
    .multi-select {
      display: flex;
      align-items: center;
    }
    .p-0 {
      padding: 0px;
    }
    .dc-lst {
      display: flex;
      align-items: center;

      .lst {
        display: inline-block;
        padding: 2px 5px;
        width: 130px;

        cursor: pointer;

        .lst-key {
          font-weight: 600;
          color: #333333;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .pi-exclamation-circle {
            color: #ff9f1c;
          }

          span,
          i {
            vertical-align: middle;
          }

          i {
            margin: 0 3px 0 0;
          }
        }
        .lst-value {
          padding: 4px 0 0;
          font-weight: 600;
          color: #1d52909e;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    .timebar-options {
      .selected {
        border-right: 1px solid #488ebf;
      }
    }
  }

  .cav-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .zone-check {
      display: flex;
    }
  }
  .kpi-panel {
    padding: 5px;
    width: 99vw;

    .collapsed {
      .ui-panel .ui-panel-titlebar {
        background-color: #fff;
      }
    }
    .uncollapsed {
      .ui-panel .ui-panel-titlebar {
        background-color: #c9efd4;
      }
    }

    .cav-panel-header {
      padding-bottom: 4px;
      // border-bottom: 1px solid #dcdcdc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .panel-title {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        a {
          float: left;
          padding: 0 5px;
          cursor: pointer;
          font-size: 14px;
        }
      }
      .zone-check {
        display: flex;
      }
    }

    p-table.panel-table {
      .ui-table {
        overflow-x: auto;
        table {
          table-layout: auto;
          .ui-table-thead > tr > th {
            border-bottom: 1px solid #CECECE;
            padding: 0.571em 0.3em;
            text-transform: capitalize;
            // word-break: break-word;
          }
        }
      }
    }
  }
}

@media (max-width: 1299px) {
  p-table.panel-table {
    .ui-table {
      overflow-x: auto;
      table {
        .ui-table-thead > tr > th {
          word-break: break-word;
        }
      }
    }
  }
}
