app-video-player {
  .video-player-container {
    position: relative;
    .video-widget {
      position: relative;
      height: 100%;

      .mh-10 {
        margin: 0 10px;
      }

      .video-container {
        height: calc(100vh - 165px);
        background-color: #000000;
      }

      .controls {
        position: absolute;
        bottom: 0;
        height: 40px;
        padding: 0 10px;
        background-color: #0000001c;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 1;

        .player-controls {
          background-color: transparent;
          border: transparent;
          font-size: 1.5em;
          padding: 0px 12px;
        }
        .video-playback-time {
          font-size: 13px;
          color: #ffffff;
          margin-right: 10px;
          width: 100px;
        }

        progress {
          color: #67b871;
          font-size: 12px;
          width: 73%;
          height: 6px;
          border: none;
          margin: 0px 10px;
          background: #f7f7f7;
          border-radius: 9px;
          vertical-align: middle;
        }
        progress::-moz-progress-bar {
          color: #67b871;
          background: #f7f7f7;
        }

        progress[value]::-webkit-progress-bar {
          background-color: #f7f7f7;
          border-radius: 2px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }

        progress[value]::-webkit-progress-value {
          background-color: #67b871;
        }

        .setting-panel {
          // display: none;
          background-color: #ffffff;
          padding: 0;
          right: 25px;
          position: absolute;
          bottom: 40px;
          font-size: 13px;
          border-radius: 10px;
          box-shadow: 0px 0px 3px 2px #0000001c;
          width: 225px;

          ul {
            padding-left: 0px;
            list-style: none;

            li {
              padding: 5px 10px;
              font-size: 13px;
              border-bottom: 1px solid #f7f7f7;
            }
          }
        }
      }
    }
    .playlist {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 225px;
      padding: 10px;
      height: 100%;
      background-color: #b4b4b43d;
      overflow-y: auto;

      ul{
        list-style: none;
        padding-left: 0;
      }

      .video-item-wrapper {
        width: 100%;
        height: auto;       
      } 
      img {
        width: 100%;
        height: 100%;
      }    
      #id{
        color: #ffffff;
        padding: 5px 0px;
      }
    }
  }
}
