app-query-settings{
    .bread-crum{color: #1d5290;padding-left: 25px;}
    .query-settings-page{
        .content-body{
            background-color: #fff;
            height: calc(100vh - 115px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 10px;
            .search{
                margin-bottom:10px; 
            }
            i{
                padding: 0px 5px;
            }
            .hide-data{
                display: none;
            }
        }
    }
    .custommsg {
        position: fixed;
    right: 0px;
    top: -10px;
    z-index: 999;
    }
    .ui-toolbar .ui-toast {
        display: none;
        }
}
