app-net-havoc-report {
  .net-havoc-report-container {
    .vertical-container {
      height: calc(100vh - 120px);
      overflow-y: auto;

      .sidepanel-header {
        margin-top: 15px;
        i {
          font-size: 1.5em;
          color: #1d5290;
        }
      }
    }
    .no-padding{
      padding: 0; 
    }
    p-panel {
      width: 100%;
    }
    .bg-gray {
      background-color: #f7f7f7;
    }
    .ui-panel .ui-panel-content {
      padding: 0px;
    }
    .table-icon {
      color: #1d5290;
      padding: 5px;
    }
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      .search-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        input.search-box.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
          padding-left: 25px;
        }
        i.dashboard.icons8.icons8-search {
          position: absolute;
          padding: 8px;
          color: #1d5290;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
          font-size: 1.25em;
        }
      }
      .icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .columnSelect {
        .ui-multiselect {
          border: none;
          padding: 18px 15px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .ui-carousel {
      position: relative;
      margin-bottom: 20px;
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      border-radius: 3px;

      app-chart .chart-container{
        border: none
      }
      .ui-carousel-content {
        padding: 0;
        .ui-carousel-prev {
          position: absolute;
          bottom: 0;
          left: 35%;
          background-color: transparent;
          border: none;
        }
        .ui-carousel-next{
          position: absolute;
          bottom: 0;
          right: 35%;
          background-color: transparent;
          border: none;
        }
      }
      .ui-carousel-dots-container .ui-carousel-dot-item .ui-carousel-dot-icon{
        width: 11px;
        height: 11px;
        border-radius: 20px;
      }
      .ui-carousel-items-container .ui-carousel-item {
        overflow: hidden;
      }
    }
  }
}
