::ng-deep .search-box {
    padding: 10px;

    .search-text {
        width        : 100%;
        padding: 10px !important;
        padding-left: 36px !important;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        border       : 1px solid #1D5290;
        border-radius: 5px;
        font-size: 18px;
    }

    .search-icon {
        position: relative;
        width   : 17px;
        left    : 12px;
        bottom  : 30px;
    }
    .ui-inputtext:enabled:focus:not(.ui-state-error) {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        border-color: #1D5290;
    }
}

.layout {
    overflow: auto;
    position: absolute;
    width   : 98%;
    height  : calc(100% - 141px);

    .p-grid {
        margin: 0;
    }

    .layout-icon {
        width        : 170px;
        height       : 150px;
        display      : flex;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow   : 0px 0px 8px #00000029;
        border-radius: 7px;

        img {
            margin: auto;
            width : 65%;
            cursor: pointer;
        }
    }
}