app-aws-monitoring {
    .monitoring-container {
        background-color: #fff;
        .account-count {
            color: #ffff00;
            padding: 0px 18px;
        }
        a:hover {
            color: #fff;
        }
        .content-body {
            overflow: scroll;
            height: calc(100vh - 90px);
            .ui-panel .ui-panel-titlebar {
                background-color: #f7f7ff;
            }
            .total-config-panel {
                padding: 20px;
            }
            .region-section {
                padding: 0px 20px;
                .title {
                    font-size: 14px;
                    font-weight: 700;
                    padding: 10px 0px;
                }
            }
            .ui-table .ui-table-tbody>tr:nth-child(even) {
                background-color: #fff;
            }
            .icons8-up {
                color: #04ad04;
            }
            .icons8-down {
                color: #ff0000;
            }
            app-chart .chart-container .chart-header {
                border-bottom: none;
            }
            .table-section {
                padding: 0px;
                border: 1px solid #cecece;
                border-radius: 3px;
            }
            .chart-section {
                padding: 0px;
                app-chart .chart-container .chart-body {
                    height: calc(100% - 30px);
                }
            }
            .panel-content {
                .title {
                    font-size: 16px;
                    font-weight: 700;
                }
                .panel-item {
                    border: 1px solid #e6e6e6;
                    border-radius: 3px;
                    .content-1 {
                        background-color: #327aba;
                        border-radius: 3px;
                    }
                    .content-2 {
                        background-color: #6da5d8;
                        border-radius: 3px;
                        margin-left: 24px;
                    }
                    .count {
                        font-size: 24px;
                        color: #fff;
                        padding: 0px 5px;
                    }
                    .label {
                        color: #fff;
                        padding: 0px 5px;
                    }
                }
            }
        }
    }
}