app-reset-integration {
    .button-row-position {
        display: flex;
        flex-direction: row-reverse;
        button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .filter-search-icon {
        font-size: 17px;
        color: #1d5290;
        margin-left: 5px;
        cursor: pointer;
    }
    .label-css {
        font-weight: 600;
        color: #000000;
        margin-right: 5px;
    }
    .button-right-margin {
        i {
            margin-right: 5px;
        }
    }
    .button-text-margin {
        margin: 4px;
    }
    .secondary-dialog {
        .ui-dialog {
            .ui-dialog-content {
                border-bottom: none;
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
            }
        }
    }
}