app-configure-detection-rules {
    .add-action-dialog {
        .inputspace {
            margin: 0px 5px;
        }
        .dailog-padding {
            padding: 2px 25px;
        }
        .swtichspace {
            margin: 5px 5px;
        }
        .divspacing {
            margin-left: 5px;
        }
        .compare-data-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    //padding: 0 5px;
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 1em;
        }
        .form-buttons {
            display: flex;
            justify-content: flex-end;
        }
        .ui-inputswitch {
            margin-right: 10px;
        }
        .line-height {
            line-height: 30px;
        }
        .switch-btn {
            display: flex;
            flex-direction: row;
            label {
                line-height: 20px;
            }
        }
        .icons-block {
            display: flex;
            flex-direction: row;
            .icon-button.ui-button {
                margin: 0;
            }
        }
    }
}