app-running-monitors {
    .compare-data-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action-buttons {
            i {
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
            }
        }
    }
    .form-buttons {
       
        display: flex;
        flex-direction: row-reverse;
        .ui-button-right {
            margin-left: 10px;
        }
    }
    .dialog-content {
        padding-top: 20px;
        .copyicon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 2em;
        }
        .content {
            padding: 20px 15px 150px 15px;
            background-color: #efefef;
            margin: 15px;
        }
        .bold {
            font-weight: bold;
            font-size: 15px;
        }
        .outputmsgspacing {
            padding-top: 15px;
        }
        .outputmsg {
            padding-top: 15px;
        }
        .action-buttons {
            i {
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
            }
            .input-field-border-none {
                width: 100%;
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .outputbox {
                background-color: #EFEFEF;
                padding: 20px;
            }
            input {
                // margin-bottom: 15px;
                width: 100%;
            }
            span {
                font-weight: 600;
                font-size: 14px;
            }
        }
        .secondary-dialog {
            padding: 2em;
        }
        .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 2em;
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 1em;
        }
    }
}