<p-dialog [(visible)]="visible" [resizable]="true" [modal]="true" class="secondary-dialog" [draggable]="false" [closable]="false" [style]="{ width: '35vw' }">
    <p-header>
        <div class="compare-data-title">
            <div>Running Monitors</div>
            <div class="action-buttons">
                <i class="icons8 icons8-delete" (click)="hide()"></i>
            </div>
        </div>
    </p-header>

    <div class="dialog-content">
        <div class="content p-10">
            <div class="compare-data-title">
                <div class="bold">Output</div>
                <div class="copyicon bold">
                    <i class="icon8 icons8-copy"></i>
                </div>
            </div>

            <div class="outputmsg">
                <p>Connecting to server ND......</p>
                <p class="outputmsgspacing">ERROR : error in making connection to server - NO port - 7891 Exception is : NO ERROR 255 | Command Execution error | nsu_server_admin -s NO -monitors</p>
            </div>
        </div>
    </div>

</p-dialog>