app-capability {
    .container {
        // height: calc(100vh - 90px);
        // overflow: auto;
        background-color: #fff;
        .list-section {
            padding: 28px 12px;
        }
        .profile-section {
            padding: 0px;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
            .profile-container {
                height: calc(100vh - 130px);
                overflow: auto;
                border-left: 1px solid #8c8b8b;
                border-right: 1px solid #8c8b8b;
            }
        }
        .form-setion {
            padding: 0px 8px;
        }
        .table-section {
            padding: 0px 12px;
            .columnwidth {
                width: 40px;
            }
            .dropdown-title {
                padding-bottom: 10px;
            }
            p-panel {
                .ui-panel {
                    border: none;
                    .ui-panel-titlebar {
                        border: 1px solid #cecece;
                        p-header {
                            padding-left: 10px;
                        }
                        .ui-panel-titlebar-toggler {
                            float: left;
                        }
                    }
                }
                .delete-icon {
                    margin: 0px;
                }
            }
        }
        input {
            border: none;
            border-bottom: 1px solid #000;
            width: 100%;
        }
        .title {
            font-weight: 700;
            color: #333333;
            /* background-color: #ffffff; */
            font-size: 14px;
            padding: 12px;
        }
        .header-section {
            padding: 6px 12px;
            background-color: #e6e6e6;
            .name {
                font-weight: 600;
                color: #333333;
                /* background-color: #ffffff; */
                font-size: 14px;
            }
        }
        .form-checkbox {
            padding: 12px;
        }
        .form-cta {
            a {
                margin: 0px 5px;
            }
        }
    }
}