app-integration {
  .integration-container {
    .ui-card {
      padding: 0px;   

      // .ui-card-header {
      //   padding: 1em 1.5em;
      //   font-size: 16px;
      //   border-bottom: 1px solid #b0b0b0;
      //   border-top-left-radius: 20px;
      //   border-top-right-radius: 20px;
      // }
      .ui-body {
        padding: 0.497em;
      }

      .ui-card-body {
        position: relative;
      }
      .footer {
        padding: 1em 2em;
        background-color: #f7f7f7;
        height: 60px;
        border-top: 1px solid #dadada;
        width: 100%;
      }
    }
    .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
      font-size: 13px;
      font-weight: 500;
      color: black;
    }
    .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a {
      font-size: 13px;
      font-weight: 500;
    }
    .ui-tabview .ui-tabview-panels{
      height: 59vh;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
    }

    .ui-panel {
      margin: 5px;
      width: 22vw;
    }
    .ui-panel .ui-panel-titlebar-icon {
      float: left;
    }
    .ui-panel .ui-panel-titlebar {
      background-color: transparent;
  }
    i.icons8-delete {
      float: right;
    }
    .headers {
      background-color: #c9efd4;
      width: 100%;
      margin: 10px 0;
      padding: 10px;

      .header-button {
        font-size: 11px;
        float: right;
        .ui-button-text {
          padding: 0.25em 1em;
        }
      }
    }
    .no-padding {
      padding: 0;
    }
    .label {
      font-size: 13px;
      font-weight: 700;
    }

    .body-content {
      span.labels {
        display: block;
        font-size: 13px;
        padding: 0.55em 0;
      }
      .custom-dropdown {
        .ui-dropdown {
          border: none;
        }
      }
    }
    .ui-colorpicker .ui-colorpicker-preview.ui-corner-all{
      width: 273px;
      margin-top: 5px;
    }
  }
}
