app-data-center-menu {

  .node-up{
    color: #a7eb62;
  }
  .node-down{
    color: #ff4646;
  }
  .ui-text {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    display: inline-block;
    vertical-align: text-top;

  }
  .icon-button {
    cursor: default;
    padding: 0.3em 0.5em;
    font-weight: 600;

    &.multi-dc {
      cursor: pointer;
    }
  }
}

.overlay-menu.data-center {
  width: auto;
  .overlay-menu-body {
    max-height: 300px;
    overflow: auto;

    ul,
    ul li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul {
      width: 100%;

      li {
        // cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid transparent;
        margin: 5px 0;

        &:last-child {
          margin-bottom: 0;
        }

        &.selected {
          border: 1px solid #999;
        }

        &.disabled {
          pointer-events:none; //This makes it not clickable
          opacity:0.6;         //This grays it out to look disabled
        }

        &:hover {
          background: #efefef;
        }

        .icon-frame {
          display: inline-block;
          line-height: 0;
          vertical-align: middle;
          border-radius: 5px;
          overflow: hidden;

          > div {
            display: inline-block;
            width: 16px;
            height: 16px;
          }
          .icons8 {
            font-size: 1.55em;
          }
        }

        .dataCenter-title {
          display: inline-block;
          padding: 0 10px;
        }

        .dataCenter-status {
          display: inline-block;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          margin: 3px;
          vertical-align: middle;
        }
      }
    }
  }
}
