app-home {
  .ui-tabmenu-big {
    .ui-tabmenuitem {
      .ui-menuitem-link {
        position: relative;
        // .ui-menuitem-text {
        //   padding: 5px;
        // }
        .options-button {
          position: absolute; 
          right: 3px;
          top: .15rem;
        }
      }
    }
  }

  .global-time-bar {
    padding: 0px;
  }

  .content-body {
    height: 100%;
  }
}

body[tv-mode] {
  p-tabMenu {
    display: none;
  }
  .global-time-bar {
    display: none;
  }
}


// .example-list {
//   width: 1000px;
//   max-width: 100%;
//   border: solid 1px #ccc;
//   min-height: 60px;
//   display: flex;
//   flex-direction: row;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;
// }

// .example-box {
//   padding: 20px 10px;
//   border-right: solid 1px #ccc;
//   color: rgba(0, 0, 0, 0.87);
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   cursor: move;
//   background: white;
//   font-size: 14px;
//   flex-grow: 1;
//   flex-basis: 0;
// }


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.4),
              0 8px 10px 1px rgba(255, 255, 255, 0.28),
              0 3px 14px 2px rgba(255, 255, 255, 0.24);
              background-color: var(--secondary-button-border-color);
              display: inline-flex; align-items: center; justify-content: center;
              z-index: 888; position: relative;
}

.categories-item-drag
{
  color:#FFF !important;
  position:relative;
}

.cdk-drag-placeholder {
 opacity: 0;                /* prevent copy paste, to allow, change 'none' to 'text' */
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

}

// .example-box:last-child {
//   border: none;
// }

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

}

.exta-nav{
  background-color: #1d5290;
  color: #FFF !important;
  position: absolute;
  z-index: 99;
  right: 34px;
  top: 9px;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  width: 20px;
  display: inline-flex;
  align-items: center;
  height: 20px;
}
.menu-scroll>ul{max-height: 300px; overflow: auto; position: relative;}
.menu-scroll::before{position: absolute;
  content: "";
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-bottom: solid 8px #fff;
  top: -9px;
  right: 3px;}


