app-finder {
  .finder-container {
    .ui-tabview {
      .ui-tabview-nav {
        width: 25%;
      }
      .ui-tabview-panels {
        height: calc(100vh - 207px);
        overflow: auto;
      }
    }
  }
}
