app-advanced-configuration {
    .advanced-configuration-dialog {
        .advanced-configuration-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
        .dialog-content {
            .input-field-border-none {
                width: 100%;
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .ui-dropdown .ui-dropdown-label {
                padding-right: 0em;
            }
            .desc-height {
                padding-bottom: 3em;
            }
            .test-button
            {
                background-color: #1d5290;
                border: none;
            }
            .customInput {
                border: none;
                width: 13vw;
                padding-left: 2em;
                background-color: #ffffff;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .customInputTime {
                border: none;
                width: 100%;
                background-color: #ffffff;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
            .label-align {
                margin-top: 1em;
                text-align: center;
            }
            .radiobutton1-align {
                margin-top: 0.7em;
            }
            .radiobutton2-align {
                margin-top: 1em;
            }
            .spacing {
                margin-top: -0.5em;
            }
            .search-div-css {
                position: relative;
                display: flex;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 10px;
                    left: 7px;
                }
                .ui-dropdown{
                    min-width: 100px;
                    width: 10%;
                }
            }
            .ui-inputswitch {
                margin-right: 10px;
            }
            
            .switch-btn{
                display: flex;
                flex-direction: row;
                align-items: center;
                label{
                    line-height: 20px;
                    
                    .number-input {
                        width: 3vw;
                        margin-left: 1em;
                        margin-right: 1em;
                    }
                }
            }
            .icon {
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
                font-size: 15px;
            }
            .schedule-config-maintenance {
                padding-top: 7px;
                padding-left: 6px;
            }
            .schedule-config {
                margin: 10px;
                padding-top: 10px;

                hr {
                    border: 1px solid #cecece;
                }
                .derived-graph-bucket {
                max-height: 125px;
                overflow: auto;
                padding: 0;
                border: solid 1px #d2d2d2;
                border-radius: 3px;
                margin-top: 5px;
                .graph-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px;
                    background: #f4f7fb;
                    margin: 3px 0;
                    border: 1px solid transparent;
                    cursor: pointer;
                    .graph-section-1 {
                        display: flex;
                        align-items: center;
                        .token-index {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            padding: 7px 10px;
                            background-color: chocolate;
                            color: #fff;
                            font-size: 15px;
                            margin: 0 0.25rem;
                        }
                        .token {
                            padding: 0.25rem 0.5rem;
                            display: inline-flex;
                            margin: 0 0.25rem;
                            background-color: #f8fcff;
                            color: #928c8c;
                            border: 1px solid #cecece;
                            font-size: 14px;
                        }
                    }
                    .token-icon {
                        color: #1d5290;
                    }
                }
                .selected {
                    background-color: #c9efd4;
                    border: 1px solid #57b771;
                }
            }

            }
            .schedule-config-title {
                font-size: 13px;
            }
        }
        .secondary-dialog .ui-dialog .ui-dialog-content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 1em;
        }
    }
}

.cdk-overlay-container {
    z-index: 2147483647 !important;
}


