app-integration-point{
    .integration-point-container{
        .mh-10{
            margin: 0 10px;
        }
        .ui-tabview {
            .ui-tabview-nav{
                width: 45%;
            }
            .ui-tabview-panels {            
                height: calc(100vh - 294px);
                overflow: auto;
            }
        }
    }
}