
  <div class="p-grid p-align-center">
    <div class="p-col-4">
      Task Name
    </div>
    <div class="p-col-8">
      <input pInputText type="text" class="w-100-p"  [(ngModel)]="taskNameModel" /> 
    </div>
    <div class="p-col-4">
      Task Description
    </div>
    <div class="p-col-8">
      <textarea pInputTextarea type="text" [(ngModel)]="taskDescModel"
        class="w-100-p" rows="3"></textarea>
    </div>
  </div>

  <div class="p-grid p-align-center p-justify-end m-7">

    <button pButton type="button" class="mx-6" icon="icons8 icons8-checkmark" label="Create Task" iconPos="left"
    (click)="saveTaskToDB();"></button>

    <button pButton type="button" class="ui-button-secondary" icon="icons8 icons8-delete" label="Close" iconPos="left"
    (click)="closeDialogue();"></button>

    </div>





  