app-upload-file {
  .control-input{width: 100%;}
  
}

.form-buttons {
  float: right;
  display: flex;
  flex-direction: row-reverse;
  .ui-button-right {
      margin-left: 10px;
  }
}
.p-grid.p-col-12 {
  padding-top: 20px;
}