.node-representation-container {
  .action-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #cccccc36;
    div {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      button {
        margin: 0px 5px;
      }
    }
  }
  .action-list {
    .list-item {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      .item-icon {
        font-size: 3em;
        padding: 10px;
        border: 2px solid #1d5290;
        text-align: center;
        border-radius: 5px;
        color: #1d5290;
        background-color: #dbe8f7;
        cursor: pointer;
      }
      .selected {
        border-color: #53b771;
        background-color: #53b7715e;
      }
      .item-label {
        text-align: center;
      }
    }
  }
  .button-position {
    margin: auto;
    position: fixed;
    bottom: 10px;
    left: 20%;
  }
}
