.content-body {
    height: calc(100vh - 85px);
    overflow: auto;  
    // background-color: #fff;
    padding: 10px;
    // input {
    //     border: none;
    //     border-radius: 0px;
    //     border-bottom: 1px solid #1d5290;
    //     padding: 0.15em;
    //     width: 90%;
    // }
}
// input {
//     border: none;
//     border-radius: 0px;
//     border-bottom: 1px solid #1d5290;
//     padding: 0.15em;
//     width: 90%;
// }
.ui-dropdown {
    padding: 0px;
}
.ui-accordion .ui-accordion-content {
    border-bottom: none;
}
.form-checkbox {
    .checkbox-label {
        padding: 10px;
    }
}
.ui-panel .ui-panel-titlebar {
    // background-color: #f4f4f4;
    border-radius: 3px;
}
.field-label {
    font-weight: 700;
    font-size: 14px;
    padding: 10px 5px;
}
.input-label {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
}
.compare-data-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-buttons {
      i {
        margin: 0 5px;
        cursor: pointer;
        color: #1d5290;
      }
    }
  }
  .form-buttons {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    
    .ui-button-right {
        margin-left: 10px;
        margin: 0 10px;
    }
}
.radiobutton1-align {
    margin-top: 0.7em;
}
.radiobutton2-align {
    margin-top: 1em;
}
.configure-days {
    //padding: 20px 15px 150px 15px;
    //background-color: #efefef;
    // margin: 15px;
    .bold {
        font-size: 15px;
    }
    .event-day {
        display: flex;
        margin: 5px;
        .btn-add {
            padding: 0px 10px 0px 10px;
        }
    }
}
.columnwidth {
    width: 55px;
}
.action-icon {
    float: right;
    .red-fg {
        color: red;
        padding: 5px;
    }
    cursor: pointer;
}
.edit-action {
    i {
        font-size: 16px;
        margin: 2px;
        cursor: pointer;
    }
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }

.required-mark::after {content: "*"; color:red;}
