app-ip-summary-open-box{
  .ip-summary-open-box{
      .no-padding{
          padding: 0;
      }
      .ui-tabview .ui-tabview-panels{padding: 1.2em 1em;}
      .main-content{height: 320px;overflow-x: scroll;}
      .ui-tabview.ui-tabview-top .ui-tabview-nav li{
          width: 24%;
          padding: 2px ;
          background-color: #ededed;
      }
      .ui-tabview.ui-tabview-top .ui-tabview-nav li a{
          font-weight: normal;
      }
      .ui-tabview.ui-tabview-top .ui-tabview-nav li a,.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a{
          font-size: 12px;
      }
      .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover,
      .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
      .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover{
          padding: 2px;
      }
      .control-label{
          width: 30%;
          float: left;
          line-height: 30px;
        }
      .adv-label{width: 60%;}
      .adv-input{float: right;}
      .section{margin-bottom: 10px;}
        .control-input{
          width: 50% ;
          font-size: 14px;
          color: #1d5290;
          background: #ffffff;
          padding: 0.429em;
          border: 1px solid #1d5290;
          transition: border-color 0.2s, box-shadow 0.2s;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 3px;
        }
        .control-input:enabled:focus{
          outline: 0 none;
          outline-offset: 0;
          box-shadow: 0 0 0 0.2em transparent;
          border-color: #1d5290;
        }
        .radiobutton{
            width: 33%;
            float: left;
        }
        p-radioButton{
            margin-right: 10px;
        }
        .p-field-radiobutton{
            margin: 15px 0 30px;
        }
        .form-buttons{
          float: right;
          display: flex;
          flex-direction: row-reverse;
          margin-top: 20px;
          button{
            margin-left: 10px;
          }
        }
        .ui-button.ui-button-text-only .ui-button-text{padding: 0.4em 2em;}
        .ui-accordion .ui-accordion-header a{
          border-bottom: none ; 
          background-color: #C9EFD4 ;
          color: #333333 ;
          border-radius: 3px ;
        }
        .ui-accordion .ui-accordion-content{
          border-bottom: none ;
          padding: 0;
          .ui-dropdown{
            width: 50% ;
          }
        }
        .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon,
        .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon{
          color: #333333 ;
          font-size: 13px;
        }
        
        
        .control-select .ui-dropdown .ui-dropdown-label{font-size: 12x ;color: gray ;}
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
          font-size: 14px ;
        }
        .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon{
          font-size: 14px ;
        }
        .no-padding{padding: 0.5em 0;}
        .ui-accordion-content{padding-left: 0;padding-right: 0;}
  }
}