.poc-values{
    color:cornflowerblue;font-weight: 500;
    cursor: pointer;
}
.storeView-pieChartDiv{
    /* height: 200px; */
    /* width: 450px; */
    background-color: aliceblue;
}
.geo-row{margin: 6px -6px;}
.geo-store-view{display: flex;}
.map, .map-table{padding-left: 10px; padding-right: 10px;height: 100%;}
.gio-storeBox{margin-bottom: 10px;box-shadow: 0px 0px 3px #999;}
.divMap-new{background-color: #aad3df;box-shadow: 0px 0px 3px #999;height: 100%;}
:host>>> .gio-store-view-table .ui-datatable-header {background-color: #FFF;color: #333;border-bottom: solid 1px #666;}
:host>>> .gio-store-view-table .ui-datatable tbody > tr.ui-widget-content{border-color: #dddddd;}
:host>>> .gio-store-view-table .ui-datatable-odd{background-color: #FFF;}
:host>>> .gio-store-view-table .ui-datatable .ui-datatable-data>tr>td{padding: .6em;}
:host>>> .view-table2 .ui-datatable .ui-datatable-data>tr>td{border: none;}
:host>>> .view-table2 .ui-datatable .ui-datatable-data>tr>td:first-child{color: #053d76;}
:host>>> .view-table2 .ui-datatable .ui-datatable-data>tr>td:last-child{background-color: #f7f7f7;}
:host>>> .view-table2 .ui-datatable .ui-datatable-data>tr:first-child{display: none;}
:host>>> .cav-fnt-13 td{font-size: 13px;}
:host>>> .ui-widget{font-family: 'Poppins', sans-serif;}

