.radio-css{
    overflow: auto;
    max-height: 144px
}

.file_textarea{
    min-width: 99%;
    min-height: 200px;
    max-height: 430px;
    overflow-y: auto;
    height: 200px;
}

.search_css{
    border-radius: 3px;

}

.icon_size{
    font-size: 14px;
    margin-right: 5px;

}

/* --for .hidden-validator css--------- */
div[class^="p-col-"], div[class^="ui-g-"] {position: relative;}
:host>>>div[class^="p-col-"]>.hidden-validator,
:host>>>div[class^="ui-g-"]>.hidden-validator{height: 0px !important;
    padding: 0px !important;
    position: absolute;
    top: 19px; 
    opacity: 0 !important;}

.col8Scroll{
    max-height: calc(100vh - 115px);
    overflow: auto;
}    
