.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}

table, tr, td {
    border: none;
}
 
.container{
    border-radius:3px;
    padding:5px;
    width: 60%;
    margin: 0 auto;
   }

.context-menu{
    display: none;
    position: fixed;
    border: 1px solid black;
    border-radius: 3px;
    width: 150px;
    background: white;
    z-index:1000;
   }
   
.context-menu ul{
    list-style: none;
    padding: 2px;
    }
   
.context-menu ul li{
    padding: 5px 2px;
    margin-bottom: 3px;
    color: white;
    font-weight: bold;
    background-color: darkturquoise;
   
    }
   
.context-menu ul li:hover{
    cursor: pointer;
    background-color: #7fffd4;
   }
/* .seq-dig-div{
    width: 1244px; 
    height: 430px;
    overflow: auto;
    position : relative;
} */

.ui-panel-contents {
    overflow: auto;
    height: 367px;
  }