app-create-visualization-sub{
    .create-visualization-container{
        background-color: #ffffff;
            overflow-y: scroll;
            height: calc(100% - 152px);
            .chart-container{
                height: 102%;
            }
        
        p-card .ui-card {
            padding: 0px ;
            border-radius: 20px ;
            height: 100%;
            .ui-card-header {
                background-color: #ededed;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                padding: 10px 25px;
                border-bottom: 1px solid #ceceec;
                .selected-label {
                    font-size: 1.20em;
                    font-weight: 600;
                    line-height: 30px;
                }
            }
            .ui-card-body {
                overflow-y: scroll;
                max-height: 380px;
            }
            .ui-card-content {
                padding: 10px 15px;
                .report-type {
                    float: left;
                    margin-right: 10px;
                }
                .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
                    font-size: 15px;
                }
                .customInput {
                    border: none;
                    border-bottom: 1px solid #1d5290;
                    border-radius: 0;
                }
                .ui-dropdown {
                    min-width: 100px;
                }
                .icon-block {
                    height: 70px;
                    width: 80px;
                    border: 1px solid lightgrey;
                    border-radius: 2px;
                    margin-right: 40px;
                    i {
                        font-size: 35px;
                        color: #1d5290;
                        line-height: 40px;
                    }
                    .top-padding {
                        padding-top: 0;
                    }
                }
            }
        }
        .store-label{
            margin-left: 15px;
        }
        .ui-orderlist-list {
            height: 46vh;
            overflow-y: scroll;
        }
        .ui-orderlist-controls-left{
            margin-top: -50px;
        }
        .ui-orderlist-filter-container{
            width: 30%;
        }
        .selected-label {
            line-height: 30px;
            margin-left: 10px;
            font-weight: bold;
        }
        .input-field-search {
            width: 80%;
            z-index: 0;
        }
        .ui-autocomplete .ui-autocomplete-input{
            padding-left: 25px;
            z-index: 0;
            width: 67vw;
        }
          i.filter-icon {
            font-size: 1.5em;
            color: #1d5290;
            margin: 0 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0.31em 0.429em;
            cursor: pointer;
          }
          .search-div-css {
            position: relative;
            i.icons8-search {
              font-size: 1.5em;
              position: absolute;
              color: #1d5290;
              left: 60px;
              line-height: 35px;
              z-index: 99;
            }
            i.icons8-edit-2{
                margin: 9px 40px 0 -60px;
                color: #1d5290;
                cursor: pointer;
                position: absolute;
            }
            .save-button{margin-left: 15px;}
            
            .ui-autocomplete-dropdown {
                margin: 5px 20px 0 -35px;
                background-color: #ffffff;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                .ui-button-icon-left {
                    background-color: #1d5290;
                    color: #ffffff;
                    border-radius: 5px;
                    width: 20px;
                }
            }
            .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
                background-color: #c3d7ea30;
                color: #333333;
                border-bottom: 3px solid #ffffff;
                font-size: 12px;
                padding: 0.629em 0.857em;
                transition: background-color 0.2s, box-shadow 0.2s;
            }
            // .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item:last-child {
            //     border: 1px solid #dbdbdb;
            //     color: #1d5290;
            //     box-shadow: 1px 1px 1px #ccc;
            // }
            }
            .icon-button.ui-button.no-shadow .ui-button-text{
                border: 1px solid #ccc;
                visibility: visible;
                border-radius: 4px;
                padding: 0.31em 0.429em;
            }
            .td-icon{
                margin-right: 15px;
            }

}
}

