app-schedulereport {
  .schedule-container {
    .rotate {
      transform: rotate(180deg);
    }
    .vertical-container {
      height: calc(100% - 123px);
      //overflow: auto; calendar issue
      overflow-x: hidden;
      overflow-y: auto;

      .line-height {
        line-height: 30px;
      }
      .mailing-input-css {
        border: none;
        width: 100%;
        border-bottom: 1px solid #1d5290;
        border-radius: 0;
      }

      .ui-card {
        padding: 0px !important;
        border-radius: 20px !important;

        .ui-card-header {
          background-color: #ededed;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          padding: 5px 15px;
          border-bottom: 1px solid #ceceec;

          .selected-label {
            font-size: 1.2em;
            font-weight: 600;
            line-height: 30px;
          }
        }

        .ui-card-content {
          padding: 10px 15px;

          .report-type {
            float: left;
            margin-right: 10px;
          }

          .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 15px;
          }

          .margin-top-10p {
            margin-top: 10px;
          }

          .customInput {
            border: none;
            width: 21vw;
            padding-left: 23px;
            margin-top: 2px;
            border-bottom: 1px solid #1d5290;
            border-radius: 0;
          }

          .input-css {
            width: 91px;
          }

          .ui-dropdown {
            min-width: 100px;
          }
          .ui-dropdown-label-container {
            overflow: auto;
          }

          .search-div-css {
            position: relative;
            width: max-content;

            i.icons8-calendar {
              font-size: 1.5em;
              position: absolute;
              color: #1d5290;
              left: 0px;
              line-height: 35px;
              z-index: 99;
            }
          }

          .icon-block {
            height: 70px;
            width: 80px;
            border: 1px solid lightgrey;
            border-radius: 2px;
            margin-right: 40px;

            i {
              font-size: 35px;
              color: #1d5290;
              line-height: 40px;
            }

            .top-padding {
              padding-top: 0;
            }
          }
        }
      }

      .report-details {
        .ui-card-body {
          // overflow-y: scroll;
          // overflow-x: hidden;
          min-height: 55px;
         // height: 622px;
          // max-height: calc(100vh - 200px);
        }
      }

      .mailing-info-content {
        margin-top: 15px;

        .ui-card-schedule {

          .button-container {
            background-color: rgb(253, 249, 249);
            border-radius: 15px;
            padding-bottom: 10px;
            margin-bottom: 15px;

            .button-div {
              span {
                margin: 10px;
                font-weight: 600;
              }
            }
          }
        }

        .mailing-textarea-css {
          width: 100%;
          resize:none;
        }

        .body-content {
          margin-top: 15px;
        }

        .filter-group {
          margin-bottom: 15px;

          button {
            padding: 0px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 15px;

            .ui-button.ui-button-text-icon-left .ui-button-text {
              padding: 5px 5px;
              font-weight: 500;
              border-radius: 15px;
            }

            .ui-corner-all {
              border-radius: 15px;
              box-shadow: none;
            }
          }
        }
      }

      .schedule-container-body {

        .hourly-input-css {
          border: none;
          width: 100%;
          border-bottom: 1px solid #1d5290;
          border-radius: 0;
        }

        .hourly-calendar {
          input[type=text] {
            width: 115%;
          }
        }

        .ui-tabview .ui-tabview-panels {
          background-color: #ffffff;
          border: 0;
          border-left: 1px solid #c8c8c8;
        }

        .ui-tabview .ui-tabview-title {
          vertical-align: middle;
          color: rgb(77, 75, 75);
        }

        .ui-tabview.ui-tabview-left {
          border: 1px solid rgb(226, 225, 225);
          padding: 0px;

          .ui-tabview-nav {
            margin: 0px;
            height: auto;

            li.ui-state-active {
              background-color: #53b7714f;
              border: 1px solid #53b771;
              color: #000000;
              margin: 0px;
            }

            li {
              margin-bottom: 0px;
              width: 100%;
            }
          }
        }

        .ui-corner-left {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        .weekly-div-container {
          margin-top: 13px;

          .search-div-css {
            position: relative;

            span {
              padding: 5px 0.429em;
              right: 0px;
              color: #3d3c3c;
              position: absolute;
              border-radius: 4px;
              font-size: 15px;
              border: 1px solid #1d5290;
              margin: 0px;
              cursor: pointer;
              // border-top-left-radius: 2px;
              // border-bottom-left-radius: 2px;
            }

            .input-field-search {
              width: 100%;
            }
          }

          .ui-button.ui-button-secondary {
            color: #000000;
            background-color: #ffffff;
            border: 1px solid #1d5290;
            border-top-color: rgb(29, 82, 144);
            border-right-color: rgb(29, 82, 144);
            border-bottom-color: rgb(29, 82, 144);
            border-left-color: rgb(29, 82, 144);
          }

          .ui-button.ui-outline-button {
            border-radius: 6px;
            margin-left: -20px;
          }

          button.ui-button {
            padding: 1px 0px;
          }

          .ui-button.ui-button-text-only .ui-button-text {
            padding: 3px 8px;
            font-weight: 500;
          }
        }

        .input {
          width: 50px;
        }

        .monthly-container {
          padding-bottom: 0px;

          .monthly-css {
            .ui-selectbutton .ui-button {
              margin: 2px;
              background-color: #ffffff;
              border: 1px solid #1d5290;
              border-radius: 3px;

              &.ui-state-active {
                background-color: #53b771;
                border-color: #53b771;
              }
            }

            .ui-button.ui-button-secondary {
              color: #000000;
              background-color: #ffffff;
              border: 1px solid #1d5290;
              border-top-color: rgb(29, 82, 144);
              border-right-color: rgb(29, 82, 144);
              border-bottom-color: rgb(29, 82, 144);
              border-left-color: rgb(29, 82, 144);
            }

            .ui-button.ui-outline-button {
              border-radius: 3px;
              margin-bottom: 10px;
            }

            button.ui-button {
              padding: 1px 0px;
            }

            .ui-button.ui-button-text-only .ui-button-text {
              padding: 5px 10px;
              font-weight: 500;
            }

            button {
              margin: 0 7px;
            }
          }
        }
      }
    }
  }
  .uploadd-ellipse .ui-fileupload-choose.ui-widget{
    max-width: 100%;
    .ui-button-text {
      max-width: 100%;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
     }
  } 
}
.changeStyleReportSetting {
  padding: 2px 3px 2px 20px;
}
.confirmdialog {
  > div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.inputDay {
  width: 70px;
}
.spaceRmWeekly{
  padding: 0em;
}
.calenderInputWidth{
  width: 85px;
}
.calenderInputWidth1{
  width: 160px;
}
.textboxCSS{
  resize: none;
}
body.theme-2 .ui-datepicker .ui-timepicker {
  border-top: 1px solid #d8dae2;
  padding: 0px;
}
.uploadd-ellipse1{
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
}
body.theme-2 .owl-dt-timer {
  height: 6.5em;
}
.changeSliderStyleExcel{
  position: absolute;
  top: -328px;
  left: -124px;
  }
  .changeSliderStylePerf{
  position: absolute;
  top: -358px;
  left: -122px;
  }
  .changeSliderStyleAlert{
  position: absolute;
  top: -370px;
  left: -122px;
  }
  .viewStuck{
  position: absolute;
  top: -450px;
  left: -121px;
  }
  .ui-slidemenu .ui-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 101px !important;
}
.uploadd-ellipse1 .ui-button-text {
  display: block;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
}
.padding-bot-zero{
  padding-bottom: 0px;
}
.padding-top-zero{
  padding-top: 0px;
}
.right-margin{
  margin-right: 2px;
}
.hourly-cross{
  width: 207px;
}
.monthly-cross{
  width: 97px;
}
.monthly-cross1{
  width: 172px;
}
