app-copy-favorite-link-box {
  .content-body {
    .footer-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        margin: 0 10px;
      }
    }
  }
}
