/* .ts-health-component{ border-bottom: solid 1px #bbb;} */

.ts-alerts{height: 10px; margin: 5px 0px;} 
.ts-alert-nor, .ts-normal-dot{background-color: #6ad35c;}
.ts-alert-slow, .ts-slow-dot{background-color: #fff577;}
.ts-alert-very-slow, .ts-very-slow-dot{background-color: #ffb37b;}
.ts-alert-error, .ts-error-dot{background-color: #ff7979;}
.dotted-class>span{display: inline-block;}


.material-icons{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
}

.scored-table{width: 100%; border-collapse: collapse; table-layout: fixed;}
.scored-table>tr>td{padding: 5px 2px; text-align: right;}
.scored-table>tr>td:first-child{text-align: left;}
