.ts-health-component{ border-bottom: solid 1px #bbb;}

.ts-alerts{height: 10px; margin: 5px 0px;} 
.ts-alert-crit, .ts-crit-dot{background-color: #ff7979;}
.ts-alert-maj, .ts-maj-dot{background-color: #ffb37b;}
.ts-alert-nor, .ts-min-dot{background-color: #6ad35c;}

.material-icons{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 3px;
}