app-nsm-dashboard{ 
      height: 100%;
.maincontainer{
height:  calc(100vh - 200px);
    overflow-y: scroll;
    overflow: auto;
}  
 .ui-card-header{
                padding: 5px 10px;
                border-bottom: 1px solid #cecece;   
            }  
             .chart-section{
            width: 98%;
            float: left;
            margin-right: 7px;
        }
// p-header{
            
//                 display: flex;
//                 .title{
//                     font-weight: 600;
//                 }
                
//         } 
//         .p-progress-spinner-circle {
//     //animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
// }

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
} 
@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
} 
agm-map {
    height: 600px;
} 
 .action-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      .search-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        input.search-box.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
          padding-left: 25px;
        }
        i.dashboard.icons8.icons8-search {
          position: absolute;
          padding: 8px;
          color: #1d5290;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
          font-size: 1.25em;
        }
      }
      .icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .columnSelect {
        .ui-multiselect {
          border: none;
          padding: 18px 15px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }
}