<p-dialog class="secondary-dialog" [(visible)]="visible" closeIcon="icons8-delete" header="Map Integration Point" [draggable]="false" [style]="{width: '30vw'}">
    <div class="div-border">

        <div class="p-grid p-col-12">
            <div class="p-col-12"> <label class="label-css">Actual Name:</label> <label class="label-css">HTTP_jsonplaceholder.typecode.com</label> </div>
        </div>
        <div class="p-grid p-col-12">
            <div class="p-col-12"> <label class="label-css">Current Name:</label> <label class="label-css">Http</label>
            </div>
        </div>
        <div class="p-grid p-col-12">
            <div class="p-col-3"> <label class="label-css line-height-css">New Name:</label> </div>
            <div class="p-col-5">
                <p-dropdown class="" [options]="name" placeholder="Select a Node" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <p-footer>
        <div class="footer-buttons button-row-position">
            <button pButton type="button" class="ui-outline-button ui-button-secondary" icon="icons8 icons8-delete" iconPos="left" label="Close" (click)="closePopup()"></button>

            <button pButton type="button" class="ui-button ui-button-rounded" icon="icons8 icons8-checkmark" iconPos="left" label="Close" (click)="closePopup()"></button>
        </div>
    </p-footer>
</p-dialog>