.bTns{outline:none;border:none;cursor:pointer;transition:all 200ms ease;border-radius:3px;height:calc(1.75em + 0.5rem + 2px);padding:.25rem 1rem;min-width:80px;font-size:12px;line-height:1.5;font-weight:500;margin:0 .25rem;display:inline-flex;align-items:center;justify-content:center;font-family:'Poppins'!important}
.bTns>i,.btnlinks>i{margin-right:4px}
.configBtn{background-color:#25A75D;color:#fff}
.configBtn:hover{background-color:#128644}
.green-outline{background-color:#fff;color:#25A75D;border:solid 1px #25A75D}
.green-outline:hover{background-color:#25A75D;color:#FFF}
.btnlinks{cursor:pointer;transition:all 200ms ease;border-radius:3px;height:calc(1.75em + 0.5rem + 2px);padding:.25rem 1rem;font-size:12px;min-width:80px;line-height:1.5;font-weight:500;margin:0 .15em;background:transparent;outline:none;border:none;display:inline-flex;align-items:center;justify-content:center;font-family:'Poppins'!important}
.btnlinks.primary{color:#1863C9}
.btnlinks.danger{color:#c82333}
.splitbtn{cursor:pointer;transition:all 200ms ease;border-radius:3px;height:calc(1.75em + 0.5rem + 2px);padding:.25rem 2rem .25rem 1rem;font-size:12px;line-height:1.5;font-weight:500;margin:0 .25rem;background:transparent;outline:none;cursor:pointer;position:relative;font-family:'Poppins'!important}
.blue-outline{border:solid 1px #1863c9;color:#1863c9}
.splitbtn::after{content:"\f077";font-family:FontAwesome;position:absolute;width:21px;border-left:solid 1px #1863c9;right:0;top:6px;bottom:5px;font-size:11px}



/* .fieldsetarea{border:solid 1px #d2d2d2;padding:15px;border-top:none;margin-top:-16px}
.plusIcon{cursor:pointer;font-size:16px;color:#1c526b;cursor:pointer}
.minusIcon{cursor:pointer;font-size:16px;color:#df8e8e;cursor:pointer}
.duration{display:flex;align-items:center;justify-content:flex-start;margin-top:30px;border-bottom:solid 1px #eee;margin-bottom:15px;font-weight:500;font-size:110%}
:host>>>.hr-gray{border-top:solid 1px #eee}
.durationBoxes{display:flex;align-items:center;margin-bottom:15px}
.savebutton{display:flex;justify-content:flex-end;border-top:solid 1px #ddd;padding:10px 0}
.sigmentedin{display:none}
.selectPath{display:inline-flex;align-items:center;padding:5px 8px;background-color:var(--darkGreen);color:#FFF;font-weight:400;border-radius:4px;margin:0 5px}
.selectPath>.gui-x{margin-left:5px}
.selectPath:empty{display:none}
.scenarioName{display:flex;align-items:center}
.cus-addon>input{width:100%;padding-right:26px!important;position:relative;z-index:120}
.cus-addon{display:flex;align-items:stretch;width:300px;position:relative}
.cus-addon .addonIco{position:absolute;z-index:121;right:6px;top:6px;pointer-events:none;opacity:.4;font-size:16px}
.treeBox{background:#fff;border:1px solid #d2d2d2;border-radius:3px;left:-5px;right:-5px;position:absolute;top:-5px;display:none;z-index:110}
.treeBoxFooter{display:flex;align-items:center;justify-content:center;padding:.5rem;background-color:#f8f8f8;position:relative;border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.treeBoxContent{padding:0 .65rem;max-height:180px;overflow:auto;margin-top:2.75rem}
.treeBoxContent li{margin-bottom:.5em}
.icobtn{width:20px;height:20px;padding:0;display:inline-flex;align-items:center;justify-content:center;margin:1px;border-radius:50%;outline:none;border:none;font-size:10px;transition:all 300ms ease;cursor:pointer}
.icobtn.info{background-color:#858585;color:#FFF}
.icobtn.red{background-color:#d15a00;color:#FFF}
.icobtn.green{background-color:#3bb54a;color:#FFF}
.closeoverlay{position:fixed;left:0;right:0;top:0;bottom:0}
.trnscationHead{font-size:13px;color:#000;text-transform:uppercase;display:flex;align-items:center;font-weight:500;margin:20px 10px 5px}
.trnscationHead>i{margin-left:.5em;opacity:.4;font-size:14px}
.labelText{font-size:12px;font-weight:500}
.scenType{display:flex;align-items:center;padding:22px 15px}
.scenarioBox{display:flex;border-radius:3px}
.scenarioType{border:solid 1px #d2d2d2;padding:0;flex:1 1 28%;max-width:28%;margin:0 10px;background-color:#FFF;border-radius:3px}
.transcatioName{padding:16px;flex:1 1 72%;max-width:72%;margin:0 10px;background-color:#FFF;border:solid 1px #d2d2d2;border-radius:3px}
.groupListing{display:block;margin:0;padding:0;list-style:none;border-top:solid 1px #efefef;border-bottom:solid 1px #efefef}
.groupListing>li{position:relative}
.groupaccord{display:flex;align-items:center;padding:4px 30px 4px 23px;position:relative;font-size:12px;transition:all 300ms ease}
.groupaccord.open{background-color:#f3f3f3}
.sesion>.input-gui{text-align:right;width:50px;margin:0 5px}
.groupTranscation{display:none;font-size:12px;margin:0;list-style:none;flex-direction:column;margin-left:0;padding:0}
.groupTranscation>li{display:flex;align-items:center;border-bottom:solid 1px #efefef}
.groupTranscation>li .method{padding:2px;border-radius:3px;display:inline-block;margin:0 10px;text-transform:uppercase;width:50px;align-items:center;text-align:center;font-weight:500}
.get{background-color:#e5f6cf;color:#94ae70}
.post{background-color:#cff2f6;color:#91c3c8}
.put{background-color:#e5f6cf;color:#d8db19}
.delete{background-color:#e5f6cf;color:#f50000}
.groupTranscation>li .trns{display:flow-root;width:80px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.groupTranscation>li .url{display:flow-root;width:130px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.add-group-btn{color:#25A75D;background-color:transparent;outline:none;border:dashed 1px #25A75D;display:block;width:100%;font-size:14px;padding:6px;cursor:pointer}
.groupaccord>.grpnm{padding:.5em .15em;font-weight:500;border-radius:3px;color:#000;border:solid 1px transparent;margin-right:.5rem}
.groupaccord>.grpnm:focus,.groupaccord>.grpnm:active{background-color:#FFF;padding:.5em .15em;border-radius:3px;border:solid 1px #d2d2d2}
.groupDelete{color:#d26161;position:absolute;right:5px;font-size:16px;z-index:99;cursor:pointer;opacity:0;top:9px;transition:all 300ms ease-in}
.groupaccord:hover .groupDelete{opacity:1}
.rowToggler{position:absolute;width:14px;height:14px;align-items:center;justify-content:center;display:inline-flex;font-size:8px;left:10px;top:13px;cursor:pointer;transition:all 300ms ease-in;z-index:99}
.groupaccord.open .rowToggler{visibility:hidden;opacity:0;pointer-events:none}
.rotate90deg{transform:rotate(90deg)}
.cusTab{display:flex;list-style:none;margin:5px 0 0;padding:0;z-index:52;cursor:pointer;right:0;top:4px;font-size:12px}
.cusTab>li{padding:0 10px;border-bottom:3px solid transparent;cursor:pointer;opacity:.7;font-weight:500}
.cusTab>li.active{border-bottom:3px solid #25A75D;opacity:1;color:#25A75D}
.d-none{display:none}
.d-block{display:block}
.configurationBox{display:flex;border-radius:3px;background-color:#fff;border:solid 1px #d2d2d2;padding:0;margin:0 10px}
.timeRamp{padding:15px;flex:1 1 40%;max-width:40%;border-right:solid 1px #d2d2d2}
.timeGrapg{border-radius:3px;border:solid 1px #fff;background-color:#fff;padding:15px;flex:1 1 60%;max-width:60%}
.RunLabel{font-weight:500;min-width:90px;display:inline-flex;align-items:center;justify-content:space-between}
.RunLabel>span:nth-child(2){font-weight:500}
.opc6{opacity:.6}
.opc4{opacity:.4}
.durationBoxes{font-weight:500;margin:10px 0;border-bottom:solid 1px #eee;padding-bottom:15px;font-size:12px}

.customSpiner .input-gui{padding-right:6px;text-align:right}
.myaddons{padding:0!important;border-width:0!important} */


/* .postman .upload1{height:calc(1.75em + 0.5rem + 2px);padding:.25rem .5rem;font-size:12px;line-height:1.5;background-color:#1863c9;color:#FFF;margin-left:-5px;border-top-left-radius:0;border-bottom-left-radius:0;min-width:auto} */
.customSpiner::after{top:3px}

.input-gui{height:calc(1.75em + 0.5rem + 2px);padding:.25rem .5rem;font-size:12px;line-height:1.5;font-family:'Poppins'!important}
:host>>>.ui-autocomplete-input{height:calc(1.75em + 0.5rem + 2px);padding:.25rem .5rem;font-size:12px;display:inline-flex;align-items:center;width:100%;background-color:#FFF!important}
:host>>>.my-select .ui-dropdown-label{height:calc(1.75em + 0.5rem + 2px);padding-top:.25rem;padding-bottom:.25rem;padding-left:.5rem;font-size:12px;display:inline-flex;align-items:center}
:host>>>.getList .ui-dropdown{border-top-right-radius:0;border-bottom-right-radius:0}
:host>>>.getList .ui-dropdown-label{height:calc(1.75em + 0.35rem + 2px);padding-top:.25rem;padding-bottom:.25rem;padding-left:.5rem;font-size:12px;display:inline-flex;align-items:center}
:host>>>.my-select .ui-dropdown-label,:host>>>.my-spiner .ui-spinner-input,
:host>>>.input-gui,.textarea-gui,:host>>>.input-chips .ui-inputtext.ui-state-default,
:host>>>.my-select .ui-multiselect-label{border:solid 1px #d2d2d2}

/* :host>>>.getList .ui-dropdown-label{border-top-left-radius:3px!important;border-bottom-left-radius:3px!important}
:host>>>.getList .ui-dropdown-trigger{background:transparent;border:none} */
:host>>>.my-select .ui-dropdown-trigger .pi-angle-down,:host>>>.getList .ui-dropdown-trigger .pi-angle-down{font-size:16px}
/* :host>>>.myaddons~.input-gui{padding-left:15px!important}
:host>>>.req-headers-table td .ui-chkbox,:host>>>.req-headers-table td .ui-chkbox .ui-chkbox-box{width:22px;height:22px;margin-right:3px}
:host>>>.req-headers-table td .ui-chkbox .ui-chkbox-box.ui-state-active,:host>>>.req-headers-table td .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover{background-color:#fff;color:#1d5290}
:host>>>.req-headers-table td .ui-chkbox .ui-chkbox-box .ui-chkbox-icon{font-size:15px;font-weight:800;margin-top:2px}
:host>>>.req-headers-table td .ui-chkbox .ui-chkbox-box{border:2px solid #d2d2d2;background-color:#fff}
:host>>>.req-headers-table table{border:none}
:host>>>.req-headers-table th,:host>>>.req-headers-table td{background-color:#FFF;padding:.25em .5rem!important;border:none;font-size:12px;border:none;text-align:left}
:host>>>.req-headers-table th:last-child,:host>>>.req-headers-table td:last-child{border-right:none}
:host>>>.req-headers-table table tr{background-color:#FFF!important}
:host>>>.req-headers-table .ui-table-thead>tr>th{font-weight:500}
:host>>>.req-headers-table table tr .handler{opacity:0;transition:all 200ms ease-in;cursor:pointer;margin-top:6px;position:relative;font-size:16px;text-align:center}
:host>>>.req-headers-table table tr .handler .pi{font-family:'wi'!important;color:#8e8e8e}
:host>>>.req-headers-table table tr .handler .pi-bars::before{content:"\e915"}
:host>>>.req-headers-table table tr:hover .handler{opacity:.8}
.deleteRowbn{margin-left:-.8rem}
.table-responsive{border-top:solid 1px #ddd;margin-left:-10px;margin-right:-10px;padding-top:10px} */
:host>>>.apiResultTable th,:host>>>.apiResultTable td{padding:.75em!important;border:none;font-size:12px;border:none;text-align:left}
:host>>>.apiResultTable th:last-child,:host>>>.apiResultTable td:last-child{border-bottom:none}
:host>>>.apiResultTable th{font-weight:500}
:host>>>.apiResultTable tbody tr{border-top:solid 1px #e8e8e9}
:host>>>.apiResultTable tbody tr:last-child{border-radius:none}
:host>>>.apiResultTable thead tr th{background-color:#fff!important}
:host>>>.apiResultTable tbody tr:nth-child(odd){background-color:#f9f9f9}
:host>>>.apiResultTable tbody tr:nth-child(even){background-color:#fff}
:host>>>.apiResultTable .ui-table-wrapper{border:solid 1px #ddd}
:host>>>.apiResultTable tbody tr.ui-selectable-row.ui-state-highlight{background-color:#bde4ce;border:none;color:#333}
:host>>>.apiResultTable th.ui-sortable-column.ui-state-highlight{background-color:#bde4ce!important;color:#333!important}

/* .transactionAccord{padding:6px 6px 6px 30px;width:100%;transition:all 300ms ease;color:#000;position:relative;align-items:center}
.transactionAccord:hover,.groupaccord:hover{background-color:#f9f9f9}
.upload-btn-wrapper{margin-top:-4px}
.groupTrActive{background-color:#d2d2d2}
.transactionAccord:hover .groupDelete{opacity:1}
.bodyEditor{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex!important;-webkit-box-align:center;-ms-flex-align:center;align-items:center!important;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between!important;border-bottom:solid 1px #ddd;margin-left:-10px;margin-right:-10px}
.assertionBox{display:flex;margin:-10px;overflow:hidden}
.assertionBoxA{border-right:solid 1px #c3c3c3;background-color:#f5f7fa;padding:15px;flex:1 1 45%;max-width:45%;overflow:auto;height:240px}
.assertionBoxB{flex:1 1 55%;max-width:55%}
.asertable{position:relative;cursor:pointer} */
:host>>>.apiResultTable tr.asertable:nth-child(odd){background-color:#fff}
:host>>>.apiResultTable tr.asertable:nth-child(even){background-color:#f9f9f9}
:host>>>.apiResultTable tr.asertable:last-child{border-bottom:solid 1px #e8e8e9}

/* .asertable>.and{position:absolute;left:50%;background-color:#d9d9d9;height:16px;padding:2px 8px!important;border-radius:3px;text-transform:uppercase;font-weight:500;font-size:10px;color:#666;margin-left:-30px;margin-top:28px}
.asertable td:first-child{font-weight:500}
.asertable .minusIcon{opacity:.7;pointer-events:none;transition:all 300ms ease}
.asertable:hover .minusIcon{opacity:1;pointer-events:visible}
.assbdr{border-top:solid 1px #d2d2d2;padding-top:15px}
.checkIf{display:flex;align-items:center;margin-bottom:15px;margin-left:-.5rem;margin-right:-.5rem}
.checkIf>label{font-size:12px;font-weight:500;min-width:60px;max-width:60px}
.parametrisationBox{display:flex;margin:-10px;overflow:hidden}
.parametrisationBoxA{border-right:solid 1px #c3c3c3;background-color:#f5f7fa;padding:15px;flex:1 1 65%;max-width:65%}
.parametrisationBoxB{flex:1 1 35%;max-width:35%}
:host>>>.parametrisationBoxB .apiResultTable .ui-table,:host>>>.assertionBoxB .apiResultTable .ui-table{margin-top:-1px}
.fileViewIcon{background:transparent;outline:none;border:none;font-size:12px;opacity:.7;position:absolute;right:40px;top:8px;cursor:pointer;z-index:98;padding:0}
.trashIcon{display:inline-flex;align-items:center;justify-content:flex-end} */
:host>>>.myPanelBox .ui-panel-titlebar{display:flex;flex-direction:row-reverse;align-items:center;align-self:auto;background:transparent;border:none;font-size:12px;padding:5px 0;color:#1863c9}
:host>>>.myPanelBox .ui-panel{border-radius:0;background:transparent;border:none}
:host>>>.myPanelBox .ui-panel .ui-panel-titlebar-icon{margin:0 .2em;border:none;padding:0;color:#1863c9;font-size:10px}
:host>>>.myPanelBox .ui-panel .ui-panel-content{border-left:none;border-right:none;background:0;padding:.25em 0}
/* .width140{min-width:140px;max-width:140px;font-size:11px;font-weight:500;color:#555}
.width100{min-width:100px;max-width:10px;font-size:11px;font-weight:500;color:#555}
.labelText1{font-size:12px;font-weight:500;color:#555} */
.customModal{margin:-25px;border-radius:8px;box-shadow:0 0 5px #ccc}
.customModal_titlebar{background-color:#f7f7ff;border-top-left-radius:8px;border-top-right-radius:8px;padding:15px;font-size:14px;font-weight:500;display:flex;align-items:center;justify-content:space-between;border-bottom:solid 1px #c3c3c3}
.customModal_titlebar .modal_close>i{color:#215592;font-weight:700;cursor:pointer}
.customModal_body{background-color:#FFF;border-bottom-left-radius:8px;border-bottom-right-radius:8px;padding:15px}
.dummyData{padding:10px;border:solid 1px #d2d2d2;border-radius:5px;overflow-y:auto; width: 100%;}
/* 
.hidelrgtext{white-space:nowrap;width:44%;overflow:hidden;text-overflow:ellipsis}
.chartDiv{border:0 solid;min-height:265px;width:98.6%;background:#fff;margin-left:8px}
.chartHeaderDiv{color:#fff;padding:6px;background:hsla(0,0%,15%,0.8)} */
.loading1{display:flex;justify-content:center}
.loading1 div{width:.3rem;height:.3rem;margin:.65rem .1rem 0;background:#00bf19;border-radius:50%;animation:.9s bounce infinite alternate}
.loading1 div:nth-child(2){animation-delay:.3s}
.loading1 div:nth-child(3){animation-delay:.6s}
@keyframes bounce {
to{opacity:.3;transform:translate3d(0,-0.5rem,0)}
}
.loading-lg{display:flex;justify-content:center}
.loading-lg div{width:1rem;height:1rem;margin:.65rem .1rem 0;background:#00bf19;border-radius:50%;animation:.9s bounce1 infinite alternate}
.loading-lg div:nth-child(2){animation-delay:.3s}
.loading-lg div:nth-child(3){animation-delay:.6s}
@keyframes bounce1 {
to{opacity:.3;transform:translate3d(0,-1rem,0)}
}
.loading-white{display:inline-flex;justify-content:center}
.loading-white div{width:.3rem;height:.3rem;margin:.65rem .1rem 0;background:#fff;border-radius:50%;animation:.9s bounce infinite alternate}
.loading-white div:nth-child(2){animation-delay:.3s}
.loading-white div:nth-child(3){animation-delay:.6s}
@keyframes bounce {
to{opacity:.3;transform:translate3d(0,-0.5rem,0)}
}
.loading-md{display:inline-flex;justify-content:center}
.loading-md div{width:.5rem;height:.5rem;margin:.65rem .1rem 0}
/* :host>>>.apiResultTable th.ui-sortable-column.ui-state-highlight{background-color:#ddd!important;color:#333!important} */
/* .paraMeterList{display:flex;align-items:center;list-style:none;margin:0;padding:0;width:100%}
.paraMeterList>li{display:inline-flex;align-items:center;margin:.25em .5rem;font-size:12px;font-weight:500}
.paraMeterList>li:nth-child(1){flex:1 1 76%;min-width:76%;max-width:76%}
.paraMeterList>li:nth-child(2){flex:1 1 12%;min-width:12%;max-width:12%}
.paraMeterList>li:nth-child(3){flex:1 1 5%;min-width:5%;max-width:5%}
.lastIcon{color:#999;font-size:16px;cursor:pointer}
.fileContainer{margin:15px 2px 0;border-top:solid 1px #d2d2d2;padding:8px 0 0}
.addParameterBtns{border-top:solid 1px #d2d2d2;padding:15px 0;justify-content:flex-end;display:flex}
.paraMeterList1{display:flex;align-items:center;list-style:none;margin:0;padding:0;width:100%}
.paraMeterList1>li{display:inline-flex;align-items:center;margin:.25em .5rem;font-size:12px;font-weight:500}
.paraMeterList1>li:nth-child(1){flex:1 1 45%;min-width:45%;max-width:45%}
.paraMeterList1>li:nth-child(2){flex:1 1 45%;min-width:45%;max-width:45%}
.paraMeterList1>li:nth-child(3){flex:1 1 7%;min-width:7%;max-width:7%}
.wid48per{width:48%!important}
.wid58per{widows:58%!important}
.globleHelp{font-size:180%;color:#1863c9}
.more3dots{font-size:140%;padding:0 3px;cursor:pointer}
.assertion{display:flex;align-items:center}
.assertion>.assLabel{float:left;margin:.5rem;position:relative}
.assertion>.assLabel>input[type="radio"]{position:absolute;display:none;top:-20px}
.assertion>.assLabel .checkMark{padding:8px 16px;display:inline-flex;border-radius:3px;font-weight:500;border:solid 1px #d2d2d2;color:#666;cursor:pointer;background-color:#fff}
.assertion input[type="radio"]:checked+.checkMark{color:#1863C9;border:solid 1px #1863C9;box-shadow:0 0 5px 0 #4992f3}
.assertion input[type="radio"]:checked+.checkMark::after{content:"\e908";font-family:'projectIcon'!important;color:#1863C9;position:absolute;right:4px;top:4px}
.sesion .customSpiner:after{top:3px}
.vl{border-left:1px solid #d2d2d2;height:18px;margin:0 .5rem}
.glsearch1{width:200px;height:24px;display:flex;position:relative;justify-content:flex-end;margin-bottom:3px;margin-right:5px}
.input-gui1{height:calc(1.25em + 0.4rem + 2px);padding:.25rem .5rem;font-size:12px;line-height:1.3;background-color:#fff!important;border:solid 1px #d2d2d2;font-family:'Poppins'!important}
.icoSearch{position:absolute;right:6px;top:5px;font-size:12px;opacity:.6}
.playicon{font-size:14px;color:#666;cursor:pointer;display:inline-block;margin:0 2px;font-weight:500}
.dataRadio{display:flex;align-items:center;margin:-15px;padding:15px;background-color:#fff;margin-bottom:15px} */
/* :host>>>.ui-dropdown.ui-state-focus{box-shadow:0 0 5px #1863c9}
:host>>>.randomLinst .ui-dropdown{border:none}
:host>>>.randomLinst .ui-dropdown.ui-state-focus{box-shadow:none;outline:none}
:host>>>.randomLinst .ui-dropdown-label{padding:0 18px 0 0;font-size:12px;display:inline-flex;align-items:center;color:#25A75D;border-top-left-radius:3px!important;border-bottom-left-radius:3px!important;text-align:left}
:host>>>.randomLinst .ui-dropdown-trigger{background:transparent;border:none}
.parametrisationBody{height:270px;overflow-y:auto;margin:0 -13px;overflow-x:hidden}
.addReplaceAction{font-size:16px;color:#25a75d;cursor:pointer}
.input-gui:focus,:host>>>.ui-autocomplete-input:focus{box-shadow:0 0 5px #1863c9;transition:all 300ms ease}
.addonFocus:focus{box-shadow:0 0 5px #1863c9;transition:all 300ms ease} */
:host>>>.ui-dropdown.ui-state-focus{box-shadow:0 0 5px #1863c9}
.css-label{cursor:pointer}
.css-checkbox{display:none}
.css-label .fa{line-height:16px;border-radius:2px;width:20px;height:20px;text-align:center;align-items:center;justify-content:center}
.fa-plus{padding-top:2px;padding-right:2px;padding-left:2px;background-color:#cff6d1;color:#01a209}
.fa-minus{padding-top:1px;padding-right:2px;padding-left:2px;background-color:#f6e0cf;color:#d46006}
.css-checkbox:checked+.css-label .fa-minus{display:inline-flex}
.css-checkbox:checked+.css-label .fa-plus{display:none}
.iteration{width:22px;position:absolute;top:0;right:0;bottom:0;z-index:99;cursor:pointer}
:host>>>.assertionTable th,:host>>>.assertionTable td{padding:.75em!important;border:none;font-size:12px;border:none;text-align:left;border-bottom:solid 1px #d2d2d2;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
:host>>>.assertionTable th{font-weight:500}
:host>>>.assertionTable tbody tr.asertable{background-color:#FFF;transition:all 300ms ease}
:host>>>.assertionTable tbody tr.asertable:hover{background-color:#f5f5f5}
:host>>>.assertionTable tbody tr.asertable .minusIcon{opacity:0;transition:all 300ms ease}
:host>>>.assertionTable tbody tr.asertable:hover .minusIcon{opacity:1}
:host>>>.assertionTable .ui-table-caption.ui-widget-header{background:#f5f7fa;padding:.5em;border:none}
/* .captionSearch{position:relative}
.captionSearch>i{position:absolute;right:0;position:absolute;right:6px;font-size:14px;opacity:.4;top:8px}
.captionSearch .input-gui{background-color:#FFF}
:host>>>.paraMeTable th,:host>>>.paraMeTable td{padding:.75em!important;border:none;font-size:12px;border:none;text-align:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.tdbdrbtm{border-bottom:solid 1px #ddd!important}
:host>>>.paraMeTable tbody tr{background-color:#FFF;transition:all 300ms ease}
.backgroundgray{transition:all 300ms ease}
.backgroundgray td .minusIcon{opacity:0;transition:all 300ms ease}
.backgroundgray:hover td{background-color:#f5f5f5!important}
.backgroundgray:hover td .minusIcon{opacity:1}
:host>>>.paraMeTable .ui-table-caption.ui-widget-header{background:#f5f7fa;padding:.5em;border:none}
.rowGroupToggler{width:15px;height:15px;display:inline-flex;align-items:center;justify-content:center;cursor:pointer}
.assDeletRow{position:absolute;right:10px}
.tableCont{padding:0 10px;margin-top:30px} */
:host>>>.transCationTable .ui-table-tbody{border:solid 1px #e7e9eb}
:host>>>.transCationTable th,:host>>>.transCationTable td{padding:.9em .25em!important;border:none;font-size:11px;border:none}
.tree_2Tabl{margin:-.95em -.25em!important;border-left:solid 3px #bde4ce;border-right:solid 3px #bde4ce;border-bottom:solid 3px #bde4ce}
:host>>>.transCationTable th:last-child,:host>>>.transCationTable td:last-child{border-bottom:none}
:host>>>.transCationTable tbody tr{border-top:solid 1px #e8e8e9}
:host>>>.transCationTable tbody tr:last-child{border-radius:none}
:host>>>.transCationTable thead tr th{background-color:#fff!important}
:host>>>.transCationTable tbody tr.ui-selectable-row.ui-state-highlight{background-color:#bde4ce;border:none;color:#333}
:host>>>.transCationTable tbody tr:nth-child(odd){background-color:#f9f9f9}
:host>>>.transCationTable tbody tr:nth-child(even){background-color:#fff}
:host>>>.transCationTable th.ui-sortable-column.ui-state-highlight{background-color:#ddd!important;color:#333!important}
.indicIco>i{display:none;align-items:center;font-size:13px}
:host>>>.transCationTable tbody tr.pass td:last-child .indicIco i,:host>>>.transCationTable tbody tr.fail td:last-child .indicIco i,:host>>>.transCationTable tbody tr.run td:last-child .indicIco i{display:inline-flex;top:2px;position:relative}
/* .pass .indicIco>.fill-check{color:#25a75d}
.fail .indicIco>.fill-close{color:#ac0000}
.run .indicIco>.running{color:#fec148}
.dnsCir{color:#17bbde}
.connCir{color:#fe6672}
.sslCir{color:#efb058}
.reqCir{color:#6c6bb6}
.fiByCir{color:#18cfbb}
.pass>td:first-child,.fail>td:first-child,.run>td:first-child{position:relative}
.pass>td:first-child::before,.fail>td:first-child::before,.run>td:first-child::before{content:"";top:-1px;bottom:-1px;width:3px;z-index:99;position:absolute;left:-1px}
.pass>td:first-child::before{background-color:#25a75d}
.fail>td:first-child::before{background-color:#ac0000}
.run>td:first-child::before{background-color:#fec148}
.colGroup1,.colGroup2{border:solid 1px #d2d2d2}
.colGroup1 th{border-right:solid 1px #e8e8e9;font-weight:600}
.colGroup2 th{border-right:solid 1px #d2d2d2;font-weight:500} */
/* :host>>>.transCationTable2 th:last-child,:host>>>.transCationTable2 td:last-child{border-bottom:none}
:host>>>.transCationTable2 tbody tr{border-top:solid 1px #e8e8e9}
:host>>>.transCationTable2 tbody tr:last-child{border-radius:none}
:host>>>.transCationTable2 tbody tr:nth-child(odd){background-color:#fff}
:host>>>.transCationTable2 tbody tr:nth-child(even){background-color:#f9f9f9}
.uiScript{border-top:solid 1px #ddd;margin-left:-10px;margin-right:-10px;padding:10px}
.keyValue{display:flex;align-items:center;padding:0;margin:0;width:100%;flex-wrap:wrap}
.keyValue>li{display:flex;margin-bottom:.5em;flex:1 1 30%;min-width:30%}
.keyValue>li:nth-child(even){flex:1 1 70%;min-width:70%} */
:host>>>.autoComplete .ui-autocomplete-multiple-container.ui-widget.ui-inputtext{min-height:calc(1.75em + 0.5rem + 2px);padding:.18rem;font-size:12px;line-height:1.5;font-family:'Poppins'!important;width:100%;background-color:#FFF}
:host>>>.autoComplete li.ui-autocomplete-token.ui-state-highlight{background-color:#25A75D;color:#FFF;border-color:#25A75D;margin:.15rem}
.red-outline{background-color:#fff;color:#C82333;border:solid 1px #C82333}
.red-outline:hover{background-color:#C82333;color:#FFF}
/* .tableScrollGui{position:relative}
.errorLog{color:#c82333;font-size:13px;z-index:333;position:absolute;top:60px;left:10px}
.errorLog a{color:#c82333;text-decoration:underline;margin:0 3px;cursor:pointer}
:host>>>.apiResultTable .ui-table-wrapper,:host>>>.apiResultTable .ui-table-scrollable-wrapper{box-shadow:0 0 3px #ccc;background-color:#FFF}
:host>>>.apiResultTable .ui-table-thead{border-bottom:solid 1px #ededed}
.centralContent{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:14px;opacity:.6;font-size:25px} */
:host>>>.confirmDialog .ui-dialog-titlebar{background-color:#f7f7ff;border-top-left-radius:8px;border-top-right-radius:8px;padding:13px!important;font-size:12px;font-weight:500;display:flex;border-bottom:solid 1px #c3c3c3!important;color:#282828}
:host>>>.confirmDialog .ui-widget-content{border:none}
:host>>>.confirmDialog .ui-dialog-content,:host>>>.confirmDialog .ui-dialog-footer{margin:10px 0}
:host>>>.confirmDialog .ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon{display:none}

:host>>>.normalTable{table-layout: auto;}
:host>>>.normalTable tr{background: transparent;}
:host>>>.normalTable th{font-weight: 500; color: #000;}
:host>>>.normalTable th, 
:host>>>.normalTable td {text-align: left;border: none;background-color: transparent; padding: 5px;}
