
.breadcrumb{
    background-color: #2C6BA3;
}
::ng-deep .search-box {
    padding: 10px;

    .search-text {
        width        : 100%;
        padding      : 10px;
        padding-left : 36px;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        border       : 1px solid #1D5290;
        border-radius: 5px;
        font-size: 18px;
    }

    .search-icon {
        position: relative;
        width   : 17px;
        left    : 12px;
        bottom  : 30px;
    }
    .ui-inputtext:enabled:focus:not(.ui-state-error) {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        border-color: #1D5290;
    }
}