    app-cmon-stats {
        .cmon-dialog {
            .ui-panel {
                padding: 0;
                border: 0 none;
                /* border: 1px solid #cecece; */
                .ui-panel .ui-panel-titlebar {
                    border: none;
                    padding: 10px;
                    background-color: #c9efd4;
                    color: #333333;
                    border-radius: 3px;
                    font-weight: 600;
                    cursor: pointer;
                    margin: 0px 7px;
                }
            }
            .compare-data-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .action-buttons {
                    i {
                        margin: 0 5px;
                        cursor: pointer;
                        color: #1d5290;
                    }
                }
            }
            .form-buttons {
                float: right;
                display: flex;
                flex-direction: row-reverse;
                .ui-button-right {
                    margin-left: 10px;
                }
            }
            .dialog-content {
                .btn-display {
                    padding: 0px 20px 0px 20px;
                }
                .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
                    font-size: 1.25em;
                }
                .action-container {
                    .input-field-search {
                        width: 80%;
                        padding: 5px;
                    }
                    input[type="text" i] {
                        padding-left: 30px;
                    }
                    .labels {
                        margin: 0px 10px;
                    }
                    i.filter-icon {
                        font-size: 1.5em;
                        color: #1d5290;
                        margin: 0 10px;
                        line-height: 30px;
                    }
                    .search-div-css {
                        position: relative;
                        padding: 5px;
                        i {
                            font-size: 1.5em;
                            position: absolute;
                            color: #1d5290;
                            left: 13px;
                            line-height: 32px;
                        }
                    }
                    .ui-multiselect {
                        border: none;
                        padding: 18px 15px;
                        background: transparent;
                        .ui-helper-hidden-accessible {
                            display: none;
                        }
                        .ui-multiselect-label {
                            display: none;
                        }
                        .ui-multiselect-trigger {
                            margin-top: 1px;
                            background-color: transparent;
                            .ui-multiselect-trigger-icon {
                                font-size: 1.5em;
                            }
                        }
                    }
                    .icon-button.ui-button {
                        margin: 0 2px;
                    }
                    .icons-container {
                        display: flex;
                        flex-direction: row-reverse;
                    }
                    .check {
                        font-size: 1.5em;
                    }
                }
                .ui-paginator .ui-paginator-current {
                    float: left;
                }
                .columnwidth {
                    width: 80px;
                    // text-align: center;
                }
                .Project-edit-icon {
                    cursor: pointer;
                }
                .addproject {
                    display: flex;
                    padding: 20px;
                }
                .customInput {
                    border: none;
                    border-bottom: 1px solid #1d5290;
                    border-radius: 0;
                    padding-left: 0px;
                    background-color: #f7f7f7;
                    margin-top: -9px;
                    cursor: pointer;
                }
                .add-channel {
                    margin-right: 10px;
                    margin-top: -7px;
                }
                .global-search-block {
                    width: 40%;
                }
                .column-filter {
                    font-size: 1.5em !important
                }
                .cmondisplay {
                    padding: 20px;
                    border: 1px solid #efefef;
                    border-radius: 10px;
                    background-color: #efefef;
                    margin: 20px 20px 20px 7px;
                    font-size: 20px;
                    .display1 {
                        color: red;
                        font-size: 30px;
                        padding: 2px;
                    }
                    .display2 {
                        color: black;
                        font-size: 30px;
                        padding: 2px;
                    }
                    .display3 {
                        color: green;
                        font-size: 30px;
                        padding: 2px;
                    }
                }
                .heapsize {
                    display: flex;
                    padding: 20px 20px 20px 0px;
                }
            }
            .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                padding-left: 0px;
                background-color: #f7f7f7;
                margin-top: -9px;
                cursor: pointer;
            }
            .action-buttons {
                i {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
                .input-field-border-none {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #1d5290;
                    border-radius: 0;
                }
                .outputbox {
                    background-color: #EFEFEF;
                    padding: 20px;
                }
                input {
                    // margin-bottom: 15px;
                    width: 100%;
                }
                span {
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            .secondary-dialog {
                padding: 2em;
                overflow: hidden;
            }
            .ui-dialog .ui-dialog-content {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding: 2em;
            }
            .secondary-dialog .ui-dialog .ui-dialog-content {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                padding: 1em;
            }
        }
    }