app-monitor-up-down-status{
  .monitor-up-down-container{
    .action-buttons{
        padding: 5px 10px;
    }
    .ui-paginator .ui-paginator-current{float: left;}
    .action-buttons {
        color: #1d2590;
      }
      .ui-table-scrollable-body{
        overflow-y: scroll;
      }
      .ui-button-custom {
        background-color: #ffffff;
        margin: 10px 0;
        color: #1d5290;
        border: 1px solid #1d5290;
        width: 100%;
        
        i {
          font-size: 1.5em;
        }
      }
      .label-name {
        line-height: 30px;
      }
      .label-name-1 {
        line-height: 20px;
      }
      .form-buttons {
        float: right;
        display: flex;
        flex-direction: row-reverse;
        .ui-button-right {
          margin-left: 10px;
        }
      }
     
      .compare-data-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .heading{
          font-size: 15px;
        }
      }
      .search-div-css{
      .customInput {
        border: none;
        border-bottom: 1px solid #1d5290;
        border-radius: 0;
        padding-left: 20px ;
      }
      .ui-inputtext{
        width: 170px;
        min-width: 170px;
      }
    }
    .global-search-block{width: 36%;
      margin-left: 5px;}
    .action-container {
      .input-field-search {
        width: 90%;
        padding: 6px;
        margin-left: 0px;
      }
      .search-div-css {
        position: relative;
        i {
            font-size: 1.5em;
            position: absolute;
            color: #1d5290;
            top: 7px;
            left: 5px;
        }
    }
      
      input[type="text" i] {
          padding-left: 30px;
      }
      .labels {
        margin: 0px 10px;
      }
      i.filter-icon {
        font-size: 1.5em;
        color: #1d5290;
        margin: 0 10px;
        line-height: 30px;
      }
      
      .global-search-block{width: 36%;
        margin-left: 5px;}
  
      .ui-multiselect {
        border: none;
        padding: 18px 15px;
        background: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label {
          display: none;
        }
        .ui-multiselect-trigger {
          margin-top: 1px;
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }
      .icon-button.ui-button{
          margin: 0 2px;
      }
      .icons-container{
        display: flex;
        flex-direction: row-reverse;
      }
      .check{font-size: 1.5em;}
    }
      .search-global {
        .input-field-search {
          width: 100%;
          padding-left: 25px;
        }
        i.icons8-search {
          font-size: 1.4em;
          position: absolute;
          color: #1d5290;
          left: 20px;
          line-height: 30px;
        }
      }
        i.icons8-calendar {
          font-size: 1.5em;
          position: absolute;
          color: #1d5290;
          line-height: 35px;
          z-index: 99;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
          font-size: 15px;
        }
        i.direction{
          padding: 3px;
          border-radius: 50%;
          color: #fff;
        }
        // i.icons8-left{
        //   background: #ccc;
        // }
        i.icons8-right{
          background: #ccc;
        }
        i.icons8-up{
          background: #8EDF6B;
        }
        i.icons8-down{
          background: #EF706E;
        }
        .ui-multiselect {
          border: none;
          padding: 18px 15px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
        .icons-container{
          display: flex;
          flex-direction: row-reverse;
        }
        .global-time-bar {
          padding: 5px;
      }
      
}
}

