app-instrument-monitors{
    .instrument-monitors{
        padding: 10px;
        .ui-tabview.ui-tabview-top .ui-tabview-nav{
            width: 65%;
        }
        .ui-tabview .ui-tabview-panels{
            padding: 5px;
        }
    }
}