.tableDimensions{
   width: 98%;
   height:100%
}

.filterDiv{
    background-color: darkgrey;
    margin: 5px;
    height:32px;
    box-shadow:1px 1px 0.5px 0.5px grey
}

.transactionMainClass{
    background-color: whitesmoke;
    margin:5px;
    padding: 5px;
    box-shadow:1px 1px 0.5px 0.5px grey
}

.inputClass{
    box-shadow:0.5px 0.5px 0.5px 0.5px;
}
.poc-values{
    color:cornflowerblue;font-weight: 500;
    cursor: pointer;
}
.disable-values{
    color:#9c9fa5;font-weight: 500;
}
