.tabheader {
    font-size: 12px;
    padding: 4px;
    font-weight: 500;
    margin-top: 0px;
}
.tabheader12
{
    font-size: 11px;
    padding: 1px;
    font-weight: 500;
    margin-top: 4px;
    margin-left: -12px;
}
.accessControl-box{
    padding: 0px;
}
.compotable {
    padding: 0px;
}

.filter{
    background: #2a3950;
}

.calender .md2-datepicker-button{
    top :0px;
} 
.calender.md2-datepicker-trigger
{
    padding-top: 0px;
}
.px-15{padding:0px 15px;}
.btn-line-height{line-height:23px};
.download-icon{width: 20px; height: 20px;cursor:pointer;}
:host>>> .collapse-height .ui-datatable-scrollable-body{max-height: 390px;}
:host>>> .expand-height .ui-datatable-scrollable-body{max-height: 470px;}


:host>>> .col-width1 table tbody tr td:nth-child(1), :host>>> .col-width1 table thead tr th:nth-child(1){width: 40px;}
:host>>> .col-width1 table tbody tr td:nth-child(2), :host>>> .col-width1 table thead tr th:nth-child(2){width: 112px;}
:host>>> .col-width1 table tbody tr td:nth-child(3), :host>>> .col-width1 table thead tr th:nth-child(3){width: 81px;}
:host>>> .col-width1 table tbody tr td:nth-child(4), :host>>> .col-width1 table thead tr th:nth-child(4){width: 180px;}
:host>>> .col-width1 table tbody tr td:nth-child(5), :host>>> .col-width1 table thead tr th:nth-child(5){width: 100px;}
:host>>> .col-width1 table tbody tr td:nth-child(6), :host>>> .col-width1 table thead tr th:nth-child(6){width: 165px;}
:host>>> .col-width1 table tbody tr td:nth-child(7), :host>>> .col-width1 table thead tr th:nth-child(7){width: 100px;}
:host>>> .col-width1 table tbody tr td:nth-child(8), :host>>> .col-width1 table thead tr th:nth-child(8){width: 254px;}
:host>>> .col-width1 table tbody tr td:nth-child(9), :host>>> .col-width1 table thead tr th:nth-child(9){width: 103px;}

:host>>> .col-width2 table tbody tr td:nth-child(1), :host>>> .col-width2 table thead tr th:nth-child(1){width: 40px;}
:host>>> .col-width2 table tbody tr td:nth-child(2), :host>>> .col-width2 table thead tr th:nth-child(2){width: 112px;}
:host>>> .col-width2 table tbody tr td:nth-child(3), :host>>> .col-width2 table thead tr th:nth-child(3){width: 80px;}
:host>>> .col-width2 table tbody tr td:nth-child(4), :host>>> .col-width2 table thead tr th:nth-child(4){width: 180px;}
:host>>> .col-width2 table tbody tr td:nth-child(5), :host>>> .col-width2 table thead tr th:nth-child(5){width: 100px;}
:host>>> .col-width2 table tbody tr td:nth-child(6), :host>>> .col-width2 table thead tr th:nth-child(6){width: 153px;}
:host>>> .col-width2 table tbody tr td:nth-child(7), :host>>> .col-width2 table thead tr th:nth-child(7){width: 100px;}
:host>>> .col-width2 table tbody tr td:nth-child(8), :host>>> .col-width2 table thead tr th:nth-child(8){width: 290px;}
:host>>> .col-width2 table tbody tr td:nth-child(9), :host>>> .col-width2 table thead tr th:nth-child(9){width: 100px;}



