app-business-tier-component-view {
  .business-tier-wrapper {
    height: calc(100vh - 100px);
    jsplumb-surface {
      height: 100%;
    }

    .jtk-surface {
      height: 100%;
      background-color: #ffffff;
    }

    .jtk-overlay {
      background-color: white;
      padding: 7px;
    }

    .jtk-miniview {
      position: absolute;
      bottom: 30px;
      left: 35px;
      z-index: 103;
      width: 235px;
      border: 1px solid #ccc;
      border-radius: 0;
    }

    .connectingConnectorLabel {
      height: 23px;
      width: 110px;
      border-radius: 13px;
      color: #1d5290;
      text-align: center;
      z-index: 1 !important;
      left: 50% !important;
      background-color: #1d5290;
    }

    .solar-pref-node {
      circle {
        stroke-width: 5;
        stroke-opacity: 1;
        fill: none;
      }
      circle.stroke-normal {
        stroke: #707070;
        stroke-width: 0.45em;
      }
      circle.stroke-major {
        stroke: #f6b4b4;
        stroke-width: 0.45em;
      }
      circle.stroke-critical {
        stroke: #f04943;
        stroke-width: 0.45em;
      }
      circle.icon-circle {
        stroke: #1d5290;
        stroke-width: 0.15em;
        fill: #fff;
      }
      svg {
        transition: all 0.7s;
        transform-origin: 50% 50%;
      }
      .solar-pref-type {
        position: absolute;
        top: -15%;
        left: -40%;
        text-align: center;
        width: 200px;
      }
    }

    .output-node {
      .output-node-type {
        position: absolute;
        top: -35%;
        width: 200px;
        text-align: center;
        left: -70px;
      }
      .output-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        // border: 2px solid;
        // border-color: #1d5290;
        transition: all 0.7s;
        transform-origin: 50% 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 29px;
          padding: 9px;
          position: absolute;
          color: #1d5290;
        }
        img {
          width: 70%;
        }
      }
    }

    .solar-pref {
      .float-right {
        float: right;
      }
      .no-padding {
        padding: 0;
      }
      header {
        background: #f7f7ff;
        line-height: 30px;
        border-bottom: 1px solid #cecece;
        font-weight: bold;
        padding: 0 15px;
        .icons8 {
          line-height: 30px;
        }
      }
      .ui-overlaypanel .ui-overlaypanel-content {
        padding: 0;
        width: 17vw;
        box-shadow: 0px 14px 25px #00000033;
      }
      .info {
        .server-info {
          background-color: #f4f7fb;
          margin-bottom: 2px;
        }
      }
    }
  }
}
