<p-toolbar *ngIf="isMetaDataDisplay">
    <div class="ui-g">
        <div class="ui-g-12" style="display:inline-flex">
            {{label}}
            <span title="Java" *ngIf="type == 'Java'"><i class="icons8 icons8-java" style="color: #e91224;" ></i></span>
            <span title="NodeJS" *ngIf="type == 'NodeJS'"><i class="icons8 icons8-node-js" style="color: mediumseagreen;" ></i></span>
            <span title="Dot Net" *ngIf="type == 'Dot Net'"><i class="cav microsoft-dot-net" style="color: #007ad9;" ></i></span>
            <span title="Php" *ngIf="type == 'Php'"><i class="icons8 icons8-php-logo" style="color: #000;" ></i></span>
            <span title="Python" *ngIf="type == 'Python'"><i class="icons8 icons8-python" style="color: #116fbf;" ></i></span>
        </div>

    </div>
</p-toolbar>
