

    ::ng-deep .filter-list {
        list-style-type: none;
        padding-left   : 10px;

        li {
            padding      : 15px 0px;
            color        : #1D5290;
            border-bottom: 1px solid #89B0D3;

            a {
                float: right;
            }
        }
    }