:host>>>.table-input2 table tr td{position: relative; height: 24px;}        
:host>>>.table-input2 table tr td .ui-cell-editor{
    display: block;
    position: absolute;
    top: 1px;
     right: 1px;
    left: 1px;
    bottom: 1px;
} 

.width75{width: 75px;}    

.noRecords{text-align: center;background-color: white;}

.unlinked{
    margin-left: 9px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background: grey;
    color: white;
}

.linked{
    margin-left: 9px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background: lightgreen;
    color: white;
}


.required-mark::after {content: "*"; color:red;} 

:host >>> .ui-tree .ui-tree-container{
    width: 290%;
  }
  .input-label {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
}
.content-body {
    height: calc(100vh - 85px);
    overflow: scroll;
    background-color: #fff;
    padding: 16px;
    
}
.columnwidth {
    width: 55px;
}
.compare-data-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  .action-buttons {
   
      margin: 0 5px;
      cursor: pointer;
      color: #1d5290;
    
  }
  .action-icon {
    float: right;
  
    cursor: pointer;
}

.red-fg {
    color: red;
    padding: 5px;
}
.edit-action {
    
        font-size: 16px;
        margin: 2px;
        cursor: pointer;
    
}
.red-fg {
    color: red;
    padding: 5px;
}