app-agent-config-home {
  .agent-home-container {
    .main-block {
      height: 70vh;
      overflow-y: scroll;
      border: 1px solid #ceceec;
      border-radius: 5px;
      background: #fff;
      padding: 10px 20px;

      p-card .ui-card {
        height: 50vh;
        padding: 0px;
        border: 1px solid #ceceec;
        margin: 0px;
        border-radius: 10px;
        .ui-card-header {
          background-color: #ededed;
          height: auto;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 7px 15px;
          display: flex;
          border-bottom: 1px solid #ceceec;
          p-header {
            width: 100%;
            padding: 0px;
            .btn-right {
              float: right;
              i {
                line-height: 30px;
              }
            }
          }
          .selected-label {
            font-size: 1em;
            font-weight: 600;
            line-height: 30px;
          }
        }
        .ui-card-body {
          height: 100%;
        }
      }
    }
  }
}
