app-health-check-monitor-setting {
    .settings-container {
        .test-button {
            background-color: #327aba;
            border: 2px solid #327aba;
            margin-right: 10px;
        }
        .content-body {
            height: calc(100vh - 80px);
            overflow: auto;
            background-color: #fff;
            .checkbox-section,
            .panel {
                padding: 14px;
            }
            p-panel {
                width: 100%;
                .ui-panel {
                    border: none;
                    .ui-panel-titlebar {
                        // background-color: #f7f7ff;
                        p-header {
                            padding-left: 10px;
                        }
                        .ui-panel-titlebar-toggler {
                            float: left;
                        }
                    }
                }
                .panel-container {
                    .proxy-checkbox {
                        padding-left: 16px;
                    }
                    .url-input {
                        border: none;
                        border-bottom: 1px solid;
                        border-radius: 0px;
                        width: 100%;
                    }
                    input {
                        background: #ffffff;
                        border: 1px solid #d4d4d4;
                        transition: border-color 0.2s, box-shadow 0.2s;
                        padding: 7px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}