app-selected-indices {
    .configure-maintenance-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .action-buttons {
            i {
                margin: 0 5px;
                cursor: pointer;
                color: #1d5290;
            }
        }
    }
        .page-table-container {
            .selected-indices-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .action-buttons {
                    i {
                        margin: 0 5px;
                        cursor: pointer;
                        color: #1d5290;
                    }
                }
            }
            .dialog-content {
                .ui-dialog ,.ui-dialog-content{
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 1em;
                    height: calc(100vh - 190px);
                }
                .secondary-dialog .ui-dialog .ui-dialog-content {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    padding: 1em;

                }
              
               
                
              
                .action-container {
                    padding: 0px;
                    border: 1px solid #ceceec;
                    margin: 0px;
                    border-radius: 10px;
                    .spacing {
                        margin-left: 20px;
                    }
                    .input-field-search {
                        width: 80%;
                        padding-left: 25px;
                    }
                    .labels {
                        margin: 0px 10px;
                    }
                    i.filter-icon {
                        font-size: 1.5em;
                        color: #1d5290;
                        margin: 0 10px;
                        line-height: 30px;
                    }
                    .search-div-css {
                        position: relative;
                        i {
                            font-size: 1.5em;
                            position: absolute;
                            color: #1d5290;
                            top: 7px;
                            left: 7px;
                        }
                    }
                    .ui-multiselect {
                        border: none;
                        padding: 12px;
                        background: transparent;
                        .ui-helper-hidden-accessible {
                            display: none;
                        }
                        .ui-multiselect-label {
                            display: none;
                        }
                        .ui-multiselect-trigger {
                            margin-top: 1px;
                            background-color: transparent;
                            .ui-multiselect-trigger-icon {
                                font-size: 1.5em;
                            }
                        }
                    }
                    .icons-container {
                        display: flex;
                        flex-direction: row-reverse;
                        i {
                            font-size: 1.5em;
                        }
                    }
                }
                .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
                    font-size: 1.25em;
                }
                .ui-paginator-current {
                    float: left;
                }
                .edit-row {
                    color: #1d5290;
                    font-size: 15px;
                }
                .add-template {
                    margin-right: 15px;
                }
                .global-search-block {
                    width: 40%;
                }
            
            .span-report-css {
                margin: 10px 0px !important;
                line-height: 30px;
            }
            .ui-dropdown {
                min-width: 100px;
                margin: 0px 10px;
                width: 100px;
            }
            .line-height {
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                i.icons8-calendar {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    left: 0px;
                    line-height: 35px;
                    z-index: 99;
                }
            }
            .customInput {
                border: none;
                width: 13vw;
                padding-left: 23px;
                background-color: #faf6f6;
                margin-top: 2px;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
            }
        }
        }
    }