app-ipdetails{
      height: 100%;
.maincontainer{
height:  calc(151vh - 200px);
    overflow-y: scroll;
    overflow: auto;
}  
 .ui-card-header{
                padding: 5px 10px;
                border-bottom: 1px solid #cecece;   
            }  
   .ui-table-scrollable-wrapper {
    position: relative;
}          





 .action-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      .search-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        input.search-box.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
          padding-left: 25px;
        }
        i.dashboard.icons8.icons8-search {
          position: absolute;
          padding: 8px;
          color: #1d5290;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
          font-size: 1.25em;
        }
      }
      .icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .columnSelect {
        .ui-multiselect {
          border: none;
          padding: 18px 15px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    } 
    .colWidth12>col:first-child{min-width: 40px !important; width: 40px !important;}
  // .colWidth12>col:nth-child(2){min-width: 40px !important; width: 40px !important;}
  .colWidth12>col{min-width: 120px;}
  }