app-end-to-end-tier {
  .loader-container {
    .pi-spinner.pi {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      font-size: 24px;
      vertical-align: middle;
    }
  }
  .end-to-end-tier-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    .percent-text {
      float: right;
    }
    .server-text-margin {
      margin: 2px 5px;
    }
    .box-stretched,
    body {
      height: 95vh;
      margin: 10px;
      padding: 0px;
      font-size: 16px;
      width: 47%;
      border: 1px solid #cecece;
      background: #fff;
      .list span {
        font-size: 12px;
      }
      .icon-color-css {
        color: #087dcf;
        font-size: 15px;
      }
      .ui-orderlist-list {
        // height: 77vh;
        height: calc(100% - 100px);
        overflow: auto;
      }
      .ui-orderlist-filter-container {
        padding: 8px;
      }
      .ui-orderlist-filter-container .ui-orderlist-filter-icon {
        left: 13px;
      }
      .ui-orderlist .ui-orderlist-caption {
        font-size: 12px;
        padding: 10px;
        font-weight: 200;
        border-bottom: 0 none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 100%;
        background-color: #087dcf;
        color: #ffffff;
        box-shadow: none;
        text-align: left;
      }
      .close-search {
        text-align: right;
        cursor: pointer;
        color: #1d5290;
      }
      .servers-orderlist {
        margin-top: -15px;
      }
    }
  }
  .ui-orderlist .ui-orderlist-caption {
    text-align: left;
  }
  .overview-container {
    padding: 0px;
    height: 98vh;
    border: 1px solid #cecece;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .overview-content {
      background-color: #6ab0e3;
      width: 100%;
      padding: 2px;
      height: 33px;
      color: #ffffff;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      .ui-button.ui-button-secondary {
        color: #1d5290;
        background-color: #ffffff;
        border: 1px solid #1d5290;
        font-size: 15px;
        padding: 2px 10px;
      }
      .ui-button.ui-button-text-only .ui-button-text {
        padding: 0px;
        font-weight: 200;
      }
      .ui-button-text-only .ui-button-text {
        padding: 0px;
      }
    }
    .box,
    .sample-layout > div {
      background-color: #ffffff;
      text-align: center;
      padding-top: 1em;
      width: 100%;
      padding-bottom: 1em;
      border-radius: 4px;
    }
    .button-margin {
      padding: 4px;
      button {
        margin-right: 15px;
      }
    }
    .img-container,
    body {
      height: 100%;
      font-size: 16px;
      // border: 1px solid #cecece;
      .img-svg {
        padding: 5%;
        .img-css {
          width: 240px;
          height: 240px;
        }
      }
    }
    .vertical-container {
      margin: 0;
      height: 100vh;
      border-radius: 4px;
    }
  }
}
