app-metric-description {
    .custom-dialog{
        .ui-dialog.metric-dialog {
            width: 70%;
        .ui-dialog-titlebar{
            background-color: #f7f7ff;
            color: #333333;
            .ui-dialog-title{
                width: 100%;
            }
            .action-buttons, i{
                margin: 0px 8px;
                color: #1d5290;
                cursor: pointer;
                .ui-icon-button{
                    margin: 0px 8px;
                }
            }
        }
    }
	.ui-dialog .ui-dialog-content{
             padding: 0em 2em 1em;
            .helper-text{
                margin-bottom: 10px;
                font-size: 12px;
                color: #333333;
                span{
                    color: #000;
                    font-weight: 600;
                }
            }
            label{
                color: #333333;
            }
            .float-right{
                float:right;
            }
            .index-column{
                width: 40px;
                text-align: left;
            }
        }
        .ui-table {
            .ui-table-tbody {
                > tr {
                    background: #f5f5f5;
                }
    
                > tr:nth-child(even) {
                    background-color: #ffffff;
                }
            }
        }
        .ui-table .ui-table-thead>tr>th { 
            font-weight: 700;
        }
    }

    
}
