app-node-query {
  .query-wrapper {
    .action-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        .ui-inputgroup-addon {
          font-size: 1.50em;
          line-height: 30px;
          margin-right: 5px;
          color: #1d5290;
          cursor: pointer;
        }
        .input-field-search {
          width: 100%;
          padding-left: 24px;
          margin-left: 0px;
        }
      
      .search-div-css {
        position: relative;
        width: 50%;
        i {
            font-size: 1.5em;
            position: absolute;
            color: #1d5290;
            top: 7px;
            left: 5px;
        }
    }
      .global-search-block{
        width: 50%;
        margin-left: 5px;
        display: flex;
      }
      .icons-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .ui-button.ui-icon-button {
          color: #1d5290;
          &:hover {
            color: #1d5290;
          }
        }
        .ui-multiselect {
          border: none;
          padding: 12px;
          background: transparent;
          .ui-helper-hidden-accessible {
            display: none;
          }
          .ui-multiselect-label-container {
            display: none;
          }
          .ui-multiselect-trigger {
            margin-top: 1px;
            background-color: transparent;
            .ui-multiselect-trigger-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
}
