.content-body {
    height: calc(100vh - 85px);
    overflow: scroll;
    background-color: #fff;
    padding: 16px;
    
}
input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #1d5290;
    padding: 0.15em;
    width: 90%;
}
.input-label {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
}

.required-mark::after{content: "*"; color: red;}

body.theme-1 .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight, body.theme-2 .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight{
    background-color: white;
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    }