.sidebar-header {
  .sidebar-title {
    i.icons8-delete {
      float: right;
      font-size: 1.5em;
    }
  }
}
.sidebar-content {
  .input-time-css {
    border: none !important;
    width: 100%;
    padding-left: 20px !important;
    margin-top: 2px !important;
    border-bottom: 1px solid #1d5290 !important;
    border-radius: 0 !important;
  }
  .calender-input-css {
    position: relative;
    i.icons8-calendar {
      font-size: 1.5em;
      position: absolute;
      color: #1d5290;
      left: 0px;
      line-height: 23px;
      //z-index: 99;
    }
  }
  .customInput {
    width: 40px;

    .ui-dropdown {
      min-width: 85px;
      width: 85px;
    }
  }
  p-orderlist {
    width: 100%;

    .arrow-icon {
      margin-right: 5px;
      color: #1d5290;
    }
  }
  .order-list-block {
    position: relative;
  }
  button.clear-button {
    position: absolute;
    right: 0;
    top: 9px;
    color: #1d5290;
    //z-index: 999999;
    width: 100px;

    .ui-button-text {
        padding: 0.529em 1em !important;
    }
  }
  .ui-orderlist-filter-container {    
    width: 65%;
  }
  .owl-dt-popup.cdk-overlay-pane{
    z-index: 100001030302 !important;
  }
}
