app-table-box {
    .table-box-container {
      .loader-container {
        .pi-spinner.pi {
          font-size: 24px;
          vertical-align: middle;
          margin-right: 10px;
        }
        span {
          font-size: 24px;
          vertical-align: middle;
        }
      }
  
      .filter-icon-css{
        font-size:20px;
        color:#6197C7;
      }
    
      .empty-table-message {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #cecece;
        font-size: 20px;
        height: calc(100vh - 42vh);
      }
  
      .box-stretched,
      body {
        height: 100vh;
        width: 26%;
        font-size: 16px;
        padding: 10px;
        margin-left: 1%;
        border: 1px solid #cecece;
        background: #fff;
  
        .img-svg {
          padding: 7%;
        }
        .ui-orderlist-list{
          height: 26em !important;
        }
        .list span{
          font-size: 12px;
        }
        .ui-orderlist .ui-orderlist-caption{
          color: #393737;
          box-shadow: none;
          text-align: left;
        }
        
      }
  
      .table-box-table {
        width: 100%;
        padding: 0px;
        .drill-button {
          cursor: pointer;
          float: right;
          font-size: 1.5em;
        }
        

        
      }
    }
    a.activeLink,
    a.activeLink:hover {
        color: blue !important;
        cursor: pointer !important;
    }
  }
  .ui-dialog {
    max-height: 34%;
  }