// component css goes here
.black-0
{
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}
.black-1
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}
.img-0, .img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7,.dotclear {
    margin: 0 0 0 -3.2px;
}
.black-0 td {
    border: 0px;
    padding: 0;
    text-align: right;
}
.black-1 td {
    border: 0px;
}
.img-8 {
    cursor: pointer;
}
.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}