app-state {
  .state-container {
    background-color: #ffffff;
    height: 100%;
    .pl-0 {
      padding-left: 0;
    }
    .pr-0 {
      padding-right: 0;
    }
    .data-section {
      height: 70%;
      .table-section {
        .action-container {
          .global-search-block {
            display: flex;
            margin-left: 5px;
            justify-content: flex-start;
            align-items: center;
            .ui-radiobutton-label {
              padding: 0 15px 0 0;
            }
            .search-div-css {
              position: relative;
              i {
                font-size: 1.5em;
                position: absolute;
                color: #1d5290;
                top: 7px;
                left: 5px;
              }
              .input-field-search {
                width: 90%;
                padding: 6px;
                margin-left: 0px;
              }
              input[type="text" i] {
                padding-left: 30px;
              }
              .labels {
                margin: 0px 10px;
              }
              i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
              }
            }
          }

          .icons-container {
            .ui-multiselect {
              border: none;
              padding: 18px 15px;
              background: transparent;
              .ui-helper-hidden-accessible {
                display: none;
              }
              .ui-multiselect-label {
                display: none;
              }
              .ui-multiselect-trigger {
                margin-top: 1px;
                background-color: transparent;
                .ui-multiselect-trigger-icon {
                  font-size: 1.5em;
                }
              }
            }
          }
        }
      }
    }
    .info-section {
      height: 30%;
      width: 100%;
      .view-data {
        border: 1px solid #cecece;
        overflow: auto;
        height: calc(100% - 80px);
        margin: 0 5px;
      }
    }
  }
}
