// component css goes here
.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}

.Container
{
overflow-y: auto;
 
}

 .Container, .Content
{
  transform:rotateX(180deg);
 -moz-transform:rotateX(180deg); /* Mozilla */
 -webkit-transform:rotateX(180deg); /* Safari and Chrome */
 -ms-transform:rotateX(180deg); /* IE 9+ */
 -o-transform:rotateX(180deg); /* Opera */
 background: white;
 }
#pre_text1 
{
    height: auto;
    max-height: 450px;
    overflow: auto;
    overflow-y: none;
}
#stack_text
{
    height: auto;
    max-height: 170px;
    overflow: auto;
    overflow-y: none;
   
    border: 1px #DEDEDE solid;
}
.ddr-custom-div {
    text-align:left;
    box-sizing:border-box;
    padding:.5em .75em;
    }
.ddr-custom-tab {
    text-align:center;
    margin-top:100px;
    min-height: 400px;
}

.mutilSelectDropDown{
    position: relative;
    top: 5px;
}

.ddr-progressbar {
    height: 1px;
}

.w20{width: 20px; line-height: 16px;}
