app-create-havoc {
    .page-container {
        .create-content {
            padding: 15px;
            height: calc(100vh - 45px);
            overflow: auto;
            p-panel {
                .ui-panel {
                    border: none;
                    padding: 10px;
                    .ui-panel-titlebar {
                        border: 1px solid #cecece;
                        p-header {
                            padding-left: 10px;
                        }
                        .ui-panel-titlebar-toggler {
                            float: left;
                        }
                    }
                }
                .delete-icon {
                    margin: 0px;
                }
            }
            .ui-accordion-header {
                height: 40px;
                a {
                    height: 40px;
                    padding: 4px !important;
                    .ui-accordion-toggle-icon {
                        padding-top: 8px
                    }
                    p-header {
                        font-size: 14px;
                        font-weight: 600;
                        .title {
                            padding-left: 10px;
                            position: absolute;
                            top: 10px
                        }
                    }
                }
            }
            .hovac-dropdown {
                line-height: 8px;
            }
        }
    }
}