body {
  .page-sidebar.dashboard-layout-manager.ui-sidebar {
    overflow: hidden;
    .sidebar-header {
      .sidebar-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action-icons {
          i {
            font-size: 20px;
            padding-left: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .sidebar-content {
      position: relative;
      overflow: unset;
      height: 100%;
      padding:0px;

      .ui-tabview {
        height: calc(100% - 40px);
        .ui-tabview-panels {
          // height: calc(100% - 45px);
          .ui-tabview-panel {
            height: 100%;

            .dashboard-layout-grid {
              padding: 10px 0 0 0;
              .layout-tile {
                cursor: pointer;

                .layout-icon {
                  height: 100px;
                  border-radius: 5px;
                  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
                  padding: 15px 30px;
                  text-align: center;

                  img {
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
              }
              .empty-message {
                display: flex;
                align-items: center;
                justify-content: center;
                width: -webkit-fill-available;
                // font-size: 15px;
              }
            }
            .horizontal-separator {
              border-bottom: 1px solid #e1e1e1;
              margin: 10px 5px;
            }
          }
        }
      }
    }
    .relativeClass{
      position: relative;
    }
    .deleteIcon{
      position: absolute;
    top: 10px;
    right: 20px;
    z-index: 58;
    cursor: pointer;
    }
    .topAlign{
      margin-top: 1px;
    }
    .highlight{  box-shadow: 0px 0px 5px green  !important; }
  }
}
