#second a:link {
    color: blue;
    background-color: transparent;
    text-decoration: blue;
}
#second a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: purple;
}
#second a:hover {
    color: red; 
    background-color: transparent;
    text-decoration: underline;
}        
#second a:active {
    color: yellow; 
    background-color: transparent;
    text-decoration: underline;
}
.loadingIcon{
   position: absolute;
   top: 120%;
   right: 20%;
   padding-top: 1%;
}

/* Newly Added Css */

.buildCardClass {
    background-color: #425e8e;
    padding: 10px 4px !important;
    width: 78%;
    float: right;
}


.IconClass {
    color: #eaeaea;
    font-size: 3em;
}


/*Responsive table*/

table {
    width: 100%;
    background: #fff;
    /*box-shadow: 0px 3px 6px #B5B5B5;*/
}

td {
    padding: 2px;
    text-align: left;
    font-size: 11px;
}

th {
    padding: 4px;
    font-size: 11px;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #e3ebf9;
    color: #000;
    font-weight: 'normal';
}

th {
    background: #154771;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    font-weight: 'bold';
}

h1 a {
    text-decoration: none;
    color: #fff;
}

md-card-actions {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.cardTitleClass {
    height: 20px;
    float: right;
    font-size: 14px;
    color: #e6e6e6;
    line-height: 20px;
    width: 82%;
}

md-card-title-text {
    font-size: 14px;
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    font-size: 13px !important;;
}

.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}

.imageIcon{
    background: #d5ecfd;
    width: 99.7%;
    padding: 4px;
    margin-top: 3px;
    text-align: right;
}
.imageIcon img{
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.modalPopUp{
  height:350px;
}
.modalPopUp h3{
    background: #BBDEFB;
    padding: 4px;
    font-size: 13px;
}
a.activeLink,
a.activeLink:hover {
    color: #1D5290 !important;
    cursor: pointer !important;
}
chart
{
display:block;
}
