app-compare-flowpaths {
  .compare-flowpath-page {
    background-color: #ffffff;

    .filter-group {
      background-color: #ededed;
      padding: 10px 15px;
      border: 1px solid #cecece;
    }
  }

  .horizontal-container {
    height: 76vh;
    width: 217vh;
    overflow: auto;
    display: flex;

    .panel-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      overflow-y: scroll;
      overflow-x: scroll;
    }
  }

  .table-caption {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 2px;
    color: #1d5290;
    .selected-label {
      color: #333333;
    }
    .icons8 {
      font-size: 14px;
    }
  }

  &.p-col-fixed {
    padding-top: 0;
    padding-bottom: 0;

    &:first-child {
      padding-left: 0;
    }
  }

  p-card .ui-card {
    height: 100%;
    width: 400px;
    padding: 0px !important;
    border: 1px solid #ceceec !important;
    margin: 20px;
    border-radius: 20px !important;

    .ui-card-header {
      background-color: #ededed;
      height: 65px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 15px 25px;
      display: flex;
      border-bottom: 1px solid #ceceec;
      p-header {
        width: 100%;
        .btn-right {
          float: right;
        }
      }

      .selected-label {
        font-size: 1.25em;
        font-weight: 600;
        line-height: 30px;
      }

      .cross-button {
        color: #1d5290;
        margin: 0 0 0 20px;
        font-size: 1.25em;
        font-weight: 700;
      }
    }

    .ui-card-body {
      height: 100%;
    }

    .ui-card-content {
      height: auto;
      overflow: auto;
      padding: 10px 15px;
      .ui-table .ui-table-tbody > tr > td {
        border-right: none;
      }
    }

    .empty-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 27px);
    }

    .loader-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 27px);
    }
  }

  .card-sub-section p-card .ui-card {
    height: 250px;
    width: 100%;
    padding: 0px !important;
    border: 1px solid #ceceec !important;
    margin: 25px 0px;
    border-radius: 7px !important;

    .ui-card-header {
      height: 50px;
      background-color: #ffffff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 15px 25px;
      display: flex;
      p-header {
        width: 100%;
        .btn-right {
          float: right;
        }
      }
    }

    .img-svg {
      text-align: center;

      img {
        width: 200px;
      }
    }
  }
  .cross-button {
    font-size: 1.5em;
    font-weight: 500;
    width: 14px;
  }

  .ui-button.ui-button-text-only .ui-button-text {
    padding: 0.529em 1em !important;
    font-weight: 600 !important;
    font-size: 1em !important;
  }
}
