app-transactions-group {
  .transaction-group-container {
    .no-padding {
      padding: 0;
      .m-15-r {
        margin-right: 15px;
      }
    }
    .display-flex {
      display: flex;
    }
    .icon-group {
      color: #1d5290;
      margin-right: 10px;   
     
      .ui-multiselect {
        border: none;
        padding: 12px;
        background-color: transparent;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label-container {
          display: none;
        }
        .ui-multiselect-trigger {
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
            margin-top: -1px;
          }
        }
      }
    }
    .startTime {
      float: right;
    }
    .businessTran {
      margin: 2px 5px;
    }
    .loader-container {
      .pi-spinner.pi {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span {
        font-size: 24px;
        vertical-align: middle;
      }
    }
    .min-pad {
      .ui-card {
        box-shadow: none;
        padding: 0;
      }
    }
    .ui-inputgroup {
      .ui-inputtext {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    .filter-group {
      display: flex;
      align-items: center;
      .ui-inputgroup {
        width: 70%;
      }
    }
    .filter-icon-css {
      font-size: 20px;
      color: #6197c7;
    }
    .filter-button-group {
      display: flex;
      align-items: center;
      .filter-buttons {
        cursor: pointer;
        padding: 0.529em 1.5em;
        margin: 0 5px;
        border: 2px solid;
        border-radius: 15px;
        color: #1d5290;
      }
    }
    .alert-group {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .ui-multiselect {
        border: none;
        padding: 17px;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label-container {
          display: none;
        }
        .ui-multiselect-trigger {
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }
    }
    .empty-table-message {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #cecece;
      font-size: 20px;
      height: calc(100vh - 42vh);
    }
    .box-stretched,
    body {
      height: 90vh;
      font-size: 16px;
      border: 1px solid #cecece;
      background: #fff;
      .img-svg {
        padding: 7%;
      }
      // .ui-orderlist-list {
      //   height: calc(100vh - 27vh);
      // }
      .list span {
        font-size: 12px;
      }
      .ui-orderlist .ui-orderlist-caption {
        color: #393737;
        box-shadow: none;
        text-align: left;
      }
    }
    .transaction-group-table {
      padding: 0px;
      .ui-table-thead {
        > tr {
          > th {
            padding-top: 12px;
          }
        }
      }
      // TODO: to be moved to a generic css set for tables with icons on row selection
      // .ui-table-scrollable-body,
      // .ui-table-scrollable-header {
      //   padding: 0px 25px;
      // }
      .ui-card {
        background-color: #f7f7f7;
        border: none;
      }

      body.theme-1 .ui-table .ui-table-tbody > tr:first-child {
        border-top: none;
      }

      .ui-paginator {
        border-bottom: 1px solid #c8c8c8;
        border-left: 1px solid #cecece;
        border-right: 1px solid #cecece;
        //margin: 0px 32px 0px 25px;
        box-shadow: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      .ui-table-thead,
      .ui-table-tbody {
        border: 1px solid #cecece;
        border-bottom: none;
        background-color: white;
      }
      
      .row-action-btn-next.ui-button {
        position: absolute;
        right: 10px;
        background-color: #56ab5f;
        color: #fff;
        margin-top: -12px;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        border: none;
        &:enabled:hover {
          background-color: #56ab5f;
          color: #fff;
        }
      }
      .row-action-btn-prev.ui-button {
        position: absolute;
        left:  10px;
        background-color: #56ab5f;
        color: #fff;
        margin-top: -12px;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        border: none;
        &:enabled:hover {
          background-color: #56ab5f;
          color: #fff;
        }
      }
      .drill-button {
        cursor: pointer;
        float: right;
        font-size: 1.5em;
      }
      .ui-paginator-current {
        float: left;
      }
      .ui-table-scrollable-body {
        overflow-x: hidden;
      }
      .menu-item{
        display: none;
    }
    }
    
  }
  .ui-multiselect-panel {
    min-width: 200px;
    z-index: 1010;
    top: -218.867px;
    left: -200.033px;
    transform: translateY(0px);
    opacity: 1;
  }
}
