body {
    .node-action-sidebar {
        .sidebar-header {
            .sidebar-title {
                i.icons8-delete {
                    float: right;
                    margin-left: 5px;
                    font-size: 20px;
                    cursor: pointer;
                }
                span.capitalize {
                    text-transform: capitalize;
                }
                i.icons8-left {
                    cursor: pointer;
                }
                .node-menu {
                    float: right;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        .sidebar-content {
            .tier-detail {
                padding: 15px 0;
                .tier-label {
                    font-size: 14px;
                    text-transform: capitalize;
                }
                .tier-bar-container {
                    width: 100%;
                    border-radius: 5px;
                    height: 10px;
                    overflow: hidden;
                    margin: 5px 0;
                    .tier-bar {
                        height: 100%;
                        float: left;
                    }
                }
                .tier-legend {
                    display: inline-block;
                    padding: 5px 20px 0 0px;
                    vertical-align: middle;
                    .legend-point {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }
            .tier-relations {
                .relation-box {
                    margin: 2px 0;
                    background-color: aqua;
                    .tier-label {
                        font-size: 14px;
                        font-weight: 600;
                        display: block;
                    }
                    .tier-relation-box {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .relation-legend {
                            vertical-align: middle;
                            text-align: center;
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            margin: 5px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            background-image: linear-gradient(white, white), linear-gradient(100deg, red 91%, lightgrey 0%), linear-gradient(200deg, yellow 93%, lightgrey 0%), linear-gradient(300deg, blue 114%, lightgrey 0%), linear-gradient(200deg, green 103%, lightgrey 0%);
                            background-position: center center, left top, right top, left bottom, right bottom;
                            background-origin: content-box, border-box, border-box, border-box, border-box;
                            background-clip: content-box, border-box, border-box, border-box, border-box;
                            border: 5px solid transparent;
                            background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
                            background-repeat: no-repeat;
                            .legend-icon {
                                font-size: 1.8em;
                                vertical-align: middle;
                            }
                            .legend-value {
                                font-size: 1.8em;
                                padding: 2px;
                            }
                        }
                        .legend-label {
                            font-size: 14px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}