app-revenue-table {
  height: 100%;

  .table-caption {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom:2px;
    color: #1d5290;
      .selected-label{
        color: #333333;
      }
      .icons8 {
        font-size: 14px;
      }
  }

  &.p-col-fixed {
    padding-top: 0;
    padding-bottom: 0;

    &:first-child {
      padding-left: 0;
    }
  }

  p-card .ui-card {
    // width: 300px;
    height: 100%;

    .ui-card-body {
      height: 100%;
    }

    .ui-card-content {
      height: 100%;
    }

    .empty-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 27px);
    }

    .loader-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 27px);
    }
  }

  .cross-button {
    font-size: 1.5em;
    font-weight: 500;
    width: 14px;
  }
}
