.loadingIcon1 {
    height: 50px;
    margin-left: 50%;
}

.methDetais {
    height:425px;
    font-weight: bolder;
   
    
}
.ddr-method-detail{
    width:120px;
    height:20px; 
    text-align:"left";
}
.ddr-method-textarea{
    width:320px;
    height:40px;
    resize:none;
      
}

.column-width table, tr, td {
    border: none;
}
table.tableClass tr td
{
border: 1px solid #9eadbd;
}

/*
.column-width {
    border: none;
}*/
.ddr-autocomplete .ui-autocomplete-multiple-container.ui-inputtext {
    overflow-x: auto;
}

.inp {
    border-radius: 3px 3px 3px 3px;
    margin-top: 0;
}

.box {
    background: none repeat scroll 0 0 rgb(156, 191, 230);
    border: 1px solid rgb(74, 106, 210);
    border-radius: 3px 3px 3px 3px;
    margin: .15em;
    position: relative;
    padding: .15em;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.remove {
  margin-left:6px;
  right: 2px;
  color: blue;
  cursor: pointer;
}

.butTop
{top:7px; position: absolute;}

#myHeader::-webkit-scrollbar {
    height: 0px
} 


// .mat-tab-label-active {
//    color: #495057;
//     background-color: #ADD8E6;
//     border-color: #dee2e6 #dee2e6 #fff;
// }



.tabList{display:flex;align-items:center;width:100%}
.tabList>.cusTabs{flex-basis:100%!important;padding:.3em;border:solid 1px var(--darkBlue);color:var(--darkBlue);text-align:center;cursor:pointer}
.tabList>.cusTabs.active{background-color:var(--darkBlue);color:var(--white)}
.cusTabsContent{height:200px;overflow:auto;padding:.35em}
.incrementList{list-style:none;counter-reset:item;padding:0;margin:0}
.incrementList>li{counter-increment:item;margin:.25rem;position:relative;cursor:pointer}
.incrementList>li::before{content:counter(item);width:24px;height:24px;display:inline-flex;text-align:center;margin:.15em .25em .15em .15em;background-color:var(--header3);color:var(--white);border-radius:50%;font-weight:500;justify-content:center;align-items:center}
.dnone{display:none}
.xmlHead{box-shadow:0 0 3px 0 rgba(0,0,0,0.2);position:relative;z-index:999;margin:0;padding:.25rem;font-weight:600}
.xmlCode{height:201px;overflow:auto}
// .scrollBars::-webkit-scrollbar{width:2px}
// .scrollBars::-webkit-scrollbar-track{background-color:var(--light-gray1);border-radius:2px}
// .scrollBars::-webkit-scrollbar-thumb{border-radius:2px;background-color:var(--gray)}
.bottomTabs{margin-left:.35rem;margin-right:.35rem;margin-top:-.45rem;height:250px;overflow:auto;box-shadow:0 3px 3px rgba(0,0,0,0.2);width: 644px;}
.circleText{display:inline-flex;width:24px;height:24px;background-color:var(--danger);color:var(--white);font-weight:500;justify-content:center;align-items:center;border-radius:50%}
.tabsSearch{width:150px;position:absolute;right:15px;top:50px;z-index:453}
.adonbtn{background-color:var(--bg1);border:solid 1px var(--gray)}


.circleText{
display:inline-flex;
width:18px;
height:18px;
background-color:var(--danger);
color:var(--white);
font-weight:500;justify-content:center;align-items:center;
border-radius:50%}

li.selected {
    background-color: #CFD8DC;
    color: white;
  }

.ddr-table-left,
.ddr-table-left {
    color: blue !important;
    cursor: pointer !important;
}


  a.activeLink,
  a.activeLink:hover {
      color: #1D5290 !important;
      cursor: pointer !important;
  }

  .ui-panel-contents {
    overflow: auto;
    height: 305px;
  }
