app-cleanup-configuration {
    .cleanup-container {
        background-color: #fff;
        overflow-y: scroll;
        height: calc(100vh - 150px);
        p-panel {
            .ui-panel {
                border: none;
                padding: 10px;
                .ui-panel-titlebar {
                    border: 1px solid #cecece;
                    p-header {
                        padding-left: 10px;
                    }
                    .ui-panel-titlebar-toggler {
                        float: left;
                    }
                }
            }
            .delete-icon {
                margin: 0px;
            }
            .panel-container {
                .number-input {
                    background: #ffffff;
                    border: 1px solid #d4d4d4;
                    transition: border-color 0.2s, box-shadow 0.2s;
                    width: 100%;
                    padding: 7px;
                    border-radius: 3px
                }
                .data-section {
                    padding: 0px;
                    border: 1px solid #d4d4d4;
                    margin-bottom: 10px;
                    border-right: none;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    .title {
                        font-weight: 700;
                    }
                    .ui-dropdown {
                        border: 1px solid #d4d4d4;
                        .ui-dropdown-label,
                        .ui-dropdown-trigger {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}