<p-sidebar #sidebar [styleClass]="classes" [(visible)]="isVisible" [showCloseIcon]="false" baseZIndex="10000"
    blockScroll="true" appendTo="body" styleClass="time-filter" [baseZIndex]="100">
    <div class="sidebar-header">
        <div class="sidebar-title">
            <i class="icons8 icons8-filter"></i>
            <span>Filters</span>
            <i class="icons8 icons8-delete right clickable" (click)="closeClick()"></i>
        </div>
    </div>
    <div class="sidebar-content-div">
        <!-- need to be check where it is open -->
        <!-- <i pButton icon="icons8 icons8-menu-vertical right" class="icon-button no-shadow" pTooltip="Menu" (click)="menuOptions.toggle($event)"></i>
        <p-menu #menuOptions [popup]="true" style="font-size: 10px;" [model]="filterOptions" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [style]="{ minWidth: '24em' }">
        </p-menu> -->
        <p-accordion class="w-100-p" [multiple]=true>
            <p-accordionTab class="accordion-header" header="Time" [selected]="true">
                <p-tabView class="mini-tab" (onChange)="tabChange($event)">
                    <p-tabPanel header="Preset">
                        <div class="ui-fluid p-formgrid p-grid ph-10 pv-15" *ngIf="data">
        
        
                            <div class="p-field p-col-12 p-md-12">
                                <label for="time-period">Time Period</label>
                                <button pButton class="ui-button-secondary" (click)="timePeriodMenu.toggle($event)">
                                    <span class="text-left ui-text">
                                        {{(timePeriod.selected && timePeriod.selected.label) || 'Select time period'}} </span>
                                    <i class="icons8 icons8-expand-arrow ph-5"></i>
                                </button>
                                <p-slideMenu #timePeriodMenu [model]="timePeriod.options" id="time-period" [popup]="true">
                                </p-slideMenu>
                            </div>
        
                            <div class="loader-container spinner" *ngIf="timeLoading">
                                <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
                            </div>
        
                            <!-- <div class="pt-10" *ngIf="!timeLoading && temporaryTimeFrame && temporaryTimeFrame.length === 3">
                                <div class="p-field p-col-12 p-md-12">
                                    <label for="view-by">Start Date Time</label>
                                    <div class="filter-value">{{temporaryTimeFrame[1] | formatDateTime: 'default' }}</div>
                                </div>
                                <div class="p-field p-col-12 p-md-12">
                                    <label for="view-by">End Date Time</label>
                                    <div class="filter-value">{{temporaryTimeFrame[2] | formatDateTime: 'default' }}</div>
                                </div>
                            </div> -->
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Custom">
                        <div class="ui-fluid p-formgrid p-grid ph-10 pv-15">
                            <div class="p-field p-col-12 p-md-12">
                                <label for="start-date-time">Start Date Time</label>
                                <input pInputText id="start-date-time" [owlDateTime]="customStartDateTime"
                                    [owlDateTimeTrigger]="customStartDateTime" placeholder="Start Date Time"
                                    (ngModelChange)="onCustomTimeChange()" [selectMode]="'rangeFrom'" [(ngModel)]="customTimeFrame" [max]="customTimeFrameMax">
                                <owl-date-time #customStartDateTime></owl-date-time>
                            </div>
        
                            <div class=" p-field p-col-12 p-md-12">
                                <label for="end-date-time">End Date Time</label>
                                <input pInputText id="end-date-time" [owlDateTime]="customEndDateTime"
                                    [owlDateTimeTrigger]="customEndDateTime" placeholder="End Date Time"
                                    (ngModelChange)="onCustomTimeChange()" [selectMode]="'rangeTo'" [(ngModel)]="customTimeFrame" [min]="customTimeFrame" [max]="customTimeFrameMax">
                                <owl-date-time #customEndDateTime></owl-date-time>
                            </div>
                        </div>
                    </p-tabPanel>
        
                    <!-- <div class="p-grid ui-fluid ph-10">
                        <div class="p-field p-col-12" >
                            <label for="view-by">View By</label>
                            <button pButton class="ui-button-secondary" (click)="viewByMenu.toggle($event)">
                                <span class="text-left ui-text">
                                    {{ viewBy.selected && viewBy.selected.label ||'Select view by'}}
                                </span>
                                <i class="icons8 icons8-expand-arrow ph-5"></i>
                            </button>
                            <p-slideMenu #viewByMenu [model]="viewBy.options" id="view-by" [popup]="true">
                            </p-slideMenu>
                        </div>
            
                        <div>
                           <div class="p-field p-col-12">
                                <p-checkbox label="Running"  binary="true"></p-checkbox>
                            </div>
            
                            <div class="p-field p-col-12" >
                                <p-checkbox label="Show Discontinued Metrics"  binary="true"></p-checkbox>
                            </div>
            
                            <div class="p-field p-col-12">
                                <p-checkbox label="Show Time Period On All Widgets" binary="true"></p-checkbox>
                            </div>
                        </div>
                    </div> -->
                </p-tabView>
            </p-accordionTab>
            <!-- <p-accordionTab class="accordion-header" header="Field Setting">
                <div class="p-col-12">
                    <span>Analyzed</span>
                </div>
                <div class="p-col-12">
                    <p-dropdown class="ui-dropdown-label" [options]="data.analyzed" dropdownIcon="icons8-expand-arrow">
                    </p-dropdown>
                </div>
                <div class="p-col-12">
                    <span>Indexed</span>
                </div>
                <div class="p-col-12">
                    <p-dropdown class="ui-dropdown-label" [options]="data.indexed" dropdownIcon="icons8-expand-arrow">
                    </p-dropdown>
                </div>
                <div class="p-col-12">
                    <span>Type</span>
                </div>
                <div class="p-col-12">
                    <p-dropdown class="ui-dropdown-label" [options]="data.type" dropdownIcon="icons8-expand-arrow">
                    </p-dropdown>
                </div>
                <div class="p-col-12">
                    <input type="text" pInputText class="input-field-border-none input-css" />
                </div>
                <div class="p-col-12">
                    <p-checkbox class="checkbox-css" name="groupname" label="Hide Missing Fields" value="val1">
                    </p-checkbox>
                </div>
            </p-accordionTab>  -->
             <!-- <p-accordionTab class="accordion-header" header="Time Interval">
                <div class="p-col-12">
                    <p-selectButton [options]="data.timeInternal" [(ngModel)]="selectedType"></p-selectButton>
                </div>
            </p-accordionTab> -->
        </p-accordion>
    </div>
    <div class="sidebar-footer text-center ml-5">
        <!-- <button pButton type="reset" (click)="resetFilter()" label="RESET"
            class="ui-outline-button ui-button-secondary ml-5"></button> -->
        <button pButton type="submit" (click)="applyTimeFilter()" [disabled]="!enableApply" label="APPLY" class="ui-button-rounded"></button>
    </div>
</p-sidebar>