

app-generic-import-export {

    
        .import-export-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .action-buttons {
                i {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #1d5290;
                }
            }
        }
    

    .control-input {
        width: 70%;
    }


    
    .file-upload-dialog {
        .ui-dialog{width: 500px; box-shadow:none;}
        .ui-fileupload{
            .ui-fileupload-buttonbar {
                .ui-button{min-width: 100px;}
               }
            .ui-progressbar .ui-progressbar-value{
                margin-top: 5px;
                height: 50%;
            }
            .ui-fileupload-content {
                padding: 2em 0em 0em 0em;;
                .ui-fileupload-files {
                    display: block;
                }
            }
           } 
       }
}



.mw440{width: 474px;
    .mw100{width: 474px;
        .ui-button{min-width: 100px;}
      
    }



}

.form-buttons {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    .ui-button-right {
        margin-left: 10px;
       
    }

}
        #centerpoint {
            top: 50%;
            left: 50%;
            .ui-dialog {
                width: 26vw;
                height: 30%;
            }
            .ui-dialog-title {
                display: inline-block;
                margin-top: 5px;
            }
            .ui-dialog-content {
                padding: 2em;
                font-size: 14px;
                border-radius: initial;
            }
            .ui-dialog-footer button{
                width: 83px !important;
            }
}
