body {
    app-message {
      div.app-message-content {
        display: flex;
        width: 100%;
        height: 100%;
        // width: 100%;
       // height: 40px;
        div {
         // align-items: center;
          &.app-message-text-content {
            display: flex;
            &.msg-error {
              color: #9A0707;
            }
            &.msg-info {
              color: #C7B804;
            }
            &.msg-success {
              color: #59AF02;
            }
            &.msg-warning {
              color: #FF4646;
            }
            &.msg-neutral {
              color: #1D5290;
            }
            &.msg-empty {
              color: #7b7b7b;
            }

            .loader-container{
              color: #327aba;
              align-items: center;
            }
            .p-small-loader{
              font-size: small;
            }
            .p-medium-loader{
              font-size: x-large;
            }
            .p-large-loader{
              font-size: xxx-large;
            }
          }
        }
      }


      div{
        display: flex;
        &.toast{
            position: fixed;
            width: 25rem;
            // background-color: white;
            padding: 10px;
            // box-shadow: 1px 2px 0px #393737;
            border-radius: 3px;
            display: block;
            z-index: 10000;
            
            &.p-toast-top-right{
                top: 20px;
                right: 20px;
            }
            &.p-toast-top-center{
                top: 20px;
                left: 50%;
                margin-left: -10em;
            }
            &.p-toast-top-left{
                top: 20px;
                left: 20px;
            }
            &.p-toast-bottom-right{
                bottom: 20px;
                right: 20px;
            }
            &.p-toast-bottom-left{
                bottom: 20px;
                left: 20px;
            }
            &.p-toast-bottom-center{
                bottom: 20px;
                left: 50%;
                margin-left: -10em;
            }
            &.p-toast-center{
                left: 50%;
                top: 50%;
                min-width: 20vw;
                transform: translate(-50%, -50%);
            }

            &.msg-error{
                background-color: #f2f2f2;
                color: #9A0707;
                position: relative;
            }

            &.msg-warning{
                background-color: #f2f2f2;
                color: #FF4646;
                position: relative;
            }

            &.msg-success{
                background-color: #f2f2f2;
                color: #59AF02;
                position: relative;
            }

            &.msg-info{
                background-color: #f2f2f2;
                color: #C7B804;
                position: relative;
            }
            &.msg-neutral{
              background-color: #f2f2f2;
              color: #1d5290;
              position: relative;
            }

            &.msg-empty{
                background-color: #f2f2f2;
                color: #7b7b7b;
                position: relative;
            }

            .app-message-close-icon{
              color: #393737
            }
        }
    }
    }
  }
  