<!-- <i class="icons8 icons8-search-property clickable" (click)="toggleFilters()" pTooltip="Column Filter"></i> -->

<div class="p-5">
    <p-table #statistics [value]="data.data" [resizableColumns]="true" [columns]="data.headers[0].cols" [scrollable]="true" scrollHeight="200px" class="all-tables">
        <ng-template pTemplate="colgroup" let-columns >
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns;let i = index" pResizableColumn [pSortableColumn]="col.valueField">
                    <div class="left">
                        {{ col.label }}
                    </div>
                    <div *ngIf="col.isSort" class="float-right">
                        <p-sortIcon *ngIf="col.isSort" [field]="col.valueField" class="text-right" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </div>
                </th>
            </tr>
            <tr *ngFor="let headerRow of data.headers">
                <ng-container *ngIf="isEnabledColumnFilter">
                    <th *ngFor="let col of headerRow.cols" [ngSwitch]="col.label">
                        <div *ngIf="
                        col.filter.isFilter === true &&
                        col.filter.type === 'custom'
                      ">
                            <input class="w-100-p" pTooltip="Use operators(>,<,=>,=<,= and -(treat as in between)) to use filter.If no operator is used then it will act as '>='." *ngSwitchCase="col.label" pInputText type="text" (input)="
                            statistics.filter(
                            $event.target.value,
                            col.valueField,
                            'custom'
                          )
                        " />
                        </div>
                        <div *ngIf="
                        col.filter.isFilter === true &&
                        col.filter.type === 'contains'
                      ">
                            <input class="w-100-p" pTooltip="Will filter metric names which contains given text." *ngSwitchCase="col.label" pInputText type="text" (input)="
                            statistics.filter(
                            $event.target.value,
                            col.valueField,
                            'contains'
                          )
                        " />
                        </div>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" class="{{ col.classes }}">
                    {{ row[col.valueField] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
