app-health-check-monitor {
    .health-check-container {
        p-toolbar {
            .toolbar-buttons {
                .setting-icon {
                    color: #fff;
                    font-size: 24px;
                }
                .test-button {
                    margin: 0px 8px;
                    background-color: #1a69af;
                    border: 2px solid #1a69af;
                }
                .test-button:hover {
                    border-color: #1a69af;
                }
            }
        }
        .content-body {
            height: calc(100vh - 90px);
            overflow: auto;
            padding: 20px;
            background-color: #fff;
            .status-section {
                .status-card {
                    border: 1px solid #53b771;
                    border-radius: 3px;
                    padding: 12px;
                    .title {
                        font-weight: 600;
                        font-size: 14px;
                        padding: 5px 0px;
                    }
                }
            }
            .form-section {
                .input-label {
                    padding: 0.5em 0em;
                }
                .form-checkbox {
                    .checkbox-label {
                        padding: 10px;
                    }
                }
            }
            .action-container {
                .title {
                    font-weight: 600;
                }
                .action-icon {
                    float: left;
                    font-size: 16px;
                    .red-fg {
                        color: red;
                        padding: 5px;
                    }
                }
                .edit-action {
                    i {
                        font-size: 16px;
                        padding: 3px;
                    }
                }
                .columnwidth {
                    width: 70px;
                }
            }
        }
        .confirm-dialog {
            .ui-dialog {
                .ui-corner-top {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .ui-dialog-content {
                    font-size: 14px;
                }
                .ui-dialog-footer {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}

.buttonCont {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    width: 100%;
}
.viewportHeight {
    height: calc(100vh - 100px);
    overflow: auto;
}
.required-mark::after {
    content: "*";
    color: red;
}
:host >>> .ui-tabview .ui-tabview-panels {
    float: left !important;
    width: 100%;
    margin-bottom: 10px;
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-indicator:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}

.content-body {
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: #f3f6fb9c;
    padding: 16px;
    input {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #1d5290;
        padding: 0.15em;
        width: 90%;
    }
}

.tierServerBlock {
    background-color: rgb(245, 243, 243);
    border: 1px solid #c8c8c8;
}

.serverHealthDiv {
    padding-bottom: 10px;
}

.required-mark::after {
    content: "*";
    color: red;
}
