app-support-services {
  .support-services-container {
    .ui-card{
      height: calc(100vh - 180px);
      overflow-y: auto;
    }
    .sidepanel-header{
      i{
        font-size: 1.5em;
        color: #1d5290;
        margin: 5px;
      }
    }
    .vertical-tabs-menu {
      .ui-tabmenu {
        .ui-tabmenu-nav {
          display: block;
          padding: 0;
          border-bottom: none;

          .ui-tabmenuitem {
            margin-bottom: 5px;
            padding: 0;
            border-bottom: none;

            .ui-menuitem-link {
              color: #333333;
              background-color: #f4f8fb;
              text-align: left;
              padding: 0.75em 1em;
              box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
            

              .ui-menuitem-text {
                color: #333333;
              }
              .ui-menuitem-icon {
                color: #1d5290;
                font-size: 2em;
              }
            }
          }

          .ui-tabmenuitem.ui-state-active {
            border: none;

            .ui-menuitem-link {
              background-color: #53b7714f;
              border: 1px solid #53b771;
              border-left: 7px solid #53b771;
              color: #333333;

              .ui-menuitem-text {
                color: #333333;
              }
            }
          }
          .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover
            .ui-menuitem-link {
            background-color: #c9efd4;
          }
          .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover
            .ui-menuitem-link
            .ui-menuitem-text {
            color: #333333;
          }
          .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover
            .ui-menuitem-link
            .ui-menuitem-icon {
            color: #333333;
          }
        }
      }     
    }
    .border-right {
        border-right: 1px solid #cccccc;
    }
    p-panel {
        width: 100%;
  
        .ui-table-globalfilter-container {
          .global-search {
            position: absolute;
            top: -55px;
            left: 53px;
            width: 250px;
            padding: 0.429em 0.429em 0.429em 2em;
          }
  
          i {
            position: absolute;
            top: -49px;
            left: 58px;
            z-index: 99;
            font-size: 1.5em;
          }
        }
  
        .action-container {
          .input-field-search {
            padding: 0.429em 0.429em 0.429em 2em;
            width: 200px;
          }
          .search-div-css {
            position: relative;
            width: 80%;
  
            i {
              font-size: 1.5em;
              position: absolute;
              color: #1d5290;
              top: 5px;
              left: 5px;
            }
          }
  
          .ui-multiselect {
            border: none;
            // padding: 12px;
            background: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label {
              display: none;
            }
            .ui-multiselect-trigger {
              margin-top: 1px;
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                font-size: 1.5em;
              }
            }
          }
  
          .icons-container {
            display: inline-flex;
          }
  
          .ip-alert-group {
            // padding-right: 17px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
  
        .column-icon {
          font-size: 1.5em;
          color: #1d5290;
          margin: 0 10px;
        }
  
        .ui-table {
          .columnwidth {
            width: 40px;
          }
  
          .action-olumnwidth {
            width: 180px;
          }
  
          .switch-column {
            width: 60px;
          }
  
  
          .icons8 {
            color: #1d5290;
          }
        }
  
        .mh-10 {
          margin: 0 10px;
        }
  
        .ui-button {
          margin: 0 10px;
        }
  
        .customInput {
          width: 100%;
  
          .ui-dropdown {
            min-width: 100%;
          }
        }
        .ui-inputgroup {
          margin: 0 5px;
          .custom-input-group {
            width: 70px;
          }
        }
    }
  }
}
