.configuration-container{
  .customInput {
    .ui-multiselect {
      width: 100%;
      border: none;
      border-bottom: 1px solid #1d5290;
    }
    .ui-dropdown {
      width: 100%;
      border: none;
      border-bottom: 1px solid #1d5290;
    }
    .ui-corner-all {
      border-radius: none;
    }
  }
.absolute{right: 0px; top: 0px;}
  .queryInput {
    width: 100%;
  }
}