app-others {
    .others-container {
      p-card {
        width: 100%;
  
        .mh-10 {
          margin: 0 10px;
        }  

        .customDropdown {
            .ui-dropdown {
              border: none;
              border-bottom: 1px solid #1d5290;          
            }
            .ui-corner-all{
                border-radius: none;
            }
        }
      }
    }
  }
  