.ddr-side-view-div{    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 16px;
    border: solid 1px #ccc;
    border-left: none;
    padding-right: 8px;
    margin-bottom: 3px;}
.childflex{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
	line-height: 24px;
}

.width33{width: 33%; display: inline-flex; align-items: center;}


.sideLine{    position: absolute;
    width: 6px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99}


.column{
	justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fa-c:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
	content: 'C';
	margin-left:8px
}

.fa-j:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
	content: 'J';
	margin-left:8px
}

.ddr-split-view {
	padding: 2px;
	font-weight: 500;
	/* float: right; */
	/* margin:-14px 0; */
}

.ddr-split-view .left-margin img {
	margin: 0 5px;
}

.label {
	width: 60px;
    font-weight: 600;
    /* text-align: right; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.circleText{
	display:inline-flex;
	width:14px;
	height:14px;
	background-color:var(--danger);
	color:var(--white);
	font-weight:500;justify-content:center;align-items:center;
	border-radius:50%}
	
.circleTextBlue{
	display:inline-flex;
	width:14px;
	height:14px;
	background-color:var(--darkBlue );
	color:var(--white);
	font-weight:500;justify-content:center;align-items:center;
	border-radius:50%}

	.side-view-div {
		
		border-bottom: 1px solid #666;
	}

	.ddr-active-flowpath{
		background-color: #c9efd4;
	}
.scrollSideView{overflow: auto; height: calc(100vh - 110px);}
