app-profile-maker {
    .profile-maker-container {
      height: calc(100vh - 155px);
      overflow: auto;
      p-card {
        width: 100%;
  
        .mh-10 {
          margin: 0 10px;
        }  

        .padding {
          .ui-button.ui-button-text-only .ui-button-text {
            padding: 0.529em 1em;
          }
        }

        .customDropdown {
            .ui-dropdown {
              border: none;
              border-bottom: 1px solid #1d5290;          
            }
            .ui-corner-all{
                border-radius: none;
            }
        }

        .ui-button-text-icon-left .ui-button-icon-left {
          font-size: 1.5em;
        }

        .ui-fileupload .ui-fileupload-buttonbar .ui-button {
          margin-top: -5px;
          margin-left: -10px;
        }

        .ui-fileupload .ui-fileupload-buttonbar {
          justify-content: start;
        }

        .icons-container {
          display: flex;
          i {
              font-size: 1.5em;
          }
          .add-template{margin-left: 5px;}
          .icon-button.ui-button.no-shadow {
              width: 1.5em;
          }
          .btn-margin {
              margin-left: 1em;
          }
      }
      .view-files {
        padding: 0 10px;
        border: 1px solid #b5b5b5;
        height: 350px;
      }
      .div-text {
        padding: 10px;
        font-size: 13px;
      }
      .ui-tree .ui-tree-container {
        height: 350px;
        width: calc(100vw - 100px);
        overflow: auto;
      }
    }
  }
}
  