<div class="solar-pref-node">
      <!-- <div class="solar-pref-type">
        {{ obj.nodeName }}
      </div> -->
      <svg id="source" height="120" width="120">

            <!-- Business Health Circle -->
            <circle class="stroke-normal" cy="55" cx="55" r="50"></circle>
            <circle class="stroke-major" cy="55" cx="55" r="50" stroke-dasharray="176"
                  [style.strokeDashoffset]="obj.businessHealthMajorCircum"></circle>
            <circle class="stroke-critical" cy="55" cx="55" r="50" stroke-dasharray="176"
                  [style.strokeDashoffset]="obj.businessHealthCriticalCircum"></circle>


            <!-- Server Health Circle -->
            <!-- <circle class="stroke-normal" cy="55" cx="55" r="40"></circle>
        <circle class="stroke-major" cy="55" cx="55" r="40" stroke-dasharray="176" [style.strokeDashoffset]="obj.serverHealthMajorCircum"></circle>
        <circle class="stroke-critical" cy="55" cx="55" r="40" stroke-dasharray="176" [style.strokeDashoffset]="obj.serverHealthCriticalCircum"></circle> -->

            <g>
                  <text x="48%" y="22%" text-anchor="middle">
                        {{ obj.nodeName }}
                  </text>
            </g>


            <image x="29%" y="25%" xlink:href="./assets/icons8-png/icons8-word-100.png"
                  dominant-baseline="central" height="15px" width="15px">
                  <!-- <title>
                        TPS = {{obj.tps}}
                  </title> -->
            </image>

            <g><text x="60%" y="35%" text-anchor="middle">
                        {{obj.docs}}
                        <!-- <title>
                              TPS = {{obj.tps}}
                        </title> -->
                  </text></g>

            <image x="29%" y="42%" xlink:href="./assets/icons8-png/icons8-bar-chart-100.png" dominant-baseline="central"
                  height="15px" width="15px">
                  <!-- <title>
                        Average Response Time (ms) = {{obj.avgResTime}}
                  </title> -->
            </image>

            <text x="60%" y="52%" text-anchor="middle">
                  {{obj.networks}}
                  <!-- <title>
                        Average Response Time (ms) = {{obj.avgResTime}}
                  </title> -->
            </text>

            <image x="29%" y="60%" xlink:href="./assets/icons8-png/icons8-combo-chart-100.png"
                  dominant-baseline="central" height="15px" width="15px">
                  <!-- <title>
                        CPU Utilization: {{obj.cpuUtilization}}%
                  </title> -->
            </image>

            <text x="60%" y="70%" text-anchor="middle">
                  {{obj.calls}}
                  <!-- <title>
                        CPU Utilization: {{obj.cpuUtilization}}%
                  </title> -->
            </text>
      </svg>
</div>