app-geolocation {
  .geo-location-wrapper {
    .action-container {
      margin-bottom: 5px;
      .inputDropdown {
       // height: calc(1.75em + 0.5rem + 2px);
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        line-height: 0.5;
        display: inline-flex;
      }
    }
    .loader-container {
      .pi-spinner.pi {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span {
        font-size: 24px;
        vertical-align: middle;
      }
    }
    .clock {
      display: inline-block;
      color: #fff;
      padding: 0px 10px;
      cursor: pointer;
    }
    // .breadcrumbs {
    //     background-color: #fff;
    //     padding: 8px;
    // }
    .action-grid {
      background-color: #ffffff;
      border-bottom: 1px solid #ccc;
      padding: 0px;
      margin-top: -5px;
      margin-bottom: -12px;
      height: 34pt;
      .ui-button {
        margin: 0px 10px;
        width: 72pt;
        span.ui-button-text.ui-clickable {
          font-size: 11px;
          padding: .3em;
        }
      }
      .ui-dropdown-trigger-icon {
        font-size: 1.25em;
      }
    }

    .labels {
      margin: 0px 10px;
    }
    .search-icon-css {
      color: #1d5290;
      font-size: 17px;
      cursor: pointer;
    }
    .search-border-bottom {
      border-bottom: 1px solid #d1d1d2;
      .search-css {
        margin: 6px;
        font-size: 16px;
        color: #d1d1d2;
      }
      .input-search {
        border: none;
        background-color: transparent;
      }
    }
    .ui-dropdown {
      min-width: 150px;
    }
    .search-div-css {
      padding: 6px;
      color: #928d8d;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-left: 10px;
      border-bottom: 1px solid #d1d1d2;
      background-color: transparent;
      .input-field-border-none {
        border: none;
        background-color: transparent;
      }
    }
    .p-10 {
      padding: 10px;
    }

    .graph-container {
      .p-col-9 {
        width: 71%;
        height: 100%;
      }
      .p-col-3 {
        width: 29%;
      }
      .app-statistics-container {
        .ui-card {
          .ui-card-header {
            .stat-card-header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .stat-title {
                font-size: 14px;
                font-weight: 600;
                margin-left: 4px;
              }
              .stat-action-buttons {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .ui-button.ui-icon-button {
                  color: #1d5290;
                  &:hover {
                    color: #1d5290;
                  }
                }
                .ui-multiselect {
                  border: none;
                  padding: 12px;
                  background: transparent;
                  .ui-helper-hidden-accessible {
                    display: none;
                  }
                  .ui-multiselect-label-container {
                    display: none;
                  }
                  .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                      font-size: 1.5em;
                    }
                  }
                }
              }
            }
          }
          .ui-card-body {
            .ui-card-title {
              font-size: 16px;
              font-weight: 600;
            }

            .business-health-chart {
              .chart-container {
                border: none;
                .chart-header {
                  border-bottom: none;
                  background: #ccc;
                  text-align: left;
                }
              }
              .highcharts-legend-item {
                background-color: #F4F8FB;
              }
              .highcharts-color-3 rect {
                stroke-width: 2;
              }
              .highcharts-legend-checkbox {
                left: 2px !important;
                margin: 5px 0;
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.store-overlay {
  .view-store-button {
    cursor: pointer;
    border-radius: 15px;
    margin: 0;
    color: #ffffff;
    background-color: #53b771;
    border: 2px solid #53b771;
    font-size: 9px;
    padding: 5px 15px;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-weight: 600;
    &:hover {
      color: #ffffff;
    }
  }
}

th.text-left.ui-sortable-column.ui-resizable-column.ng-star-inserted {
  font-size: 11px;
}
.p-col-12.app-stats {
  border: 1px solid #dbdbdb;
}
.highcharts-credits tspan {
    display: none;
}
.graph-container .highcharts-label text {
    fill: #7d6a6a !important;
    text-decoration: none !important;
}

/* Legend hover affects points and series */
.highcharts-markers {
  opacity:1;
}

/*for Last bug 106447*/
body .time-filter .p-field .ui-button-secondary .ui-text {
width: auto !important;
}

/*for Last bug 106448*/
body.theme-2 .ui-dropdown .ui-dropdown-label-container .ui-dropdown-label{
line-height: normal !important;
}
.store-progressbar{
  position: absolute;
  top: 46%;
  z-index: 1;
  left: 37%;
  height: 12%;
  width: 22%;
  background: rgba(255,255,255,0.9);
}
.loading-label{
  position:absolute;
  font-size: 12px;
  font-weight: 500;
  bottom:12%;
  left:45%
}
.list-ul {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
  }
  .list-ul>li {
  list-style: none;
  display: flex;
  align-items: center;
 // margin: 5px 0px;
  }
  .list-ul>li>i.critical {
  color: #F04943;
  font-size: 20px;
  }
  .list-ul>li>i.major{
  color: #fc7e28;
  font-size: 20px;
  }
  .list-ul>li>i.normal{
  color: #07b40c;
  font-size: 20px;
  }
  .list-ul>li>i.inactive{
  color: #91959c;
  font-size: 20px;
  }
  .box {
    //border: 2px solid rgb(175, 175, 175);
    background: #f4f8fb;
    width: 30%;
    border: 10px solid white;
  }
  .title{
  height: 25px;
  width: 104%;
  background: #ccc;
  font-weight: 600;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 7px;
  }