app-access-control {
    .access-control-container {
        background-color: #fff;
        .content-body {
            .content-card {
                border: 1px solid #cecece;
                .content-header {
                    border: none;
                    padding: 10px;
                    background-color: #c9efd4;
                    color: #333333;
                    border-radius: 3px;
                    font-weight: 600;
                }
                .content-list {
                    padding: 5px;
                    border: none;
                    background-color: #fff;
                    color: #333333;
                    border-top: 0 none;
                    border-radius: 3px;
                }
            }
        }
    }
}