app-business-health {
    .events-container {
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        .min-pad {
            .ui-card {
                box-shadow: none;
            }
        }
        .ui-inputgroup {
            .ui-inputtext {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        .filter-group {
            display: flex;
            align-items: center;
            .ui-inputgroup {
                width: 100%;
            }
        }
        .filter-search-icon {
            font-size: 1.50em;
            color: #1d5290;
            margin-left: 5px;
            cursor: pointer;
        }
        .filter-button-group {
            display: flex;
            align-items: center;
            .filter-buttons {
                cursor: pointer;
                padding: 0.529em 1.5em;
                margin: 0 5px;
                border: 2px solid;
                border-radius: 15px;
                color: #1d5290;
            }
        }
        .alert-group {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .ui-multiselect {
                border: none;
                padding: 17px;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label-container {
                    display: none;
                }
                .ui-multiselect-trigger {
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
        }
        .empty-table-message {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #cecece;
            font-size: 20px;
            height: calc(100vh - 42vh);
        }
        .actions-container {
            background-color: #fff;
            border-bottom: 1px solid #cecece;
        }
        .bh-table {
            padding: 0px;
            margin-top: 20px;
            .ui-table-scrollable-body,
            .ui-table-scrollable-header {
                padding: 0px 25px;
            }
            .ui-card {
                background-color: #f7f7f7 !important;
                border: none !important;
            }
            body.theme-1 .ui-table .ui-table-tbody>tr:first-child {
                border-top: none;
            }
            .ui-paginator {
                border-bottom: 1px solid #c8c8c8;
                border-left: 1px solid #cecece;
                border-right: 1px solid #cecece;
                padding: 5px 10px;
                margin: 0px 32px 0px 25px;
                box-shadow: none;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
            .ui-paginator .ui-paginator-current {
                margin-bottom: 5px !important;
            }
            .ui-table-thead,
            .ui-table-tbody {
                border: 1px solid #cecece;
                border-bottom: none;
                background-color: white;
            }
            .row-action-btn {
                position: absolute;
                right: 10px;
                background-color: #56ab5f;
                color: #fff;
                margin-top: -12px;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                &:enabled:hover {
                    background-color: #56ab5f;
                    color: #fff;
                }
            }
            .drill-button {
                cursor: pointer;
                float: right;
                font-size: 1.5em;
            }
            .drill-button:enabled:hover {
                background: none;
            }
            .legend-group {
                display: inline-block;
                margin: 5px 0;
                .paginator-legend {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }
    }
}