app-business-application-view {
  .business-application-view-container {
    .ui-card {
      height: calc(100% - 81px);
    }
    .content {
      .title {
        color: #1d5290;
        font-size: 17px;
        font-weight: 700;
        margin: 6px;
      }
      .loaded-data {
        border: 1px solid;
        width: 13%;
        border-radius: 10px;
        font-size: 13px;
        .heading {
          background: transparent;
          color: rgb(0, 0, 0);
          text-align: center;
          padding: 8px;
          border-bottom: 1px solid #e2e0e0;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          font-weight: 700;

          .icons8-ok {
            color: #1d5290;
            font-size: 1.5em;
          }
          .icons8-info {
            color: red;
            font-size: 1.5em;
          }
        }
        .description {
          color: #1d5290;
          padding: 10px;
          text-align: center;
          font-size: 13px;
          .p-h-10 {
            padding: 0 10px;
          }
          .mt-10 {
            margin-top: 10px;
          }
          .ml {
            margin-left: -10px;
          }
        }
      }
    }
    .view-dashboard-btn {
      color: #5cb771;
      border: 2px solid #5cb771;
      padding: 0em 2em;
      border-radius: 15px;
      background-color: #ffffff;
      margin: 0;
      font-size: 13px;
      transition: background-color 0.2s, box-shadow 0.2s;
      display: inline-block;
      position: relative;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      overflow: visible;
    }
    .view-dashboard-btn:hover {
      color: #5cb771;
      border: 2px solid #5cb771;
      padding: 0em 2em;
      text-decoration: none;
    }
    .view-dashboard-btn.ui-button.ui-button-text-only .ui-button-text {
      padding: 0.529em 2em;
      color: #5cb771;
    }
  }
}
