app-end-to-end-new-group {
    .secondary-dialog {
        .ui-dialog {
            .ui-dialog-content {
                border-bottom: none;
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
            }
        }
    }
    .group-container {
        .label-css {
            line-height: 30px;
            font-weight: 600;
            color: #000000;
        }
        .ui-pick-list-text {
            font-size: 14px;
            float: left;
            padding: 0px;
        }
        .ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
            width: 100%;
            background-color: #53b771;
            border: 2px solid #53b771;
            margin-bottom: 10px;
            color: #ffffff;
            &:not(.ui-state-highlight) {
                &:hover {
                    background-color: #53b771;
                    border: 2px solid #53b771;
                    color: #ffffff
                }
            }
        }
        .ui-dropdown .ui-dropdown-trigger {
            margin-right: 8px;
            background-color: transparent;
        }
        .button-row-position {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 10px;
            button {
                margin: 5px;
            }
        }
        .button-right-margin {
            i {
                margin-top: 7px;
                margin-left: 15px;
            }
            span {
                margin-right: -20px;
            }
        }
    }
}