app-custom-template-dialog {
  .content-body {
    .footer-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        margin: 0 10px;
      }
    }
  }
  #centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}
}
