// component css goes here
.blockedUI {
    background: rgba(9, 9, 9, 0.52);
    cursor: none;
    z-index: 99999;
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0px;
}

.loadingIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    margin-top: 20%;
}
// ddr side bar css goes here

.sidebarUI-container {
    width: auto;
  }

.sidebarUI-sidenav {
  margin-left: 3px;
  margin-top : 7px ;
  margin-right : 4px ;
  min-height: 85vh;
  padding: 2px ;
  border-radius:4px;
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  height: 98%;
  width: 300px;
  }

  .sidenav{
    margin-top: -23px;
    margin-left: 7px;
    color: #154771;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    display: inline-block;
  }
