<p-dialog header="Configure an Index Pattern" [(visible)]="showConfigureIndexPatternModel" class="secondary-dialog"
  [style]="{width: '50vw'}" [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
  closeIcon="icons8-delete">
  <div class="p-align-start p-justify-between">

    <div class="p-col-12">
      <div class="abc p-field-checkbox">
        <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
        <label for="ny" class="text-label">index contains time-based events</label>
      </div>
      <div class="abc p-field-checkbox">
        <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCities" inputId="sf"></p-checkbox>
        <label for="sf" class="text-label">Use event time to create index names [Deprecated]</label>
      </div>
      <div class="kt p-field-checkbox">

        <label for="sf" class="label1">Pattern allows you to define dynamic index name using* as a
          wildcard.Example:nbagent-*</label>
        <div class="hjk p-field-checkbox">

          <label for="sf" class="label1">Enter index name.Ex-nfagent </label>
        </div>
        <div class="jk p-field-checkbox">

          <label for="sf" class="label1">Index name or pattern</label>
        </div>
        <div class="cd p-field-checkbox">

          <label for="sf" class="label1">Index name or pattern</label>
        </div>
      </div>
    </div>




    <div class="p-col-12 form-buttons">

      <button pButton type="button" class="ui-button ui-button-rounded ui-button-secondary"
        label="Invalid index name pattern" (click)="close()">
      </button>
    </div>

  </div>

</p-dialog>