app-funnel {
  .funnel-container {
    height: calc(100vh - 145px);
    
    .page-details {
      // height: calc(100% - 88px);
      //overflow: auto;
      .revenue-title {
        font-size: 15px;
        color: #1d5290;
        font-weight: 600;
        padding: 15px 5px;
      }
      .table-section {
        padding: 10px 0px;
      }
    }
    .p-0 {
      padding: 0;
    }
    p-card{
    width: 100%;
    .ui-card{
      height: calc(100vh - 150px);
      overflow-y: scroll;
    }
    }
    .add-compare{
      i{
        font-size: 6em;
        margin-top: 27%;
      }
    }
  }
}
