#stack_text
{
    height: auto;
    max-height: 170px;
    overflow: auto;
    overflow-y: none;
    background: white;
    border: 1px #DEDEDE solid;
    padding: 5px;
}
.ddr-custom-div {
    text-align:left;
    box-sizing:border-box;
    padding:.5em .75em;
    }
.ddr-custom-tab {
    text-align:center;
    margin-top:100px;
    min-height: 400px;
}
