app-search{
    .page-container{
        .content-body{
            // padding: 10px 10px;
        }
        .search{
            width: 100%;
        }
        .icon-button{
            width: 25px;
        }
    
        .column-width{
            width: 75px;
        }
        .content .ui-card{
            // margin: 0px 20px;
        }
        .ui-paginator .ui-paginator-current{float: left;}
        
        i.icons8.icons8-search {
            position: absolute;
            padding-left: 8px;
        }
        input.input-field-search.ui-inputtext {
            padding-left: 25px;
        }
        .icons-container {
            display: flex;
            flex-direction: row-reverse;
          }
          .ui-multiselect {
            border: none;
            padding: 18px 15px;
            background: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label {
              display: none;
            }
            .ui-multiselect-trigger {
              margin-top: 1px;
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                font-size: 1.5em;
              }
            }
           
          }
    }
    
}


