app-add-note {
  .add-note-container {
    .ui-dialog {
      .ui-dialog-titlebar {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .dialog-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .action-buttons {
            color: #1d2590;
            cursor: pointer;
          }
        }
      }
      .ui-dialog-footer {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
