.fix-button{
    // position: sticky;
    // bottom: 8.5%;
    padding: 15px 0px;
}
.adv-check{
    padding: 10px 0;
}
.advance-dropdown{
    padding: 10px 0;
}
.adv-input{
    padding: 5px 0;
}
.adv-radio{
    padding: 10px 0;
}
.operator-group{
    align-items: baseline;
}