<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Serial</th>
        <th>Format</th>
        <th>Input</th>
        <th>Output</th>
        <th>Generated Output</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let test1 of tests1">
        <td>{{ test1.serial }}</td>
        <td>{{ test1.format }}</td>
        <td>{{ test1.input }}</td>
        <td>{{ test1.output }}</td>
        <td>{{ test1.generatedOutput}}</td>
        <td>{{ test1.output == test1.generatedOutput ? true : false }}</td>
      </tr>
    </tbody>
  </table>
</div>