<div class="h-100-vh page-container ip-management-page">
    <div class="header">
        <app-header></app-header>
    </div>
    <p-toolbar class="ui-secondary-toolbar">
        <div class="p-grid p-justify-between p-align-center pl-5 pr-5">
            <a routerLink="/advanced">
                <i class="icons8 icons8-left toolbar-icon-color"></i>
            </a>
            <div class="p-col ui-toolbar-text">
                IP Management
            </div>           
        </div>

    </p-toolbar>
    <div class="content-body mh-10">
        <div>
            <p-tabMenu [model]="items"></p-tabMenu>
            <div class="content-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
