.divCl {
    font-size: 1.3em;
    margin-left: 15em;
}

.divCl2 {
    font-size: 1.3em;
    margin-left: 22em;
}
.store-map-setting{
    cursor: pointer;
}
.storeDCsClass{
    color: red;
}
.store-progressbar{
    position: absolute;
    top: 46%;
    z-index: 1;
    left: 37%;
    height: 12%;
    width: 22%;
    background: rgba(255,255,255,0.9);
}
.loading-label{
    position:absolute;
    font-size: 12px;
    font-weight: 500;
    bottom:12%;
    left:45%
}


.d-flex-between{box-sizing: border-box;display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 5px; background-color: #c1d1e8;}
.d-flex{display: flex; justify-content: flex-start;}
.d-flex app-exec-dashboard-graph-time{margin: 0px 5px;}
:host>>> .ui-widget{font-family: 'Poppins', sans-serif;}
