app-events {
  .events-container {
    .loader-container {
      .pi-spinner.pi {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span {
        font-size: 24px;
        vertical-align: middle;
      }
    }

    .min-pad {
      .ui-card {
        box-shadow: none;
      }
    }

    .ui-inputgroup {
      .ui-inputtext {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    .filter-group {
      display: flex;
      align-items: center;

      .ui-inputgroup {
        width: 100%;
      }
    }

    .filter-button-group {
      display: flex;
      align-items: center;

      .filter-buttons {
        cursor: pointer;
        padding: 0.529em 1.5em;
        margin: 0 5px;
        border: 2px solid;
        border-radius: 15px;
        color: #1d5290;
      }
    }

    .alert-group {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .ui-multiselect {
        border: none;
        padding: 12px;
        .ui-helper-hidden-accessible {
          display: none;
        }
        .ui-multiselect-label-container {
          display: none;
        }
        .ui-multiselect-trigger {
          background-color: transparent;
          .ui-multiselect-trigger-icon {
            font-size: 1.5em;
          }
        }
      }
    }

    .empty-table-message {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #cecece;
      font-size: 20px;
      height: calc(100vh - 42vh);
    }

    .event-table {
      .drill-button {
        cursor: pointer;
        float: right;
        font-size: 1.5em;
      }
      .drill-button:enabled:hover {
        background: none;
      }

      .blinking {
        -webkit-animation: 1.25s blink ease infinite;
        -moz-animation: 1.5s blink ease infinite;
        -ms-animation: 1.25s blink ease infinite;
        -o-animation: 1.25s blink ease infinite;
        animation: 1.25s blink ease infinite;
      }

      @keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-moz-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-webkit-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-ms-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }

      @-o-keyframes blink {
        from,
        to {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
      // .ui-table .ui-table-thead > tr:first-of-type > th:first-child{
      //   padding: 0;
      // }
      // .ui-paginator-current {
      //   float: left;
      // }

      // @function rowColor($alpha, $color) {
      //   @return rgba(red($color), green($color), blue($color), $alpha);
      // }

      // .bgColor {
      //   background-color: rowColor(0.14, #ff8484);
      // }

      .legend-group {
        display: inline-block;
        margin: 5px 0;
        .paginator-legend {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
}

.work-in-progress {
  .box {
    background-color: #fff;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    height: 100%;
    font-size: 16px;
    border: 1px solid #cecece;
    height: 100vh;

    .img-svg {
      padding: 5%;
    }
  }
}
