app-dashboard-layout-gallery {
  .selected-widget-container {
    padding: 10px;
    height: calc(100vh - 300px);
    .widget-container {
      border-radius: 5px;
      box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.2);
    }
  }

  .ui-carousel-items-container {
    .ui-carousel-item {
      padding: 0 10px;
      background: none;
      overflow: visible;
      height: 180px;

      .item-title {
        text-align: center;
      }

      .item-content {
        .widget-thumbnail {
          border-radius: 5px;
          margin: 10px auto;
          background: #fff;
          width: 180px;
          height: 128px;
          box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.2);
        }
        img {
          width: 100%;
        }
      }

      .selected {
        .widget-thumbnail {
          box-shadow: 0 0 9px -4px rgba(22, 151, 249, 0.899);
        }
      }
    }
  }
  .ui-carousel-dots-container{
    display: none;
  }
}
