app-ux {
    .ux-container {
        .tab-content {
            .ui-tree {
                .ui-treenode-label {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .search-div-css {
                position: relative;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    left: -15px;
                    line-height: 32px;
                }
                .input-field-search {
                    width: 90%;
                    margin: 0px 5%;
                }
            }
            .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
                display: none;
            }
            .ui-tree {
                width: 100%;
                padding-top: 10px;
            }
            .general-tab {
                position: relative;
                padding: 0px;
                .general-tree-structure {
                    height: calc(100vh - 230px);
                    overflow: scroll;
                    .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-icon {
                        vertical-align: middle;
                        display: inline-block;
                        margin: 0 0.143em 0 0;
                        color: #8b8c8d;
                        padding: 5px 0;
                        font-size: 23px;
                    }
                }
            }
            .footer {
                padding: 1em 2em;
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .custom-tab {
                position: relative;
                padding: 0px;
                .general-tree-structure {
                    height: calc(100vh - 230px);
                    overflow: scroll;
                    .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-icon {
                        vertical-align: middle;
                        display: inline-block;
                        margin: 0 0.143em 0 0;
                        color: #8b8c8d;
                        padding: 5px 0;
                        font-size: 23px;
                    }
                }
                .button-position {
                    position: fixed;
                    bottom: 10px;
                }
            }
            .special-tab {
                .mr-5 {
                    margin-right: 5px;
                }
                .accordion-height-css {
                    height: calc(100vh - 280px);
                    overflow: scroll;
                    .ui-accordion .ui-accordion-toggle-icon {
                        vertical-align: middle;
                        float: right;
                    }
                    .ui-accordion .ui-accordion-header-text {
                        vertical-align: middle;
                        padding-left: 20px;
                    }
                    .line-height {
                        line-height: 30px;
                    }
                    .button-position {
                        position: fixed;
                        bottom: 0px;
                        margin-top: 5px;
                    }

                    .p-bottom {
                        padding-bottom: 0;
                    }
                    .p-top {
                        padding-top: 0;
                    }
                    .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a,
                    .ui-accordion .ui-accordion-content,
                    .ui-accordion .ui-accordion-header a {
                        border-bottom: none;
                    }
                    .ui-accordion .ui-accordion-header {
                        margin-bottom: 0;
                    }
                    .ui-dropdown {
                        min-width: 160px;
                        width: 160px;
                    }
                }
            }
            .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
                background-color: #53b771;
            }
        }
        .page-report-container {
            .span-report-css {
                margin: 10px 0px !important;
                line-height: 30px;
            }

            .line-height {
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                i.icons8-calendar {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    left: 0px;
                    top: 5px;
                    z-index: 99;
                }
            }
            .customInput {
                width: 13vw;
                padding-left: 23px;
            }
        }
    }
}
