.content-body {
    height: calc(100vh - 85px);
    overflow: auto;

    
}
.help-text{position: absolute;font-size: 90%;
    margin: 3px 0px;}

    .loading-indicator {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        }

        .required-mark::after {content: "*"; color:red;}