.helpHeader{display:flex;align-items:center;width:500 px;justify-content:space-between;height:38px;font-size:14px;background-color:#25a75d;color:#fff;margin:0;padding:0 20px}
.helpBody{height:calc(100vh - 90px);overflow:auto;color:#333}
.help-gray-bg{background-color:#f9f9f9}
.seaarchInputs{position:relative;display:block;padding:15px 20px;background-color:#f9f9f9}
.searchBox{width:100%;border:none;height:30px;box-shadow:0 0 5px #ccc;padding:6px 10px 6px 26px}
.seaarchInputs>.searchIc{position:absolute;color:#999;left:27px;top:22px}
.helpSearch{position:absolute;background-color:#fff;z-index:999;left:20px;right:20px;box-shadow:0 0 3px #ccc;top:35px;display:block;padding:6px;max-height:250px;overflow:auto}
.helpSearchShow{display:block}
.helpSearch>li>a{color:#1863c9;text-decoration:underline}
.helpSearch>li{color:red;font-size:12px;margin:.25em 0}
.helpLitbigbtn{background-color:#f9f9f9;list-style:none;margin:0;padding:0px 10px 15px 20px;display:flex;flex-wrap:wrap}
.helpLitbigbtn>li{display:inline-flex;align-items:center;justify-content:center;padding:15px 10px;background-color:#FFF;border-radius:10px;margin:1%;flex:1 1 31.333%;min-width:31.333%;max-width:31.333%;cursor:pointer;font-size:12px;font-weight:500;box-shadow:0 0 2px #ddd}
.helpHead{border-bottom:solid 1px #d2d2d2;padding-bottom:3px;display:flex;width:100%;align-items:center;justify-content:space-between;margin-top:15px;margin-bottom:10px}
.helpHead>.h2{font-weight:600;font-size:14px;margin:0}
.helpHead>.smbTne{font-weight:500;cursor:pointer;margin:0}
.subHead{font-size:14px;font-weight:600;border-bottom:solid 1px #d2d2d2;margin-top:15px!important;padding-bottom:3px;margin-bottom:10px!important}
.content_body{font-size:.75rem;padding:15px;line-height:22px}
.content_body p{line-height:22px!important}
.content_body strong{font-weight:600}
.newGuiTable{border-collapse:separate;border-spacing:0 3px}
.newGuiTable tr th,.newGuiTable tr td{padding:.5em!important;border:none;font-size:12px;background-color:#FFF;border-top:solid 1px #eee;text-align:left;border-bottom:solid 1px #eee}
.newGuiTable tr th{background-color:#bdd3f2}
.newGuiTable tr td:first-child{border-left:solid 5px #bdd3f2}
.newGuiTable tr td:last-child{border-right:solid 1px #eee}
.newGuiTable tr{border:solid 1px #eee;background-color:#FFF;border-radius:5px}
.newGuiTable tr th:first-child,.newGuiTable tr td:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px}
.newGuiTable tr th:last-child,.newGuiTable tr td:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px}