app-node-action-menu {
    .ui-icon-button.ui-button {
        padding: 0;
        font-size: 12px;
        float: right;
        .ui-button-text {
            padding: 0;
        }
    }
}

//need to be check
.ui-tieredmenu .ui-menuitem-active>.ui-submenu>.ui-submenu-list {
    left: -150px !important;
}