app-store-details {
  .wrapper {
    .loader-container {
        .pi-spinner.pi {
          font-size: 24px;
          vertical-align: middle;
          margin-right: 10px;
        }
        span {
          font-size: 24px;
          vertical-align: middle;
        }
      }
    .vertical-container {
      overflow-y: auto;
      height: calc(100vh - 130px);
      padding: 2em;
      p-card.content-card .ui-card {
        padding: 0px;
        border-radius: 5px;
        p-header {
          padding: 0.45em;
          background-color: #f7f7ff;
          border-radius: 5px;
          .store-name{
              font-weight: 600;
          }
        }
        .ui-card-body {
          padding: 0.75em;
          .table-body div {
            padding: 5px 0px;
          }
        }
      }
    }
  }
}
