app-projects {
    .channel-container {
        .btn-display {
            padding: 0px 20px 0px 20px;
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 1.25em;
        }
        .action-container {
            .input-field-search {
                width: 80%;
                padding: 5px;
                // margin-left:12px;
            }
            .channel-card {
                min-height: 500px;
            }
            input[type="text" i] {
                padding-left: 30px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                padding: 5px;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    left: 13px;
                    line-height: 32px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 18px 15px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icon-button.ui-button {
                margin: 0 2px;
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
            }
            .check {
                font-size: 1.5em;
            }
        }
        .ui-paginator .ui-paginator-current {
            float: left;
        }
        .columnwidth {
            width: 80px;
            // text-align: center;
        }
        .Project-edit-icon {
            cursor: pointer;
        }
        .addproject {
            display: flex;
            padding: 20px;
        }
        .customInput {
            border: none;
            border-bottom: 1px solid #1d5290;
            border-radius: 0;
            padding-left: 0px;
            background-color: #f7f7f7;
            margin-top: -9px;
            cursor: pointer;
        }
        .add-channel {
            margin-right: 10px;
            margin-top: -7px;
        }
        .global-search-block {
            width: 40%;
        }
        .column-filter {
            font-size: 1.5em !important
        }
    }
}