app-indices-select {
    .select-indices-container {
      .derived-metric-indices {
        .ui-dialog {
          transition: none;
          transform: none;
          width: 100vw !important;
          max-height: 100%;
          height: 100%;
          left: 0px !important;
          top: 0px !important;
  
          .ui-dialog-titlebar {
            border: none;
            background-color: #1d5290;
            color: #fff;
            .p-grid {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .derived-title {
                cursor: pointer;
                font-size: 15px;
              }
              .action-buttons {
                button {
                  padding: 0 5px;
                  margin: 0px 10px;
                }
              }
            }
          }
  
          .ui-dialog-content {
            height: 100%;
            overflow: hidden;
            .left-panel {
              .indices-operations {
                padding: 10px;
                background-color: #f7f7ff;
                border: 1px solid #cecece;
                height: 100%;
                border-radius: 3px;
                .ph-0 {
                  padding-left: 0;
                  padding-right: 0;
                }
                .test-button {
                  position: absolute;
                  bottom: 5%;
                  left: 9%;
                }
              }
            }
            .right-panel {
              .table-section {
                .ui-treetable {
                  position: relative;
                  border: 1px solid #cecece;
                  border-radius: 3px;
                  .ui-treetable-tbody > tr > td {
                    padding: 0.571em 0.857em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  