.page-container {
    p-toolbar.ui-secondary-toolbar .ui-toolbar {
        margin-bottom: 0px;
    }
    #dashboard-service-wrapper {
        .no-padding {
            padding: 0;
        }
        .p-grid {
            margin: 0;
        }
        .main-table {
            border-left: 1px solid #cecece;
            background: #fff;
        }
        .bread-crum {
            color: #1d5290;
            padding-left: 15px;
            background-color: #f7f7ff;
        }
        .openSearch {
            color: #1d5290;
            cursor: pointer;
            line-height: 27px;
        }
        .ui-inputgroup{
            margin: 10px 0;
        }
        .tab-content{
            background-color: #f7f7ff;
            min-height: calc(100vh - 160px);
        }
        .headerdetails {
            margin-left: 7px;
            line-height: 25px;
        }
        .clickable{
            line-height: 25px;
            margin-left: 10px
        }
        .filter-button-group {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            .filter-buttons {
                cursor: default;
                padding: 0.3em 1.5em;
                margin: 0 5px;
                border: 2px solid;
                border-radius: 15px;
                color: #1d5290;
            }
            .dashboard-details {
                line-height: 50px;
            }
            .icons8-delete {
                color: #1d5290;
                font-size: 16px;
                margin-left: 10px;
                margin-right: 10px;
            }
            .ui-table-scrollable-body {
                overflow-x: hidden;
            }
        }
    }
}
.tab-wrap .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{font-size: 10px;}