app-profile-name-details {
    .profile-details {
        .main-block {
            height: 70vh;
            overflow-y: scroll;
            border: 1px solid #ceceec;
            border-radius: 5px;
            background: #fff;
            padding: 10px 20px;
            p-card .ui-card {
                height: 40vh;
                padding: 0px;
                border: 1px solid #ceceec;
                margin: 0px;
                border-radius: 10px;
                .ui-card-header {
                    background-color: #ededed;
                    height: auto;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: 2px 15px;
                    display: flex;
                    border-bottom: 1px solid #ceceec;
                    p-header {
                        width: 100%;
                        padding: 0px;
                        .btn-right {
                            float: right;
                            i {
                                line-height: 30px;
                            }
                        }
                    }
                    .selected-label {
                        font-size: 1.2em;
                        font-weight: 600;
                        line-height: 30px;
                    }
                }
                .ui-card-body {
                    height: 100%;
                    padding: 10px;
                    .prof-name {
                        font-weight: 700;
                        margin-bottom: 5px;
                        i {
                            font-size: 15px;
                            color: #327aba;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .profile-icon {
                i {
                    float: right;
                    font-size: 30px;
                    color: #327aba;
                }
            }
        }
        .sub-block {
            margin: 0 auto;
        }
        .global-search-block {
            width: 25%;
            .input-field-search {
                width: 100%;
                padding-left: 25px;
            }
        }
        .search-div-css {
            position: relative;
            i {
                font-size: 1.5em;
                position: absolute;
                color: #1d5290;
                top: 7px;
                left: 5px;
            }
        }
        .icons-container {
            display: flex;
            flex-direction: row-reverse;
            i {
                font-size: 1.5em;
            }
            .ui-button.ui-button-secondary {
                margin-right: 10px;
            }
        }
    }
}