// .menu-items{list-style:none;margin:0;padding:0;position:absolute;z-index:99;right:5px;border-radius:4px;margin-top:2px;display:none}
// .menu-items>li{display:block;padding:8px;width:100%;float:left;cursor:pointer;transition:all 300ms ease-in}
// .menu-items>li:hover{background-color:rgba(153,153,153,.3)}
// .menu-items.show{display:block}
// .addon{position:absolute;right:5px;top:5px;z-index:55}
.innerWidth{width:500px;max-height:450px;overflow:auto}
.innerWidthForm{width:900px;max-height:450px;overflow:auto}
.errorMsg{color: red;}
// .forTdlookUp{text-overflow: ellipsis;cursor: pointer;display: inline-block; overflow: hidden; max-width: 100%; white-space: nowrap;}
// .textarea-gui{
//     cursor: auto;
// }