app-method-call-details {
    .method-call-details-container {
        .no-wrap{display: flex; align-items: center; flex-wrap: nowrap;}
        .method-call-details {
            background: #F7F7FF;
        }
        .loader-container {
            .pi-spinner.pi {
                font-size: 24px;
                vertical-align: middle;
                margin-right: 10px;
            }
            span {
                font-size: 24px;
                vertical-align: middle;
            }
        }
        a.activeLink,
        a.activeLink:hover {
          color: blue;
          cursor: pointer;
        }
        //aditya change
        .textElipse{overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; display:inline-block;
            width: 90%;}
        .ui-card {
            padding: 0;
        }
        .ui-paginator-current {
            float: left;
        }
        .widget-menu .ui-slidemenu-content {
            height: 110px;
        }
        .min-pad {
            .ui-card {
                box-shadow: none;
            }
        }
        .ui-inputgroup {
            .ui-inputtext {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
        .form-buttons {
            float: right;
            display: flex;
            flex-direction: row-reverse;
            button {
                margin-left: 10px;
            }
        }
        .alert-group {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #1d5290;
            .ui-multiselect {
                border: none;
                padding: 17px;
                background-color: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label-container {
                    display: none;
                }
                .ui-multiselect-trigger {
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
        }
        .upper-section {
            padding: 15px 0 5px;
        }
        .method-row-details {
            margin-bottom: 15px;
        }
        .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
            line-height: 20px;
        }
        .empty-table-message {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #cecece;
            font-size: 20px;
            height: calc(100vh - 42vh);
        }
        .method-call-details-table {
            .drill-button {
                cursor: pointer;
                float: right;
                font-size: 1.5em;
            }
            .drill-button:enabled:hover {
                background: none;
            }
            .ui-table-thead {
                >tr {
                    >th {
                        padding-top: 12px;
                    }
                }
            }
            tr:focus {
              outline: none;
            }

            .ui-paginator-current {
                float: left;
            }
            .legend-group {
                display: inline-block;
                margin: 5px 0;
                .paginator-legend {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }
        .severity-color {
            width: 6px;
            height: 32px;
            position: relative;
            margin-left: -10px;
            margin-top: -10px;
            margin-bottom: -10px;
            float: left;
        }
        .severity-color2 {
            width: 6px;
            height: 32px;
            position: relative;
            margin-left: -4px;
            margin-top: -10px;
            margin-bottom: -10px;
            float: left;
        }

        .work-in-progress {
            .box {
                background-color: #fff;
                text-align: center;
                padding-top: 1em;
                padding-bottom: 1em;
                border-radius: 4px;
                height: 100%;
                font-size: 16px;
                border: 1px solid #cecece;
                height: 100vh;
                .img-svg {
                    padding: 5%;
                }
            }
        }
        .span-text {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #6d6b6b;
            font-size: 15px;
        }
        .control-label {
            width: 50%;
            float: left;
            line-height: 30px;
        }
        .control-input {
            width: 50%;
        }
        .control-input-right {
            width: 50%;
            text-align: -webkit-right;
        }
        .secondary-dialog.tree-filter .ui-dialog .ui-dialog-content{
            height: 500px;
            overflow: scroll;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        .no-padding {
            padding: 0.5em 0;
        }
        .ui-accordion-content {
            padding-left: 0;
            padding-right: 0;
        }
        .filter-button-group {
            display: flex;
            align-items: center;
            .ui-button {
                cursor: pointer;
                padding: 0.529em 1.5em;
                margin: 0 5px;
                border: 2px solid;
                border-radius: 15px;
                color: #1d5290;
            }
            .dashboard-details {
                line-height: 50px;
            }
        }
        .ui-overlaypanel .ui-overlaypanel-content {
            box-shadow: none !important;
        }
        ul.rowSubElement {
            padding: 0;
            margin: 0;
        }
        ul.rowSubElement li {
            padding: 0.871em 0.857em;
            border: none;
            list-style: none;
        }
        ul.rowSubElement li:hover {
            cursor: pointer;
            background-color: #eaeaea;
            color: #333333;
        }
        ul.rowSubElement li:nth-child(2) {
            border-top: 3px solid #ffffff;
        }
        .legent-item {
            width: 25%;
            float: left;
            margin-bottom: 10px;
        }
        .paginator-legend {
            height: 10px;
            width: 10px;
            border-radius: 10px;
            float: left;
            margin-right: 10px;
        }
        .lagent-label {
            font-size: 12px;
        }
    }
    .ui-multiselect {
        width: 100%;}


.ddr-autocomplete{width: 100%;}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container{padding: 0px; width: 100%;}
.ui-accordion .ui-accordion-header a{display: flex;
    padding: .5em;
    width: 100%;
    align-items: center;
    justify-content: flex-start;}

    .ui-autocomplete-panel{width: 200%; left: auto !important; right: 0px !important}

}
body.theme-1 .ui-table .ui-table-thead > tr > th,
body.theme-1 .ui-table .ui-table-tbody > tr > td,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th
{
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.methDetais {
    height:410px;
    font-weight: bolder;
   
    
}
.ddr-method-detail{
    width:120px;
    height:20px; 
    text-align:"left";
}
.ddr-method-textarea{
    width:320px;
    height:40px;
    resize:none;
      
}
table, th, td {
    border: 1px solid black; padding: 3px;
    border-collapse: collapse;
  }

  .ddr-table-left{
    text-align: left;
    cursor: pointer;
    color: blue;
}
