body {
    .page-sidebar.business-process-manager.ui-sidebar {
      .sidebar-header {
        .sidebar-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          .action-icons {
            i {
              font-size: 20px;
              padding-left: 5px;
              cursor: pointer;
            }
          }
        }
      }
      .sidebar-footer {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 10px 5px;
      }
    }
  }
  