app-lower-tabular-panel {
  display: none;
  // height: 740px;
  padding: 5px 5px 5px;
  background-color: #fff;
  box-shadow: 4px -2px 9px -4px rgba(0, 0, 0, 0.2);
  z-index: 15;
  border: 1px solid #cecece;

  &.open {
    display: block;
    position: absolute;
    bottom: 0;
    // width: 97%;
    left: 0px;
    right: 0px;
    z-index: 54;
    height: 240px;  //200
  }

  // &.opens {
  //       display: block;
  //      width: 100%;
  //       margin-top: -192px;
  //     }

  .widget-title {
    // padding: 10px 0px;
    font-size: 13px;
    font-weight: 600;
    // text-transform: uppercase;
  }

  .widget-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .icon-button.ui-button {
      width: 2em;
      margin: 3px;
    }
    .ui-multiselect {
      border: none;
      padding: 3px;
      margin: 2px;
      .ui-helper-hidden-accessible {
        display: none;
      }
      .ui-multiselect-label-container {
        display: none;
      }
      .ui-multiselect-trigger {
        background-color: transparent;
        .ui-multiselect-trigger-icon {
          font-size: 1.5em;
        }
      }
    }
  }

  .columnwidth {
    width: 40px;
  }

  .widgetlowerpanel {
    .ui-table {
      .ui-table-thead > tr {
        > th {
          padding: 0.3em 0.257em;
          border-bottom: 1px solid #cecece;
        }
      }
      .ui-table-tbody > tr {
        > td {
          padding: 0.271em 0.3em;
        }
      }
    }
    p-paginator {
      .ui-paginator {
        box-shadow: none;
        position: absolute;
        z-index: 1;
        top: -39px;
        right: 278px;
        .ui-dropdown {
          padding: 0;
        }
      }
    }

    .selectedRow {
      cursor: pointer;
      background-color: #53b7714f;
      font-weight: 600;
    }
  }
  .ui-paginator-top.ui-paginator.ui-widget {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    position: absolute;
    top: -37px;
    right: 358px;
    padding: 4px 10px 5px 31px;
  }
  .lowepanel-title {
    padding-left: 10px;
  }
}
body.theme-2 .ui-paginator .ui-dropdown {
  width: 80px;
}
.icon-button.ui-button.no-shadow {
   width: 1px!important;
  
}