app-node-rest-api {
  .rest-api-wrapper {
    .rest-api-ui {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      .title {
        font-size: 17px;
        padding: 1em;
        border-bottom: 1px solid #ccc;
      }
      .inner-content {
        padding: 1em;
        overflow: auto;
        .ui-panel {
          margin: 10px 0;
        }
      }
      .action-buttons {
        width: 100%;
        position: sticky;
        bottom: 5px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          margin: 0 10px;
        }
      }
      .editor {
        ul {
          list-style-type: none;
          li {
            padding: 5px 0;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
      .list {
        ul {
          list-style-type: none;
          li {
            padding: 5px 0;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
    }
    .intro {
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 5px;
      height: 100%;
      padding: 1em;
      .intro-title {
        font-size: 25px;
      }
    }
  }
}
