app-hotspot {
  .loader-container {
    .pi-spinner.pi {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      font-size: 24px;
      vertical-align: middle;
    }
  }
  .ui-panel-titlebar {
    background-color: #c9efd4;
    padding: 10px;
  }
  .ui-button-icon-left {
    color: #1d529e;
  }
  .ui-paginator .ui-paginator-current {
    float: left;
  }
  .menu-button .ui-button {
    margin: 5px 30px;
  }
  a.activeLink,
    a.activeLink:hover {
        color: blue !important;
        cursor: pointer !important;
    }
  .vertical-container {
    overflow-y: auto;
    height: calc(100vh - 200px);
    .hotspot-panel {
      margin: 15px 20px;
      .collapsed {
        .ui-panel .ui-panel-titlebar {
          background-color: #fff;
          padding: 10px;
        }
      }
      .uncollapsed {
        .ui-panel .ui-panel-titlebar {
          background-color: #c9efd4;
          padding: 10px;
        }
      }
      .ui-table .ui-table-tbody > tr > td { 
        white-space: nowrap;
      }
      .ui-table .ui-table-thead > tr > th {
        white-space: nowrap;
      }
      .cav-panel-header {
        .cav-panel-content {
          justify-content: space-between;
          width: 100%;
          .ui-multiselect {
            border: none;
            padding-bottom: 6px;
            background: transparent;
            .ui-helper-hidden-accessible {
              display: none;
            }
            .ui-multiselect-label-container {
              display: none;
            }

            .ui-multiselect-trigger {
              background-color: transparent;
              .ui-multiselect-trigger-icon {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}
body.theme-1 .ui-table .ui-table-thead > tr > th,
body.theme-1 .ui-table .ui-table-tbody > tr > td,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th,
body.theme-1 .ui-treetable .ui-treetable-thead > tr > th
{
  overflow: hidden; white-space: nowrap;
}