app-indices-refresh {
  .indices {
    .indices-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .close-button {
        color: #1d5290;
      }
    }
    .action-buttons {
      button {
        margin: 0 10px;
      }
    }
  }
}
