app-health-check-monitor {
    .health-monitor-container {
        .ui-secondary-toolbar .ui-toolbar {
            .ui-dropdown {
                background: #1d5290;
                border: 1px solid #1d5290;
                color: #ffffff;
                min-width: 150px;
                .ui-dropdown-label {
                    color: #ffffff;
                    background: #1d5290;
                }
                .ui-dropdown-trigger {
                    background-color: #1d5290;
                    width: 2em;
                    line-height: 2em;
                    text-align: center;
                    padding: 0;
                    color: #ffffff;
                }
            }
        }
        .action-container {
            .input-field-search {
                width: 80%;
                padding-left: 25px;
            }
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 7px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
            }
        }
        .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
            font-size: 1.25em;
        }
        .ui-paginator-current {
            float: left;
        }
        .edit-row {
            color: #1d5290;
        }
        .add-template {
            margin-right: 15px;
        }
        .global-search-block {
            width: 40%;
        }
        .vertical-container {
            padding: 1em;
            height: calc(100vh - 120px);
            overflow: auto;
            .custom-button {
                border-radius: 20px;
            }
            .ui-accordion .ui-accordion-header a {
                padding: 0.571em 1em;
            }
            .ui-panel {
                .icon-button.ui-button {
                    margin: 0;
                }
            }
            .cav-panel-content {
                justify-content: space-between;
                width: 100%;
            }
            .customInput {
                border: none;
                border-bottom: 1px solid #1d5290;
                border-radius: 0;
                width: 100%;
                .ui-dropdown {
                    min-width: 100px;
                }
            }
            .spacing {
                margin-left: 20px;
            }
            .allalerts {
                display: flex;
            }
            .autoclear {
                margin-left: 30px;
            }
            .alertdisplay {
                margin-left: 25px;
            }
            .allnotification {
                padding: 15px;
                margin-top: 10px;
                margin-left: 35px;
            }
            .inline {
                display: inline-flex;
            }
            .custom-min-width {
                .ui-dropdown {
                    min-width: 130px;
                }
            }
            .less-min-width {
                .ui-dropdown {
                    min-width: 50px;
                }
            }
            .right {
                .icon-button.ui-button.no-shadow {
                    margin-top: -9px;
                }
            }
            .severity-operation-block {
                background-color: #1d5290;
                width: 100%;
                font-size: 2em;
                .white-bg {
                    background-color: #ffffff;
                    border-radius: 5px;
                    color: #1d5290;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white {
                    color: #ffffff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .text-white-op {
                    color: #cdddff;
                    padding: 0.25em 0.453em;
                    margin: 0 5px;
                }
                .no-padding {
                    padding: 0;
                }
            }
            .derived-graph-bucket {
                max-height: 125px;
                overflow: auto;
                padding: 0;
                border: solid 1px #d2d2d2;
                border-radius: 3px;
                margin-top: 5px;
                .graph-details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px;
                    background: #f4f7fb;
                    margin: 3px 0;
                    border: 1px solid transparent;
                    cursor: pointer;
                    .graph-section-1 {
                        display: flex;
                        align-items: center;
                        .token-index {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            padding: 7px 10px;
                            background-color: chocolate;
                            color: #fff;
                            font-size: 15px;
                        }
                        .token {
                            padding: 0.25rem 0.5rem;
                            display: inline-flex;
                            margin: 0 0.25rem;
                            background-color: #f4f8fb;
                            color: #333333;
                            border: 1px solid #cecece;
                            font-size: 14px;
                        }
                    }
                    .token-icon {
                        color: #1d5290;
                    }
                }
                .selected {
                    background-color: #c9efd4;
                    border: 1px solid #57b771;
                }
            }
        }
    }
}