app-aws-configuration {
    .aws-config-container {
        .content-body {
            height: calc(100vh - 85px);
            overflow: scroll;
            background-color: #fff;
            padding: 16px;
            input {
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid #1d5290;
                padding: 0.15em;
            }
            .ui-dropdown {
                padding: 0px;
            }
            .ui-accordion .ui-accordion-content {
                border-bottom: none;
            }
            .form-checkbox {
                .checkbox-label {
                    padding: 10px;
                }
            }
            .field-label {
                font-weight: 700;
                font-size: 14px;
                padding: 10px 5px;
            }
            .input-label {
                font-size: 12px;
                font-weight: 700;
                padding-bottom: 5px;
            }
            .radio-button {
                padding-right: 16px;
            }
            .action-icon {
                float: right;
            }
            .columnwidth {
                width: 40px;
            }
            .action-container {
                padding: 20px 0px;
            }
        }
    }
}