.enterprisenode{
    .tabWauto{
        .ui-tabview .ui-tabview-panels{float: left; width: 100%;}
    }
    
}

.main-body{display: flex; flex-direction: column; height: 100%; background-color: #f6f9fc;}
.topbar{background-color: #073c77; padding: 8px;}
.content-box{background-color: #FFF; margin: 10px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,.36);}


.tabbar{background-color: #f1f2f4; border-bottom: solid 1px #cccccc;}
.tablist{display: flex; justify-content: start; list-style: none; padding: 0px; margin: 0px;}
.tablist>li{padding: 10px 20px; display: inline-block; transition: all 400ms ease-in; font-weight: 500; 
    border-left: solid 1px #f1f2f4;  border-right: solid 1px #f1f2f4; position: relative;}
.tablist>li:first-child{border-left: none !important;}    
.tablist>li a{color: #000;}
.tablist>li:hover, .tablist>li.tab-active{background-color: #FFF; border-left: solid 1px #ccc;  border-right: solid 1px #ccc;}
a.tab-active a{color: #346cbc;} 
.tab-active::after{position: absolute;content: "";background-color: #FFF; height: 4px;left: 0px;bottom: -2px;z-index: 99;right: 0px;}
.label-legents{display: flex; justify-content: flex-end; align-items: center;margin-bottom:5px;}

.circle-label{width: 28px; height: 28px; margin: 0px 2px; border-radius: 50%;display: flex; justify-content: center; align-items: center; font-weight: 500;}
.success{background-color: #33cc66; color: #FFF;}
.warning{background-color: #ff8500; color: #FFF;}
.danger{background-color: #F93154; color: #FFF;}
.search{font-weight: 500; padding-left: 30px;}

.danger-text{color: #F93154;}
// .primary-text{color: var(--primary-text-color)}

.input{border-radius: .25em; border: solid 1px #ccc; padding: .25em; margin: 0px 3px; width: 130px;}
.btn{background-color: #073c77; color: #fff; font-weight: 500; border: none; outline: none; padding: .25em .75em;border-radius: .25em; 
    cursor: pointer; transition: all 400ms ease-in;}
.btn:hover{background-color: #0657b0;}

.envIco{width: 27px; height: 28px; display: flex; font-size: 24px;}
.environmentList{    display: flex;
    align-items: center;
    padding-bottom: 4px;
    flex-wrap: wrap;
    max-height: calc(100vh - 185px);
    overflow: auto;}
.envListBoxA{width:14.2857%; float: left; margin: 0px;}
.envListBoxinner{box-shadow: 0px 0px 3px 0px var(--bg3);padding: .5em; border-radius: 2px; border: solid 1px transparent;
    transition: all 300ms ease;}
    .envListBoxinner:hover {
        /* background-color: var(--conF); */
        border: solid 1px var(--lrmBtnHover);
        box-shadow: 0px 0px 3px 0px var(--lrmBtnHover);
    }
.envListBoxinnerForInactiveCluster{box-shadow: 0px 0px 3px 0px var(--bg3);padding: .5em; border-radius: 2px; border: solid 1px transparent;
        transition: all 300ms ease;  pointer-events: none; position: relative;}
        /* .envListBoxinnerForInactiveCluster:hover::after{content: "Tomcat is Down"; position: absolute; left: 15px; top:20px; z-index: 52; } */



.ullist{list-style: none;
    margin: 0px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65px;
    max-height: 65px;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 4px;}
.ullist>li{display: flex; line-height: 17px; color: unset; font-weight: 500; position: relative;}
.fnt24{font-size: 22px; margin-right: 3px;}
.end-items{align-items: end !important;}
.circle-ico, .circle{width: 24px; height: 24px; border-radius: 50%;display: flex; justify-content: center; align-items: center; 
    font-weight: 500; margin-right: 3px; border-style: solid; border-width: .15em; position: relative; cursor: pointer;}

    .envListBoxinnerForInactiveCluster .ullist>li{color: #ff0000}


.circle-ico{border-color:transparent; font-size: 18px;}
.bdr-success{border-color: #e7e7e7}
.bdr-warning{border-color: #ff8500}
.bdr-danger{border-color: #ff0000}

.dropmenu{position: absolute; z-index: 99; display: none; background-color: #fbfafa;top: 30px;width: 200px; left: -10px; 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8); list-style: none; margin: 0px; padding: 0px; flex-direction: column;}
.dropmenu::after{content: "";position: absolute;border-bottom: solid 14px #ccc;border-left: solid 14px transparent;
    border-right: solid 14px transparent;top: -14px;left: 10px;}
.dropmenu::before{content: "";position: absolute;border-bottom: solid 12px #fbfafa;border-left: solid 12px transparent;
    border-right: solid 12px transparent;top: -12px;left: 12px; z-index: 5;}


.dropmenu>li{padding: 5px; display: flex;line-height: 13px;border-bottom: solid 1px #ccc; font-weight: 400;} 
.dropmenu>li>.circle{font-size: 13px;}    
.circle:hover .dropmenu{display: flex;}
.forClusterLook{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
    text-align: left;
    margin: 5px;
    white-space: nowrap;
}

/* ============02-sep-2020=========== */
:host>>>.lrmTabView .ui-tabview-panels{margin-left: 2px; float: left; width: 100%;}
:host>>>.lrmTabView .ui-tabview-nav > li.ui-state-default{padding: 0px;}
.textBreak{display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
    text-align: left;
    margin-top: 2px;
    white-space: nowrap;}

    .input-gui {
        width: 150px;
    }
