<p-dialog class="secondary-dialog" closeIcon="icons8-delete" header="Solar Perf1" [(visible)]="visible" [draggable]="false" [style]="{width: '33vw'}">
    <div class="p-grid p-col-12">
        <div class="p-col-3"> <label class="label-css">Actual Name:</label> </div>
        <div class="p-col-9"> <label>Http_jsonplaceholder.typecode.com</label> </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-3"> <label class="label-css">Old Name:</label> </div>
        <div class="p-col-9"> <label>HTTP</label> </div>
    </div>
    <div class="p-grid p-col-12">
        <div class="p-col-3"> <label class="label-css">New Name:</label> </div>
        <div class="p-col-9"> <input type="text" pInputText placeholder="" style="border:none;border-bottom:1px solid #686767" /> </div>
    </div>
    <p-footer>
        <div class="p-grid p-col-12 button-row-position">
            <button pButton type="button" class="ui-outline-button ui-button-secondary" label="CLOSE" (click)="closePopup()"></button>
            <button pButton type="button" class="ui-button ui-button-rounded " label="APPLY"></button> </div>
    </p-footer>
</p-dialog>