app-rename-integration {
    .label-css {
        font-weight: 600;
        color: #000000;
        margin-right: 5px;
    }
    .button-row-position {
        display: flex;
        flex-direction: row-reverse;
        button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .secondary-dialog {
        .ui-dialog {
            .ui-dialog-content {
                border-bottom: none;
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
            }
        }
    }
}