app-profile{
    .profile-container{
        .action-container {
            .global-search-block{
                width: 25%;
                .input-field-search {
                    width: 100%;
                    padding-left: 25px;
                }
            }
            
            .labels {
                margin: 0px 10px;
            }
            i.filter-icon {
                font-size: 1.5em;
                color: #1d5290;
                margin: 0 10px;
                line-height: 30px;
            }
            .search-div-css {
                position: relative;
                i {
                    font-size: 1.5em;
                    position: absolute;
                    color: #1d5290;
                    top: 7px;
                    left: 5px;
                }
            }
            .ui-multiselect {
                border: none;
                padding: 12px;
                background: transparent;
                .ui-helper-hidden-accessible {
                    display: none;
                }
                .ui-multiselect-label {
                    display: none;
                }
                .ui-multiselect-trigger {
                    margin-top: 1px;
                    background-color: transparent;
                    .ui-multiselect-trigger-icon {
                        font-size: 1.5em;
                    }
                }
            }
            .icons-container {
                display: flex;
                flex-direction: row-reverse;
                i {
                    font-size: 1.5em;
                }
                .ui-button.ui-button-secondary{margin-right: 10px;}
            }
            .icons8-ok {
                color: blue;
                cursor: pointer;
            }
            p-card .ui-card {
                height: calc(100vh - 205px);;
                padding: 0px;
                border: 1px solid #ceceec;
                margin: 0px;
                border-radius: 10px;
                .ui-card-header {
                  background-color: #ededed;
                  height: auto;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  padding: 7px 15px;
                  display: flex;
                  border-bottom: 1px solid #ceceec;
                  p-header {
                    width: 100%;
                    padding: 0px;
                    .btn-right {
                      float: right;
                      i {
                        line-height: 30px;
                      }
                    }
                  }
                  .selected-label {
                    font-size: 1.2em;
                    font-weight: 600;
                    line-height: 30px;
                  }
                }
                .ui-card-body {
                  height: 100%;
                  padding: 3px;
                }
              }
        }
    }
}