.kpi-graphical-wrapper {

  .global-time-bar {
    padding: 5px;
  }

  .content-body {
    height: calc(100vh - 105px);
    overflow: hidden;
  
    .dashboard-options {
      margin: 5px 0 0 0;
      height: calc(100vh - 162px);
      width: 50px;
      padding: 5px 0 0 0;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #CECECE;
      box-shadow: 0 0 9px -4px rgba(0, 0, 0, 0.2);
      z-index: 1000;

      .highlight-dashboard {
        transform-origin: 0 0;
        transform: rotate(-90deg);
        position: fixed;
        left: 10px;
        bottom: 0px;
        padding: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;

        div {
          color: #53b771;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: calc(
            100vh - 450px
          ); //will have to update if the left panel has more options
        }
        small {
          font-size: 11px;
          color: #333333;
        }
      }
   
      .icon-button.ui-button {
        width: 30px;
        height: 30px;
      }
  
      .vertical-menu {
        text-align: center;
      }
    }
  
    .dashboard-container {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 157px);
      width: calc(100% - 50px);
    }
  }

  // .dashboard-container {
  //   height: calc(100vh - 85px);
  //   width: 100%;
  //   position: fixed;
  //   overflow-y: auto;
  //   right: 0;
  // }
}

body[tv-mode] {
  .dashboard-options {
    height: calc(100vh - 24px);
  }
  .dashboard-container {
    height: calc(100vh - 19px);
  }
}
